<!DOCTYPE html>
<html>

<head>
	<title>Grid</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="page-thumbnail-grid">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Thumbnail Grid + text 2 lines
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-gridview">
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_001.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_002.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_003.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_004.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_005.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_006.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_007.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_008.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_009.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_010.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_011.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/Thumbnail/thumbnail_012.jpg" />
					<div class="ui-gridview-label">
						<p>Recipe title</p>
						<p>Lorem ipsum dolor sit</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>