<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<title>
		Tizen UI Components
	</title>
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-page-active" id="main">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Thumbnail
			</h1>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
				<select class="theme-changer" data-native-menu="false" style="display: none">
					<option value="light">
						Light Theme
					</option>
					<option value="dark" class="ui-dropdown-two-lines">
						Dark Theme
					</option>
				</select>
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="grid-text.html">
						Thumbnail Grid + Text
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="grid-text-2lines.html">
						Thumbnail Grid + Text 2 Lines
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="grid-reorder.html">
						Thumbnail Grid Reorder
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="grid-text-icons.html">
						Thumbnail Icon Grid + Text
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
