<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/wearable/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/wearable/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>General Settings</title>
</head>

<body class="ui-pagecontainer">
<!--
-->
<div id="settingsPage" class="ui-page">
	<header class="ui-header ui-has-more">
		<h2 class="ui-title">General Settings</h2>
	</header>
	<section class="ui-content content-padding">
		<ul class="ui-listview ui-snap-listview">
			<li><a href="content/callsettings.html" class="delete-icon">Call</a></li>
			<li><a href="content/messagesettings.html" class="human-icon">Message</a></li>
			<li><a href="content/wifisettings.html" class="show-icon">Wi-Fi</a></li>
			<li><a href="content/bluetoothsettings.html" class="show-icon">Bluetooth</a></li>
			<li><a href="content/volumesettings.html" class="human-icon">Volume</a></li>
			<li><a href="#">Screen</a></li>
			<li><a href="#">Wallpapers</a></li>
			<li><a href="#">NFC</a></li>
			<li><a href="#">Lock Screen</a></li>
		</ul>
	</section>
</div>
<!-- tau library needs to be added before main script -->
<script type="text/javascript" src="lib/wearable/js/tau.js"></script>
<script type="text/javascript" src="js/circle-helper.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!-- control settings options -->
<script type="text/javascript" src="js/settings.js"></script>

</body>
</html>
