.app-popup-content-padding {
	padding: 18px 24px;
}

.app-introduction {
	padding-left: 12px;
	padding-right: 12px;
	background-color: white;
	overflow: hidden;
}

.app-introduction h2,
.app-introduction p a {
	color: rgba(50, 150, 166, 1);
}

.app-introduction .app-items-center a {
	color: white;
}

.app-items-center {
	text-align: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
