<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="progressbar-demo">
		<header>
			<h1>
				Progress bar
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static ui-li-has-progress">
					<div class="ui-progress" data-type="bar" data-value="50" id="progressbar"></div>
				</li>
				<li>
					<div class="ui-progress" data-type="bar" data-value="50" id="progressbar2">
						<span class="ui-progress-bar-label ui-progress-bar-label-right-top">
							<span class="ui-progress-current-value">9</span><span>times<span>
						</span>
						<span class="ui-progress-bar-label ui-progress-bar-label-left-bottom ui-progress-min-value">
							start
						</span>
						<span class="ui-progress-bar-label ui-progress-bar-label-right-bottom">
							<span class="ui-progress-max-value"></span><span>times</span>
						</span>
					</div>
				</li>
				<li>
					<div class="ui-progress" data-type="bar" data-value="50" id="progressbar2a">
					</div>
					<div class="ui-progress-bar-label-left-bottom">
						Lorem
					</div>
					<div class="ui-progress-bar-label-right-top">
						Lorem
					</div>
					<div class="ui-progress-bar-label-right-bottom">
						Lorem
					</div>
				</li>
				<li class="ui-li-static ui-li-has-progress">
					<div class="ui-progress" data-type="activitybar" id="progressbar3">
					</div>
				</li>
				<li class="ui-li-static ui-li-has-progress-with-labels">
					<div class="ui-progress" data-type="activitybar" id="progressbar4">
					</div>
					<div class="ui-progress-bar-label-left-bottom">
						Lorem
					</div>
					<div class="ui-progress-bar-label-right-top">
						Lorem
					</div>
					<div class="ui-progress-bar-label-right-bottom">
						Lorem
					</div>
				</li>
			</ul>
		</div>
		<!-- /content -->
		<script src="progressbar.js">
		</script>
	</div>
	<!-- /page -->
</body>

</html>