<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page ui-empty-state" id="page-empty-state-with-floating-action">
	<div class="ui-header" data-position="fixed">
		<h1>Messages</h1>
	</div>
	<tau-scrollview class="ui-content">
		<h1>No Message</h1>
		Lorem ipsum dolor sit amet, consec
		tetur adiptiscing elit, seddoei usmed
		tempore sit ipsum
	</tau-scrollview>
	<tau-floatingactions class="ui-floatingactions">
		<button class="ui-floatingactions-item" is="tau-formbutton" icon="floating-add">
	</button></tau-floatingactions>
</tau-page><!-- page -->


</body></html>