<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
	<div class="ui-page" id="pageFloatingButton">
		<div class="ui-header" data-position="fixed">
			<h1>Floating Actions</h1>
		</div><!-- header -->
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static">List Item 01</li>
				<li class="ui-li-static">List Item 02</li>
				<li class="ui-li-static">List Item 03</li>
				<li class="ui-li-static">List Item 04</li>
				<li class="ui-li-static">List Item 05</li>
				<li class="ui-li-static">List Item 06</li>
				<li class="ui-li-static">List Item 07</li>
				<li class="ui-li-static">List Item 08</li>
				<li class="ui-li-static">List Item 09</li>
				<li class="ui-li-static">List Item 10</li>
				<li class="ui-li-static">List Item 11</li>
				<li class="ui-li-static">List Item 12</li>
				<li class="ui-li-static">List Item 13</li>
				<li class="ui-li-static">List Item 14</li>
				<li class="ui-li-static">List Item 15</li>
				<li class="ui-li-static">List Item 16</li>
				<li class="ui-li-static">List Item 17</li>
				<li class="ui-li-static">List Item 18</li>
				<li class="ui-li-static">List Item 19</li>
				<li class="ui-li-static">List Item 20</li>
			</ul>
			<div class="ui-floatingactions">
				<button data-icon="floating-add"
					data-focus-container-context="true"
					data-focus-context=".ui-page-active"
					data-focus-left=".ui-floatingactions"
				/>
				<button data-icon="floating-search"
					data-focus-container-context="true"
					data-focus-context=".ui-page-active"
					data-focus-right=".ui-floatingactions"
				/>
			</div>
		</div><!-- content -->
	</div><!-- page -->
</body>

</html>
