<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>

    <script src="./lib/tau/js/jquery.min.js"></script>
    <link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
    <title>Tizen Web IDE - Template - Tizen - Tizen Web UI Framework - Image Gallery</title>
</head>

<body>
    <!-- Start of first page: #one -->
    <div class="ui-page ui-page-active" id="one">
        <div class="ui-header" data-position="fixed">
            <h1>Image Gallery</h1>
        </div><!-- /header -->
        <div class="ui-content">
        <ul id="gridview" class="ui-gridview">
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/1.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/2.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/3.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/4.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/5.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/6.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/7.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/8.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/9.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/10.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/11.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/12.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/13.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/14.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/15.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/16.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/17.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/18.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/19.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/20.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/21.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/22.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/23.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/24.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/25.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/26.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/27.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/28.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/29.jpg"></a>
            </li>
            <li class="ui-gridview-item">
                <a href="#two"><img class="ui-gridview-image" src="images/30.jpg"></a>
            </li>
        </ul>
        </div><!-- /content -->
    </div><!-- /page one -->


    <!-- Start of second page: #two -->
    <div class="ui-page" id="two">
        <div class="ui-header" data-position="fixed">
            <h1>Image View</h1>
            <a class="ui-header-btn ui-header-btn-left ui-header-btn-icon btn-icon-back"></a>
        </div><!-- /header -->

        <div class="ui-content">
            <img class="ui-gridview-image" src="images/none.png">
        </div><!-- /content -->
    </div><!-- /page two -->

    <script type="text/javascript" src="./lib/tau/js/tau.js" data-build-remove="false"></script>
    <script src="./js/main.js"></script>

</body>
</html>
