<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="search-bar-auto-complete-page">
		<header id="search-header" data-expanding-enabled="false">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				<input type="search" placeholder="Search for 'Suggest'" data-text-line="false"
					data-search-bar="true">
			</h1>
		</header>
		<!-- /header -->
		<div class="ui-content">
			<div class="ui-content-subheader">Auto complete suggestions</div>
			<ul class="ui-listview ui-content-area ui-listview-search-auto-complete">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							<span class="ui-highlight">Samsung</span> account
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							<span class="ui-highlight">Samsung</span> pay
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							<span class="ui-highlight">Samsung</span> digital plaza
						</span>
					</div>
				</li>
			</ul>
		</div>
		<script src="./search-bar-auto-complete.js" ></script>
	</div>
	<!-- /page -->
</body>

</html>
