.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.my-check-controlgroup div.ui-checkbox {
	margin-top : 10px;
}

.my-check-controlgroup .ui-corner-top {
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
