<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="toast-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Toast Popup
			</h1>
		</div>
		<div data-role="content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#popup_toast">
						Toast Popup
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#popup_btn_toast">
						Toast Popup with button
					</a>
				</li>
			</ul>
			<div class="ui-popup ui-popup-toast" data-role="popup" id="popup_toast">
				<div class="ui-popup-content">
					Toast popup text Toast popup text Toast
					Toast popup text Toast popup text Toast
				</div>
			</div>
			<div class="ui-popup ui-popup-toast" data-role="popup" id="popup_btn_toast">
				<div class="ui-popup-content ui-popup-toast-has-button">
					3 deleted
					<button class="ui-btn">
						UNDO
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>