.ui-item.ui-item-active::before{
	background-color: rgba(2, 129, 209, 1);
}
@media all and (-tizen-geometric-shape: circle) {
	.drawer-icon::before, .delete-icon::before, .human-icon::before, .show-icon::before, .x-icon::before, .fail-icon::before {
		position: absolute;
		content: "";
		top: 22px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		-webkit-mask-repeat: no-repeat;
	}
}
.drawer-icon::before, .delete-icon::before, .human-icon::before, .show-icon::before, .x-icon::before, .fail-icon::before {
	position: absolute;
	content: "";
	top: 22px;
	right: -80%;
	width: 100%;
	height: 100%;
	background-color: white;
	-webkit-mask-repeat: no-repeat;
}
.delete-icon::before {
	-webkit-mask-image: url(../images/b_more_option_delete_icon.png);
}
.human-icon::before {
	-webkit-mask-image: url(../images/b_more_option_human_icon.png);
}
.show-icon::before {
	-webkit-mask-image: url(../images/b_more_option_show_on_device_icon.png);
}
.ui-content {
	padding-left: 15px;
	padding-right: 15px;
}

.ui-listview .ui-toggleswitch, .ui-listview input[type=radio], .ui-listview input[type=checkbox] {
	position: absolute;
	right: 0;
}
