<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Mailbox</title>
</head>

<body>
<div id="one" class="ui-page">
	<header class="ui-header">
		<h2 class="ui-title">Inbox
			<span class="ui-sub-title">wearable@abc.com</span>
		</h2>
	</header>
	<div class="ui-content ui-mailbox">
		<ul class="ui-listview ui-snap-listview">
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Jessica White
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Alison Rhee
				<span class="ui-icon ui-icon-completed"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Jessica White
				<span class="ui-icon ui-icon-starred"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Alison Rhee
				<span class="ui-icon ui-icon-flagged"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Jessica White
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Alison Rhee
				<span class="ui-icon ui-icon-completed"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Jessica White
				<span class="ui-icon ui-icon-starred"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
			<li class="li-has-multiline li-has-2line-sub">
				<span class="ui-icon-dot"></span>Alison Rhee
				<span class="ui-icon ui-icon-flagged"></span>
				<span class="ui-li-sub-text">Re: Long time no see!</span>
				<span class="ui-li-sub-text">Hey, Kim! So glad to hear from you</span>
				<span class="ui-li-sub-text time">12:45AM</span>
			</li>
		</ul>
	</div>
</div>
<!-- tau library needs to be added before main script -->
<script type="text/javascript" src="lib/tau/js/tau.js"></script>
<script type="text/javascript" src="js/circle-helper.js"></script>
<!-- control settings options -->
<script type="text/javascript" src="js/mailbox.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
