<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Sample title</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon ui-li-divider">
					<div class="ui-li-icon">
						<img src="images/tw_list_icon_connections.svg"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub">
							This screen is not settings app.
						</span>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-li-icon">
						<img src="images/tw_list_icon_sound.svg"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
						<span class="ui-li-text-sub">
							It's focused case of icon+text list
						</span>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon ui-li-divider">
					<div class="ui-li-icon">
						<img src="images/tw_list_icon_notifications.svg"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
						</span>
						<span class="ui-li-text-sub">
							Secondary text color is #909090
						</span>
					</div>
				</li>
				<li class="ui-li-has-icon ui-li-divider">
					<div class="ui-li-icon">
						<img src="images/tw_list_icon_display.svg"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 04
						</span>
						<span class="ui-li-text-sub">
							Brightness, Blue light filter, font
						</span>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-li-icon">
						<img src="images/tw_list_icon_wallpaper.svg"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 05
						</span>
						<span class="ui-li-text-sub">
							Brightness, Blue light filter, font
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
