<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page id="panelPage" class="ui-page">
	<div class="ui-header ui-header-navigation" data-position="fixed">
		<h1>Navigation Bar</h1>
		<tau-navigation id="navigation" class="ui-navigation">
		</tau-navigation>
	</div>
	<div class="ui-content" data-scroll="none">
		<tau-panelchanger id="panelChanger" class="ui-panel-changer">
			<tau-panel id="mainpanel" class="ui-panel">
				<tau-scrollview class="ui-content">
					<div class="ui-content">
						<tau-listview class="ui-listview">
							<li class="ui-li-anchor">
								<a href="./panel.html#panel2" data-ignore="">Go Panel 2</a>
							</li>
							<li class="ui-li-anchor"><a href="#1btn_popup" data-inline="true" data-rel="popup" data-position-to="window">Open
								Popup</a></li>
						</tau-listview>
						<tau-popup id="1btn_popup" class="ui-popup">
							<div class="ui-popup-header">Popup Header</div>
							<div class="ui-popup-content popup-content-padding">
								Lorem ipsum dolor sit amet,
								consectetur adiptiscing elit, sed
								doei usmod tempore sit ipsum
							</div>
							<div class="ui-popup-footer">
								<tau-button class="ui-btn" rel="back" inline="true">Cancel</tau-button>
							</div>
						</tau-popup>
					</div>
				</tau-scrollview>
			</tau-panel>
		</tau-panelchanger>
		<script src="./panel.js"></script>
	</div>


</tau-page></body></html>