<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Basic List
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub ui-li-text-value">
							Value text
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. Chunking background color is #fcfcfc.
						</span>
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main Text 04
						</span>
					</div>
				</li>
			</ul>
			<button data-icon="add" data-style="fab"></button>
		</div>
	</div>
</body>

</html>
