<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="list-demo-page">
		<header>
			<h1>
				List
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					Stacked List
				</li>
				<li class="ui-li-anchor">
					<a href="liststyles.html">
						List Styles
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="reorder.html">
						Reorder List
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="normallist.html">
						Normal List
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="selectall.html">
						Selectable List
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="expandable/expandable.html">
						Expandable
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="expandable/expandable-js.html">
						Expandable from JS
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="on-off.html">
						List with On-Off elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="virtuallist.html">
						Virtual List
					</a>
				</li>
				<li class="ui-group-index">
					Grid View
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridview.html">
						Grid View
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridview-with-label-1.html">
						Grid View with Label (outside)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridview-with-label-2.html">
						Grid View with Label (inside)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridwithcheck.html">
						Grid View with Checkbox
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridwithbadge.html">
						Grid View with Badge
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridview-with-move.html">
						Grid View with Move
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./gridview/gridview-within-popup.html">
						Grid View within Popup
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>