<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="list-styles-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				On-Off elements
			</h1>
			<a class="ui-header-btn ui-header-btn-text ui-header-btn-left">
				CANCEL
			</a>
			<a class="ui-header-btn ui-header-btn-text ui-header-btn-right">
				DONE
			</a>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 01
						</span>
					</div>
					<div class="ui-li-action">
						<input class="favorite" disabled="" name="c1line-check1" type="checkbox" />
						<input class="favorite" name="c1line-check1" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 02
					</div>
					<div class="ui-li-action">
						<input checked="" class="favorite" disabled="" name="c1line-check1" type="checkbox" />
						<input checked="" class="favorite" name="c1line-check1" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 03
					</div>
					<div class="ui-li-action">
						<input disabled="" name="c1line-check1" type="checkbox" />
						<input name="c1line-check1" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 04
					</div>
					<div class="ui-li-action">
						<input checked="" disabled="" name="c1line-check1" type="checkbox" />
						<input checked="" name="c1line-check1" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 05
					</div>
					<div class="ui-li-action">
						<input disabled="" name="1line-radio" type="radio" />
						<input name="1line-radio" type="radio" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 06
					</div>
					<div class="ui-li-action">
						<input checked="" disabled="" name="1line-radio-disabled" type="radio" />
						<input checked="" name="1line-radio" type="radio" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 07
					</div>
					<div class="ui-li-action">
						<input checked="" class="ui-toggleswitch" disabled="" type="checkbox" />
						<input checked="" class="ui-toggleswitch" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 08
					</div>
					<div class="ui-li-action">
						<input class="ui-toggleswitch" disabled="" type="checkbox" />
						<input class="ui-toggleswitch" type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 09
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						List Item 10
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>