<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="list-styles-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				On-Off elements
			</h1>
			<a class="ui-header-btn ui-header-btn-text ui-header-btn-left">
				CANCEL
			</a>
			<a class="ui-header-btn ui-header-btn-text ui-header-btn-right">
				DONE
			</a>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
					List Item 01
					<input class="favorite" disabled="" name="c1line-check1" type="checkbox" />
					<input class="favorite" name="c1line-check1" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
					List Item 02
					<input checked="" class="favorite" disabled="" name="c1line-check1" type="checkbox" />
					<input checked="" class="favorite" name="c1line-check1" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
					List Item 03
					<input disabled="" name="c1line-check1" type="checkbox" />
					<input name="c1line-check1" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
					List Item 04
					<input checked="" disabled="" name="c1line-check1" type="checkbox" />
					<input checked="" name="c1line-check1" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-radio li-has-right-radio">
					List Item 05
					<input disabled="" name="1line-radio" type="radio" />
					<input name="1line-radio" type="radio" />
				</li>
				<li class="ui-li-static li-has-radio li-has-right-radio">
					List Item 06
					<input checked="" disabled="" name="1line-radio-disabled" type="radio" />
					<input checked="" name="1line-radio" type="radio" />
				</li>
				<li class="ui-li-static li-has-right-btn">
					List Item 07
					<input checked="" class="ui-toggleswitch" disabled="" type="checkbox" />
					<input checked="" class="ui-toggleswitch" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-right-btn">
					List Item 08
					<input class="ui-toggleswitch" disabled="" type="checkbox" />
					<input class="ui-toggleswitch" type="checkbox" />
				</li>
				<li class="ui-li-static">
					List Item 09
				</li>
				<li class="ui-li-static">
					List Item 10
				</li>
			</ul>
		</div>
	</div>
</body>

</html>