<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="list-styles-page">
	<div class="ui-header" data-position="fixed">
		<h1>On-Off elements</h1>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-left">CANCEL</a>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-right">DONE</a>
	</div>
	<div class="ui-content">
		<ul class="ui-listview">
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 01
				<input type="checkbox" name="c1line-check1" class="favorite" disabled/>
				<input type="checkbox" name="c1line-check1" class="favorite" />
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 02
				<input type="checkbox" name="c1line-check1" class="favorite" checked disabled/>
				<input type="checkbox" name="c1line-check1" class="favorite" checked />
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 03
				<input type="checkbox" name="c1line-check1" disabled />
				<input type="checkbox" name="c1line-check1" />
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 04
				<input type="checkbox" name="c1line-check1" checked disabled/>
				<input type="checkbox" name="c1line-check1" checked/>
			</li>
			<li class="ui-li-static li-has-radio li-has-right-radio">
				List Item 05
				<input type="radio" name="1line-radio" disabled />
				<input type="radio" name="1line-radio" />
			</li>
			<li class="ui-li-static li-has-radio li-has-right-radio">
				List Item 06
				<input type="radio" name="1line-radio-disabled" checked disabled />
				<input type="radio" name="1line-radio" checked />
			</li>
			<li class="ui-li-static li-has-right-btn">
				List Item 07
				<input type="checkbox" class="ui-toggleswitch" checked disabled>
				<input type="checkbox" class="ui-toggleswitch" checked>
			</li>
			<li class="ui-li-static li-has-right-btn">
				List Item 08
				<input type="checkbox" class="ui-toggleswitch" disabled>
				<input type="checkbox" class="ui-toggleswitch" >
			</li>
			<li class="ui-li-static">
				List Item 09
			</li>
			<li class="ui-li-static">
				List Item 10
			</li>
		</ul>
	</div>
</div>
</body>
</html>
