<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="select-all-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Select List
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title ui-li-text-value">
							Group index 1
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li class="ui-group-index">
					<div class="ui-li-text">
						<span class="ui-li-text-title ui-li-text-value">
							Group index 2
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 08
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 09
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 10
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 11
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li class="ui-group-index">
					<div class="ui-li-text">
						<span class="ui-li-text-title ui-li-text-value">
							Group index 3
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 14
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 15
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 16
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List Item 17
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" />
					</div>
				</li>
			</ul>
		</div>
		<script src="list-select-check.js" type="text/javascript">
		</script>
	</div>
</body>

</html>