<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="list">
		<header>
			<h1>
				Virtual list
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					Virtual list
				</li>
				<li class="ui-li-anchor">
					<a href="virtuallist_normal.html">
						Virtual List Normal Style 1line
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="virtuallist_1line_btn.html">
						Virtual List Normal Style 1line-btn1
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="virtuallist_1line_icon.html">
						Virtual List Normal Style 1line-bigicon5
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="virtuallist_2line_star.html">
						Virtual List Normal Style 2line-star1
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>