.ui-calendar {
	&-view {
		width: 100%;
		border-spacing: 0;
		tr {
			td {
				height: 32 * @px_base;
				text-align: center;
				vertical-align: middle;
				font-size: 15 * @sp_base;
				.font(regular);
				color: var(--calendar-text-color);
				padding: 0;
				div {
					border-radius: 100%;
					width: 28 * @px_base;
					height: 28 * @px_base;
					line-height: 28 * @px_base;
					margin: 0 auto;

					&.ui-calendar-selection {
						background-color: var(--primary-color);
						color: var(--calendar-select-text-color);
					}
				}
				&:only-child {
					width: 100%;
				}
				&:nth-last-child(2) {
					width: 50%;
				}
				&:nth-last-child(2)+td {
					width: 50%;
				}
				&:nth-last-child(3) {
					width: 33.3%;
				}
				&:nth-last-child(3)~td {
					width: 33.3%;
				}
				&:nth-last-child(4) {
					width: 25%;
				}
				&:nth-last-child(4)~td {
					width: 25%;
				}
				&:nth-last-child(5) {
					width: 20%;
				}
				&:nth-last-child(5)~td {
					width: 20%;
				}
				&:nth-last-child(6) {
					width: 16.6%;
				}
				&:nth-last-child(6)~td {
					width: 16.6%;
				}
				&:nth-last-child(7) {
					width: 14.2%;
				}
				&:nth-last-child(7)~td {
					width: 14.2%;
				}
				&:nth-child(7) {
					color: var(--calendar-weekend-day-color);
				}
			}
		}
		& .ui-calendar-one-week {
			height: 32 * @px_base;
			td {
				.font(regular);
				font-size: 11 * @sp_base;
				color: var(--text-secondary-color);
			}
			.ui-sunday {
				color: var(--calendar-weekend-color);
			}
		}
	}
	&-top-space {
		height: 10 * @px_base;
	}

	&-prev-month-day {
		opacity: 0.1;
	}
	&-next-month-day {
		opacity: 0.4;
	}

	&-controller {
		width: 100%;
		height: 36 * @px_base;
		line-height: 36 * @px_base;
		margin: 0 auto;
		text-align: center;

		div.ui-calendar-switch {
			text-align: center;
			.font(regular);
			font-size: 17 * @sp_base;
			color: var(--calendar-text-color);
			line-height: 36 * @px_base;
			display: inline;
		}
	}
	&-arrow {
		width: 36 * @px_base;
		height: 36 * @px_base;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-color: var(--calendar-arrow-color);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 100%;
		}
	}
	&-left-arrow {
		float: left;

		&::after {
			mask-image: url("images/4_Dialogs/tw_numberpicker_prev_mtrl.svg");
		}

	}
	&-right-arrow {
		float: right;

		&::after {
			mask-image: url("images/4_Dialogs/tw_numberpicker_next_mtrl.svg");
		}
	}

	&-disabled {
		opacity: 0.1;

		&-arrow {
			opacity: 0.4;
		}
	}
	@media (min-width: 361px) {
		&-controller {
			width: 328 * @px_base;
			margin: 0 auto;
		}
	}
	&.ui-focus, .ui-focus {
		outline: 2 * @px_base solid var(--focus-outline-color);
	}
}

.ui-content-area, .ui-popup-content {
	.ui-calendar {
		padding: 14 * @px_base 16 * @px_base;
	}
}
