// Basic checkbox
input[type="checkbox"].ui-checkbox:not(.ui-toggle-switch) {
	position: relative;
	height: 32 * @px_base;
	width: 32 * @px_base;
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
	margin: 0 18 * @px_base;
}

input[type="checkbox"].ui-checkbox:not(.favorite) {

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
	}

	&::before {
		height: 100%;
		opacity: 0.8;
		background-color: var(--control-inactive-color);
		mask-image: url("images/3_Controllers/Checkbox/sem_checkedtextview_check_to_on_mtrl_000.svg");
		mask-size: 100%, 0;
		mask-position: center;
		mask-repeat: no-repeat;
	}

	&:checked::before {
		mask-size: 100%, 100%;
	}

	&::after {
		height: 0;
		bottom: 0;
		width: 100%;
		box-sizing: content-box;
		background-color: var(--control-active-color);
		mask-image: url("images/3_Controllers/Checkbox/sem_checkedtextview_check_to_on_mtrl_026.svg");
		mask-size: 100%;
		mask-position: center;
	}

	&:checked::after {
		height: 100%;
	}

	&:disabled {
		opacity: 0.4;
	}
}

// Favorite checkbox
input[type="checkbox"].ui-checkbox.favorite {
	border: none;
	width: 80 * @unit_base;
	height: 80 * @unit_base;

	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		mask-position: center;
		mask-size: 100%;
	}

	&::after {
		background-color: var(--checkbox-favorite-color);
		opacity: 0;
		mask-image: url("images/controls/core_icon_favorite_on.svg");
		transition: transform 300ms ease-out 100ms, opacity 500ms ease-out;
		transform: scale(0);
		backface-visibility: hidden;
	}
	&:checked:disabled::after {
		background-color: var(--checkbox-favorite-color);
		opacity: 0.4;
		transform: none;
	}
	&:checked::after {
		transform: scale(1);
		transition: transform 300ms ease-out, opacity 300ms ease-out;
		opacity: 1;
	}
	&::before {
		background-color: var(--checkbox-favorite-color);
		mask-image: url("images/controls/core_icon_favorite_off_ef.svg");
	}

	&:checked:disabled::before {
		background-color: transparent;
	}

	&:disabled::before {
		background-color: var(--checkbox-favorite-color);
		opacity: 0.4;
	}
}

input[type="checkbox"].ui-checkbox.ui-checkbox-focus {
	outline: 4 * @unit_base solid @color_focus_border;
}