.ui-container {
    white-space: nowrap;
    padding-bottom: 10 * @px_base;

    & > * {
        scroll-snap-align: center;
    }

    .ui-container-item {
        display: inline-block;
        margin-left: 3 * @px_base;
        margin-right: 3 * @px_base;
        width: 188 * @px_base;
    }
}
