.ui-content {
	.ui-description {
		.font(regular);
		font-size: 16 * @sp_base;
		text-align: left;
		line-height: 23 * @px_base;
		color: var(--description-color);
		display: inline-block;
		margin: 0 24 * @px_base;
		padding-bottom: 20 * @px_base;

		a {
			.font(medium);
			text-decoration: underline;
			color: var(--description-link-color);
		}

		.ui-subtitle {
			.font(medium);
			color: var(--text-color);
			margin-top: 20 * @px_base;
			margin-bottom: 8 * @px_base;
		}
		ul li::marker {
			content: "\2022  ";
			margin-right: 0;
		}
		ul, ol {
			line-height: 24 * @px_base;
			color: var(--description-list-color);
			list-style-position: inside;
			padding-left: 12 * @px_base;
		}
		ul ~ ol, ul ~ ul, ol ~ ol, ol ~ ul {
			padding-top: 8 * @px_base;
		}
		.ui-container {
			overflow: hidden;
			display: flex;
			align-items: center;
			padding: 0;
			margin-bottom: 20 * @px_base;
			margin-left: -24 * @px_base;
			margin-right: -24 * @px_base;
			border-radius: 22 * @px_base;

			img {
				width: 100%;
			}
		}
	}
}