// 
// Common "css" variables based on "less" variables
//
    --primary-color: @primary-color;
    --primary-dark-color: @primary-dark-color;
    --primary-color-30p: fade(@primary-color, 30%);
    --control-active-color: @control-active-color;
    --control-active-disabled-color: fade(@control-active-color, @control-active-disabled-opacity);
    --control-inactive-color: @control-inactive-color;
    --text-secondary-color: @text-secondary-color;

    --color-white: @color-white;
    --color-black: @color-black;
    --ripple-color: fade(@ripple-color, @ripple-opacity);
    --overlay: fade(@overlay-color, @overlay-opacity); // popup
    --background-color: @background-color;
    --background-area-color: @background-area-color;

    --tab-text-color: @tab-text-color;
    --tab-text-color-dim: fade(@tab-text-color, @tab-text-opacity);
    --popup-background: @popup-background-color;
    --popup-text: @popup-text-color;
    --icon-color: @icon-color; // dropdown menu
    --appbar-main-title-color: @appbar-main-title-color;
    --appbar-subtitle-color: @appbar-sub-title-color;
    --appbar-miltiline-title-color: @appbar-multiline-title-color;
    --button-icon-color: @button-icon-color;    
    --feature-card-underline-color: @feature-card-underline-color;
    --feature-card-subtitle-color: @feature-card-subtitle-color;
    --flicker-pointer-color: @flicker-pointer-color;
    --progress-bar-color: @primary-color;
    --progress-bar-bg-color: fade(@primary-color, 30%);
    --button-text-color-disabled: fade(@primary-color, 40%);
    --checkbox-favorite-color: @checkbox-favorite-color;
    --ripple-button-flat-color: fade(@ripple-color, @ripple-button-flat-opacity);
    --slider-handler-disabled-color: @slider-handler-disabled-color;
    
    --button-background-contained: fade(@button-background-contained, @button-backgrund-opacity);
    
    --on-off-switch-off-disabled-button-border: @on-off-switch-off-disabled-button-border;
    --on-off-switch-on-disabled-button-border: @on-off-switch-on-disabled-button-border;
    --on-off-switch-on-disabled-button-background: @on-off-switch-on-disabled-button-background;

    --text-input-invalid-color: @text-input-invalid-color;

    --dropdown-menu-options-border: @dropdown-menu-options-border;
    --dropdown-menu-options-background: @dropdown-menu-options-background;
    --content-area-line-color: @content-area-line-color;