// 
// Common "css" variables based on "less" variables
//
    --primary-color: @primary-color;
    --primary-dark-color: @primary-dark-color;
    --primary-color-30p: fade(@primary-color, 30%);
    --control-active-color: @control-active-color;
    --control-active-disabled-color: fade(@control-active-color, @control-active-disabled-opacity);
    --control-inactive-color: @control-inactive-color;
    --text-secondary-color: @text-secondary-color;

    --color-white: @color-white;
    --color-black: @color-black;
    --ripple-color: fade(@ripple-color, @ripple-opacity);
    --overlay: fade(@overlay-color, @overlay-opacity); // popup
    --background-color: @background-color;
    --background-area-color: @background-area-color;

    --text-color: @text-color;
    --expandable-text-color : @expandable-text-color;
    --tab-text-color: @tab-text-color;
    --tab-text-color-dim: fade(@tab-text-color, @tab-text-opacity);
    --popup-background: @popup-background-color;
    --popup-text: @popup-text-color;
    --icon-color: @icon-color; // dropdown menu
    --appbar-main-text-color: @appbar-main-text-color;
    --appbar-subtitle-color: @appbar-sub-title-color;
    --appbar-miltiline-title-color: @appbar-multiline-title-color;
    --bottom-bar-color: @bottom-bar-color;
    --button-icon-color: @button-icon-color;
    --bottom-button-icon-color: @bottom-button-icon-color;
    --progress-bar-color: @primary-color;
    --progress-bar-bg-color: fade(@primary-color, 30%);
    --button-text-color-disabled: fade(@primary-color, 40%);
    --checkbox-favorite-color: @checkbox-favorite-color;
    --ripple-button-flat-color: fade(@ripple-color, @ripple-button-flat-opacity);
    --slider-handler-disabled-color: @slider-handler-disabled-color;
    
    --button-background-contained: fade(@button-background-contained, @button-backgrund-opacity);
    
    --on-off-switch-off-disabled-button-border: @on-off-switch-off-disabled-button-border;
    --on-off-switch-on-disabled-button-border: @on-off-switch-on-disabled-button-border;
    --on-off-switch-on-disabled-button-background: @on-off-switch-on-disabled-button-background;
    --on-off-switch-divider-color: @on-off-switch-divider-color;
    --on-off-switch-divider-opacity: @on-off-switch-divider-opacity;
    --master-on-off-off-color: @master-on-off-off-color;
    --master-on-off-on-color: @master-on-off-on-color;

    --text-input-invalid-color: @text-input-invalid-color;

    --dropdown-menu-options-border: @dropdown-menu-options-border;
    --dropdown-menu-options-background: @dropdown-menu-options-background;
    --dropdown-menu-options-color: @dropdown-menu-options-color;
    --dropdown-menu-options-color-dim: fade(@dropdown-menu-options-color, 40%);
    --content-area-line-color: @content-area-line-color;

    --list-item-selected-color: @list-item-selected-color;
    --divider-color: @divider-color;
    --divider-opacity: @divider-opacity;
    --subheader-divider-color: @subheader-divider-color;
    --expander-url: @expander-url;
    --grid-selection-color: fade(@_black, 30%);
