// *************************
// Normal Popup
// *************************
.ui-popup {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 80 * @unit_base;
	z-index: (@z_base_popup + 1) !important;
	background-color: @color_popup_bg;
	border: 0;

	.ui-popup-wrapper {
		width: 100%;
	}

	@media (orientation: landscape) {
		width: 720 * @unit_base;
		left: 360 * @unit_base;
	}

	&.ui-popup-active {
		display: block;
	}

	&.in {
		display: block;
	}

	&.ui-build {
		display: block;
		visibility: hidden;
	}

	.ui-popup-header {
		width: 100%;
		min-height: 110 * @unit_base;
		text-align: center;
		background-color: @color_popup_header_bg;

		font-size: @font_size_popup_title_text;
		color: @color_popup_title_text;
		line-height: 68 * @unit_base;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		padding: 21 * @unit_base 32 * @unit_base;
		&.ui-popup-header-has-subtitle {
			padding: 19.5 * @unit_base 32 * @unit_base;
			line-height: 57 * @unit_base;
			font-size: @font_size_popup_title_over_sub_text;
			color: @color_popup_title_sub_text;
		}
		& .ui-popup-subtitle {
			line-height: 38 * @unit_base;
		}
	}

	.ui-popup-content {
		width: 100%;
		background-color: @color_popup_bg;
		color: @color_popup_text;
		text-align: left;
		font-size: @font_size_popup_text;
		overflow: auto;
		.touch-scrolling();
		line-height: 54 * @unit_base;
		padding: 12 * @unit_base 32 * @unit_base 24 * @unit_base 32 * @unit_base;

		img {
			display: block;
			margin: 0 auto;
			padding-bottom: 24 * @unit_base;
		}
		input[type=checkbox] {
			margin-top: 26 * @unit_base;
			margin-bottom: -12 * @unit_base;
			margin-right: 22 * @unit_base;
		}
	}

	.ui-popup-footer {
		background-color: @color_popup_footer_bg;
		.LESSui-footer();
	}

	.ui-popup-header,
	.ui-popup-content,
	.ui-popup-footer {
		box-sizing: border-box;
	}
}

// ************************
// Popup with listview
// ************************
.ui-popup.ui-popup-listview {
	background-image: url("images/page/core_theme_bg_01.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	background-color: transparent;

	.ui-popup-header {
		padding-top: 16 * @unit_base;
		padding-bottom: 16 * @unit_base;
	}
	.ui-popup-content {
		padding: 0;
		background-color: transparent;
		position: relative;
	}
	.ui-listview {
		position: relative;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
		&::before {
			content: "";
			background-color: @color_popup_list_overlay_bg;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			z-index: 1;
			pointer-events: none;
		}
	}
}

// ************************
// Popup MoreMenu
// ************************
.ui-popup.ui-popup-moremenu {
	max-height: 7 * 120 * @unit_base; // 7 list items
	overflow: hidden;
	@media (orientation: landscape) {
		max-height: 5 * 120 * @unit_base; // 5 list items
		width: 720 * @unit_base;
	}
}

// *************************
// Popup Overlay
// *************************
.ui-popup-overlay {
	display: none;
	background-image: url("images/popup/core_theme_bg_dim.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: @z_base_popup;

	&.ui-popup-overlay-shown {
		display: block;
	}
}

// *************************
// Activity Popup
// *************************
.ui-popup.ui-popup-activity .ui-popup-content {
	text-align: right;

	@media (orientation: landscape) {
		width: 100%;
	}
}

@-webkit-keyframes popup-activity {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
}

@keyframes popup-activity {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
}

.ui-popup.ui-popup-activity {
	@media (orientation: landscape) {
		width: 100%;
	}
}

.ui-popup.ui-popup-activity.ui-popup-activity-small .ui-popup-content {
	text-align: right;
	height: 78 * @unit_base;
	padding: 16 * @unit_base 32 * @unit_base;
	font-size: @font_size_popup_activity_small;
	color: @color_popup_activity_small_text;

	&::after {
		content: "";
		width: 44 * @unit_base;
		height: 44 * @unit_base;
		margin-left: 32 * @unit_base;
		background-color: @color_popup_activity_indicator_a;
		mask-image: url("images/core_activity_indicator_a.svg"),
		url("images/core_activity_indicator_b.svg"),
		url("images/core_activity_indicator_c.svg");
		mask-size: 100% 100%, 100% 100%, 100% 100%;
		float: right;
		animation-name: popup-activity;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.ui-popup.ui-popup-activity.ui-popup-activity-medium .ui-popup-content {
	text-align: left;
	height: 120 * @unit_base;
	padding: 32 * @unit_base 32 * @unit_base;
	font-size: @font_size_popup_activity_medium;
	color: @color_popup_activity_medium_text;

	&::before {
		content: "";
		width: 56 * @unit_base;
		height: 56 * @unit_base;
		margin-right: 32 * @unit_base;
		background-color: @color_popup_activity_indicator_a;
		float: left;
		mask-image: url("images/core_activity_indicator_a.svg"),
		url("images/core_activity_indicator_b.svg"),
		url("images/core_activity_indicator_c.svg");
		mask-size: 100% 100%, 100% 100%, 100% 100%;
		animation-name: popup-activity;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.ui-popup.ui-popup-activity.ui-popup-activity-large .ui-popup-content {
	text-align: center;
	height: 0;
	background-color: @color_popup_activity_indicator_a;
	mask-image: url("images/core_activity_indicator_c.svg");
	mask-size: 100% 100%;
}