tau-progress {
	.default-div();
}

// *************************************************
//            Progress Bar type
// *************************************************
.ui-progress-container {
	width: 360 * @px_base;
	height: inherit;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
}

.ui-progress-bar {
	position: relative;
	min-width: 12 * @px_base;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 32 * @px_base;
	justify-content: center;
	justify-items: center;

	.ui-progress-current-value {
		font-size: 36 * @sp_base;
	}
}

.ui-progress-text {
	padding-top: 17 * @px_base;
	display: block;
	font-size: 15 * @sp_base;
	text-align: center;
	color: var(--text-color);
}

.ui-progress-bar-labels-top {
	order: 1;
	display: flex;
}
.ui-progress-bar-labels-bottom {
	order: 3;
	display: flex;
}

.ui-progress-bar-value-bg {
	height: 3 * @px_base;
	max-height: 3 * @px_base;
	width: 100%;
	position: relative;
	flex: 1;
	order: 2;
	background-color: var(--progress-bar-bg-color);
	border-radius: 1.5 * @px_base;
}
.ui-progress-bar-label {
	span ~ span {
		margin-left: 2 * @px_base; // it doesn't defined in guideline
	}
}
.ui-progress-bar-label-left-bottom {
	padding: 4 * @px_base 0 0;
	color: var(--text-secondary-color);
	font-size: @font_size_progress_label_left;
	flex: 1;
	text-align: left;
	line-height: normal;
}

.ui-progress-bar-label-right-bottom {
	padding: 4 * @px_base 0 0;
	color: var(--text-secondary-color);
	font-size: @font_size_progress_label_right;
	flex: 1;
	text-align: right;
	line-height: normal;
}

.ui-progress-bar-label-right-top {
	padding: 0 0 4 * @px_base;
	color: var(--progress-bar-color);
	font-size: @font_size_progress_label_right;
	flex: 1;
	text-align: right;
	line-height: normal;
}

.ui-progress-bar-value {
	height: 3 * @px_base;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--progress-bar-color);
	border-radius: 1.5 * @px_base;
}

// ************************************************
//             Progress Circle type
// ************************************************
.ui-progress-circle.ui-progress-circle-full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-progress-circle.ui-progress-circle-large {
	width: 124 * @px_base;
	height: 124 * @px_base;
}

.ui-progress-circle.ui-progress-circle-medium {
	width: 56 * @px_base;
	height: 56 * @px_base;
}

.ui-progress-circle.ui-progress-circle-small {
	width: 44 * @px_base;
	height: 44 * @px_base;
}

.ui-progress-circle {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	* {
		pointer-events: none;
	}
	.ui-progress-circle-value.ui-progress-circle-half {
		box-sizing: border-box;
		clip: rect(auto, auto, auto, auto);
		.ui-progress-circle-value-right {
			transform: rotate(180deg);
		}
	}
	.ui-progress-circle-value {
		clip: rect(0, 1em, 1em, .5em);
		width: 100%;
		height: 100%;
		position: absolute;
		box-sizing: border-box;

		.ui-progress-circle-value-left {
			border: 2 * @px_base solid @color_circleprogressbar_value;
			border-radius: 50%;
			clip: rect(0, .5em, 1em, 0);
			height: 100%;
			width: 100%;
			position: absolute;
			box-sizing: border-box;
		}

		.ui-progress-circle-value-right {
			border: 2 * @px_base solid @color_circleprogressbar_value;
			border-radius: 50%;
			clip: rect(0, .5em, 1em, 0);
			width: 100%;
			height: 100%;
			position: absolute;
			box-sizing: border-box;
		}
	}

	.ui-progress-circle-bg {
		border: 2 * @px_base solid @color_circleprogressbar_bg;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

}

// **********************************************************
//                   Indeterminate Bar type
// **********************************************************
.ui-indeterminate-bar {
	overflow: hidden;
	position: relative;
	height: 3 * @px_base;

	border-radius: 1.5 * @px_base;
	background-color: var(--progress-bar-bg-color);
}

.ui-indeterminate-bar .ui-indeterminate-bar-indeterminate {
	position: relative;
	top: 0;
	height: 100%;
	padding: 0;
	background-color: transparent;
	border-radius: 1.5 * @px_base;

	&::before {
		content: "";
		position: absolute;
		width: 46%;
		left: 0;
		top: 0;
		height: 100%;
		background-color: var(--progress-bar-color);
		animation: indeterminate-bar1 1200ms infinite linear;
	}
	&::after {
		content: "";
		position: absolute;
		width: 46%;
		left: 93%;
		top: 0;
		height: 100%;
		background-color: var(--progress-bar-color);;
		animation: indeterminate-bar2 1200ms infinite linear;
	}

}

@keyframes indeterminate-bar1 {
	0% {
		left: -30%;
	}
	74.9% {
		left: 100%;
		opacity: 1;
	}
	75% {
		left: -70%;
		opacity: 0;
	}
	75.1% {
		left: -70%;
		opacity: 1;
	}
	100% {
		left: -30%;
	}
}

@keyframes indeterminate-bar2 {
	0% {
		left: 93%;
	}
	59.9% {
		left: 232%;
		opacity: 1;
	}
	60% {
		left: -46%;
		opacity: 0;
	}
	60.1% {
		left: -46%;
		opacity: 1;
	}
	100% {
		left: 93%;
	}
}

// **********************************************************
//                 Indeterminate Circle Type
// **********************************************************

@keyframes rotating {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(360deg)
	}
  }

  .ui-indeterminate-circle {
	box-sizing: border-box;
	margin: auto;
	animation: rotating 2s linear infinite;

	&::before {
		content:"";
		border-top-style: solid;
		border-left-style: solid;
		border-color: var(--progress-circle-second-color);
		border-radius: 100% 0 0 0;
		display: block;
	}

	&::after {
		content:"";
		position: relative;
		left: 50%;
		border-right-style: solid;
		border-bottom-style: solid;
		border-color: var(--primary-color);
		display: block;
		border-radius: 100% 0;
	}
  }


  .ui-indeterminate-circle-small-title {
	width: 16 * @px_base;
	height: 16 * @px_base;

	&::before, &::after {
		width: (16/2 - 1.5) * @px_base;
		height: (16/2 - 1.5) * @px_base;
	}

	&::before {
		border-top-width: 1.5 * @px_base;
		border-left-width: 1.5 * @px_base;
	}

	&::after {
		border-right-width: 1.5 * @px_base;
		border-bottom-width: 1.5 * @px_base;
	}

  }

  .ui-indeterminate-circle-small {
	width: 24 * @px_base;
	height: 24 * @px_base;

	&::before, &::after {
		width: (24/2 - 2) * @px_base;
		height: (24/2 - 2) * @px_base;
	}

	&::before {
		border-top-width: 2 * @px_base;
		border-left-width: 2 * @px_base;
	}

	&::after {
		border-right-width: 2 * @px_base;
		border-bottom-width: 2 * @px_base;
	}

  }

  .ui-indeterminate-circle-medium {
	width: 48 * @px_base;
	height: 48 * @px_base;

	&::before, &::after {
		width: (48/2 - 3) * @px_base;
		height: (48/2 - 3) * @px_base;
	}

	&::before {
		border-top-width: 3 * @px_base;
		border-left-width: 3 * @px_base;
	}

	&::after {
		border-right-width: 3 * @px_base;
		border-bottom-width: 3 * @px_base;
	}

  }

  .ui-indeterminate-circle-large {
	width: 60 * @px_base;
	height: 60 * @px_base;

	&::before, &::after {
		width: (60/2 - 3) * @px_base;
		height: (60/2 - 3) * @px_base;
	}

	&::before {
		border-top-width: 3 * @px_base;
		border-left-width: 3 * @px_base;
	}

	&::after {
		border-right-width: 3 * @px_base;
		border-bottom-width: 3 * @px_base;
	}

  }

.ui-listview .ui-li-has-progress {
	height: 4 * @px_base;
	padding: (60 - 4) / 2 * @px_base 0;
}

.ui-listview .ui-li-has-progress-with-labels {
	height: 8 * @unit_base;
	padding: (144 - 8) / 2 * @unit_base 0;
}

.ui-scrollview-view > .ui-progress-container {
	padding-left: 56 * @px_base;
	padding-right: 56 * @px_base;
}

/** Progress Bar / Circle in AppBar */
.ui-appbar {
	.ui-progress-bar {
		height: 3 * @px_base;
	}
	.ui-indeterminate-circle {
		width: 24 * @px_base;
		height: 24 * @px_base;
		margin-right: 24 * @px_base;
		margin-bottom: 16 * @px_base;
		transition: margin-right 200ms ease-in;
	}
	.ui-indeterminate-circle-medium {
		&::before, &::after {
			width: (24/2 - 3) * @px_base;
			height: (24/2 - 3) * @px_base;
		}

		&::before {
			border-top-width: 3 * @px_base;
			border-left-width: 3 * @px_base;
		}

		&::after {
			border-right-width: 3 * @px_base;
			border-bottom-width: 3 * @px_base;
		}
	}
	&.ui-appbar-expanded {
		.ui-indeterminate-circle {
			margin-right: calc(~"50% - "24/2 * @px_base);
		}
		&.ui-appbar-dragging {
			.ui-indeterminate-circle {
				margin-right: 24 * @px_base;
			}
		}
	}
}