tau-progress {
	.default-div();
}

// *************************************************
//            Progress Bar type
// *************************************************
.ui-progress-bar {
	position: relative;
	min-width: 12 * @unit_base;
	flex: 1;
	display: flex;
	flex-direction: column;

	margin-left: 32 * @unit_base;
	margin-right: 32 * @unit_base;

	.ui-progress-current-value {
		font-size: 36 * @px_base;
	}
}

.ui-progress-bar-labels-top {
	order: 1;
	display: flex;
}
.ui-progress-bar-labels-bottom {
	order: 3;
	display: flex;
}

.ui-progress-bar-value-bg {
	min-height: 3 * @px_base;
	width: 100%;
	position: relative;
	flex: 1;
	order: 2;
	background-color: var(--progress-bar-bg-color);
	border-radius: 3 * @px_base;
}
.ui-progress-bar-label {
	span ~ span {
		margin-left: 4 * @unit_base; // it doesn't defined in guideline
	}
}
.ui-progress-bar-label-left-bottom {
	padding: 8 * @unit_base 0 0;
	color: var(--text-secondary-color);
	font-size: @font_size_progress_label_left;
	flex: 1;
	text-align: left;
	line-height: normal;
}

.ui-progress-bar-label-right-bottom {
	padding: 8 * @unit_base 0 0;
	color: var(--text-secondary-color);
	font-size: @font_size_progress_label_right;
	flex: 1;
	text-align: right;
	line-height: normal;
}

.ui-progress-bar-label-right-top {
	padding: 0 0 8 * @unit_base;
	color: var(--progress-bar-color);
	font-size: @font_size_progress_label_right;
	flex: 1;
	text-align: right;
	line-height: normal;
}

.ui-progress-bar-value {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--progress-bar-color);
	border-radius: 3 * @px_base;
}

// ************************************************
//             Progress Circle type
// ************************************************
.ui-progress-circle.ui-progress-circle-full {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-progress-circle.ui-progress-circle-large {
	width: 124 * @unit_base;
	height: 124 * @unit_base;
}

.ui-progress-circle.ui-progress-circle-medium {
	width: 56 * @unit_base;
	height: 56 * @unit_base;
}

.ui-progress-circle.ui-progress-circle-small {
	width: 44 * @unit_base;
	height: 44 * @unit_base;
}

.ui-progress-circle {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	* {
		pointer-events: none;
	}
	.ui-progress-circle-value.ui-progress-circle-half {
		box-sizing: border-box;
		clip: rect(auto, auto, auto, auto);
		.ui-progress-circle-value-right {
			transform: rotate(180deg);
		}
	}
	.ui-progress-circle-value {
		clip: rect(0, 1em, 1em, .5em);
		width: 100%;
		height: 100%;
		position: absolute;
		box-sizing: border-box;

		.ui-progress-circle-value-left {
			border: 8 * @px_base solid @color_circleprogressbar_value;
			border-radius: 50%;
			clip: rect(0, .5em, 1em, 0);
			height: 100%;
			width: 100%;
			position: absolute;
			box-sizing: border-box;
		}

		.ui-progress-circle-value-right {
			border: 8 * @px_base solid @color_circleprogressbar_value;
			border-radius: 50%;
			clip: rect(0, .5em, 1em, 0);
			width: 100%;
			height: 100%;
			position: absolute;
			box-sizing: border-box;
		}
	}

	.ui-progress-circle-bg {
		border: 8 * @px_base solid @color_circleprogressbar_bg;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

}

// **********************************************************
//                   Activity Bar type
// **********************************************************
.ui-activity-bar {
	overflow: hidden;
	position: relative;
	margin-left: 32 * @unit_base;
	margin-right: 32 * @unit_base;
	min-width: 24 * @unit_base;
	height: 8 * @unit_base;

	border-radius: 10 * @unit_base;
	background-color: var(--progress-bar-bg-color);
}

.ui-activity-bar .ui-activity-bar-activity {
	position: relative;
	top: 0;
	height: 100%;
	padding: 0;
	background-color: var(--progress-bar-color);
	.transition(width 100ms);
	mask-image: url('./images/controls/core_progress_pending_bg.svg');
	.mask-repeat(repeat-x);
	border-radius: 10 * @unit_base;
	.animation(activitybar 1000ms infinite linear);
}

.m-progress-activitybar() {
	from {
		.mask-position(0 0);
	}
	to {
		.mask-position(50 * @unit_base 0);
	}
}

@keyframes activitybar {
	.m-progress-activitybar();
}

@-moz-keyframes activitybar {
	.m-progress-activitybar();
}

@-ms-keyframes activitybar {
	.m-progress-activitybar();
}

@-o-keyframes activitybar {
	.m-progress-activitybar();
}

@keyframes activitybar {
	.m-progress-activitybar();
}

// **********************************************************
//                  Activity Circle type
// **********************************************************
.ui-activity-circle {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	overflow: hidden;

	.ui-activity-circle1,
	.ui-activity-circle2,
	.ui-activity-circle3 {
		position: absolute;
		.animation-duration(1400ms);
		.animation-timing-function(linear);
		.animation-direction(normal);
		.animation-iteration-count(infinite);
	}

	.ui-circle1-svg,
	.ui-circle2-svg,
	.ui-circle3-svg {
		x: 0;
		y: 0;
		width: 100%;
		height: 100%;
	}
	.ui-circle1-in {
		opacity: .4;
		fill: @color_activity_circle_c;
	}
	.ui-circle2-in {
		fill: none;
		stroke: @color_activity_circle_b;
		stroke-width: 30px;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 1000;
		stroke-dashoffset: 0;
		.animation(circle2path 700ms linear infinite alternate);
	}
	.ui-circle3-in {
		fill: none;
		stroke: @color_activity_circle_a;
		stroke-width: 30px;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 1000;
		stroke-dashoffset: 0;
		.animation(circle3path 700ms linear infinite alternate);
	}
}

.ui-activity-circle1 {
	.animation-name(circle1rotate);
}

.ui-activity-circle2 {
	.animation-name(circle2rotate);
}

.ui-activity-circle3 {
	.animation-name(circle3rotate);
}

.ui-activity-circle.ui-activity-circle-small {
	width: 44 * @unit_base;
	height: 44 * @unit_base;
	.ui-activity-circle1,
	.ui-activity-circle2,
	.ui-activity-circle3 {
		width: 44 * @unit_base;
		height: 44 * @unit_base;
	}
}

.ui-activity-circle.ui-activity-circle-medium {
	width: 56 * @unit_base;
	height: 56 * @unit_base;
	.ui-activity-circle1,
	.ui-activity-circle2,
	.ui-activity-circle3 {
		width: 56 * @unit_base;
		height: 56 * @unit_base;
	}
}

.ui-activity-circle.ui-activity-circle-large {
	width: 102 * @unit_base;
	height: 102 * @unit_base;
	.ui-activity-circle1,
	.ui-activity-circle2,
	.ui-activity-circle3 {
		width: 102 * @unit_base;
		height: 102 * @unit_base;
	}
}

.ui-activity-circle-stopped {
	animation-play-state: paused;
}

.animation-circle1rotate {
	0% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	72% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}

.animation-circle2rotate {
	0% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	67% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}

.animation-circle3rotate {
	0% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	50% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}

.animation-circle2path {
	0% {
		stroke-dashoffset: 1000px;
	}
	100% {
		stroke-dashoffset: 500px;
	}
}

.animation-circle3path {
	0% {
		stroke-dashoffset: 1000px;
	}
	100% {
		stroke-dashoffset: 500px;
	}
}

@keyframes circle1rotate {
	.animation-circle1rotate();
}

@keyframes circle2rotate {
	.animation-circle2rotate();
}

@keyframes circle3rotate {
	.animation-circle3rotate();
}

@keyframes circle2path {
	.animation-circle2path();
}

@keyframes circle3path {
	.animation-circle3path();
}

.ui-listview .ui-li-has-progress {
	height: 8 * @unit_base;
	padding: (120 - 8) / 2 * @unit_base 0;
}

.ui-listview .ui-li-has-progress-with-labels {
	height: 8 * @unit_base;
	padding: (144 - 8) / 2 * @unit_base 0;
}
