input[type="radio"].ui-radio {
	position: relative;
	height: 32 * @px_base;
	width: 32 * @px_base;
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
	margin: 0 18 * @px_base;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 32 * @px_base;
		height: 32 * @px_base;
		background-color: var(--ripple-color);
		border-radius: 100%;
		opacity: 0;
	}

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		opacity: 0.8;
		background-color: var(--control-inactive-color);
		mask-image: url("images/3_Controllers/Radio/sem_btn_radio_to_on_mtrl_000.svg");
		mask-size: 100%;
		mask-position: center;
		mask-repeat: no-repeat;
	}

	&:checked::after {
		opacity: 1;
		background-color: var(--control-active-color);
		mask-image: url("images/3_Controllers/Radio/sem_btn_radio_to_on_mtrl_026.svg");
	}

	&:active::before {
		opacity: 1;
	}

	&:disabled {
		opacity: 0.4;
	}
}
