
.ui-handler {
	position: fixed;
	display: flex;
	overflow: hidden;
	opacity: 0;
	transition: opacity 400ms ease-out;
	height: 100%;
	top: 0;
	right: 0;

	.ui-handler-track {
		user-select: none;
		position: relative;
		width: 100%;
		height: 100%;
		display: block;

		.ui-handler-handle {
			user-select: none;
			position: absolute;
			display: block;
			background-color: transparent;

			.ui-handler-expander {
				width: 100%;
				height: 100%;
				float: right;
				display: flex;
				align-items: center;
				background-color: var(--scroll-handler-color);
				border-radius: 2 * @px_base;
				transition-property: width border-width border-radius;
				transition-duration: 100ms;
			}
		}

		.ui-handler-handle.ui-active {
			.ui-handler-thumb {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 2 * @px_base;
					height: 2 * @px_base;
					mask-size: 100%;
					background-color: transparent;
				}
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 2 * @px_base;
					height: 2 * @px_base;
					mask-size: 100%;
					background-color: transparent;
				}
			}
		}
	}

	&.ui-handler-direction-x {
		right: 5 * @px_base;
		bottom: 0;
		left: 5 * @px_base;
		height: 24 * @px_base;
		top: auto;

		.ui-handler-handle {
			min-width: 22 * @px_base;
			height: 14 * @px_base;
			margin-bottom: 10 * @px_base;
			top: auto;
			bottom: 0;
			display: flex;
			align-items: flex-end;

			.ui-handler-expander {
				height: 4 * @px_base;
				width: 100%;
				justify-content: center;
			}
		}
		.ui-handler-track {
			.ui-handler-handle.ui-active {
				min-width: 41 * @px_base;
				margin-bottom: 10 * @px_base;
				border-radius: 2 * @px_base;
				flex-direction: row;
				.ui-handler-expander {
					border-radius: 2 * @px_base;
				}
			}
		}
	}

	&.ui-handler-direction-y {
		top: 0;
		right: 0;
		bottom: 0;
		width: 24 * @px_base;
		flex-direction: column;

		&:before {
			content: "";
			width: 100%;
			height: 55 * @px_base;
			background-color: transparent;
		}

		.ui-handler-handle {
			width: 14 * @px_base;
			margin-right: 10 * @px_base;
			min-height: 22 * @px_base;
			left: auto;
			right: 0;
			.ui-handler-expander {
				width: 4 * @px_base;
				height: 100%;
			}
		}
		.ui-handler-track {
			margin: 10 * @px_base 0;
			background-color: transparent;
			flex: 1;
			.ui-handler-handle.ui-active {
				width: 14 * @px_base;
				min-height: 41 * @px_base;
				flex-direction: column;
				.ui-handler-expander {
					border-radius: 2 * @px_base;
				}
			}
		}
	}

	&.disabled {
		display: none;
	}
	.ui-handler-thumb {
		width: 2 * @px_base;
		height: 2 * @px_base;
		position: relative;
	}
}

.ui-handler-visible {
	opacity: 1;
}

.scrollbar-disabled {
	overflow: hidden !important;

	.ui-scrollview-clip {
		&[data-direction="x"] {
			width: 100%;
		}
	}
}
