.ui-slider {
	position: relative;
	box-sizing: border-box;
	height: 17 * @px_base;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.ui-slider-bar::before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-image: url(images/3_Controllers/tw_progress_bar_n.9.png) 3 fill;
		border-image-width: 1 * @px_base;
		opacity: 0.3;
		position: absolute;
	}

	.ui-slider-bar {
		position: relative;
		height: 3 * @px_base;
		overflow: hidden;

		.ui-slider-value {
			height: 100%;
			border-image: url(images/3_Controllers/tw_progress_bar_n.9.png) 3 fill;
			border-image-width: 1 * @px_base;
		}
	}

	&:focus {
		outline: 4 * @unit_base solid @color_focus_border;
	}

	.ui-slider-handler {
		width: 17 * @px_base;
		height: 17 * @px_base;
		background-color: var(--slider-value-color);
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		transform: scale(1) translate(-50%, 0);
		transition: transform cubic-bezier(0.33, 0, 0.2, 1) 300ms,
					left cubic-bezier(0.17, 0.2, 0.2, 1) 200ms;
		transform-origin: 0 50% 0;
		z-index: 9;
		&::before {
			content: "";
			width: 32 * @px_base;
			height: 32 * @px_base;
			opacity: 0;
			position: absolute;
			left: -5 * @px_base;
			top: -5 * @px_base;
			border-radius: 100%;
			background-color: var(--ripple-color);
		}
	}

	&.ui-slider-active {
		.ui-slider-handler {
			width: 22 * @px_base;
			height: 22 * @px_base;
			&::before {
				opacity: 1;
			}
		}
	}

	&.ui-disabled {
		.ui-slider-bar {
			border-image: url(images/3_Controllers/tw_progress_bar_d.9.png) 3 fill;
			border-image-width: 1 * @px_base;
			opacity: 0.15;

			.ui-slider-value {
				border-image: url(images/3_Controllers/tw_progress_bar_d.9.png) 3 fill;
				border-image-width: 1 * @px_base;
			}
		}

		.ui-slider-handler {
			background-color: var(--slider-handler-disabled-color);
		}
	}
}

input[data-tau-built="Slider"] {
	opacity: 0;
	display: block;
	width: 100%;
	position: absolute;
}
