//**************************************************************************
//					Tabbar
//**************************************************************************

.ui-tabbar {
	display: table;
	width: 100%;
	height: 110 * @unit_base;

	&.ui-tabbar-with-icon {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			span {
				// Height of Text including underline (4)
				height: (42 + 4) * @unit_base;
				padding-bottom: 3 * @unit_base;
				margin-top: 3 * @unit_base;
				line-height: (42 + 4) * @unit_base;
			}
			&::after {
				content: "";
				display: inline-block;
				position: relative;
				width: 60 * @unit_base;
				height: 60 * @unit_base;
				background-color: @color_tabbar_icon_bg_normal;
				mask-position: 0 0;
				mask-size: 100% 100%;
				mask-repeat: no-repeat;
				margin-top: 2 * @unit_base;
			}
			&.ui-tab-active::after {
				background-color: @color_tabbar_icon_bg_press;
			}
		}
	}

	&.ui-tabbar-portrait, &.ui-tabbar-landscape {
		&.ui-tabbar-with-title {
			height: 80 * @unit_base;
			&.ui-tabbar-with-icon {
				height: 80 * @unit_base;
				a {
					align-items: flex-start;
					flex-direction: row;
					font-size: 38 * @unit_base;
					// this value is calculated from Guideline

					span {
						// guideline not defines proper space between text and underline
						// because that added 4 @unit_base space
						padding-bottom: (3 + 4) * @unit_base;
						margin-left: 9 * @unit_base;
					}
					&::after {
						width: 48 * @unit_base;
						height: 48 * @unit_base;
						margin-top: 4 * @unit_base;
						margin-right: 0;
					}
				}
			}
			a {
				font-size: 38 * @unit_base;
				span {
					align-self: flex-start;
					top: 4 * @unit_base;
					line-height: 52 * @unit_base;
					margin-top: 4 * @unit_base;
					overflow: hidden;
					&::before {
						bottom: 4 * @unit_base;
					}
				}
			}

			&.ui-tabbar-before-title {
				height: 86 * @unit_base;
				a {
					font-size: 32 * @unit_base;
					font-stretch: condensed;
				}
				span {
					top: 7 * @unit_base;
				}
			}
		}
	}

	&.ui-tabbar-portrait {
		&.ui-tabbar-with-icon {
			height: 144 * @unit_base;
			a {
				font-size: 30 * @unit_base;
				span {
					margin-bottom: 0;
				}
			}
		}
	}

	&.ui-tabbar-landscape {
		&.ui-tabbar-with-icon {
			height: 110 * @unit_base;
			a {
				flex-direction: row;
				align-items: center;
				&::after {
					width: 50 * @unit_base;
					height: 50 * @unit_base;
					// icon has the same baseline like text, because of that added bottom margin
					margin-bottom: (9 + 4 + 3) * @unit_base;
				}
				span {
					font-size: 38 * @unit_base;
					margin-left: 16 * @unit_base;
					// Height of Text including underline (4)
					height: (52 + 4) * @unit_base;
					padding-bottom: 3 * @unit_base;
				}
			}
			&.ui-tabbar-with-title {
				a {
					span {
						top: 0;
						margin-top: 0;
						padding-bottom: 3 * @unit_base;
					}
				}
			}
		}
	}

	a {
		font-size: 38 * @unit_base;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: @color_tabbar_text_normal;
		span {
			position: relative;
			order: 1;
			// Height of Text including underline (4)
			height: (52 + 4) * @unit_base;
			padding-bottom: 3 * @unit_base;
			overflow-x: hidden;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: 8 * @unit_base;
			margin-right: 8 * @unit_base;
			margin-bottom: 9 * @unit_base;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 4 * @unit_base;
				background-color: @color_tabbar_border_active;
				transform: scale(0);
				bottom: 0;
			}
		}
		&.ui-tab-active {
			color: @color_tabbar_text_selected;

			span::before {
				transform: scale(1);
				transition: transform 100ms;
			}
		}

		&.ui-tabbar-inactive-text-overflow {
			span {
				display: inline-block;
				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-top: 12 * @unit_base;
			}
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			opacity: 0;
			background-color: @color_tabbar_tab_bg_press;
		}
		&.ui-btn-active {
			color: @color_tabbar_text_press;
			background-color: transparent;
			&::before {
				animation: tabbar-press linear 615ms;
			}
		}
		&:focus {
			background-color: @color_focus_header_background;
			outline: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		height: 100%;
		white-space: nowrap;
		font-size: 0;
	}

	li {
		text-align: center;
		display: inline-block;
		position: relative;
		min-width: 70 * @unit_base;
		overflow: hidden;
		height: 100%;
	}

	&:not(.ui-tabbar-static) {
		ul {
			li {
				min-width: 210 * @unit_base;
			}
		}
		&.ui-tabbar-landscape {
			ul {
				li {
					min-width: 270 * @unit_base;
				}
			}
		}
	}

	//*************************************
	//				TABS Badge
	//*************************************
	.ui-tabs-badge {
		position: absolute;
		border-radius: 50 * @unit_base;
		min-width: (50 - 26) * @unit_base;
		background-color: @color_tabs_tabbar_badge_bg;
		color: @color_tabs_tabbar_badge_text;
		top: 2 * @unit_base;
		right: 14 * @unit_base;
		text-align: center;
		padding: 7 * @unit_base 13 * @unit_base;
		font-size: @font_size_tabs_badge;
	}
}
