<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page" id="headerLeftButtonPage">
	<header>
		<tau-button class="ui-btn ui-btn-left ui-btn-icon btn-icon-back" rel="back"></tau-button>
		<h1>Left button</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>


</body></html>