<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Divider (Icon + Text list)</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="divider-1line.html">
						Divider (1Line List)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="divider-multiline.html">
						Divider (Multi-line list)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="divider-icon-text.html">
						Divider (Icon+Text list)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="divider-icon-text-text-only.html">
						Divider (Icon+Text & Text only List)
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
