.my-widget .container {
    width: 100vw;
    height: 100vw;
    display: inline-block;
    position: relative;
}
.my-widget .cell {
    width: 12.5vw;
    height: 12.5vw;
    float: left;
}

.my-widget .cell.white {
    background-color: white;
}
.my-widget .cell.black {
    background-color: black;
}

.my-widget .figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 12vw;
    height: 12vw;
    box-sizing: border-box;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
}