<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<h1>
				Units
			</h1>
		</header>
		<div class="ui-content" style="line-height: normal;">
			assumption: 1dp = 1px<br>
			<div class="sample-unit-lines">
				<p>1dp</p>
				<div class="sample-unit-line" style="height: 1px;"></div>
				<p>2dp</p>
				<div class="sample-unit-line" style="height: 2px;"></div>
				<p>3dp</p>
				<div class="sample-unit-line" style="height: 3px;"></div>
				<p>4dp</p>
				<div class="sample-unit-line" style="height: 4px;"></div>
				<p>5dp</p>
				<div class="sample-unit-line" style="height: 5px;"></div>
				<p>6dp</p>
				<div class="sample-unit-line" style="height: 6px;"></div>
				<p>7dp</p>
				<div class="sample-unit-line" style="height: 7px;"></div>
				<p>8dp</p>
				<div class="sample-unit-line" style="height: 8px;"></div>
				<p>9dp</p>
				<div class="sample-unit-line" style="height: 9px;"></div>
				<p>10dp</p>
				<div class="sample-unit-line" style="height: 10px;"></div>
				<p>11dp</p>
				<div class="sample-unit-line" style="height: 11px;"></div>
				<p>12dp</p>
				<div class="sample-unit-line" style="height: 12px;"></div>
				<p>13dp</p>
				<div class="sample-unit-line" style="height: 13px;"></div>
				<p>14dp</p>
				<div class="sample-unit-line" style="height: 14px;"></div>
				<p>15dp</p>
				<div class="sample-unit-line" style="height: 15px;"></div>
				<p>16dp</p>
				<div class="sample-unit-line" style="height: 16px;"></div>
				<p>17dp</p>
				<div class="sample-unit-line" style="height: 17px;"></div>
				<p>18dp</p>
				<div class="sample-unit-line" style="height: 18px;"></div>
				<p>19dp</p>
				<div class="sample-unit-line" style="height: 19px;"></div>
				<p>20dp</p>
				<div class="sample-unit-line" style="height: 20px;"></div>
				<p>21dp</p>
				<div class="sample-unit-line" style="height: 21px;"></div>
				<p>22dp</p>
				<div class="sample-unit-line" style="height: 22px;"></div>
				<p>23dp</p>
				<div class="sample-unit-line" style="height: 23px;"></div>
				<p>24dp</p>
				<div class="sample-unit-line" style="height: 24px;"></div>
				<p>25dp</p>
				<div class="sample-unit-line" style="height: 25px;"></div>
				<p>26dp</p>
				<div class="sample-unit-line" style="height: 26px;"></div>
				<p>27dp</p>
				<div class="sample-unit-line" style="height: 27px;"></div>
				<p>28dp</p>
				<div class="sample-unit-line" style="height: 28px;"></div>
				<p>29dp</p>
				<div class="sample-unit-line" style="height: 29px;"></div>
				<p>30dp</p>
				<div class="sample-unit-line" style="height: 30px;"></div>
				<p>31dp</p>
				<div class="sample-unit-line" style="height: 31px;"></div>
				<p>32dp</p>
				<div class="sample-unit-line" style="height: 32px;"></div>
				<p>33dp</p>
				<div class="sample-unit-line" style="height: 33px;"></div>
				<p>34dp</p>
				<div class="sample-unit-line" style="height: 34px;"></div>
				<p>35dp</p>
				<div class="sample-unit-line" style="height: 35px;"></div>
				<p>36dp</p>
				<div class="sample-unit-line" style="height: 36px;"></div>
				<p>37dp</p>
				<div class="sample-unit-line" style="height: 37px;"></div>
				<p>38dp</p>
				<div class="sample-unit-line" style="height: 38px;"></div>
				<p>39dp</p>
				<div class="sample-unit-line" style="height: 39px;"></div>
				<p>40dp</p>
				<div class="sample-unit-line" style="height: 40px;"></div>
			</div>
			<br>
		</div>
	</div>
</body>

</html>

