<!DOCTYPE html>
<html>
<!--
	Template contains one page.
	Page contains:
	- video name
	- control buttons
	- progress
	- image representing screenshot of the video
-->
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<script type="text/javascript" src="./lib/tau/js/tau.js" data-build-remove="false"></script>
	<link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<!--
		Main application.
	-->
	<script src="./js/main.js"></script>

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Video Player</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body>
	<div class="ui-page ui-page-active" data-enable-page-scroll="false" id="player">
		<div class="ui-content ui-video-player">
			<div class="ui-cover">
				<!--
					<video id="myVideo" src="">
				//-->
			</div>
			<progress class="ui-circle-progress" max="100" value="0"></progress>
			<div class="ui-controls visible" data-timeout="2000">
				<button class="ui-btn ui-play-pause">Play</button>
			</div>
		</div>
		<footer class="ui-footer ui-bottom-button ui-fixed visible" data-timeout="2500">
			<button class="ui-btn ui-track">Sample movie.mp4</button>
		</footer>
	</div>
</body>
</html>
