.app-icon-img {
    width: 100px;
    height: 100px;
}
.app-channel-content {
    display: flex;
}

.app-movie-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.app-movie-poster {
    width: 80%;
    height: auto;
}

.app-movie-poster-next {
    width: 50%;
}