<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="twoTextButtonPage">
	<header>
		<tau-button class="ui-btn ui-btn-text ui-btn-left" rel="back">CANCEL</tau-button>
		<h1>Two buttons</h1>
		<tau-button class="ui-btn ui-btn-text ui-btn-right">DONE</tau-button>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>


</body></html>