<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="scrollbarPage">
		<div class="ui-header" data-position="fixed">
			<h1>
				Contacts
			</h1>
		</div>
		<div class="ui-content ui-scrollhandler">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					A
				</li>
				<li class="ui-li-static">
					List item 01
				</li>
				<li class="ui-li-static">
					List item 02
				</li>
				<li class="ui-li-static">
					List item 03
				</li>
				<li class="ui-li-static">
					List item 04
				</li>
				<li class="ui-li-static">
					List item 05
				</li>
				<li class="ui-li-static">
					List item 06
				</li>
				<li class="ui-li-static">
					List item 07
				</li>
				<li class="ui-li-static">
					List item 08
				</li>
				<li class="ui-li-static">
					List item 09
				</li>
				<li class="ui-li-static">
					List item 10
				</li>
				<li class="ui-group-index">
					B
				</li>
				<li class="ui-li-static">
					List item 11
				</li>
				<li class="ui-li-static">
					List item 12
				</li>
				<li class="ui-li-static">
					List item 13
				</li>
				<li class="ui-li-static">
					List item 14
				</li>
				<li class="ui-li-static">
					List item 15
				</li>
				<li class="ui-li-static">
					List item 16
				</li>
				<li class="ui-li-static">
					List item 17
				</li>
				<li class="ui-li-static">
					List item 18
				</li>
				<li class="ui-li-static">
					List item 19
				</li>
				<li class="ui-li-static">
					List item 20
				</li>
				<li class="ui-group-index">
					C
				</li>
				<li class="ui-li-static">
					List item 21
				</li>
				<li class="ui-li-static">
					List item 22
				</li>
				<li class="ui-li-static">
					List item 23
				</li>
				<li class="ui-li-static">
					List item 24
				</li>
				<li class="ui-li-static">
					List item 25
				</li>
				<li class="ui-li-static">
					List item 26
				</li>
				<li class="ui-li-static">
					List item 27
				</li>
				<li class="ui-li-static">
					List item 28
				</li>
				<li class="ui-li-static">
					List item 29
				</li>
				<li class="ui-li-static">
					List item 30
				</li>
				<li class="ui-group-index">
					D
				</li>
				<li class="ui-li-static">
					List item 31
				</li>
				<li class="ui-li-static">
					List item 32
				</li>
				<li class="ui-li-static">
					List item 33
				</li>
				<li class="ui-li-static">
					List item 34
				</li>
				<li class="ui-li-static">
					List item 35
				</li>
				<li class="ui-li-static">
					List item 36
				</li>
				<li class="ui-li-static">
					List item 37
				</li>
				<li class="ui-li-static">
					List item 38
				</li>
				<li class="ui-li-static">
					List item 39
				</li>
				<li class="ui-li-static">
					List item 40
				</li>
				<li class="ui-group-index">
					E
				</li>
				<li class="ui-li-static">
					List item 41
				</li>
				<li class="ui-li-static">
					List item 42
				</li>
				<li class="ui-li-static">
					List item 43
				</li>
				<li class="ui-li-static">
					List item 44
				</li>
				<li class="ui-li-static">
					List item 45
				</li>
				<li class="ui-li-static">
					List item 46
				</li>
				<li class="ui-li-static">
					List item 47
				</li>
				<li class="ui-li-static">
					List item 48
				</li>
				<li class="ui-li-static">
					List item 49
				</li>
				<li class="ui-li-static">
					List item 50
				</li>
				<li class="ui-group-index">
					F
				</li>
				<li class="ui-li-static">
					List item 51
				</li>
				<li class="ui-li-static">
					List item 52
				</li>
				<li class="ui-li-static">
					List item 53
				</li>
				<li class="ui-li-static">
					List item 54
				</li>
				<li class="ui-li-static">
					List item 55
				</li>
				<li class="ui-li-static">
					List item 56
				</li>
				<li class="ui-li-static">
					List item 57
				</li>
				<li class="ui-li-static">
					List item 58
				</li>
				<li class="ui-li-static">
					List item 59
				</li>
			</ul>
		</div>
	</div>
</body>

</html>