<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="bottom-bar-text-icon-3">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Sample title</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</header>
		<div class="ui-content">
		</div>
		<footer>
			<div class="ui-bottom-bar ui-bottom-bar-icons">
				<button class="ui-btn" data-style="flat" data-icon="check" data-iconpos="top">Bottomtext</button>
				<button class="ui-btn" data-style="flat" data-icon="check" data-iconpos="top">Bottomtext</button>
				<button class="ui-btn" data-style="flat" data-icon="check" data-iconpos="top">Bottomtext</button>
			</div>
		</footer>
	</div>
</body>

</html>
