.ui-radial-listview li:nth-child(1) .ui-photo {
	background-image: url(../images/contacts/1.jpg);
}
.ui-radial-listview li:nth-child(2) .ui-photo {
	background-image: url(../images/contacts/2.jpg);
}
.ui-radial-listview li:nth-child(3) .ui-photo {
	background-image: url(../images/contacts/3.jpg);
}
.ui-radial-listview li:nth-child(4) .ui-photo {
	background-image: url(../images/contacts/4.jpg);
}
.ui-radial-listview li:nth-child(5) .ui-photo {
	background-image: url(../images/contacts/5.jpg);
}
.ui-radial-listview li:nth-child(6) .ui-photo {
	background-image: url(../images/contacts/6.jpg);
}
.ui-radial-listview li:nth-child(7) .ui-photo {
	background-image: url(../images/contacts/7.jpg);
}
.ui-radial-listview li:nth-child(8) .ui-photo {
	background-image: url(../images/contacts/8.jpg);
}
.ui-radial-listview li:nth-child(9) .ui-photo {
	background-image: url(../images/contacts/9.jpg);
}
.ui-radial-listview li:nth-child(10) .ui-photo {
	background-image: url(../images/contacts/10.jpg);
}
.ui-radial-listview li:nth-child(11) .ui-photo {
	background-image: url(../images/contacts/11.jpg);
}
.ui-radial-listview li:nth-child(12) .ui-photo {
	background-image: url(../images/contacts/12.jpg);
}
.ui-radial-listview li:nth-child(13) .ui-photo {
	background-image: url(../images/contacts/13.jpg);
}
.ui-radial-listview li:nth-child(14) .ui-photo {
	background-image: url(../images/contacts/14.jpg);
}
.ui-radial-listview li:nth-child(15) .ui-photo {
	background-image: url(../images/contacts/15.jpg);
}
/* Selected item */
.ui-radial-listview li.ui-selected {
	width: 100%;
	border-radius: 0;
	overflow: visible;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.ui-radial-listview li.ui-selected:before {
	content: "";
	width: 360px;
	height: 108px;
	position: absolute;
	top: -15px;
	background-color: rgba(245,245,245,.5);;
	-webkit-mask-image: url(../images/b_list_focus_bg_108.png);
	-webkit-mask-size: 100% 100%;
	left: 0;
}
.ui-radial-listview li.ui-selected .ui-photo {
	position: absolute;
	width: 76px;
	height: 76px;
	top: 0;
	left: 0;
	border-radius: 100% 100%;
}
.ui-radial-listview li.ui-selected .ui-title {
	max-width: 230px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 100px;
	text-align: center;
}

