/* Header */
.btn-icon-back::after {
	 -webkit-mask-image: url(./images/core_icon_back.png);
	mask-image: url(./images/core_icon_back.png);
}

.btn-icon-add:after {
	-webkit-mask-image: url(./images/core_button_add.png);
	mask-image: url(./images/core_button_add.png);
}

.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.ui-icon-test{
	background-size: 100% 100%;
}

.ui-icon-test2{
	background-position: 0 0;
	background-size:50% 50%;
}

.ui-popup-header.popup-2line-title,
.ui-popup-listview .ui-popup-header.popup-2line-title {
	height: 62px;
	padding: 0;
}
.popup-2line-title h1,
.popup-2line-title h2 {
	margin: 0;
	font-weight: normal;
}

.popup-2line-title h1 {
	font-size: 21px;
	line-height: 28.5px;
	padding-top: 13px;
}
.popup-2line-title h2 {
	font-size: 15px;
	line-height: 20.5px;
}

.ui-popup-listview .ui-popup-header.popup-2line-title h1 {
	padding-top: 6.5px;
}

/*************************************************
				Listview
**************************************************/
.li-text-sub {
	position: absolute;
	top: 0;
	right: 16px;
	height: 100%;
	line-height: 60px;
	text-align: right;
	font-size: 16px;
	color: rgba(77, 77, 77, 1);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/******************* list have left thumbnail image ********************/
.ui-li-anchor.li-has-thumb > a,
.ui-li-static.li-has-thumb {
	padding-left: 51px;
}
.ui-li-anchor.li-has-thumb > a .li-thumb {
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -13px;
	width: 25px;
	height: 25px;
}
/***************** right thumbnail ***************/
.ui-li-static.li-has-thumb.li-thumbnail-right,
.ui-li-anchor.li-has-thumb.li-thumbnail-right {
	padding-right: 51px;
	padding-left: 16px;
}
.ui-li-anchor.li-has-thumb.li-thumbnail-right > a .li-thumb {
	float: right;
	left: auto;
	right: 16px;
}

/***************** list has checkbox/radio ***********************/
.ui-li-anchor.li-has-checkbox:not(.li-has-right-checkbox) > a,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio) > a,
.ui-li-static.li-has-checkbox:not(.li-has-right-checkbox),
.ui-li-static.li-has-radio:not(.li-has-right-radio) {
	padding-left: 50px;
}

.li-has-checkbox:not(.li-has-right-checkbox) input.ui-checkbox:first-child,
.li-has-radio:not(.li-has-right-radio) input.ui-checkbox:first-child,
.li-has-checkbox:not(.li-has-right-checkbox) input.ui-radio:first-child,
.li-has-radio:not(.li-has-right-radio) input.ui-radio:first-child {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	left: 16px;
	margin-left: 0;
}

/**************** list has checkbox/radio and thumbnail ************/
.ui-li-anchor.li-has-checkbox:not(.li-has-right-checkbox).li-has-thumb > a,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio).li-has-thumb > a,
.ui-li-static.li-has-checkbox:not(.li-has-right-checkbox).li-has-thumb,
.ui-li-static.li-has-radio:not(.li-has-right-radio).li-has-thumb {
	padding-left: 77px;
}
.ui-li-anchor.li-has-checkbox.li-has-thumb > a .li-thumb,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio).li-has-thumb > a .li-thumb,
.ui-li-static.li-has-checkbox.li-has-thumb .li-thumb,
.ui-li-static.li-has-radio:not(.li-has-right-radio).li-has-thumb .li-thumb {
	position: absolute;
	left: 48px;
}


/********************* list have right checkbox ********************/

.li-has-checkbox.li-has-right-checkbox .ui-checkbox {
	position: absolute !important;
	top: 18px;
	right: 16px;
	left: auto !important;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox.favorite {
	right: 8px;
	top: 11px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox:first-child {
	right: 61px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox.favorite:first-child {
	right: 55px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox {
	margin-top: -20px;
}

/****************************************************************/
/*              Multiline List Style                            */
/****************************************************************/
.ui-listview .li-has-multiline.ui-li-anchor > a,
.li-has-multiline.ui-li-static {
	padding-top: 11px;
	padding-bottom: 33px;
}
.li-has-multiline .li-text-sub {
	top: 39px;
	left: 16px;
	line-height: 22px;
	text-align: left;
	height: auto;
}
.li-has-multiline .li-text-sub,
.li-has-multiline .li-text-sub3 {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	right: auto;
}
.li-has-multiline .li-text-sub .li-icon-sub,
.li-has-multiline .li-text-sub3 .li-icon-sub,
.li-has-multiline .li-text-sub img,
.li-has-multiline .li-text-sub3 img {
	position: relative;
	width: 15px;
	height: 15px;
	margin-right: 1px;
	margin-bottom: 0;
}
.li-has-multiline .li-text-sub2,
.li-has-multiline .li-text-sub3 {
	position: absolute;
	font-size: 16px;
	color: rgba(77, 77, 77, 1);
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.li-has-multiline .li-text-sub2 {
	top: 0;
	right: 16px;
	text-align: right;
	height: 100%;
	line-height: 72px;
}
.li-has-multiline .li-text-sub3 {
	top: 61px;
	left: 16px;
	line-height: 25px;
}

.li-has-multiline.ui-li-anchor.li-has-thumb > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb .li-text-sub {
	left: 51px;
}
.li-has-multiline.ui-li-anchor.li-has-checkbox > a .li-text-sub,
.li-has-multiline.ui-li-anchor.li-has-radio > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-checkbox .li-text-sub,
.li-has-multiline.ui-li-static.li-has-radio .li-text-sub {
	left: 50px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-has-checkbox > a .li-text-sub,
.li-has-multiline.ui-li-anchor.li-has-thumb.li-has-radio > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-has-checkbox .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-has-radio .li-text-sub {
	left: 77px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right {
	padding-left: 16px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a .li-thumb,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right .li-thumb {
	float: right;
	left: auto;
	right: 16px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right .li-text-sub {
	left: 16px;
}
.li-has-multiline.li-has-3-lines.ui-li-anchor > a,
.li-has-multiline.li-has-3-lines.ui-li-static {
	padding-bottom: 55px;
}

.ui-tabbar-with-icon a[data-icon="naviframe-call"]:after {
	-webkit-mask-image: url("images/00_button_add.png");
	mask-image: url("images/00_button_add.png");
}

.ui-tabbar-with-icon a[data-icon="naviframe-favorite"]:after {
	-webkit-mask-image: url("images/00_icon_favorite_bg_72x72.png");
	mask-image: url("images/00_icon_favorite_bg_72x72.png");
}

.ui-tabbar-with-icon a[data-icon="naviframe-search"]:after {
	-webkit-mask-image: url("images/00_icon_search.png");
	mask-image: url("images/00_icon_search.png");
}
/****************************************************************/
/*              Progress Indicator demo                         */
/****************************************************************/
.activity-bg,
.progress-bg {
	background: white;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
}
#result {
	font-size: 30px;
	line-height: 45px;
	width: 72px;
	text-align: center;
}
#result,
#circle {
	display: block;
	margin: 0 auto;
}

/****************************************************************/
/*              Button Style                           */
/****************************************************************/
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle) {
	background-color: transparent;
}
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle):after {
	background-color: rgba(61, 185, 204, 1);
}
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle):active:after {
	background-color: rgba(34, 104, 115, 1);
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle) {
	background-color: transparent;
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle):after {
	background-color: rgba(224, 34, 34, 1);
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle):active:after {
	background-color: rgba(186, 28, 28, 1);
}
.ui-btn-icon.ui-icon-cancel:after {
	-webkit-mask-image: url("images/core_button_cancel.png");
}
.ui-btn-icon.ui-icon-delete:after {
	-webkit-mask-image: url("images/core_button_delete.png");
}
.ui-btn-icon.ui-icon-reorder:after {
	-webkit-mask-image: url("images/core_button_reorder.png");
}
.ui-btn-icon.ui-icon-call:after {
	-webkit-mask-image: url("images/00_button_call.png");
}
.ui-btn-icon.ui-icon-arrow-r:after {
	-webkit-mask-image: url("images/00_button_right.png");
}
.ui-btn-icon.ui-icon-arrow-l:after {
	-webkit-mask-image: url("images/00_button_left.png");
}
.ui-btn-icon.ui-icon-arrow-u:after {
	-webkit-mask-image: url("images/00_button_expand_opened.png");
}
.ui-btn-icon.ui-icon-arrow-d:after {
	-webkit-mask-image: url("images/00_button_expand_closed.png");
}
.ui-btn-icon.ui-icon-plus:after {
	-webkit-mask-image: url("images/00_button_add.png");
}
.ui-btn-icon.ui-icon-minus:after {
	-webkit-mask-image: url("images/00_button_delete.png");
}
.ui-btn-icon.ui-icon-forward:after {
	-webkit-mask-image: url("images/00_button_expand_send.png");
}
.ui-btn-icon.ui-icon-alert:after {
	-webkit-mask-image: url("images/00_button_warning.png");
}
.ui-btn-icon.ui-icon-info:after {
	-webkit-mask-image: url("images/00_button_info.png");
}
.ui-btn-icon.ui-icon-rename:after {
	-webkit-mask-image: url("images/00_button_rename.png");
}
.ui-btn-icon.ui-icon-star:after {
	-webkit-mask-image: url("images/00_icon_favorite_bg_72x72.png");
}
.ui-btn-icon.ui-icon-search:after {
	-webkit-mask-image: url("images/00_icon_search.png");
}
.ui-btn-icon.ui-icon-scrolltop:after {
	-webkit-mask-image: url("images/00_icon_jump.png");
}
.ui-btn-icon.ui-icon-scrollleft:after {
	-webkit-mask-image: url("images/00_icon_jump_left.png");
}
.ui-btn-icon.ui-icon-check:after {
	-webkit-mask-image: url("images/00_button_check.png");
}
.ui-btn-icon.ui-icon-gear:after {
	-webkit-mask-image: url("images/00_button_gear.png");
}
.ui-btn-icon.ui-icon-refresh:after {
	-webkit-mask-image: url("images/00_button_refresh.png");
}
.ui-btn-icon.ui-icon-back:after {
	-webkit-mask-image: url("images/00_button_back.png");
}
.ui-btn-icon.ui-icon-grid:after {
	-webkit-mask-image: url("images/00_button_grid.png");
}
.ui-btn-icon.ui-icon-home:after {
	-webkit-mask-image: url("images/00_button_home.png");
}
.vertical-list {
	height: 300px;
}
.app-icon-search:after {
	-webkit-mask-image: url("images/00_icon_search.png");
	mask-image: url("images/00_icon_search.png");
	background-color: white;
}
.app-icon-search-2:after {
	-webkit-mask-image: url("images/00_icon_search.png");
	mask-image: url("images/00_icon_search.png");
	background-color: orange;
}
.app-icon-favorite:after {
	-webkit-mask-image: url("images/00_icon_favorite_bg_72x72.png");
	mask-image: url("images/00_icon_favorite_bg_72x72.png");
	background-color: #ffbf30;
}

/****************************************************************/
/*                      Text Input demo                         */
/****************************************************************/
.textinput-box {
	margin-top: 17px;
	margin-bottom: 17px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
}

/****************************************************************/
/*                      Gallery demo                            */
/****************************************************************/
.gallery-section > img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

/****************************************************************/
/*                      Grid List                               */
/****************************************************************/

#grid-badge-page .ui-gridview-item .grid-badge {
	position: absolute;
	border-radius: 25px;
	background-color: rgba(252, 116, 58, 1);
	color: rgba(255, 255, 255, 1);
	top: 4px;
	right: 4px;
	text-align: center;
	padding: 2px 6px;
	font-size: 13px;
}

#popup_grid_page .ui-popup .ui-gridview .ui-gridview-item .ui-gridview-image {
	width: auto;
	margin: 0 auto;
}

#popup_grid_page .ui-popup .ui-gridview .ui-gridview-item .ui-gridview-label {
	margin-top: -5px;
	font-size: 16px;
}

#textinput-demo .ui-content .ui-scrollview-view > div:nth-child(2) {
	background: rgba(250, 250, 250, 1);
	height: 285px;
}

/****************************************************************/
/*			Search Input demo			*/
/****************************************************************/
.search-input-area{
	width: 100%;
	height: 54px;
	box-sizing: border-box;
	background-color: transparent;
}

.li-search-hidden {
	display: none;
}

/**************************************
			Virtual List
***************************************/
.virtual-icon {
	width: 35px;
	height: 35px;
}

/**************************************
            Slider
***************************************/
#slider-demo .ui-slider-vertical {
	left: 50%;
	-webkit-transform: translate(-50%);
	margin: 0;
}

/**************************************
			Button Text
***************************************/
#button-page {
	color: white;
}
#button-page p {
	margin: 0;
	padding: 0;
}
/*top*/
#button-page  #top {
	height: 109px;
	background-color: white;
}
#button-page  #top img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
#button-page  #top #intro1 img{
	margin-top: 15px;
	margin-left: 15px;
}
#button-page  #top #intro1 p {
	display: inline-block;
	float: left;
	margin-right: 75px;
	padding-left: 10px;
}
#button-page  #top #intro1 input {
	width: 34px;
	height: 34px;
	padding-top: 8px;
}
#button-page  #top #intro1 p:nth-of-type(1) {
	color: dimgrey;
	padding-top: 15px;
	font-size: 20px;
}
#button-page  #top #intro1  p:nth-of-type(2) {
	color: lightgrey;
	padding-top: 1px;
	font-size: 16px;
}
#button-page  #top #intro1  p:nth-of-type(2):after {
	clear:both;
}
#button-page  #top #intro2 {
	position: relative;
	height: 48px;
}
#button-page  #top #intro2 #details {
	position: absolute;
	left: 63px;
	top: 32px;
}
#button-page  #top #intro2 p {
	position: absolute;
	right: 30px;
	top: 36px;
	color: dimgrey;
	font-size: 14px;
}


#button-page #calendar {
	position: relative;
}
/*title and top button*/
#button-page #calendar #today {
	position: absolute;
	right: 6px;
	top: 28px;
}
#button-page #calendar #title {
	height: 24px;
	padding-top: 52px;
	text-align: center;
	font-size: 24px;
}
/*days names*/
#button-page #calendar ul {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	text-align: center;
	font-size: 16px;
	margin: 27px 10px 6px 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#button-page #calendar ul li{
	width: 14.285%;
	height: 46px;
	line-height: 46px;
	padding: 0;
	margin: 0;
}
#button-page #calendar ul li:nth-child(19) {
	position: relative
}
#button-page #calendar ul li:nth-child(19):after {
	content: "";
	position: absolute;
	top:5px;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 36px;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 50%;
}
#button-page #calendar #days ul {
	font-size: 21px;
	margin: 0 10px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

/* *************** ICONS *************** */
.ui-icon.ui-icon-cut {
	background: url(images/icon-cut.png) center center no-repeat;
	background-size: 100%;
}
.ui-icon.ui-icon-paste {
	background: url(images/icon-paste.png) center center no-repeat;
	background-size: 100%;
}
.ui-icon.ui-icon-copy {
	background: url(images/icon-copy.png) center center no-repeat;
	background-size: 100%;
}
.ui-icon.ui-icon-close {
	background: url(images/icon-close.png) center center no-repeat;
	background-size: 100%;
}
.ui-icon.ui-icon-clipboard {
	background: url(images/icon-clipboard.png) center center no-repeat;
	background-size: 100%;
}

/**************************************
            text input with buttons
***************************************/
#textinputwithbuttons-demo .ui-content {
	top: 80px;
	background: white;
}
/******************************************************
            List Styles - sliders
******************************************************/

#slider-description{
	width: 328px;
	padding-top: 12px;
	padding-bottom: 8px;
	height: 61px;
}
#slider-description .ui-slider.ui-slider-horizontal{
	margin-left:0px;
	margin-right:0px;
	width:328px;
	margin-top:14px;
	margin-bottom:14px;
}
#slider-raw{
	width:328px;
}
#slider-raw .ui-slider.ui-slider-horizontal{
	margin-left:0px;
	margin-right:0px;
	width:328px;
}

@media(max-width: 480px) {
	.coverflow-image {
		width: 100px;
		height: 100px;
	}
}

@media(min-width: 480px) {
	.coverflow-image {
		width: 800px;
		height: auto;
	}
}

/******************************************************
        Indexscrollbar with search floating button
******************************************************/

#indexscrollbarPage .ui-header.search-active h1 {
	display: none;
}

#indexscrollbarPage .ui-header input, #indexscrollbarPage .ui-header a {
	display: none;
}

#indexscrollbarPage .ui-header.search-active input,
#indexscrollbarPage .ui-header.search-active a  {
	display: block;
}


#ContainedButtonMediumHighEmphasis1Demo button.ui-btn.ui-btn-contained ~ button.ui-btn.ui-btn-contained {
	margin-top: 10px;
}