
.app-video-control .ui-btn.ui-btn-flat.ui-btn-icon {
    width: 56px;
    height: 56px;
    min-width: 56px;
}
.app-control-bar .ui-btn.ui-btn-contained {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.app-control-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.app-control-status {
    padding: 20px;
}
.app-control-status .app-control-video-title {
    font-size: 20px;
    color: var(--text-color);
}
.app-control-status .app-control-video-subtitle {
    font-size: 16px;
    color: var(--text-secondary-color);
}

.ui-section-changer {
	height: 100% !important;
}
.ui-section-changer-container {
    display: flex;
    position: relative !important;
    height: auto !important;
}
.ui-section-changer-container section {
    position: relative !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
    margin-top: 0 !important;
}