<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet" href="lib/theme/default/tau.css">
	<link rel="stylesheet" href="virtuallist.css">
	<title>News List</title>
</head>
<body>
<!--
	This is one page template application for news list
	This format can be used as well for:
	- rss feeds,
	- mini-blog
-->
<div class="ui-page virtuallist_demo_page" id="virtuallist-normal_1line">
	<div class="ui-header" data-position="fixed">
		<h1>Virtual list - Normal style 1line</h1>
	</div>
	<div class="ui-content">
	<!-- Sample list for virtual list -->
		<ul id="virtuallist-normal_1line_ul"></ul>
	</div>

	<!--
		The template from bellow is inserted into LI element in the list.
		For ever entry in the data(virtuallist-db-demo.js) file.
		Notice the placeholders: TEAM_LOGO, ARTICLE, TITLE, TEXT.
		This is what it needs to be define in data file.
	-->
	<script id="tmp-li-1line" type="text">
		<img width=60 height=60 src=${TEAM_LOGO} alt="icon" class="virtual-icon">
		<a href=${ARTICLE}><span class="ui-li-text-main">${TITLE}</span></a>
		<span class="ui-li-text-news">${TEXT}</span>
	</script>

	<script>
		var pageId = "virtuallist-normal_1line",
			listId = "virtuallist-normal_1line_ul",
			templateId = "tmp-li-1line",
			itemClass = ["ui-li-static"];
	</script>

	<!-- tau library needs to be added before main script -->
	<script type="text/javascript" src="lib/js/tau.js"></script>
	<!-- data file needs to be added before main script -->
	<script src="virtuallist-db-demo.js"></script>
	<script src="virtuallist.js"></script>
</div>
</body>
</html>
