.app-image-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px [col-start]);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}

.app-remote-control {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
}

.app-volume-control {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 var(--overlay);
    margin: 5px;
    font-size: 16px;
    background-image: linear-gradient(170deg,
        rgba(0, 0, 0, 0.2) 0%, var(--background-area-color) 15%,
        var(--background-area-color) 85%, rgba(0, 0, 0, 0.2) 100%);
}

.app-channel-control {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0 var(--overlay);
    margin: 5px;
    font-size: 16px;
    background-image: linear-gradient(170deg,
        rgba(0, 0, 0, 0.2) 0%, var(--background-area-color) 15%,
        var(--background-area-color) 85%, rgba(0, 0, 0, 0.2) 100%);
}

.app-4way-direction {
    display: grid;
    grid-template-columns: repeat(3, 56px);
    grid-gap: 5px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 0 var(--overlay);
    margin: 5px;
    background-image: radial-gradient(var(--background-area-color) 50%, rgba(0, 0, 0, 0.2));
}

.app-4way-btn-up {
    grid-column: 2 / 2;
    grid-row: 1;
}

.app-4way-btn-left {
    grid-column: 1 / 1;
    grid-row: 2;
}

.app-4way-btn-ok {
    grid-column: 2 / 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    box-shadow: -1px -1px 3px 0 var(--overlay) inset;
    background-color: var(--button-background);
}

.app-4way-btn-right {
    grid-column: 3 / 3;
    grid-row: 2;
}

.app-4way-btn-down {
    grid-column: 2 / 2;
    grid-row: 3;
}

.app-remote-control .ui-btn.ui-btn-flat.ui-btn-icon {
    width: 56px;
    height: 56px;
    min-width: 56px;
}
.ui-btn.ui-icon-right::after {
    -webkit-transform: translate(-50%, -50%) rotateZ(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotateZ(-90deg);
}
.ui-btn.ui-icon-left::after {
    -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotateZ(90deg);
}