<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page role="page" class="ui-page" id="demo-popup-page">
	<div class="ui-header" data-position="fixed">
		<h1>Popup</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<li class="ui-group-index">Button</li>
			<li><a href="#1btn_popup" data-rel="popup" data-position-to="window">1btn popup</a>
			</li>
			<li><a href="#2btn_popup" data-rel="popup" data-position-to="window">2btn popup</a>
			</li>
			<li class="ui-group-index">Header and Footer</li>
			<li><a href="#header_popup" data-rel="popup" data-position-to="window">Header popup</a>
			</li>
			<li><a href="#footer_popup" data-rel="popup" data-position-to="window">Footer popup</a>
			</li>
			<li><a href="#2line_title_popup" data-rel="popup" data-position-to="window">2line title
				popup</a></li>
			<li class="ui-group-index">List</li>
			<li><a href="#listview_popup" data-inline="true" data-rel="popup" data-position-to="window">List popup</a></li>
			<li><a href="#listview_popup_2" data-inline="true" data-rel="popup" data-position-to="window">List popup (2 lines)</a></li>
			<li><a href="#2line_title_listview_popup" data-inline="true" data-rel="popup" data-position-to="window">2line title List popup</a></li>
			<li class="ui-group-index">Input</li>
			<li><a href="#text-input-popup" data-rel="popup" data-position-to="window">
				TextInput Popup
			</a></li>
			<li class="ui-group-index">Content</li>
			<li><a href="#2btn_image_popup" data-rel="popup" data-position-to="window">Popup with
				image</a></li>
			<li class="ui-group-index">Controls</li>
			<li><a href="#2btn_checkbox_popup" data-rel="popup" data-position-to="window">2 buttons
				with checkbox</a></li>
		</tau-listview>

		<tau-popup id="1btn_popup" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet,
				consectetur adiptiscing elit, sed
				doei usmod tempore sit ipsum
			</div>
			<div class="ui-popup-footer">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="text-input-popup" class="ui-popup">
			<div class="ui-popup-header">Popup Title</div>
			<div class="ui-popup-content">
				<textarea is="tau-textinput">I have some text</textarea>
			</div>
			<div class="ui-popup-footer">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="2btn_popup" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet,
				consectetur adiptiscing elit, sed
				doei usmod tempore sit ipsum
			</div>
			<div class="ui-popup-footer ui-grid-col-2">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
				<tau-button class="ui-btn" rel="back">Done</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="header_popup" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet,
				consectetur adiptiscing elit, sed
				doei usmod tempore sit ipsum
			</div>
		</tau-popup>

		<tau-popup id="footer_popup" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet,
				consectetur adiptiscing elit, sed
				doei usmod tempore sit ipsum
			</div>
			<div class="ui-popup-footer ui-grid-col-2">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
				<tau-button class="ui-btn" rel="back">Done</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="2line_title_popup" class="ui-popup">
			<div class="ui-popup-header popup-2line-title">
				<h1>Main text</h1>
				<h2>sub text</h2>
			</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet,
				consectetur adiptiscing elit, sed
				doei usmod tempore sit ipsum
			</div>
			<div class="ui-popup-footer ui-grid-col-2">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
				<tau-button class="ui-btn" rel="back">Done</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="listview_popup" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				<tau-listview class="ui-listview">
					<li><a href="#">List item 1</a></li>
					<li><a href="#">List item 2</a></li>
					<li><a href="#">List item 3</a></li>
					<li><a href="#">List item 4</a></li>
					<li><a href="#">List item 5</a></li>
					<li><a href="#">List item 6</a></li>
					<li><a href="#">List item 7</a></li>
					<li><a href="#">List item 8</a></li>
					<li><a href="#">List item 9</a></li>
					<li><a href="#">List item 10</a></li>
					<li><a href="#">List item 11</a></li>
					<li><a href="#">List item 12</a></li>
				</tau-listview>
			</div>
			<div class="ui-popup-footer">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="listview_popup_2" class="ui-popup">
			<div class="ui-popup-header">Popup Header</div>
			<div class="ui-popup-content">
				<tau-listview class="ui-listview">
					<li class="ui-li-flex ui-li-multilines">
						<span class="ui-li-area ui-li-area-a">
							<span class="ui-li-text">Primary text</span>
							<span class="ui-li-text-2">Secondary text</span>
						</span>
					</li>
					<li class="ui-li-flex ui-li-multilines">
						<span class="ui-li-area ui-li-area-a">
							<span class="ui-li-text">Primary text</span>
							<span class="ui-li-text-2">Secondary text</span>
						</span>
					</li>
					<li class="ui-li-flex ui-li-multilines">
						<span class="ui-li-area ui-li-area-a">
							<span class="ui-li-text">Primary text</span>
							<span class="ui-li-text-2">Secondary text</span>
						</span>
					</li>
					<li class="ui-li-flex ui-li-multilines">
						<span class="ui-li-area ui-li-area-a">
							<span class="ui-li-text">Primary text</span>
							<span class="ui-li-text-2">Secondary text</span>
						</span>
					</li>
					<li class="ui-li-flex ui-li-multilines">
						<span class="ui-li-area ui-li-area-a">
							<span class="ui-li-text">Primary text</span>
							<span class="ui-li-text-2">Secondary text</span>
						</span>
					</li>
				</tau-listview>
			</div>
			<div class="ui-popup-footer">
				<tau-button class="ui-btn" rel="back" inline="true">Cancel</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="2btn_checkbox_popup" class="ui-popup">
			<div class="ui-popup-header">Title</div>
			<div class="ui-popup-content">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
				<br/>
				<input checked is="tau-checkbox"> Do not show again
			</div>
			<div class="ui-popup-footer ui-grid-col-2">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
				<tau-button class="ui-btn" rel="back">Done</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="2btn_image_popup" class="ui-popup">
			<div class="ui-popup-header">Title</div>
			<div class="ui-popup-content">
				<img src="images/1.jpg" style="height: 118px;">
				Lorem ipsum dolor sit amet
			</div>
			<div class="ui-popup-footer ui-grid-col-2">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
				<tau-button class="ui-btn" rel="back">Done</tau-button>
			</div>
		</tau-popup>

		<tau-popup id="2line_title_listview_popup" class="ui-popup">
			<div class="ui-popup-header popup-2line-title">
				<h1>Main text</h1>
				<h2>sub text</h2>
			</div>
			<div class="ui-popup-content">
				<tau-listview class="ui-listview">
					<li><a href="#">List item 1</a></li>
					<li><a href="#">List item 2</a></li>
					<li><a href="#">List item 3</a></li>
					<li><a href="#">List item 4</a></li>
					<li><a href="#">List item 5</a></li>
					<li><a href="#">List item 6</a></li>
					<li><a href="#">List item 7</a></li>
					<li><a href="#">List item 8</a></li>
					<li><a href="#">List item 9</a></li>
				</tau-listview>
			</div>
			<div class="ui-popup-footer">
				<tau-button class="ui-btn" rel="back">Cancel</tau-button>
			</div>
		</tau-popup>
	</tau-scrollview>
</tau-page>


</body></html>