<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>

	<script src="./lib/tau/js/jquery.min.js"></script>
	<!-- tau library needs to be added before main script -->
	<script type="text/javascript" src="./lib/tau/js/tau.js"></script>
	<link rel="stylesheet" href="./lib/tau/theme/default/tau.css">

	<script src="./js/main.js"></script>

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Chat</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<link rel="stylesheet" href="css/chat.css">
</head>

<body>
	<!-- Start of page: #one -->
	<div class="ui-page ui-page-active" id="one">
		<div class="ui-header" data-position="fixed">
			<h1>Chat</h1>
		</div><!-- /header -->
		<div class="ui-content">
			<ul id="virtuallist-chat"></ul>
		</div>
		<div class="ui-footer send-footer" data-position="fixed">
			<input type="text" id="toSend" placeholder="write message here ..."/>
			<button>Send</button>
		</div><!-- /header -->

		<!--
			The template from bellow is inserted into LI element in the list.
			For ever entry in the data(virtuallist-db-demo.js) file.
			Notice the placeholders: FROM, TEXT, TIME.
			This is what it needs to be define in data file.
		-->
		<script id="chat-template" type="text">
			<div class="li-text-sub">${TIME}</div>
			<span class="li-text-main">${TEXT}</span>
		</script>

		<!-- data file needs to be added before main script -->
		<script src="js/chat-db.js"></script>
		<script src="js/chat.js"></script>
	</div><!-- /page one -->

</body>
</html>
