<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="grid-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Grid View
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-gridview" data-label="in" id="gridview">
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/1.jpg" />
					<p class="ui-gridview-label">
						Image 01
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/2.jpg" />
					<p class="ui-gridview-label">
						Image 02
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/3.jpg" />
					<p class="ui-gridview-label">
						Image 03
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/4.jpg" />
					<p class="ui-gridview-label">
						Image 04
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/5.jpg" />
					<p class="ui-gridview-label">
						Image 05
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/6.jpg" />
					<p class="ui-gridview-label">
						Image 06
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/7.jpg" />
					<p class="ui-gridview-label">
						Image 07
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/8.jpg" />
					<p class="ui-gridview-label">
						Image 08
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/9.jpg" />
					<p class="ui-gridview-label">
						Image 09
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/10.jpg" />
					<p class="ui-gridview-label">
						Image 10
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/11.jpg" />
					<p class="ui-gridview-label">
						Image 11
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/12.jpg" />
					<p class="ui-gridview-label">
						Image 12
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/13.jpg" />
					<p class="ui-gridview-label">
						Image 13
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/14.jpg" />
					<p class="ui-gridview-label">
						Image 14
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/15.jpg" />
					<p class="ui-gridview-label">
						Image 15
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/16.jpg" />
					<p class="ui-gridview-label">
						Image 16
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/17.jpg" />
					<p class="ui-gridview-label">
						Image 17
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/18.jpg" />
					<p class="ui-gridview-label">
						Image 18
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/19.jpg" />
					<p class="ui-gridview-label">
						Image 19
					</p>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/20.jpg" />
					<p class="ui-gridview-label">
						Image 20
					</p>
				</li>
			</ul>
		</div>
		<div class="ui-footer" data-position="fixed">
			<button data-inline="true" id="modeBtn">
				Edit
			</button>
		</div>
		<script src="./gridview.js" type="text/javascript">
		</script>
	</div>
</body>

</html>