<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="switch-demo">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Add/Delete Button
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						Add
					</div>
					<div class="ui-li-action">
						<a href="#" class="ui-btn ui-color-add" data-icon="plus" data-style="flat" ></a>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						Delete
					</div>
					<div class="ui-li-action">
						<a href="#" class="ui-btn ui-color-delete" data-icon="minus" data-style="flat" ></a>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						Add disabled
					</div>
					<div class="ui-li-action">
						<a href="#" class="ui-btn ui-color-add" data-icon="plus" data-style="flat" disabled ></a>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						Delete disabled
					</div>
					<div class="ui-li-action">
						<a href="#" class="ui-btn ui-color-delete" data-icon="minus" data-style="flat" disabled></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>