<!DOCTYPE html>
<html>

<head>
	<title>Chips</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="chips-demo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Chips
			</h1>
		</div>
		<div class="ui-content">
			<div class="ui-chips ui-chips-inline">
				<div class="ui-chip" data-icon="delete">
					<span class="ui-chip-text">Alex Green</span>
					<button class="ui-btn ui-chip-button" data-icon="minus" data-style="flat"></button>
				</div>
				<div class="ui-chip" data-icon="delete">Julia Turner</div><div class="ui-chip" data-icon="delete">Elizabeth</div>
				<div class="ui-chip" data-icon="add">Michael Queen</div>
				<div class="ui-chip" data-icon="delete">Text text text text text text text text text text text text text text</div>
			</div>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>