<!DOCTYPE html>
<html>

<head>
	<title>Expandable Card</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Expand button middle of list</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-1
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-2
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-3
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-4
						</span>
					</div>
				</li>
				<li class="ui-expandable-from"></li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-5
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-6
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 1-7
						</span>
					</div>
				</li>
				<li class="ui-expandable-to" data-expander="button">
					<button class="ui-btn ui-expand-button" data-icon="down" data-style="flat"></button>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 2-1
						</span>
					</div>
				</li>
				<li class="ui-expandable-from"></li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 2-2
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							List item 2-3
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
