<!DOCTYPE html>
<html>

<head>
	<title>Expandable Card</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Expand button on card</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</div>
		<div class="ui-content">
			<div class="ui-content-area">
				<div class="ui-expandable">
					<h2>
						Subtitle 1
					</h2>
					<div class="app-content-example">
						Contents area
					</div>
				</div>
			</div>
			<div class="ui-content-area">
				<div class="ui-expandable" data-expander="button">
					<h2>Subtitle 2
						<button class="ui-btn ui-btn-icon" class="ui-expandable-toggle" data-icon="up" data-style="flat"></button>
					</h2>
					<div class="app-content-example">
						Contents
					</div>
					<div class="ui-expandable-content app-content-example-expanded">
						Contents area
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
