<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-demo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Slider (Continuous slider)
			</h1>
		</div>
		<div class="ui-content">
			<div style="display: flex; align-items: center;">
				<span style="font-size: 15px; padding: 7px 20px; width: 50px;">Normal</span>
				<div style="flex: 1; padding-right: 20px;">
					<input id="normal" max="80" min="0" name="normalSlider1" type="range" value="40"/>
				</div>
			</div>
			<div style="display: flex; align-items: center;">
				<span style="font-size: 15px; padding: 7px 20px; width: 50px;">Disabled</span>
				<div style="flex: 1; padding-right: 20px;">
					<input id="unfocused" max="100" min="0" name="normalSlider1" type="range" value="40" disabled/>
				</div>
			</div>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>