<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<div class="ui-content">
			<!-- this page will be replaced by page from link target of active tab -->
		</div>
		<div class="ui-main-tab ui-active">
			<ul>
				<li class="ui-li-anchor">
					<a class="ui-tab-active" href="./appbar-no-item.html">
						One
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="#">
						Two
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="#">
						Three
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="#">
						Four
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>