.ui-music-player {
	background: -webkit-radial-gradient(center, 150px 150px, #37A1ED, black);
}

/* BACKGROUND EFFECT WITH MASK
.ui-music-player {
	background-color: #37A1ED;
}
.ui-music-player::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: black;
	-webkit-mask: url(../images/b_phone_nophoto_bg_cover.png);
	mask: url(../images/b_phone_nophoto_bg_cover.png);
}
*/

.ui-music-player .description {
	position: absolute;
	left: 20%;
	width: 60%;
	text-align: center;
}
.ui-music-player .description.track {
	top: 40px;
	color: #37A1ED;
	font-weight: bold;
}
.ui-music-player .description.time {
	bottom: 40px;
}

.ui-music-player .ui-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.ui-music-player .ui-controls .ui-btn {
	background-color: white;
	position: absolute;
	border-radius: 100%;
	width: 20%;
	height: 20%;
	top: 40%;
	left: 40%;
	font-size: 20px;
	line-height: 12px;
}
.ui-music-player .ui-controls .ui-btn.ui-record {
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
	font-size: 24px;
}
.ui-music-player .ui-controls .ui-btn.ui-delate {
	left: 5%;
}
.ui-music-player .ui-controls .ui-btn.ui-pause {
	left: 75%
}

.ui-music-player .ui-controls .ui-btn:after {
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 50px;
	height: 50px;
	content: "";
	background-color: #474747;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 50px 50px;
}
.ui-music-player .ui-controls .ui-btn.ui-delate::after {
	-webkit-mask-image: url(../images/more_options_delete.png);
}
.ui-music-player .ui-controls .ui-btn.ui-record::after {
	width: 100px;
	height: 100px;
	-webkit-mask-image: url(../images/video_play_btn.png);
	-webkit-mask-size: 100px 100px;
}
.ui-music-player .ui-controls .ui-btn.ui-pause::after {
	-webkit-mask-image: url(../images/video_pause_btn.png);
}

.ui-music-player .ui-controls .ui-btn:active,
.ui-music-player .ui-controls .ui-btn.active {
	background-color: #37A1ED;
}
.ui-music-player .ui-controls .ui-btn:active:after,
.ui-music-player .ui-controls .ui-btn.active:after{
	background-color: white;
}

.ui-music-player .ui-controls .ui-btn.ui-record.active:after {
	-webkit-mask-image: url(../images/video_stop_btn.png);
}