<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="header-footer-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Header and Footer
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="header/simpleTitle.html">
						Simple title
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/multilineTitle.html">
						Multiline title
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/subtitle.html">
						Subtitle
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/simpleTitleBack.html">
						Simple title with back
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/multilineTitleBack.html">
						Multiline with back
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/subtitleBack.html">
						Subtitle with back
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/simpleTitleAction.html">
						Simple title with action
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/multilineTitleAction.html">
						Multiline with action
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="header/subtitleAction.html">
						Subtitle with action
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>