<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<h1>Header and Footer</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-group-index">Header with Icon Button</li>
            <li class="ui-li-anchor"><a href="header/lefticon.html">Title with left button</a></li>
            <li class="ui-li-anchor"><a href="header/righticon.html">Title with right button</a></li>
            <li class="ui-li-anchor"><a href="header/twoicons.html">Title with two buttons</a></li>
			<li class="ui-group-index">Header with Text Button</li>
			<li class="ui-li-anchor"><a href="header/lefttext.html">Title with left button</a></li>
			<li class="ui-li-anchor"><a href="header/righttext.html">Title with right button</a></li>
			<li class="ui-li-anchor"><a href="header/twotext.html">Title with two buttons</a></li>
			<li class="ui-group-index">Header with Multiline Title</li>
			<li class="ui-li-anchor"><a href="header/multiline.html">Multiline Title</a></li>
            <li class="ui-group-index">Footer</li>
            <li class="ui-li-anchor"><a href="bottombutton.html">Bottom Button</a></li>
		</ul>
	</div>
</div>
</body>
</html>
