<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js"></script>
</head>

<body>
	<div class="ui-page" id="number-badge-appbar">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Sample title</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat">
					<span class="ui-badge" title="2"></span>
				</button>
				<select data-native-menu="false" id="sample-dropdown-menu" style="display: none">
					<option value="1">
						Option1
					</option>
					<option value="2" class="ui-badge" title="2">
						Option2
					</option>
					<option value="3">
						Option3
					</option>
					<option value="4">
						Option4
					</option>
				</select>
			</div>
		</header>

		<div class="ui-content">
		</div>

		<script src="./number-badge-appbar.js"></script>
	</div> <!-- /page -->

</body>

</html>
