<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js"></script>
	<title>SubTab Four</title>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Sample Dot Badge</span>
			</div>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat">
					<span class="ui-badge"></span>
				</button>
			</div>
		</header>
		<div class="ui-tabs">
			<div class="ui-sub-tab ui-sub-tab-static">
				<ul>
					<li class="ui-li-anchor">
						<a class="ui-tab-active" href="#">
							One
						</a>
					</li>
					<li class="ui-li-anchor">
						<a href="#">
							Two
						</a>
					</li>
					<li class="ui-li-anchor">
						<a href="#">
							Three
						</a>
					</li>
					<li class="ui-li-anchor">
						<a href="#">
							Four
							<span class="ui-badge"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="ui-section-changer">
				<div>
					<section class="ui-content ui-section-active">
						<ul class="ui-listview ui-content-area">
							<li class="ui-li-divider">
								<div class="ui-li-text">
									<span class="ui-li-text-title">
										First line
									</span>
								</div>
							</li>
							<li class="ui-li-divider">
								<div class="ui-li-text ui-badge">
									<span class="ui-li-text-title">
										Second line
									</span>
								</div>
							</li>
						</ul>
					</section>
					<section class="ui-content">
						<div class="ui-content-area app-full-height"></div>
					</section>
					<section class="ui-content">
						<div class="ui-content-area app-full-height"></div>
					</section>
					<section class="ui-content">
						<div class="ui-content-area app-full-height"></div>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>

</html>