<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<tau-page class="ui-page" id="textinputwithbuttons-demo">
	<header>
		<h1>Text Input With Button</h1>
	</header><!-- /header -->
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static ui-textinput-box-with-right-button">
				<div>
					<input name="texttype" id="texttype1" placeholder="Input text here" is="tau-textinput" clear-btn="true">
				</div>
				<tau-button class="ui-btn ui-btn-icon ui-btn-nobg btn-icon-back"></tau-button>
			</li>
			<li class="ui-li-static ui-textinput-box-with-right-button">
				<div>
					<input name="texttype" id="texttype2" placeholder="Input text here" is="tau-textinput" clear-btn="true">
				</div>
				<button is="tau-formbutton" inline="true" style="light">SEND</button>
			</li>
		</tau-coloredlistview>
	</tau-scrollview><!-- /content -->
</tau-page><!-- /page -->
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>


</body></html>