<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Checkbox
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Normal
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" id="checkbox-1" name="checkbox-1" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Normal
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" id="checkbox-2" name="checkbox-2" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Checked, Disabled
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" disabled="disabled" id="checkbox-3" name="checkbox-3" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Disabled
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" disabled="disabled" id="checkbox-4" name="checkbox-4" type="checkbox" />
				</li>
				<li>
					<div class="checkbox-result">
						The First Checkbox is ...
					</div>
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Favorite
							</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" id="favorite-1" name="favorite-1" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Favorite Checked
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b favorite" id="favorite-2" name="favorite-2" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Favorite Checked, Disabled
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b favorite" disabled="disabled" id="favorite-3" name="favorite-3" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Favorite, Disabled
							</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" disabled="disabled" id="favorite-4" name="favorite-4" type="checkbox" />
				</li>
				<li>
					<div class="favorite-result">
						The First Favorite is ...
					</div>
				</li>
			</ul>
		</div>
		<link href="styles.css" rel="stylesheet" />
		<script src="checkbox.js">
		</script>
	</div>
</body>

</html>