<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<h1>Checkbox</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Normal</span>
						</span>
					</span>
					<input class="ui-li-area-b" type="checkbox" name="checkbox-1" id="checkbox-1" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Normal</span>
						</span>
					</span>
					<input class="ui-li-area-b" type="checkbox" name="checkbox-2" id="checkbox-2" checked="checked" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Checked, Disabled</span>
						</span>
					</span>
					<input class="ui-li-area-b" type="checkbox" name="checkbox-3" id="checkbox-3" checked="checked" disabled="disabled" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Disabled</span>
						</span>
					</span>
					<input class="ui-li-area-b" type="checkbox" name="checkbox-4" id="checkbox-4" disabled="disabled" />
				</li>
				<li>
					<div class="checkbox-result">The First Checkbox is ...</div>
				</li>

				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Favorite</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" type="checkbox" name="favorite-1" id="favorite-1"/>
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Favorite Checked</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" type="checkbox" name="favorite-2" id="favorite-2" checked="checked"/>
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Favorite Checked, Disabled</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" type="checkbox" name="favorite-3" id="favorite-3" checked="checked" disabled="disabled"/>

				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>Favorite, Disabled</span>
						</span>
					</span>
					<input class="ui-li-area-b favorite" type="checkbox" name="favorite-4" id="favorite-4" disabled="disabled"/>
				</li>
				<li>
					<div class="favorite-result">The First Favorite is ...</div>
				</li>
			</ul>

		</div>
		<link rel="stylesheet" href="styles.css" />
		<script src="checkbox.js"></script>
	</div>
</body>
</html>
