<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<div class="ui-page">
	<header>
		<h1>Controls</h1>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-anchor"><a href="button/index.html">Button</a></li>
			<li class="ui-li-anchor"><a href="dropdownmenu.html">Dropdown Menu</a></li>
			<li class="ui-li-anchor"><a href="toggleswitch.html">Toggle</a></li>
			<li class="ui-li-anchor"><a href="checkbox.html">Check Box</a></li>
			<li class="ui-li-anchor"><a href="radio.html">Radio Button</a></li>
			<li class="ui-li-anchor"><a href="floatingactions/index.html">Floating Actions</a></li>
			<li class="ui-li-anchor"><a href="textinput.html">Text Input</a></li>
			<li class="ui-li-anchor"><a href="textenveloper/index.html">Text Enveloper</a></li>
			<li class="ui-li-anchor"><a href="searchinput/index.html">Search Input</a></li>
			<li class="ui-li-anchor"><a href="searchbar/index.html">Search Bar</a></li>
			<li class="ui-li-anchor"><a href="progress/index.html">Progress &amp; Activity</a></li>
			<li class="ui-li-anchor"><a href="slider.html">Slider</a></li>
			<li class="ui-li-anchor"><a href="scrollhandler.html">ScrollBar Handler</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</body>
</html>
