<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
	<div id="radio-demo" class="ui-page">
		<div class="ui-header" data-position="fixed">
			<h1>Radio</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					<div>Choose a pet:</div>
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Cat</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-choice" id="cat" value="choice-1" checked="checked" />
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Dog</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-choice" id="dog" value="choice-2"  />
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Hamster</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-choice" id="hamster" value="choice-3" />
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Lizard</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-choice" id="lizard" value="choice-4"  />
				</li>
				<li>
					<div class="radio-result">The Active Radio is ...</div>
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Checked, Disabled</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-1" id="radio-1" checked="checked" disabled="disabled" />
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Disabled</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-2" id="radio-2" disabled="disabled" />
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Unchecked</span>
					</span>
				</span>
					<input class="ui-li-area-b" type="radio" name="radio-3" id="radio-3" />
				</li>
			</ul>
		</div>
		<link rel="stylesheet" href="styles.css" />
		<script src="radio.js"></script>
	</div> <!-- page -->
</body>
</html>
