<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="radio-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Radio
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					<div>
						Choose a pet:
					</div>
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Cat
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" id="cat" name="radio-choice" type="radio" value="choice-1" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Dog
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" id="dog" name="radio-choice" type="radio" value="choice-2" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Hamster
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" id="hamster" name="radio-choice" type="radio" value="choice-3" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Lizard
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" id="lizard" name="radio-choice" type="radio" value="choice-4" />
				</li>
				<li>
					<div class="radio-result">
						The Active Radio is ...
					</div>
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Radio on
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" id="radio-1" name="radio-1" type="radio" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Radio off
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" id="radio-2" name="radio-2" type="radio" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Radio on disabled
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" disabled="disabled" id="radio-3" name="radio-3" type="radio" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Radio off disabled
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" disabled="disabled" id="radio-4" name="radio-4" type="radio" />
				</li>
			</ul>
		</div>
		<link href="styles.css" rel="stylesheet" />
		<script src="radio.js">
		</script>
	</div>
	<!-- page -->
</body>

</html>