<!DOCTYPE html>
<html>

<head>
	<link href="../../lib/tau/mobile/theme/default/tau.min.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
</head>

<body>
	<div class="ui-page">
		<header>
			<h1>
				Scroll Handler
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="scrollhandler/vertical.html">
						Vertical
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="scrollhandler/horizontal.html">
						Horizontal
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.min.js" type="text/javascript">
	</script>
</body>

</html>