<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Slider
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					Normal slider
				</li>
				<li class="ui-li-static">
					<input id="normal" max="10" min="0" name="mySlider1" type="range" value="5" />
				</li>
				<li class="ui-group-index">
					Warning slider
				</li>
				<li class="ui-li-static">
					<input data-warning="true" data-warning-level="7" id="warning" max="10" min="0" name="mySlider2" type="range" value="5" />
				</li>
				<li class="ui-group-index">
					Center slider
				</li>
				<li class="ui-li-static">
					<input data-type="center" id="center_normal" max="10" min="0" name="mySlider3" type="range" value="5" />
				</li>
				<li class="ui-li-static">
					<input data-type="center" id="center_normal-2" max="10" min="0" name="mySlider3" type="range" value="5" />
				</li>
				<li class="ui-group-index">
					Expanding slider
				</li>
				<li class="ui-li-static active" style="padding:14px 0px;">
					<input data-expand="true" max="20" min="0" type="range" value="9" />
				</li>
				<li class="ui-group-index">
					Vertical slider
				</li>
				<li class="ui-li-static vertical-list" style="height: 300px">
					<input data-expand="true" data-orientation="vertical" id="vertical_normal" max="99" min="0" name="mySlider5" type="range" value="50" />
				</li>
				<li class="ui-group-index">
					Vertical warning slider
				</li>
				<li class="ui-li-static vertical-list" style="height: 300px">
					<input data-expand="true" data-orientation="vertical" data-warning="true" data-warning-level="30" id="vertical_warning" max="99" min="0" name="mySlider6" type="range" value="50" />
				</li>
				<li class="ui-group-index">
					Vertical center slider
				</li>
				<li class="ui-li-static vertical-list" style="height: 300px">
					<input data-orientation="vertical" data-type="center" id="vertical_center_normal" max="10" min="0" name="mySlider7" type="range" value="5" />
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>