<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Slider
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview" data-colored-background="false">
				<li>
					<input id="normal" max="100" min="0" name="normalSlider1" type="range" value="40"/>
				</li>
				<li>
					<input id="normal" max="100" min="0" name="normalSlider2" type="range" value="100"/>
				</li>
				<li>
					<input id="normal" max="100" min="0" name="normalSlider3" type="range" value="0"/>
				</li>
				<li>
					<input id="normal" max="100" min="0" name="disabledSlider1" type="range" value="40" disabled/>
				</li>
				<li>
					<input id="normal" max="100" min="0" name="disabledSlider2" type="range" value="100" disabled/>
				</li>
				<li>
					<input id="normal" max="100" min="0" name="disabledSlider3" type="range" value="0" disabled/>
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>