<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<div class="ui-page" id="textinput-demo">
	<header>
		<h1>Text Input</h1>
	</header><!-- /header -->
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-group-index">
				<label for="texttype">Text Input:</label>
			</li>
			<li class="ui-li-static">
				<input type="text" name="texttype" id="texttype" placeholder="Input text here" data-clear-btn="true"/>
			</li>
			<li class="ui-group-index">
				<label for="textarea">Text Area:</label>
			</li>
			<li class="ui-li-static">
				<textarea type="text" name="textarea" id="textarea" placeholder="Input text here"></textarea>
			</li>
			<li class="ui-group-index">
				<label for="texttype2">Disabled Input:</label>
			</li>
			<li class="ui-li-static">
				<input type="text" name="texttype2" id="texttype2" placeholder="disabled text input"
					   disabled="disabled"/>
			</li>
			<li class="ui-group-index">
				<label for="textarea2">Disabled Area:</label>
			</li>
			<li class="ui-li-static">
				<textarea type="text" name="textarea2" id="textarea2" placeholder="disabled text area"
						  data-clear-btn="false" disabled="disabled"></textarea>
			</li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</body>
</html>
