<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="textinput-demo">
		<header>
			<h1>
				Text Input
			</h1>
		</header>
		<!-- /header -->
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					<label for="texttype">
						Text Input:
					</label>
				</li>
				<li class="ui-li-static">
					<input data-clear-btn="true" id="texttype" name="texttype" placeholder="Input text here" type="text" />
				</li>
				<li class="ui-group-index">
					<label for="textarea">
						Text Area:
					</label>
				</li>
				<li class="ui-li-static">
					<textarea id="textarea" name="textarea" placeholder="Input text here" type="text"></textarea>
				</li>
				<li class="ui-group-index">
					<label for="texttype2">
						Disabled Input:
					</label>
				</li>
				<li class="ui-li-static">
					<input disabled="disabled" id="texttype2" name="texttype2" placeholder="disabled text input" type="text" />
				</li>
				<li class="ui-group-index">
					<label for="textarea2">
						Disabled Area:
					</label>
				</li>
				<li class="ui-li-static">
					<textarea data-clear-btn="false" disabled="disabled" id="textarea2" name="textarea2" placeholder="disabled text area" type="text"></textarea>
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>