<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="switch-demo">
		<div class="ui-header">
			<h1>
				Toggle switch
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					1-1. Proper way of defining toggleswitch with &lt;input&gt; tag
				</li>
				<li>
					<input class="ui-toggleswitch" id="toggle-1" name="toggle-1" type="checkbox" />
				</li>
				<li class="ui-group-index">
					1-2.Proper way of definding disabled toggleswitch with &lt;input&gt; tag
				</li>
				<li>
					<input class="ui-toggleswitch" disabled="" id="toggle-2" name="toggle-2" type="checkbox" />
				</li>
				<li class="ui-group-index">
					2. Define toggleswitch based on &lt;select&gt; tag and class="ui-toggleswitch"
				</li>
				<li>
					<select class="ui-toggleswitch" id="flip-1" name="flip-1">
						<option value="off">
						</option>
						<option value="on">
						</option>
					</select>
				</li>
				<li class="ui-group-index">
					3. Define toggleswitch based on &lt;input&gt; tag with slider style
				</li>
				<li>
					<input type="checkbox" name="toggle-3" id="toggle-3" class="ui-toggleswitch" data-appearance="slider"/>
				</li>
				<li class="ui-group-index">
					3-1. Define disabled toggleswitch based on &lt;input&gt; tag with slider style
				</li>
				<li>
					<input type="checkbox" name="toggle-4" id="toggle-4" class="ui-toggleswitch" data-appearance="slider" disabled/>
				</li>
			</ul>
		</div>
		<link href="toggleswitch.css" rel="stylesheet" />
	</div>
</body>

</html>