<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="indexscrollbarPage">
		<header>
			<h1>
				Index Scrollbar
			</h1>
		</header>
		<div class="ui-indexscrollbar" id="indexscrollbar">
		</div>
		<div class="ui-content">
			<ul class="ui-listview" id="isbList">
				<li class="ui-group-index">
					A
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					B
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					C
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					D
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					E
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					F
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					G
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					H
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					I
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					J
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					K
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					L
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					M
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					N
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					O
				</li>
				<li class="ui-li-static">
					List Item 06
				</li>
				<li class="ui-li-static">
					List Item 07
				</li>
				<li class="ui-li-static">
					List Item 08
				</li>
				<li class="ui-li-static">
					List Item 09
				</li>
				<li class="ui-li-static">
					List Item 10
				</li>
				<li class="ui-group-index">
					P
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					Q
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					R
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					S
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					T
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					U
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					W
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					V
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					X
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					Y
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-group-index">
					Z
				</li>
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
			</ul>
		</div>
		<script src="indexscrollbar.js">
		</script>
	</div>
</body>

</html>