<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="header-footer-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Bottom bar
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-1-tab.html">
						Text only (1 tab)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-2-tabs.html">
						Text only (2 tabs)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-3-tabs.html">
						Text only (3 tabs)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-icon-2.html">
						Text with icon (2 buttons)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-icon-3.html">
						Text with icon (3 buttons)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-icon-4.html">
						Text with icon (4 buttons)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar-text-icon-5.html">
						Text with icon (5 buttons)
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
