<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page">
	<header>
		<h1>Progress &amp; Activity</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-group-index">Activity</li>
			<li class="ui-li-anchor"><a href="./activity.html">On layer</a></li>
			<li class="ui-li-anchor"><a href="./activitybar.html">Bar</a></li>
			<li class="ui-li-anchor"><a href="./activitycircle.html">Circle</a></li>
			<li class="ui-group-index">Progress</li>
			<li class="ui-li-anchor"><a href="./progressbar.html">Bar</a></li>
			<li class="ui-li-anchor"><a href="./progresscircle.html">Circle</a></li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</body></html>