<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page" id="progresscircle-demo">
	<header>
		<h1>Progress circle</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static">
				<div class="result" id="result"></div>
				<tau-progress type="circle" size="large" value="0" class="ui-progress" id="circle"></tau-progress>
			</li>
		</tau-coloredlistview>
	</tau-scrollview><!-- /content -->
	<div class="ui-footer" data-position="fixed">
		<tau-button id="minus" href="#" class="ui-btn">-10%</tau-button>
		<tau-button id="plus" href="#" class="ui-btn">+10%</tau-button>
	</div>
	<script src="progresscircle.js"></script>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</body></html>