<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="textinputwithbuttons-demo">
		<header>
			<h1>
				Text Input With Button
			</h1>
		</header>
		<!-- /header -->
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static ui-textinput-box-with-right-button">
					<div>
						<input data-clear-btn="true" id="texttype1" name="texttype" placeholder="Input text here" type="text" />
					</div>
					<a class="ui-btn ui-btn-icon ui-btn-nobg btn-icon-back">
					</a>
				</li>
				<li class="ui-li-static ui-textinput-box-with-right-button">
					<div>
						<input data-clear-btn="true" id="texttype2" name="texttype" placeholder="Input text here" type="text" />
					</div>
					<button data-inline="true" data-style="light">
						SEND
					</button>
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>