<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="list-styles-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Normal List
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-static">
					1line
				</li>
				<li class="ui-li-static">
					1line-sub
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-right-btn">
					1line-btn1
					<button data-inline="true">
						Text Button
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					1line-btn2
					<button data-icon="add" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					1line-toggle
					<input class="ui-toggleswitch" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-thumb">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-bigicon1
				</li>
				<li class="ui-li-static li-has-thumb">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-bigicon2
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-thumb li-has-right-btn">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-bigicon4
					<button data-inline="true">
						Text Button
					</button>
				</li>
				<li class="ui-li-static li-has-thumb li-has-right-btn">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-bigicon5
					<button data-icon="add" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-thumb li-has-right-btn">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-bigicon6
					<input class="ui-toggleswitch" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-checkbox">
					<input name="c1line-check1" type="checkbox" />
					1line-check1
				</li>
				<li class="ui-li-static li-has-checkbox li-has-right-btn">
					<input name="c1line-check2" type="checkbox" />
					1line-check2
					<div class="ui-btn" data-icon="add" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-checkbox li-has-thumb">
					<input name="c1line-check3" type="checkbox" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-check3
				</li>
				<li class="ui-li-static li-has-checkbox li-has-thumb li-has-right-btn">
					<input name="c1line-check4" type="checkbox" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-check4
					<div class="ui-btn" data-icon="add" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-radio">
					<input name="1line-radio" type="radio" />
					1line-radio1
				</li>
				<li class="ui-li-static li-has-radio li-has-right-btn">
					<input name="1line-radio" type="radio" />
					1line-radio3
					<div class="ui-btn" data-icon="add" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-radio li-has-thumb">
					<input name="1line-radio" type="radio" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					1line-radio4
				</li>
				<li class="ui-li-static li-has-radio li-has-thumb li-has-right-btn">
					<input name="1line-radio" type="radio" />
					1line-radio5
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					<div class="ui-btn" data-icon="add" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-radio li-has-thumb">
					<input name="1line-radio" type="radio" />
					1line-radio
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
				</li>
				<li class="ui-li-static li-has-multiline">
					2line
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-multiline">
					2line-2sub
					<span class="li-text-sub">
						Sub Text
					</span>
					<span class="li-text-sub2">
						Sub Text2
					</span>
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-btn1
					<span class="li-text-sub">
						Sub Text
					</span>
					<div class="ui-btn" data-inline="true">
						button
					</div>
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-btn1
					<span class="li-text-sub">
						Sub Text
					</span>
					<div class="ui-btn" data-icon="call" data-inline="true">
					</div>
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-btn2
					<span class="li-text-sub">
						Sub Text
					</span>
					<div class="ui-btn" data-icon="call" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-multiline">
					2line-icon-subtext
					<span class="li-text-sub">
						<img alt="favorite" class="li-icon-sub" src="images/00_winset_icon_favorite_on.png" />
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-toggle-setting
					<span class="li-text-sub">
						Sub Text
					</span>
					<input class="ui-toggleswitch" type="checkbox" />
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-btn-setting
					<span class="li-text-sub">
						Sub Text
					</span>
					<div class="ui-btn" data-icon="call" data-inline="true" data-style="circle">
					</div>
				</li>
				<li class="ui-li-static li-has-multiline li-has-3-lines li-has-right-btn">
					3line-btn-setting
					<span class="li-text-sub">
						Sub Text
					</span>
					<span class="li-text-sub3">
						Sub Text
					</span>
					<button data-icon="call" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-multiline li-has-right-btn">
					2line-bigicon0
					<span class="li-text-sub">
						Sub Text
						<img alt="favorite" src="images/00_winset_icon_favorite_on.png" />
					</span>
					<button data-icon="call" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-multiline li-has-thumb">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-bigicon1
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-multiline li-has-thumb">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-bigicon2
					<span class="li-text-sub">
						Sub Text
					</span>
					<span class="li-text-sub2">
						Sub Text2
					</span>
				</li>
				<li class="ui-li-static li-has-multiline li-has-thumb li-has-right-btn">
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-bigicon4
					<span class="li-text-sub">
						Sub Text
					</span>
					<button data-icon="call" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-checkbox li-has-multiline">
					<input name="c2line-check1" type="checkbox" />
					2line-check
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-checkbox li-has-multiline li-has-right-btn">
					<input name="c2line-check2" type="checkbox" />
					2line-check2
					<span class="li-text-sub">
						Sub Text
					</span>
					<button data-icon="call" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-checkbox li-has-multiline li-has-thumb">
					<input name="c2line-check3" type="checkbox" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-check3
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-radio li-has-multiline">
					<input name="2line-radio" type="radio" />
					2line-radio1
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-radio li-has-multiline li-has-thumb">
					<input name="2line-radio" type="radio" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-radio2
					<span class="li-text-sub">
						Sub Text
					</span>
				</li>
				<li class="ui-li-static li-has-multiline li-thumbnail-right li-has-thumb">
					2line-thumb1
					<span class="li-text-sub">
						Sub Text
					</span>
					<img alt="Photo ID" class="li-thumb li-thumb-circle" src="images/large_thumbnail.jpg" />
				</li>
				<li class="ui-li-static li-has-progress">
					With Progress bar
					<div class="ui-progress" data-type="bar" id="progressbar">
					</div>
				</li>
				<li class="ui-li-static li-has-checkbox li-has-multiline li-has-thumb li-has-right-btn">
					<input name="c2line-icon-bigicon-btn" type="checkbox" />
					<img alt="icon" class="li-thumb li-thumb-circle" src="images/thumbnail.jpg" />
					2line-3items
					<span class="li-text-sub">
						Sub Text
					</span>
					<button data-icon="call" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static">
					<input data-clear-btn="true" placeholder="Text Input" type="text" />
				</li>
			</ul>
		</div>
	</div>
</body>

</html>