<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Main Tab</span>
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="./main-tab-2-items.html">
						2 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./main-tab-3-items.html">
						3 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./main-tab-4-items.html">
						4 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./main-tab-5-items.html">
						5 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./main-tab-2-with-appbar.html">
						2 elements with App Bar
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
