<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<link href="./main-tab-sample.css" rel="stylesheet" />
		<div class="ui-content ui-tabs" data-change-duration="0">
			<div class="ui-section-changer">
				<div>
					<section class="ui-section-active">
						<div class="ui-content-area app-full-height">
							One
						</div>
					</section>
					<section>
						<div class="ui-content-area app-full-height">
							Two
						</div>
					</section>
				</div>
			</div>
		</div>
		<footer>
			<div class="ui-main-tab">
				<ul>
					<li class="ui-li-anchor">
						<a class="ui-tab-active" href="#">
							One
						</a>
					</li>
					<li class="ui-li-anchor">
						<a href="#">
							Two
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
</body>

</html>