<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
	<tau-page id="radio-demo" class="ui-page">
		<div class="ui-header" data-position="fixed">
			<h1>Radio</h1>
		</div>
		<tau-scrollview class="ui-content">
			<tau-listview class="ui-listview">
				<li class="ui-group-index">
					<div>Choose a pet:</div>
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Cat</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-choice" id="cat" value="choice-1" checked="checked" is="tau-radio">
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Dog</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-choice" id="dog" value="choice-2" is="tau-radio">
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Hamster</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-choice" id="hamster" value="choice-3" is="tau-radio">
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Lizard</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-choice" id="lizard" value="choice-4" is="tau-radio">
				</li>
				<li>
					<div class="radio-result">The Active Radio is ...</div>
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Checked, Disabled</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-1" id="radio-1" checked="checked" disabled="disabled" is="tau-radio">
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Disabled</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-2" id="radio-2" disabled="disabled" is="tau-radio">
				</li>
				<li class="ui-li-flex">
				<span class="ui-li-area ui-li-area-a">
					<span class="ui-li-text">
						<span>Unchecked</span>
					</span>
				</span>
					<input class="ui-li-area-b" name="radio-3" id="radio-3" is="tau-radio">
				</li>
			</tau-listview>
		</tau-scrollview>
		<link rel="stylesheet" href="styles.css">
		<script src="radio.js"></script>
	</tau-page> <!-- page -->


</body></html>