<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<tau-page class="ui-page">
	<header>
		<h1>Scroll Handler</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-anchor"><a href="scrollhandler/vertical.html">Vertical</a></li>
			<li class="ui-li-anchor"><a href="scrollhandler/horizontal.html">Horizontal</a></li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>


</body></html>