<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="switch-demo">
	<div class="ui-header">
		<h1>Toggle switch</h1>
	</div>

	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-group-index">
				1-1. Proper way of definding toggleswitch with &lt;input&gt; tag
			</li>
			<li>
				<tau-toggleswitch name="toggle-1" id="toggle-1" class="ui-toggleswitch"></tau-toggleswitch>
			</li>
			<li class="ui-group-index">
				1-2.Proper way of definding disabled toggleswitch with &lt;input&gt; tag
			</li>
			<li>
				<tau-toggleswitch name="toggle-2" id="toggle-2" class="ui-toggleswitch" disabled></tau-toggleswitch>
			</li>
			<li class="ui-group-index">
				2. Define toggleswitch based on &lt;select&gt; tag and class=&quot;ui-toggleswitch&quot;
			</li>
			<li>
				<tau-toggleswitch name="flip-1" id="flip-1" class="ui-toggleswitch">
					<option value="off"></option>
					<option value="on"></option>
				</tau-toggleswitch>
			</li>
		</tau-coloredlistview>
	</tau-scrollview>
	<link rel="stylesheet" href="toggleswitch.css">
</tau-page>


</body></html>