#virtuallist-normal_1line_ul li .ui-li-text-main {
	max-width:95%;
	display:inline-block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	font-size: 2em;
	color: grey;
}

#virtuallist-normal_1line-btn1_ul li .ui-li-text-main {
	max-width:60%;
	display:inline-block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#virtuallist-normal_1line-bigicon5_ul li .ui-li-text-main {
	max-width:75%;
	display:inline-block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#virtuallist-normal_2line-star1_ul > li .ui-li-text-main {
	max-width:95%;
	display:inline-block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#virtuallist-normal_2line-star1_ul > li .ui-li-text-sub2 {
	max-width:60%;
	width: auto;
	top: 49px;
}
#virtuallist-normal_2line-star1_ul > li .ui-li-icon-sub {
	vertical-align: middle;
}

/*************************************************
				Listview
**************************************************/
.ui-listview .li-direction-from {
	background-color: #ffffa0;
	float: left;
	clear: right;
	max-width: 80%;
	min-width: 50%;
}
.ui-listview .li-direction-to {
	background-color: #a0ffff;
	float: right;
	clear: left;
	max-width: 80%;
	min-width: 50%;
}
.li-text-main {
	display: block;
	margin-top: 15px;
}
.li-text-sub {
	font-size: 10px;
	color: #d0d0d0;
}
.send-footer {
	display: flex;
	align-items: center;
}
.send-footer input {
	flex: 4;

}
.send-footer button {
	flex: 1;
}
