<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div data-role="page" class="ui-page" id="demo-i3d-page">
	<script type="text/javascript" src="../../../lib/tau/libs/tau.i3d.js"></script>
	<div class="ui-header" data-position="fixed">
		<h1>Interactive 3D</h1>
	</div>
	<div class="ui-content">
		<div class="ui-i3d"
			width="320"
			height="240"
			position="0 0 0"
			scale="50 50 50"
			rotation="0 -90 0"
			light="0xbbbbbb 0x000000 2"
			controls
			autoplay
			src="assets/Duck.gltf">
		</div>
	</div>
</div>
</body>
</html>
