<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="gallery-page">
	<div class="ui-header" data-position="fixed">
		<h1>Gallery</h1>
	</div>
	<div id="gallerySection" class="ui-content ui-section-changer" data-scroll="none" data-orientation="horizontal">
		<div>
			<section class="gallery-section">
				<img src="images/01.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/02.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/03.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/04.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/05.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/06.jpg" />
			</section>
			<section class="gallery-section">
				<img src="images/07.jpg" />
			</section>
		</div>
	</div>
	<div class="ui-footer" data-position="fixed">
		<a id="add" href="#" class="ui-btn">ADD</a>
		<a id="delete" href="#" class="ui-btn">DELETE</a>
	</div>
	<script src="gallery.js"></script>
</div>
</body>
</html>
