<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="gallery-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Gallery
			</h1>
		</div>
		<div class="ui-content ui-section-changer" data-orientation="horizontal" data-scroll="none" id="gallerySection">
			<div>
				<section class="gallery-section">
					<img src="images/01.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/02.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/03.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/04.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/05.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/06.jpg" />
				</section>
				<section class="gallery-section">
					<img src="images/07.jpg" />
				</section>
			</div>
		</div>
		<div class="ui-footer" data-position="fixed">
			<a class="ui-btn" href="#" id="add">
				ADD
			</a>
			<a class="ui-btn" href="#" id="delete">
				DELETE
			</a>
		</div>
		<script src="gallery.js">
		</script>
	</div>
</body>

</html>