<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Description with image
			</h1>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
				<select class="theme-changer" data-native-menu="false" style="display: none">
					<option value="light">
						Light Theme
					</option>
					<option value="dark" class="ui-dropdown-two-lines">
						Dark Theme
					</option>
				</select>
			</div>
		</header>
		<div class="ui-content">
			<span class="ui-description ui-description-2-pane">
				<div class="ui-container ui-pane ui-c-1 ui-r-1-3" style="height: 200px">
					<img src="../../images/Thumbnail/thumbnail_011.jpg" />
				</div>

				<span class="ui-pane ui-pane-text ui-c-2 ui-r-1">
					This function allows you to share files between NFC-capable devices by holding them close together. Android
					Beam will turn on Bluetooth on both devices and instantly pair them. For example, you can share webpage
					links <a href="www.samsung.com">www.samsung.com</a>
				</span>

				<ul class="ui-listview ui-content-area ui-pane ui-c-2 ui-r-2">
					<li class="ui-li-divider">
						<div class="ui-li-text">
							<span class="ui-li-text-title">
								Main text 01
							</span>
							<span class="ui-li-text-sub ui-li-text-value">
								Value text
							</span>
						</div>
					</li>
					<li class="ui-li-divider">
						<div class="ui-li-text">
							<span class="ui-li-text-title">
								Main text 02
							</span>
							<span class="ui-li-text-sub ui-li-text-value">
								Value text
							</span>
						</div>
					</li>
				</ul>
			</span>
		</div>
	</div>
	<script src="../../js/app.js"></script>
</body>

</html>
