<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="select-theme-demo-page">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Select theme
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider ui-li-has-radio">
					<input id="light" name="theme-choice" type="radio" value="light" />
						<div class="ui-li-text">
							<span class="ui-li-text-title" for="light">
								light
							</span>
						</div>
				</li>
				<li class="ui-li-has-radio">
					<input id="dark" name="theme-choice" type="radio" value="dark" />
						<div class="ui-li-text">
							<span class="ui-li-text-title" for="dark">
								dark
							</span>
						</div>
				</li>
			</ul>
		</div>
		<script src="themes.js"></script>
	</div>
</body>

</html>
