<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="select-theme-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Select theme
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-flex">
					<label class="ui-li-area ui-li-area-a" for="light">light</label>
					<input class="ui-li-area-b" id="light" name="theme-choice" type="radio" value="light" />
				</li>
				<li class="ui-li-flex">
					<label class="ui-li-area ui-li-area-a" for="dark">dark</label>
					<input class="ui-li-area-b" id="dark" name="theme-choice" type="radio" value="dark" />
				</li>
			</ul>
		</div>
		<script src="themes.js"></script>
	</div>
</body>

</html>