<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://sample-web-application.tizen.org/Settings" version="1.0.0" viewmodes="fullscreen">
	<tizen:application id="d234567811.Settings" package="d234567811" required_version="2.3"/>
	<content src="index.html"/>
	<icon src="icon.png"/>
	<name>Settings</name>
	<feature name="http://tizen.org/feature/screen.size.normal"/>
	<tizen:profile name="wearable" />
	<tizen:setting hwkey-event="enable"/>
</widget>
