<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<h1>
				Fonts
			</h1>
		</header>
		<div class="ui-content" style="line-height: normal; padding: 7px">
			assumption: 1sp = 1px<br>
            Font Name : Roboto - Light
			<div style="font-family: Roboto-Light">
				<div style="font-size: 10px;">Roboto-Light 10sp</div>
				<div style="font-size: 11px;">Roboto-Light 11sp</div>
				<div style="font-size: 12px;">Roboto-Light 12sp</div>
				<div style="font-size: 13px;">Roboto-Light 13sp</div>
				<div style="font-size: 14px;">Roboto-Light 14sp</div>
				<div style="font-size: 15px;">Roboto-Light 15sp</div>
				<div style="font-size: 16px;">Roboto-Light 16sp</div>
				<div style="font-size: 17px;">Roboto-Light 17sp</div>
				<div style="font-size: 18px;">Roboto-Light 18sp</div>
				<div style="font-size: 19px;">Roboto-Light 19sp</div>
				<div style="font-size: 20px;">Roboto-Light 20sp</div>
				<div style="font-size: 21px;">Roboto-Light 21sp</div>
				<div style="font-size: 22px;">Roboto-Light 22sp</div>
				<div style="font-size: 23px;">Roboto-Light 23sp</div>
				<div style="font-size: 24px;">Roboto-Light 24sp</div>
				<div style="font-size: 25px;">Roboto-Light 25sp</div>
				<div style="font-size: 26px;">Roboto-Light 26sp</div>
				<div style="font-size: 27px;">Roboto-Light 27sp</div>
				<div style="font-size: 28px;">Roboto-Light 28sp</div>
				<div style="font-size: 29px;">Roboto-Light 29sp</div>
				<div style="font-size: 30px;">Roboto-Light 30sp</div>
				<div style="font-size: 31px;">Roboto-Light 31sp</div>
				<div style="font-size: 32px;">Roboto-Light 32sp</div>
				<div style="font-size: 33px;">Roboto-Light 33sp</div>
				<div style="font-size: 34px;">Roboto-Light 34sp</div>
				<div style="font-size: 35px;">Roboto-Light 35sp</div>
				<div style="font-size: 36px;">Roboto-Light 36sp</div>
				<div style="font-size: 37px;">Roboto-Light 37sp</div>
				<div style="font-size: 38px;">Roboto-Light 38sp</div>
				<div style="font-size: 39px;">Roboto-Light 39sp</div>
				<div style="font-size: 40px;">Roboto-Light 40sp</div>
			</div>
			<br>

            Font Name : Roboto - Regular
			<div style="font-family: Roboto-Regular">
				<div style="font-size: 10px;">Roboto-Regular 10sp</div>
				<div style="font-size: 11px;">Roboto-Regular 11sp</div>
				<div style="font-size: 12px;">Roboto-Regular 12sp</div>
				<div style="font-size: 13px;">Roboto-Regular 13sp</div>
				<div style="font-size: 14px;">Roboto-Regular 14sp</div>
				<div style="font-size: 15px;">Roboto-Regular 15sp</div>
				<div style="font-size: 16px;">Roboto-Regular 16sp</div>
				<div style="font-size: 17px;">Roboto-Regular 17sp</div>
				<div style="font-size: 18px;">Roboto-Regular 18sp</div>
				<div style="font-size: 19px;">Roboto-Regular 19sp</div>
				<div style="font-size: 20px;">Roboto-Regular 20sp</div>
				<div style="font-size: 21px;">Roboto-Regular 21sp</div>
				<div style="font-size: 22px;">Roboto-Regular 22sp</div>
				<div style="font-size: 23px;">Roboto-Regular 23sp</div>
				<div style="font-size: 24px;">Roboto-Regular 24sp</div>
				<div style="font-size: 25px;">Roboto-Regular 25sp</div>
				<div style="font-size: 26px;">Roboto-Regular 26sp</div>
				<div style="font-size: 27px;">Roboto-Regular 27sp</div>
				<div style="font-size: 28px;">Roboto-Regular 28sp</div>
				<div style="font-size: 29px;">Roboto-Regular 29sp</div>
				<div style="font-size: 30px;">Roboto-Regular 30sp</div>
				<div style="font-size: 31px;">Roboto-Regular 31sp</div>
				<div style="font-size: 32px;">Roboto-Regular 32sp</div>
				<div style="font-size: 33px;">Roboto-Regular 33sp</div>
				<div style="font-size: 34px;">Roboto-Regular 34sp</div>
				<div style="font-size: 35px;">Roboto-Regular 35sp</div>
				<div style="font-size: 36px;">Roboto-Regular 36sp</div>
				<div style="font-size: 37px;">Roboto-Regular 37sp</div>
				<div style="font-size: 38px;">Roboto-Regular 38sp</div>
				<div style="font-size: 39px;">Roboto-Reg 39sp</div>
				<div style="font-size: 40px;">Roboto-Reg 40sp</div>
			</div>
			<br>

            Font Name : Roboto - Medium
			<div style="font-family: Roboto-Medium">
				<div style="font-size: 10px;">Roboto-Medium 10sp</div>
				<div style="font-size: 11px;">Roboto-Medium 11sp</div>
				<div style="font-size: 12px;">Roboto-Medium 12sp</div>
				<div style="font-size: 13px;">Roboto-Medium 13sp</div>
				<div style="font-size: 14px;">Roboto-Medium 14sp</div>
				<div style="font-size: 15px;">Roboto-Medium 15sp</div>
				<div style="font-size: 16px;">Roboto-Medium 16sp</div>
				<div style="font-size: 17px;">Roboto-Medium 17sp</div>
				<div style="font-size: 18px;">Roboto-Medium 18sp</div>
				<div style="font-size: 19px;">Roboto-Medium 19sp</div>
				<div style="font-size: 20px;">Roboto-Medium 20sp</div>
				<div style="font-size: 21px;">Roboto-Medium 21sp</div>
				<div style="font-size: 22px;">Roboto-Medium 22sp</div>
				<div style="font-size: 23px;">Roboto-Medium 23sp</div>
				<div style="font-size: 24px;">Roboto-Medium 24sp</div>
				<div style="font-size: 25px;">Roboto-Medium 25sp</div>
				<div style="font-size: 26px;">Roboto-Medium 26sp</div>
				<div style="font-size: 27px;">Roboto-Medium 27sp</div>
				<div style="font-size: 28px;">Roboto-Medium 28sp</div>
				<div style="font-size: 29px;">Roboto-Medium 29sp</div>
				<div style="font-size: 30px;">Roboto-Medium 30sp</div>
				<div style="font-size: 31px;">Roboto-Medium 31sp</div>
				<div style="font-size: 32px;">Roboto-Medium 32sp</div>
				<div style="font-size: 33px;">Roboto-Medium 33sp</div>
				<div style="font-size: 34px;">Roboto-Medium 34sp</div>
				<div style="font-size: 35px;">Roboto-Medium 35sp</div>
				<div style="font-size: 36px;">Roboto-Medium 36sp</div>
				<div style="font-size: 37px;">Roboto-Medium 37sp</div>
				<div style="font-size: 38px;">Roboto-Med 38sp</div>
				<div style="font-size: 39px;">Roboto-Med 39sp</div>
				<div style="font-size: 40px;">Roboto-Med 40sp</div>
			</div>

			<br>
		</div>
	</div>
</body>

</html>

