<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page">
	<header>
		<h1>Activity bar</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static">
				<tau-progress type="activitybar" class="ui-progress"></tau-progress>
			</li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</body></html>