<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page" id="progressbar-demo">
	<header>
		<h1>Progress bar</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static ui-li-has-progress">
				<tau-progress type="bar" value="50" id="progressbar" class="ui-progress"></tau-progress>
			</li>
			<li class="ui-li-static ui-li-has-progress-with-labels">
				<tau-progress type="bar" value="50" id="progressbar2" class="ui-progress"></tau-progress>
				<div class="ui-progress-bar-label-left-bottom">Lorem</div>
				<div class="ui-progress-bar-label-right-top">Lorem</div>
				<div class="ui-progress-bar-label-right-bottom">Lorem</div>
			</li>
			<li class="ui-li-static ui-li-has-progress">
				<tau-progress type="activitybar" id="progressbar3" class="ui-progress"></tau-progress>
			</li>
			<li class="ui-li-static ui-li-has-progress-with-labels">
				<tau-progress type="activitybar" id="progressbar4" class="ui-progress"></tau-progress>
				<div class="ui-progress-bar-label-left-bottom">Lorem</div>
				<div class="ui-progress-bar-label-right-top">Lorem</div>
				<div class="ui-progress-bar-label-right-bottom">Lorem</div>
			</li>
		</tau-coloredlistview>
	</tau-scrollview><!-- /content -->
	<script src="progressbar.js"></script>
</tau-page><!-- /page -->
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>


</body></html>