<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="FabButtonDemo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Floating action button
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li>
					Floating action button
					<button data-icon="add" data-style="fab"></button>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>