@font-face {
	font-family: "Tizen";
	font-weight: 200;
	font-stretch: condensed;
	src: url(./fonts/SamsungOneUI-LightCondensed.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: normal;
	font-stretch: condensed;
	src: url(./fonts/SamsungOneUI-RegularCondensed.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: bold;
	font-stretch: condensed;
	src: url(./fonts/SamsungOneUI-MediumCondensed.ttf) format('truetype')
}

@font-face {
	font-family: "Tizen";
	font-weight: 200;
	font-stretch: normal;
	src: url(./fonts/SamsungOneUI-Light.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: normal;
	font-stretch: normal;
	src: url(./fonts/SamsungOneUI-Regular.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: bold;
	font-stretch: normal;
	src: url(./fonts/SamsungOneUI-Medium.ttf) format('truetype')
}
