.ui-page {
	background-color: rgb(11,32,50);
}

/** SELECTOR: indicator arrow */
.ui-selector .ui-selector-indicator-arrow::before {
	background-color: #fafafa;
}
.ui-selector .ui-selector-indicator-arrow::after {
	background-color: #fafafa;
}
.ui-selector .ui-selector-indicator .description {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ui-selector .ui-selector-indicator .title {
	color: #080808;
	font-size: 28px;
	line-height: 37px;
}
.ui-selector .ui-selector-indicator .status {
	color: #12b4ff;
	font-size: 24px;
	line-height: 32px;
}

.ui-selector .ui-layer .ui-item {
	background-color: #8e8e8e;
}
.ui-selector .ui-layer .ui-item.ui-item-active {
	background-color: #236ea5;
}
.ui-selector .ui-layer .ui-item::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
}
.ui-selector .ui-layer .ui-item.on::before {
	background-color: rgb(255, 255, 255);
}
.ui-selector .ui-layer .ui-item::before {
	background-color: rgba(255, 255, 255, 0.35);
}
.wifi-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_wifi_on.png);
}
.location-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_location_on.png);
}
.mute-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_mute_on.png);
}
.mobile-data-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_mobile_data_on.png);
}
.blocking-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_blocking_on.png);
}
.power-saving-icon::before {
	-webkit-mask-image: url(../images/b_instant_setting_power_saving_on.png);
}