/************************
Listview
*************************/
@list_item_min_height: 100 * @unit_base;
@list_item_anchor_padding: 20 * @unit_base 8 * @unit_base 20 * @unit_base 16 * @unit_base;
@list_item_padding: 15 * @unit_base 8 * @unit_base 15 * @unit_base 16 * @unit_base;
@font_size_list_item: 32 * @unit_base;
@list_anchor_margin: -26 * @unit_base -8 * @unit_base -26 * @unit_base -16 * @unit_base;
