<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="pageFloatingButton">
	<div class="ui-floatingactions" data-position="right-1st-icon">
		<button class="ui-floatingactions-item" data-icon="floating-add"/>
	</div>
</div><!-- page -->
</body>
</html>
