@charset "UTF-8";
/* CSS Document */
#testcasepage div,
#testcasepage h1,
#testcasepage p,
#testcasepage table,
#testcasepage tr,
#testcasepage th,
#testcasepage td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 0.96em;
  font-family: arial;
  vertical-align: baseline;
}

#testcasepage p {
  text-align: left;
}

#suite_title {
  text-align: left;
}

#btc {
  text-align: right;
}

#testcasepage table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1.4em;
  vertical-align: middle;
}

#testcasepage th,
#testcasepage td {
  text-align: left;
  font-weight: normal;
  padding: 4px 10px 4px 5px;
  vertical-align: middle;
}

#cases table {
  width: 101%;
}

#fail_cases table {
  width: 101%;
}

#title table {
  width: 101%;
}

#device table {
  width: 50%;
}

#summary table {
  width: 50%;
}

#testcasepage th {
  border-bottom: 1px solid #000;
  background-color: #AAAAAA;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  color: #000;
  font-weight: bold;
  vertical-align: bottom;
}

#testcasepage th:last-child,
#testcasepage td:last-child {
  border-right: 1px solid #000;
}

#testcasepage td {
  border-left: 1px solid;
  font-weight: normal;
  border-bottom: 1px solid;
}

#testcasepage td.yellow_rate {
  background-color: #ffcc00;
}

#testcasepage td.green_rate {
  background-color: #33cc33;
}

#testcasepage td.dgreen_rate {
  background-color: #339933;
}

#testcasepage td.red_rate {
  background-color: #FF3333;
}

#title table,
#title tr,
#title td {
  border-left: none;
  border-bottom: none;
  text-align: center;
}

#title td:last-child {
  border-right: none;
}

#testcasepage h1 {
  font-size: 2em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #000;
  margin-bottom: 0.75em;
  padding-top: 0.25em;
  font-weight: bold;
}

#goTopBtn {
  right: 0px;
  bottom: 0px;
  position: fixed; +position: absolute;
  top: expression(parseInt(document.body.scrollTop) + document.body.clientHeight - 40);
}
