.content-area {
	padding: 22px;
	margin-bottom: 10px;
}

.content-header, .content-footer {
	line-height: 17px;
	font-size: 13px;
	width: 100%;
}

.content-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.hour-container {
	display: flex;
	align-items: baseline;
}

.hour-value {
	font-size: 38px;
	font-family: 'Roboto-Light';
}

.hour-signature {
	margin-left: 4px;
}

.action-container {
	display: flex;
}

.content-footer {
	color: var(--text-secondary-color);
}

.date-text {
	font-size: 12px;
	margin: auto 12px;
	color: var(--text-secondary-color);
}

.popup-list a{
	text-decoration: none;
}

.day-indicator {
	width: 91px;
	height: 16px;
	line-height: 16px;
	margin: auto 12px;
	font-size: 12px;
}

.day-control {
	width: 13px;
	height: 16px;
	color: var(--text-secondary-color);
	font-size: 12px;
	text-align: center;
	font-family: 'Roboto-Regular';
	display: inline-block;
	
}

.day-control-active {
	color: var(--primary-dark-color);
	font-family: "Roboto-Medium";
}

.day-control-active::before {
	content: "";
	width: 2.5px;
	height: 2.5px;
	background-color: var(--primary-dark-color);
	border-radius: 50%;
	display: block;
	position: relative;
	top: 1px;
	margin: auto;
}
