<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/tv/js/tau.js"></script>
	<title>Progress Bar</title>
</head>

<body>
	<div class="ui-page" id="progress-circle-appbar-page">
		<header>
			<div class="ui-appbar-controls-container">
				<div class="ui-appbar-left-icons-container">
					<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
				</div>
				<div class="ui-progress" data-type="indeterminatecircle"></div>
			</div>
			<h1>
				Progress Circle in AppBar
			</h1>
		</header>
		<div class="ui-content"></div>
	</div>
	<!-- /page -->
</body>

</html>
