.ui-grid {
	padding: 0;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow: hidden;
	background-color: @color_grid_bg;
	&.ui-hidden {
		display: none;
	}
	li {
		transition-property: border-radius, -webkit-mask-size, mask-size;
		transition-duration: 450ms;
		transition-timing-function: linear;
		position: absolute;
		overflow: hidden;
		transform-style: preserve-3d;

		a {
			position: relative;

			&:active:hover:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: @color_grid_item_press;
			}
		}
	}

	&.ui-grid-horizontal {
		height: 360 * @unit_base;

		li {
			transform-origin: left center;
		}

		&.ui-grid-rectangle {
			li {
				mask-size: 360 * @unit_base auto;
				mask-image: url('images/Grid/tw_basic_grid_horizontal.png');
			}
		}
	}

	&.ui-grid-vertical {
		width: 360 * @unit_base;

		li {
			transform-origin: center top;
		}

		&.ui-grid-rectangle {
			li {
				mask-size: auto 360 * @unit_base;
				mask-image: url('images/Grid/tw_basic_grid_vertical.png');
			}
		}
	}

	&.ui-grid-circle {
		li {
			border-radius: 100%;
		}
	}

	&.ui-grid-rectangle {
		li {
			border-radius: 18 * @unit_base;
			mask-position: center;
			mask-repeat: no-repeat;
		}
	}

	// Gallery mode: Thumbnail 3x3
	&.ui-grid-3x3 {
		&.ui-children-positioned li.ui-positioned {
			position: absolute;
			left: 0;
			top: 0;
			margin: 0 !important;
		}
		height: 360 * @unit_base;
		li {
			width: 360 * @unit_base;
			height: 360 * @unit_base;
			position: absolute;
			display: inline-block;
			&.ui-selected {
				transform-origin: left center;
			}
			a {
				display: inline-block;
			}
		}
		.thumb {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}
	// Gallery mode: Image
	&.ui-grid-image {
		padding: 0;
		li {
			transform-origin: center center;
			width: 360 * @unit_base;
			height: 360 * @unit_base;
			overflow: hidden;
			a {
				display: inline-block;
			}
		}
		.thumb {
			width: 360 * @unit_base;
			height: 360 * @unit_base;
			position: relative;
		}
	}
	&.ui-grid-thumbnail {
		background-color: @color_grid_thumbnail_bg;

		&.ui-grid-rectangle {
			&.ui-grid-horizontal {
				li {
					mask-size: 224 * @unit_base auto;
				}
			}

			&.ui-grid-vertical {
				li {
					mask-size: auto 224 * @unit_base;
				}
			}
		}
	}
}

.ui-grid-container {
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-scroll-snap-type: mandatory;
	scroll-snap-type: mandatory;
	-webkit-scroll-snap-destination: 50% 50%;
	scroll-snap-destination: 50% 50%;

	.ui-image-section {
		width: 360 * @unit_base;
		height: 360 * @unit_base;
	}

	.snap-point {
		width: 1 * @unit_base;
		height: 1 * @unit_base;
		position: absolute;
		-webkit-scroll-snap-coordinate: 50% 50%;
		scroll-snap-coordinate: 50% 50%;
		visibility: hidden;
	}

	&.ui-grid-horizontal {
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		height: 360 * @unit_base;

		.snap-point {
			top: 50%;
		}
	}

	&.ui-grid-vertical {
		overflow-x: hidden;
		overflow-y: scroll;
		width: 360 * @unit_base;
		height: 100%;

		.snap-point {
			left: 50%;
		}
	}
}
