//***************************************
// Popup Transition
//***************************************
.ui-popup {
	&.slideup.in {
		animation-name: popupslideinfrombottom;
		animation-duration: 250ms;
		transition-timing-function: ease-in-out;
	}
	&.slideup.out {
		animation-name: popupslideouttobottom;
		animation-duration: 250ms;
		animation-fill-mode: forwards;
		transition-timing-function: ease-in-out;
	}
}

@keyframes popupslideinfrombottom {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes popupslideouttobottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

.ui-popup {
	&.pop.in {
		animation-name: popuppopin;
		animation-duration: 350ms;
		transition-timing-function: ease-in-out;
	}
	&.pop.out {
		animation-name: popuppopout;
		animation-duration: 350ms;
		transition-timing-function: ease-in-out;
	}
}

@keyframes popuppopin {
	from {
		transform: scale3d(1.35, 1.35, 1);
		opacity: 0;
	}
	to {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@keyframes popuppopout {
	from {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
	to {
		transform: scale3d(1.35, 1.35, 1);
		opacity: 0;
	}
}

//***************************************
// Toast Popup Transition
//***************************************
.ui-popup.ui-popup-toast {
	&.pop.in {
		animation-name: toastpopuppopin;
		animation-duration: 250ms;
		transition-timing-function: ease-in-out;
	}
	&.pop.out {
		animation-name: toastpopuppopout;
		animation-duration: 250ms;
		animation-fill-mode: forwards;
		transition-timing-function: ease-in-out;
	}
}

@keyframes toastpopuppopin {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes toastpopuppopout {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}

//***************************************
// Popup Overlay Transition
//***************************************
.ui-popup-overlay {
	&.slideup.in, &.pop.in {
		animation: fadein 250ms;
	}
	&.slideup.out, &.pop.out {
		animation: fadeout 250ms forwards;
	}
}

//***************************************
// Option Popup Transition
//***************************************
.ui-popup.ui-popup-arrow-t,
.ui-popup.ui-popup-arrow-l,
.ui-popup.ui-popup-arrow-r {
	&.slideup.in {
		animation: ctxpopupslideinfrombottom 250ms ease-in-out;
	}
	&.slideup.out {
		animation: ctxpopupslideouttobottom 250ms ease-in-out;
	}
}

.ui-popup.ui-popup-arrow-b {
	&.slideup.in {
		animation: ctxpopupslideinfromtop 250ms ease-in-out;
	}
	&.slideup.out {
		animation: ctxpopupslideouttotop 250ms ease-in-out;
	}
}

@keyframes ctxpopupslideinfrombottom {
	from {
		transform: translateY(20%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes ctxpopupslideouttobottom {
	from {
		transform: translateY(0%);
		opacity: 1;
	}
	to {
		transform: translateY(20%);
		opacity: 0;
	}
}

@keyframes ctxpopupslideinfromtop {
	from {
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes ctxpopupslideouttotop {
	from {
		transform: translateY(0%);
		opacity: 1;
	}
	to {
		transform: translateY(-20%);
		opacity: 0;
	}
}

