/***********************
Processing
***********************/
/**
 * @count_of_cols - how many sprites in one row
 * @xsize - size of transition on x axis to next sprite
 * @ysize - size of transition on y axis to next row of sprites
 * @count - counter variable for while loop, loop is ending when count = 0;
 * @totalCount - count for 100% of animation
 */
.sprite(@count_of_cols, @xsize, @ysize, @count, @totalCount) when (@count > 0) {
	.sprite(@count_of_cols, @xsize, @ysize, (@count - 1), @totalCount);
	@timePercentage: round((100/(@totalCount - 1)) * (@count - 1)) * 1%;
	@{timePercentage} {
		mask-position: (mod((@count - 1), @count_of_cols) * @xsize)  (floor((@count - 1) / @count_of_cols)) * @ysize;
	}
}

@keyframes smallprocess {
	.sprite(7, -76 * @unit_base, -76 * @unit_base, 60, 60);
}

@keyframes fullprocess {
	.sprite(1, 0, -6 * @unit_base, 5, 5);
}

.ui-processing {
	background-color: @color_processing;
	mask-image: url("./images/Processing/processingsmall.png");
	mask-repeat: no-repeat;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
	animation-name: smallprocess;

	width: 76 * @unit_base;
	height: 76 * @unit_base;
	margin: 0 auto;

	&.ui-processing-full-size {
		mask-image: url("./images/Processing/processing_bar.png");
		animation-name: fullprocess;
		width: 100%;
		height: 6 * @unit_base;
		margin-top: 6 * @unit_base;
		margin-bottom: 6 * @unit_base;
		max-width: 316 * @unit_base;
	}

	&.ui-hidden {
		display: none;
	}
}

.ui-processing-text {
	margin: 0 auto;
	text-align: center;
	width: 168 * @unit_base;
	font-size: 24 * @unit_base;
	color: @color_processing_text;
}

