.ui-spin {
	position: relative;
	display: inline-block;
	height: 60 * @px_base;
	background-color: transparent;
	overflow: hidden;
	font-size: 22 * @px_base;
	padding: 0;
	box-sizing: content-box;
	width: 80 * @px_base;
	&-item {
		background-color: transparent;
		width: 100%;
		height: 30 * @px_base;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgba(77, 207, 255, 1);
		user-select: none;

		&-selected {
			font-size: 30 * @px_base;
			height: 30 * @px_base;
			color: rgba(255, 255, 255, 1);
		}
	}
	&-carousel-item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&-enabling {
		height: 100%;
		.ui-spin-item {
			transition: 300ms opacity linear;
		}
	}
	&-placeholder {
		opacity: 0;
		pointer-events: none;
	}
}
