<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<h1>Text Enveloper</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-anchor"><a href="textenveloper.html">Simple</a></li>
			<li class="ui-li-anchor"><a href="textenveloper-selectable.html">Selectable</a></li>
			<li class="ui-li-anchor"><a href="textenveloper-static.html">Static</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</body>
</html>
