<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page textenveloper-page" data-dom-cache="true">
	<div class="ui-header" data-position="fixed">
		<h1>Text Enveloper</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static">
				<div class="ui-text-enveloper" data-selectable="false" data-group-on-blur="false">
					<div class="ui-text-enveloper-start">To :</div>
				</div>
			</li>
			<li class="ui-li-static">List 1</li>
			<li class="ui-li-static">List 2</li>
			<li class="ui-li-static">List 3</li>
		</ul>
	</div>
	<script src="textenveloper.js"></script>
</div>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>
</body>
</html>
