<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<script type="text/javascript" src="../snippet.js"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link href="../styles.css" rel="StyleSheet" type="text/css">
	<link href="../snippet.css" rel="StyleSheet" type="text/css">
	<title>{{title}}{{version}}</title>
</head>
<body id="content">

<h2>{{title}} Structure Design</h2>
<h3>Overview</h3>
<table cellspacing="0" style="width: 100%; border-top: solid 1px rgb(191, 191,
191); border-left: solid 1px rgb(191, 191, 191)">
	<tr>
		<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">Component</th>
		<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">Module</th>
		<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">Description</th>
	</tr>
	<tr>
		<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">{{title}}</td>
		<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">{{namespace}}</td>
		<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">{{{brief}}}</td>
	</tr>
</table>

{{#showMethods}}
	<h3>Structure</h3>
	<table cellspacing="0" style="width: 100%; border-top: solid 1px rgb(191, 191,
191); border-left: solid 1px rgb(191, 191, 191)">
		<tr>
			<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb
		(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">Class</th>
			<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">API</th>
			<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">New Development /Modification / Reuse</th>
			<th style="background: rgb(242, 242, 242); border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">Description</th>
		</tr>
		{{#methods}}
			{{#isPublic}}
				<tr>
					{{#first}}
						<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)" rowspan="{{methodsCount}}">{{namespaceShort}}</td>
					{{/first}}
					<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">{{name}}</td>
					<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">New Development</td>
					<td style="border-bottom: solid 1px rgb(191, 191,
		191);border-right: solid 1px rgb(191, 191, 191)">{{{brief}}}</td>
				</tr>
			{{/isPublic}}
		{{/methods}}
	</table>
{{/showMethods}}
</body>
</html>