<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" data-role="page" id="demo-popup-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				General Dialogs
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#2-btn-popup">
						2 Button Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#1-btn-2level-popup">
						1 Button Title 2level description Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#1-btn-checkbox-popup">
						1 Button Title Checkbox Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#2-btn-notitle-popup">
						2 Button No Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#0-btn-title-popup">
						0 Button Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#listview-popup">
						2 Button Title List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#listview-popup-2">
						1 Button Title Detailview Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#3-btn-popup">
						3 Button Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#3-stackbtn-popup">
						3 StackButton Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#0-btn-selectlist-popup">
						0 Button Title Select List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#0-btn-selectlist-popup">
						1 Button Title Single Choice List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#0-btn-selectlist-popup">
						1 Button Title Single Choice Description List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#0-btn-selectlist-popup">
						1 Button Title Multi Choice Dialog
					</a>
				</li>
			</ul>
			<div class="ui-popup" id="2-btn-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Action1
					</a>
					<a class="ui-btn" data-rel="back">
						Action2
					</a>
				</div>
			</div>
			<div class="ui-popup" id="1-btn-2level-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Action button
					</a>
				</div>
			</div>
			<div class="ui-popup" id="1-btn-checkbox-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					<br />
					<input checked="" type="checkbox" />
					Do not show again
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Action
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2-btn-notitle-popup">
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Action1
					</a>
					<a class="ui-btn" data-rel="back">
						Action2
					</a>
				</div>
			</div>
			<div class="ui-popup" id="0-btn-title-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
			</div>
			<div class="ui-popup" id="listview-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li>
							<a href="#">
								List item 1
							</a>
						</li>
						<li>
							<a href="#">
								List item 2
							</a>
						</li>
						<li>
							<a href="#">
								List item 3
							</a>
						</li>
						<li>
							<a href="#">
								List item 4
							</a>
						</li>
						<li>
							<a href="#">
								List item 5
							</a>
						</li>
						<li>
							<a href="#">
								List item 6
							</a>
						</li>
						<li>
							<a href="#">
								List item 7
							</a>
						</li>
						<li>
							<a href="#">
								List item 8
							</a>
						</li>
						<li>
							<a href="#">
								List item 9
							</a>
						</li>
						<li>
							<a href="#">
								List item 10
							</a>
						</li>
						<li>
							<a href="#">
								List item 11
							</a>
						</li>
						<li>
							<a href="#">
								List item 12
							</a>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="listview-popup-2">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-inline="true" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="3-btn-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-3">
					<a class="ui-btn" data-rel="back">
						Action1
					</a>
					<a class="ui-btn" data-rel="back">
						Action2
					</a>
					<a class="ui-btn" data-rel="back">
						Action3
					</a>
				</div>
			</div>
			<div class="ui-popup" id="3-stackbtn-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Action1
					</a>
					<a class="ui-btn" data-rel="back">
						Action2
					</a>
					<a class="ui-btn" data-rel="back">
						Action3
					</a>
				</div>
			</div>
			<div class="ui-popup" id="0-btn-selectlist-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li>
							<a href="#">
								List item 1
							</a>
						</li>
						<li>
							<a href="#">
								List item 2
							</a>
						</li>
						<li>
							<a href="#">
								List item 3
							</a>
						</li>
						<li>
							<a href="#">
								List item 4
							</a>
						</li>
						<li>
							<a href="#">
								List item 5
							</a>
						</li>
						<li>
							<a href="#">
								List item 6
							</a>
						</li>
						<li>
							<a href="#">
								List item 7
							</a>
						</li>
						<li>
							<a href="#">
								List item 8
							</a>
						</li>
						<li>
							<a href="#">
								List item 9
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>