<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" data-role="page" id="demo-popup-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				General Dialogs
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#2-btn-popup">
						2 Button Basic Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#2level-desc-dialog">
						Title + 2level description Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#checkbox-dialog">
						Checkbox Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#no-title-dialog">
						No Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#no-action-dialog">
						No Action Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#listview-dialog">
						List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#list-detailview-dialog">
						List Detailview Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#3-btn-title-dialog">
						3 Button Title Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#3-stacked-btn-dialog">
						3 Stacked Buttons Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#select-dialog">
						Select Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#single-choice-list-dialog">
						Single Choice List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#single-choice-desc-list-dialog">
						Single Choice Description List Dialog
					</a>
				</li>
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#multi-choice-dialog">
						Multi Choice Dialog
					</a>
				</li>
			</ul>
			<div class="ui-popup" id="2-btn-popup">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action 1</button>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">Action 2</button>
				</div>
			</div>
			<div class="ui-popup" id="2level-desc-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
					<div class="ui-popup-2level-description">
						<div><span>&#8226;</span>Mobile payment service</div>
						<div><span>&#8226;</span>Tag read & write</div>
						<div><span>&#8226;</span>Identify and access</div>
					</div>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action Button</button>
				</div>
			</div>
			<div class="ui-popup" id="checkbox-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					<div class="ui-popup-body-text ui-popup-body-checkbox">
						<ul class="ui-listview ui-content-area">
							<li class="ui-li-has-checkbox">
								<input checked="checked" class="checkboxes" name="checkbox-1" type="checkbox" />
								<div class="ui-li-text">
									<span class="ui-li-text-title" id="checkbox-text-1">
										Do not show again
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action</button>
				</div>
			</div>
			<div class="ui-popup" id="no-title-dialog">
				<div class="ui-popup-content ui-popup-notitle">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action 1</button>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">Action 2</button>
				</div>
			</div>
			<div class="ui-popup" id="no-action-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
			</div>
			<div class="ui-popup" id="listview-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview ui-content-area">
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-title">
									Mail name (11)
								</span>
								<span class="ui-li-text-sub">
									account01@samsung.com
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-title">
									Combined view (121)
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-title">
									Mail title
								</span>
								<span class="ui-li-text-sub">
									account02@samsung.com
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action 1</button>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">Action 2</button>
				</div>
			</div>
			<div class="ui-popup" id="list-detailview-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview ui-content-area">
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-sub">
									Name
								</span>
								<span class="ui-li-text-title">
									Winter.jpg
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-sub">
									Size
								</span>
								<span class="ui-li-text-title">
									2.5MB(2,345,907 bytes)
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-sub">
									Last modified
								</span>
								<span class="ui-li-text-title">
									18/11/2019 18:11
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-sub">
									Contains
								</span>
								<span class="ui-li-text-title">
									20 files
								</span>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<span class="ui-li-text-sub">
									Path
								</span>
								<span class="ui-li-text-title">
									/storage/pictures/spring.jpg
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action</button>
				</div>
			</div>
			<div class="ui-popup" id="3-btn-title-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action 1</button>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">Action 2</button>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">Action 3</button>
				</div>
			</div>
			<div class="ui-popup" id="3-stacked-btn-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<div class="ui-popup-stack">
						<button class="ui-btn" data-style="flat">Action button Number one</button>
						<button class="ui-btn" data-style="flat">Action button two</button>
						<button class="ui-btn" data-style="flat">Action the third</button>
					</div>
				</div>
			</div>
			<div class="ui-popup" id="select-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li>
							<div class="ui-li-text">
								<a class="ui-li-text-title" data-rel="back">
									List
								</a>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<a class="ui-li-text-title" data-rel="back">
									Detailed list
								</a>
							</div>
						</li>
						<li>
							<div class="ui-li-text">
								<a class="ui-li-text-title" data-rel="back">
									Grid
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="ui-popup" id="single-choice-list-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview ui-content-area">
						<li class="ui-li-has-radio">
							<input type="radio" id="radio-id" name="radio" checked="checked" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="radio-text-1">
									List
								</span>
							</div>
						</li>
						<li class="ui-li-has-radio">
							<input type="radio" id="radio-id" name="radio" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="radio-text-2">
									Detailed list
								</span>
							</div>
						</li>
						<li class="ui-li-has-radio">
							<input type="radio" id="radio-id" name="radio" />
							<div class="ui-li-text">
								<span class="ui-li-text-title">
									Grid
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action</button>
				</div>
			</div>
			<div class="ui-popup" id="single-choice-desc-list-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					<div class="ui-popup-body-text">
						<ul class="ui-listview ui-content-area">
							<li class="ui-li-has-radio">
								<input type="radio" id="radio-1" name="radio-group" checked="checked" />
								<div class="ui-li-text">
									<span class="ui-li-text-title" id="radio-text-1">
										Never timeout
									</span>
								</div>
							</li>
							<li class="ui-li-has-radio">
								<input type="radio" id="radio-2" name="radio-group" />
								<div class="ui-li-text">
									<span class="ui-li-text-title" id="radio-text-2">
										5 Minutes
									</span>
								</div>
							</li>
							<li class="ui-li-has-radio">
								<input type="radio" id="radio-3" name="radio-group" />
								<div class="ui-li-text">
									<span class="ui-li-text-title">
										10 Minutes
									</span>
								</div>
							</li>
							<li class="ui-li-has-radio">
								<input type="radio" id="radio-4" name="radio-group" />
								<div class="ui-li-text">
									<span class="ui-li-text-title">
										20 Minutes
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action</button>
				</div>
			</div>
			<div class="ui-popup" id="multi-choice-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview ui-content-area">
						<li class="ui-li-has-checkbox">
							<input checked="checked" class="checkboxes" name="checkbox-1" type="checkbox" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="checkbox-text-1">
									Time
								</span>
							</div>
						</li>
						<li class="ui-li-has-checkbox">
							<input class="checkboxes" name="checkbox-2" type="checkbox" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="checkbox-text-2">
									Type
								</span>
							</div>
						</li>
						<li class="ui-li-has-checkbox">
							<input class="checkboxes" name="checkbox-3" type="checkbox" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="checkbox-text-3">
									Name
								</span>
							</div>
						</li>
						<li class="ui-li-has-checkbox">
							<input class="checkboxes" name="checkbox-4" type="checkbox" />
							<div class="ui-li-text">
								<span class="ui-li-text-title" id="checkbox-text-4">
									Size
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<button class="ui-btn" data-style="flat">Action</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>