<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>

	<link rel="stylesheet" type="text/css" href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" type="text/css" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Buddy</title>
	<link rel="stylesheet" type="text/css" href="./css/widget/radial-listview.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>

	<!-- data file needs to be added before main script -->
	<script src="js/buddy.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<!-- Start of page: #one -->
	<div class="ui-page ui-page-active" id="one" data-enable-page-scroll="false">
		<div class="ui-content">
			<ul class="ui-radial-listview" id="buddy-list">
				<li><span class="ui-photo"></span><span class="ui-title">Aden Miller</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Alford Steve</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Allen Jerome</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Allen Lucius</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Allen Randy</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Allen Tony</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Allred Lance</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Bailey Carl</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Bailey James</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Baker Mark</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Baker Vin</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Barnes Matt</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Caffey Jason</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Calloway Rick</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Camby Marcus</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Carr Chris</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Carr Kenny</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Carroll Anthony</span></li>
				<li><span class="ui-photo"></span><span class="ui-title">Carter Matt</span></li>
			</ul>
		</div>
		<script type="text/javascript" src="./lib/tau/js/tau.js"></script>
	<script type="text/javascript" src="./js/widget/RadialListview.js" data-build-remove="false"></script>

</body>
</html>
