<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="FlatButtonsDemo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Flat buttons
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					Flat button text
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button
					<button data-inline="true" data-style="flat">Button</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button disabled
					<button data-inline="true" data-style="flat" disabled>Button</button>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>