<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>

<div class="ui-page" id="ButtonDemo">
	<div class="ui-header" data-position="fixed">
		<h1>Buttons</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-group-index">Basic Box Buttons</li>
			<li class="ui-li-static li-has-right-btn">Button<button data-inline="true">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button data-inline="true" data-icon="arrow-r">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button data-inline="true" data-icon="arrow-r" data-iconpos="left">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button data-inline="true" data-icon="call" data-iconpos="right">Button</button></li>

			<li class="ui-group-index">Box Buttons Layout</li>
			<li class="ui-li-static ui-li-has-btn">
				<button>Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button>Normal</button>
				<button>Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button>Button</button>
				<button>Button</button>
				<button>Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button data-icon="info"></button>
				<button data-icon="info"></button>
				<button data-icon="info"></button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button data-icon="info">Button</button>
				<button data-icon="info">Button</button>
			</li>

			<li class="ui-group-index">Circle Buttons</li>
			<li class="ui-li-static li-has-right-btn">Add<button data-inline="true" data-icon="add" data-style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Delete<button data-inline="true" data-icon="delete" data-style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Cancel<button data-inline="true" data-icon="cancel" data-style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Reorder<button data-inline="true" data-icon="reorder" data-style="circle"></button></li>

			<li class="ui-group-index">No Background Buttons</li>
			<li class="ui-li-static li-has-right-btn">Add<button data-inline="false" data-icon="add" data-style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Delete<button data-inline="true" data-icon="delete" data-style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Cancel<button data-inline="true" data-icon="cancel" data-style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Reorder<button data-inline="true" data-icon="reorder" data-style="nobg"></button></li>

			<li class="ui-group-index">Icon Buttons</li>
			<li class="ui-li-static li-has-right-btn">data-icon = "arrow-l" <button data-inline="true" data-icon="arrow-l"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "arrow-r" <button data-inline="true" data-icon="arrow-r"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "arrow-u" <button data-inline="true" data-icon="arrow-u"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "arrow-d" <button data-inline="true" data-icon="arrow-d"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "delete" <button data-inline="true" data-icon="delete"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "check" <button data-inline="true" data-icon="check"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "gear" <button data-inline="true" data-icon="gear"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "refresh" <button data-inline="true" data-icon="refresh"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "forward" <button data-inline="true" data-icon="forward"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "back" <button data-inline="true" data-icon="back"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "grid" <button data-inline="true" data-icon="grid"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "info" <button data-inline="true" data-icon="info"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "home" <button data-inline="true" data-icon="home"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = "alert" <button data-inline="true" data-icon="alert"></button></li>

			<li class="ui-group-index">Text Buttons</li>
			<li class="ui-li-anchor"><a href="textButton.html">Text Buttons </a></li>
		</ul>
	</div>
</div>

</body>
</html>
