<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="ButtonDemo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Buttons
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-group-index">
					Basic Box Buttons
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button
					<button data-inline="true">
						Button
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button
					<button data-icon="arrow-r" data-inline="true">
						Button
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button
					<button data-icon="arrow-r" data-iconpos="left" data-inline="true">
						Button
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Button
					<button data-icon="call" data-iconpos="right" data-inline="true">
						Button
					</button>
				</li>
				<li class="ui-group-index">
					Box Buttons Layout
				</li>
				<li class="ui-li-static ui-li-has-btn">
					<button>
						Button
					</button>
				</li>
				<li class="ui-li-static ui-li-has-btn">
					<button>
						Normal
					</button>
					<button>
						Button
					</button>
				</li>
				<li class="ui-li-static ui-li-has-btn">
					<button>
						Button
					</button>
					<button>
						Button
					</button>
					<button>
						Button
					</button>
				</li>
				<li class="ui-li-static ui-li-has-btn">
					<button data-icon="info">
					</button>
					<button data-icon="info">
					</button>
					<button data-icon="info">
					</button>
				</li>
				<li class="ui-li-static ui-li-has-btn">
					<button data-icon="info">
						Button
					</button>
					<button data-icon="info">
						Button
					</button>
				</li>
				<li class="ui-group-index">
					Circle Buttons
				</li>
				<li class="ui-li-static li-has-right-btn">
					Add
					<button data-icon="add" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Delete
					<button data-icon="delete" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Cancel
					<button data-icon="cancel" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Reorder
					<button data-icon="reorder" data-inline="true" data-style="circle">
					</button>
				</li>
				<li class="ui-group-index">
					No Background Buttons
				</li>
				<li class="ui-li-static li-has-right-btn">
					Add
					<button data-icon="add" data-inline="false" data-style="nobg">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Delete
					<button data-icon="delete" data-inline="true" data-style="nobg">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Cancel
					<button data-icon="cancel" data-inline="true" data-style="nobg">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					Reorder
					<button data-icon="reorder" data-inline="true" data-style="nobg">
					</button>
				</li>
				<li class="ui-group-index">
					Icon Buttons
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "arrow-l"
					<button data-icon="arrow-l" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "arrow-r"
					<button data-icon="arrow-r" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "arrow-u"
					<button data-icon="arrow-u" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "arrow-d"
					<button data-icon="arrow-d" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "delete"
					<button data-icon="delete" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "check"
					<button data-icon="check" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "gear"
					<button data-icon="gear" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "refresh"
					<button data-icon="refresh" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "forward"
					<button data-icon="forward" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "back"
					<button data-icon="back" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "grid"
					<button data-icon="grid" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "info"
					<button data-icon="info" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "home"
					<button data-icon="home" data-inline="true">
					</button>
				</li>
				<li class="ui-li-static li-has-right-btn">
					data-icon = "alert"
					<button data-icon="alert" data-inline="true">
					</button>
				</li>
				<li class="ui-group-index">
					Text Buttons
				</li>
				<li class="ui-li-anchor">
					<a href="textButton.html">
						Text Buttons
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>