<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="button-page">
	<div id="top">
		<div id="intro1">
			<img src="images/1.jpg">
			<p>Tanu Malhotra</p>
			<p>Sunday.m.acb.com</p>
			<input type="checkbox" name="c1line-check1" class="favorite" checked />
			<input type="checkbox" name="c1line-check1" class="favorite" checked />
		</div>
		<div id="intro2">
			<button id="details" data-inline="true" data-style="light">DETAILS</button>
			<p>Tue,19 Jan. 2014 9:15 AM</p>
		</div>
	</div>
	<div id="calendar">
		<button id="today" data-inline="true" data-style="dark">TODAY</button>
		<div id="title"> January 2015</div>
		<div id="days-names">
			<ul>
				<li>Sun</li>
				<li>Mon</li>
				<li>Tue</li>
				<li>Wed</li>
				<li>Thu</li>
				<li>Fri</li>
				<li>Sat</li>
			</ul>
		</div>
		<div id="days">
			<ul>
				<li>27</li>
				<li>28</li>
				<li>29</li>
				<li>30</li>
				<li>31</li>
				<li>1</li>
				<li>2</li>

				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>

				<li>10</li>
				<li>11</li>
				<li>12</li>
				<li>13</li>
				<li>14</li>
				<li>15</li>
				<li>16</li>

				<li>17</li>
				<li>18</li>
				<li>19</li>
				<li>20</li>
				<li>21</li>
				<li>22</li>
				<li>23</li>

				<li>24</li>
				<li>25</li>
				<li>26</li>
				<li>27</li>
				<li>28</li>
				<li>29</li>
				<li>30</li>

				<li>31</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
