<!DOCTYPE html>
<html>
<!--
	Template contains one page with Gallery widget.
	The Gallery widget has three modes:
	 - gallery
	 - view
	 - thumbnail
	The Gallery widget has public methods:
	 - add(url, index)
	 - remove(index)
	 - mode(type)
	 - changeIndex(index)
	 - getIndex()
-->
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet"
		  media="all and (-tizen-geometric-shape: circle)"
		  href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Image Gallery</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body>
	<!-- Start of first page: #one -->
	<div class="ui-page" id="one" data-enable-page-scroll="false">
		<div class="ui-content">
			<ul id="gallery" class="ui-gallery">
				<li><a href="#"><img src="images/default/gallery_default_image_01.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_02.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_03.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_04.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_05.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_06.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_07.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_08.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_09.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_10.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_11.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_12.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_13.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_14.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_01.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_02.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_03.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_04.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_05.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_06.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_07.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_08.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_09.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_10.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_11.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_12.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_13.jpg"/></a></li>
				<li><a href="#"><img src="images/default/gallery_default_image_14.jpg"/></a></li>
			</ul>
		</div>
	</div><!-- /page one -->

	<script src="./lib/tau/js/tau.js"></script>
	<!-- Tool for animation scroll on rotary event -->
	<script src="./js/animated-scroll.js"></script>
	<!-- Tool for create animation on object properties -->
	<script src="./js/util/animated-items.js"></script>
	<!--
		Load custom gallery widget
	-->
	<script src="./js/widget/gallery.js"></script>
	<!-- route rule for gallery widget -->
	<script src="./js/widget/route/gallery.js"></script>
	<!--
		Main application.
	-->
	<script src="./js/main.js"></script>
</body>
</html>
