html,body {
	margin: 0;
	padding: 0;
}

html {

}

body {
	background: #ffffff url(raster.gif) no-repeat;

}
#testdiv {
	background: yellow;
	width: 300px;
	height: 100px;
}
#writeroot {
	margin: 10px 0;
	padding: 10px 0;
}

.query {
	display: none;
}

li {
	margin-bottom: 10px;
}

p span {
	display: block;
	border: 1px solid red;
	width: 50%;
}
