<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-details-page" id="page-details-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Detail
			</h1>
			<a class="ui-header-btn ui-header-btn-left ui-header-btn-icon btn-icon-back" data-rel="back">
			</a>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-details">
				<li class="ui-li-static">
					File name
					<span class="li-text-sub">
						20150603_12345
					</span>
				</li>
				<li class="ui-li-static">
					File format
					<span class="li-text-sub">
						JPEG
					</span>
				</li>
				<li class="ui-li-static">
					File size
					<span class="li-text-sub">
						5.0MB
					</span>
				</li>
				<li class="ui-li-static">
					File resolution
					<span class="li-text-sub">
						720x1280
					</span>
				</li>
				<li class="ui-li-static">
					Date
					<span class="li-text-sub">
						Wed, 03/06/2015 3:00PM
					</span>
				</li>
				<li class="ui-li-static">
					Location
					<span class="li-text-sub">
						Seoul, Korea
					</span>
				</li>
				<li class="ui-li-static">
					Latitude
					<span class="li-text-sub">
						Unknown
					</span>
				</li>
				<li class="ui-li-static">
					Longitude
					<span class="li-text-sub">
						Unknown
					</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- page -->
</body>

</html>