<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="recommendations-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Recommendations
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="emptystate/index.html">
						Empty state
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="welcome.html">
						Welcome page
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="detailList.html">
						Detail List
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="footer/three-bottom-buttons.html">
						3 bottom buttons
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="textinputwithbutton.html">
						Text Input With Button
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>