<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<div class="ui-page" id="textinputwithbuttons-demo">
	<header>
		<h1>Text Input With Button</h1>
	</header><!-- /header -->
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static ui-textinput-box-with-right-button">
				<div>
					<input type="text" name="texttype" id="texttype1"
						   placeholder="Input text here"
						   data-clear-btn="true"/>
				</div>
				<a class="ui-btn ui-btn-icon ui-btn-nobg btn-icon-back"></a>
			</li>
			<li class="ui-li-static ui-textinput-box-with-right-button">
				<div>
					<input type="text" name="texttype" id="texttype2" placeholder="Input text here"
						   data-clear-btn="true"/>
				</div>
				<button data-inline="true" data-style="light">SEND</button>
			</li>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</body>
</html>
