<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-welcome-page" id="page-welcome-page">
		<div class="ui-content">
			<img class="ui-welcome-icon" src="../../css/images/icon-browser.png" />
			<h1 class="ui-welcome-primary-text">
				Welcome
			</h1>
			<h2 class="ui-welcome-secondary-text">
				Samsung Smart Switch is a faster and
				easy-to-use tool for moving content to
				your new device from another device.
			</h2>
		</div>
		<div class="ui-footer" data-position="fixed">
			<button class="ui-btn-welcome">
				Next
			</button>
		</div>
	</div>
	<!-- page -->
</body>

</html>