<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page ui-welcome-page" id="page-welcome-page">
	<div class="ui-content">
		<img src="../../css/images/icon-browser.png" class="ui-welcome-icon" />
		<h1 class="ui-welcome-primary-text">Welcome</h1>
		<h2 class="ui-welcome-secondary-text">
			Samsung Smart Switch is a faster and
			easy-to-use tool for moving content to
			your new device from another device.
		</h2>
	</div>
	<div class="ui-footer" data-position="fixed">
		<button class="ui-btn-welcome">Next</button>
	</div>
</div><!-- page -->
</body>
</html>
