<!DOCTYPE html><html><head>
    <link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="list-styles-page">
	<div class="ui-header" data-position="fixed">
		<h1>On-Off elements</h1>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-left">CANCEL</a>
		<a class="ui-header-btn ui-header-btn-text ui-header-btn-right">DONE</a>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 01
				<input name="c1line-check1" class="favorite" disabled is="tau-checkbox">
				<input name="c1line-check1" class="favorite" is="tau-checkbox">
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 02
				<input name="c1line-check1" class="favorite" checked disabled is="tau-checkbox">
				<input name="c1line-check1" class="favorite" checked is="tau-checkbox">
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 03
				<input name="c1line-check1" disabled is="tau-checkbox">
				<input name="c1line-check1" is="tau-checkbox">
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-checkbox">
				List Item 04
				<input name="c1line-check1" checked disabled is="tau-checkbox">
				<input name="c1line-check1" checked is="tau-checkbox">
			</li>
			<li class="ui-li-static li-has-radio li-has-right-radio">
				List Item 05
				<input name="1line-radio" disabled is="tau-radio">
				<input name="1line-radio" is="tau-radio">
			</li>
			<li class="ui-li-static li-has-radio li-has-right-radio">
				List Item 06
				<input name="1line-radio-disabled" checked disabled is="tau-radio">
				<input name="1line-radio" checked is="tau-radio">
			</li>
			<li class="ui-li-static li-has-right-btn">
				List Item 07
				<tau-toggleswitch class="ui-toggleswitch" checked disabled></tau-toggleswitch>
				<tau-toggleswitch class="ui-toggleswitch" checked></tau-toggleswitch>
			</li>
			<li class="ui-li-static li-has-right-btn">
				List Item 08
				<tau-toggleswitch class="ui-toggleswitch" disabled></tau-toggleswitch>
				<tau-toggleswitch class="ui-toggleswitch"></tau-toggleswitch>
			</li>
			<li class="ui-li-static">
				List Item 09
			</li>
			<li class="ui-li-static">
				List Item 10
			</li>
		</tau-listview>
	</tau-scrollview>
</tau-page>


</body></html>