// variables specific for dark theme
    @primary-dark-color: #3e91ff;
    @text-color: @color-white;
    @text-secondary-color: #999999;
    @ripple-color: @_white;
    @color-black: #080808;
    @button-backgrund-opacity: 17%;
    @ripple-opacity: 20%;
    @ripple-button-flat-opacity: 20%;
    @control-active-disabled-opacity: 40%;
    @background-color: @color-black;
    @background-area-color: #252525;
    @tab-text-color: #a8a9a9;
    @tab-text-opacity: 40%;
    @overlay-color: @_black;
    @overlay-opacity: 65%;
    @popup-background-color: @background-area-color;
    @popup-text-color: #e5e5e5;
    @popup-text-secondary-color: #999999;
    @popup-footer-divider-color: fade(#e6e6e6, 20%);
    @popup-scroll-divider-color: fade(#d4d4d4, 18%);
    @icon-color: #d9d9d9;
    @more-options-pressed-color: @_white;
    @more-options-pressed-opacity: 20%;

    @dropdown-list-box-shadow-color-1: fade(@_black, 35%);
    @dropdown-list-box-shadow-color-2: fade(@_black, 10%);

    @appbar-main-text-color: @color-white;
    @appbar-sub-title-color: #9c9c9c;
    @appbar-multiline-title-color: #e5e5e5;

    @bottom-bar-color: #010101;
    @button-icon-color: @color-white;
    @bottom-button-icon-color: #cccccc;

    @sub-tab-bg-color: #010101;
    @sub-tab-text-color: #999999;
    @sub-tab-active-text-color: @_white;
    @sub-tab-border-color: @_white;
    @sub-tab-border-opacity: 60%;

    @on-off-switch-off-disabled-button-border: #3b3b3b;
    @on-off-switch-on-disabled-button-border: #3b3b3b;
    @on-off-switch-on-disabled-button-background: #858585;
    @on-off-switch-divider-color: #d4d4d4;
    @on-off-switch-divider-opacity: 15%;

    @master-on-off-off-color: fade(@color-white, 17%);
    @master-on-off-on-color: fade(@control-active-color, 32%);

    @chip-background-color: @background-area-color;
    @chip-border-color: #fafafa;

    @expandable-text-color: #9c9c9c;
    @checkbox-off-border-color: #8f8f8f;
    @checkbox-favorite-color: #f5ab00;
    @slider-handler-disabled-color: #545454;
    @slider-scale-dot: #808080;

    @button-background-contained:  @color-white;
    @text-input-invalid-color: #ff6666;
    @search-bar-bg-color: fade(@color-white, 17%);

    @dropdown-menu-options-border: 0.75 * @px_base solid #525252;
    @dropdown-menu-options-background: #3d3d3d;
    @dropdown-menu-options-color: @color-white;

    @list-item-selected-color: fade(@color-white, 10%);
    @divider-color: #d4d4d4;
    @divider-opacity: 15%;
    @subheader-divider-color: @color-white;

    @text-no-item-color: fade(@text-secondary-color, 68%);
    @text-no-item-desc-color: fade(@text-secondary-color, 64%);

    @grid-border-color: fade(@color-white, 25%);
    @grid-label-color: @color-white;
    @grid-label-secondary-color: @text-secondary-color;

    @expander-color: #808080;
    @reorder-color: #808080;
    @holder-reoder-background: @background-area-color;
    @holder-reoder-border: @primary-dark-color;

    @pull-down-refresh-bg-color: @background-area-color;
    @pull-down-refresh-shadow-1-color: fade(@_black, 35%);
    @pull-down-refresh-shadow-2-color: fade(@_black, 10%);

    @spin-item-opacity: 0.2;
    @calendar-weekend-color: #993d3d;
    @calendar-text-color: #cccccc;
    @calendar-arrow-color: #737373;
    @calendar-select-text-color: @_black;
