// variables specific for light theme
    @primary-dark-color: #0072de;
    @text-color: #252525;
    @text-secondary-color: #909090;
    @ripple-color: @_black;
    @button-backgrund-opacity: 6%;
    @ripple-opacity: 10%;
    @ripple-button-flat-opacity: 10%;
    @control-active-disabled-opacity: 40%;
    @tab-text-color: #858585;
    @tab-text-opacity: 40%;
    @color-black: #000000;
    @background-color: #F2F2F2;
    @background-area-color: #fcfcfc;
    @overlay-color: @_black;
    @overlay-opacity: 45%;
    @popup-background-color: @background-area-color;
    @popup-text-color: #505050;
    @popup-text-secondary-color: #8f8f8f;
    @popup-footer-divider-color: #e6e6e6;
    @popup-scroll-divider-color: #d4d4d4;
    @icon-color: #3b3b3b;
    @more-options-pressed-color: @_black;
    @more-options-pressed-opacity: 10%;

    @dropdown-list-box-shadow-color-1: fade(@_black, 15%);
    @dropdown-list-box-shadow-color-2: fade(@_black, 4%);

    @appbar-main-text-color: @text-color;
    @appbar-sub-title-color: #636363;
    @appbar-multiline-title-color: @text-color;

    @bottom-bar-color: @background-color;
    @button-icon-color: @text-color;
    @bottom-button-icon-color: #454545;

    @sub-tab-bg-color: @background-color;
    @sub-tab-text-color: #858585;
    @sub-tab-active-text-color: @text-color;
    @sub-tab-border-color: #717171;
    @sub-tab-border-opacity: 80%;

    @expandable-text-color: #666666;
    @checkbox-off-border-color: #8f8f8f;
    @checkbox-favorite-color: #f5ab00;
    @slider-handler-disabled-color: #d2d2d2;
    @slider-scale-dot: #9c9c9c;

    @on-off-switch-off-disabled-button-border: #d0d0d0;
    @on-off-switch-on-disabled-button-border: #d0d0d0;
    @on-off-switch-on-disabled-button-background: @color-white;
    @on-off-switch-divider-color: #c4c4c4;
    @on-off-switch-divider-opacity: 100%;
    @master-on-off-off-color: @color-white;
    @master-on-off-on-color: #aad2fa;

    @chip-background-color: #e5e5e5;
    @chip-border-color: #252525;

    @button-background-contained: @_black;
    @text-input-invalid-color: #b00020;
    @search-bar-bg-color: fade(@color-black, 5%);

    @dropdown-menu-options-border: 0.25 * @px_base solid #cccccc;
    @dropdown-menu-options-background: @popup-background-color;
    @dropdown-menu-options-color: @_black;

    @list-item-selected-color: fade(@primary-color, 8%);
    @divider-color: #e6e6e6;
    @divider-opacity: 100%;
    @subheader-divider-color: #979797;

    @grid-border-color: fade(@color-black, 12%);
    @grid-label-color: @text-color;
    @grid-label-secondary-color: #666666;

    @expander-color: #747474;
    @reorder-color: #747474;
    @holder-reoder-background: @background-area-color;
    @holder-reoder-border: @primary-dark-color;

    @pull-down-refresh-bg-color: @color-white;
    @pull-down-refresh-shadow-1-color: fade(@_black, 15%);
    @pull-down-refresh-shadow-2-color: fade(@_black, 4%);

    @spin-item-opacity: 0.1;
    @calendar-weekend-color: #d77e7e;
    @calendar-text-color: #454545;
    @calendar-arrow-color: #8e8e8e;
    @calendar-select-text-color: @color-white;
