// variables specific for light theme
    @primary-dark-color: #0072de;
    @text-secondary-color: #909090;
    @ripple-color: @_black;
    @button-backgrund-opacity: 6%;
    @ripple-opacity: 10%;
    @ripple-button-flat-opacity: 10%;
    @control-active-disabled-opacity: 40%;
    @tab-text-color: #858585;
    @tab-text-opacity: 40%;
    @color-black: #000000;
    @background-color: #F2F2F2;
    @background-area-color: #fcfcfc;
    @overlay-color: @_black;
    @overlay-opacity: 45%;
    @popup-background-color: @background-area-color;
    @popup-text-color: #505050;
    @icon-color: #3b3b3b;
    @more-options-pressed-color: @_black;
    @more-options-pressed-opacity: 10%;
    @appbar-main-text-color: #252525;
    @appbar-sub-title-color: #636363;
    @appbar-multiline-title-color: #252525;
    @bottom-bar-color: @background-color;
    @button-icon-color: #252525;
    @bottom-button-icon-color: #454545;

    @text-color: #252525;
    @expandable-text-color: #666666;
    @checkbox-off-border-color: #8f8f8f;
    @checkbox-favorite-color: #f5ab00;
    @slider-handler-disabled-color: #d2d2d2;
    @on-off-switch-off-disabled-button-border: #d0d0d0;
    @on-off-switch-on-disabled-button-border: #d0d0d0;
    @on-off-switch-on-disabled-button-background: @color-white;
    @on-off-switch-divider-color: #c4c4c4;
    @on-off-switch-divider-opacity: 100%;
    @master-on-off-off-color: @color-white;
    @master-on-off-on-color: fade(@control-active-color, 80%);

    @button-background-contained: @_black;
    @text-input-invalid-color: #b00020;
    @dropdown-menu-options-border: 1 * @px_base solid #cccccc;
    @dropdown-menu-options-background: @popup-background-color;
    @dropdown-menu-options-color: @_black;

    @list-item-selected-color: fade(@primary-color, 8%);
    @divider-color: #e6e6e6;
    @divider-opacity: 100%;
    @subheader-divider-color: #979797;
    @expander-url: url('images/6_Lists/tw_expander_close_mtrl_alpha_light.9.png');
