<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="expandable-page-js">
		<header>
			<h1>
				Expandable List
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview" id="expandable-list">
			</ul>
		</div>
		<footer>
			<div class="ui-btn" id="delete-btn-expand">
				-
			</div>
			<div class="ui-btn" id="add-btn-expand">
				+
			</div>
			<div class="ui-btn" id="delete-btn-small-expand">
				small -
			</div>
			<div class="ui-btn" id="add-btn-small-expand">
				small +
			</div>
		</footer>
		<script src="expandable-js.js" type="text/javascript">
		</script>
	</div>
</body>

</html>