<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Map</title>

	<link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body>
<!-- Start of first page: #main -->
<div class="ui-page ui-page-active ui-header-large" id="main">
	<div class="ui-content">
		<div id="image"></div>
		<ul class="ui-listview">
			<li class="label ui-listview-divider">
				By Foursquare
			</li>
			<li class="title">
				Honest kitchen
			</li>
			<li class="rating">
				<div class="star"></div>
			</li>
			<li  class="category">
				_Category name_
			</li>
			<li class="route">
				<img src="images/b_map_route_b.png">
				<span> Route</span>
			</li>
			<li class="address">
				Country hall 76th <br>
				London
			</li>
		</ul>
	</div>
</div>

<!-- tau library needs to be added before main and application script -->
<script type="text/javascript" src="lib/tau/js/tau.js"></script>
<script src="js/main.js"></script>
</body>

</html>
