<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<h1>Bottom Button</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
		</tau-coloredlistview>
	</tau-scrollview>
	<div class="ui-footer" data-position="fixed">
		<button is="tau-formbutton">Normal</button>
		<button disabled="disabled" is="tau-formbutton">Disabled</button>
	</div>
</tau-page>


</body></html>