/* Header */
.btn-icon-back:after {
   -webkit-mask-image: url(./images/core_icon_back.png);
}

.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.ui-icon-test{
	background-size: 100% 100%;
	background-image: url(test.png);
}

.ui-icon-test2{
	background-position:0% 0%;
	background-size:50% 50%;
	background-image: url(test.png);
}

.popup-content-padding {
	padding: 18px 24px;
}

.ui-popup-header.popup-2line-title,
.ui-popup-listview .ui-popup-header.popup-2line-title {
	height: 62px;
	padding: 0;
}
.popup-2line-title h1,
.popup-2line-title h2 {
	margin: 0;
	font-weight: normal;
}

.popup-2line-title h1 {
	font-size: 21px;
	line-height: 28.5px;
	padding-top: 13px;
}
.popup-2line-title h2 {
	font-size: 15px;
	line-height: 20.5px;
}

.ui-popup-listview .ui-popup-header.popup-2line-title h1 {
	padding-top: 6.5px;
}

/*************************************************
                Listview
**************************************************/
.li-text-sub {
	position: absolute;
	top: 0;
	right: 16px;
	height: 100%;
	line-height: 60px;
	float: right;
	text-align: right;
	font-size: 16px;
	color: rgba(77, 77, 77, 1);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/********************* list have right button **********************/
.li-has-right-btn .ui-btn {
	position: absolute;
	top: 50%;
	right: 16px;
}

.li-has-right-btn .ui-btn {
	margin-top: -20px;
}

/******************* list have left thumbnail image ********************/
.ui-li-anchor.li-has-thumb > a,
.ui-li-static.li-has-thumb {
	padding-left: 51px;
}
.ui-li-anchor.li-has-thumb > a .li-thumb,
.ui-li-static.li-has-thumb .li-thumb {
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -13px;
	width: 27px;
	height: 27px;
}

/***************** list has checkbox/radio ***********************/
.ui-li-anchor.li-has-checkbox:not(.li-has-right-checkbox) > a,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio) > a,
.ui-li-static.li-has-checkbox:not(.li-has-right-checkbox),
.ui-li-static.li-has-radio:not(.li-has-right-radio) {
	padding-left: 50px;
}

.li-has-checkbox:not(.li-has-right-checkbox) input.ui-checkbox:first-child,
.li-has-radio:not(.li-has-right-radio) input.ui-checkbox:first-child,
.li-has-checkbox:not(.li-has-right-checkbox) input.ui-radio:first-child,
.li-has-radio:not(.li-has-right-radio) input.ui-radio:first-child {
	position: absolute;
	top: 50%;
	margin-top: -13px;
	left: 16px;
}

/**************** list has checkbox/radio and thumbnail ************/
.ui-li-anchor.li-has-checkbox:not(.li-has-right-checkbox).li-has-thumb > a,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio).li-has-thumb > a,
.ui-li-static.li-has-checkbox:not(.li-has-right-checkbox).li-has-thumb,
.ui-li-static.li-has-radio:not(.li-has-right-radio).li-has-thumb {
	padding-left: 77px;
}
.ui-li-anchor.li-has-checkbox.li-has-thumb > a .li-thumb,
.ui-li-anchor.li-has-radio:not(.li-has-right-radio).li-has-thumb > a .li-thumb,
.ui-li-static.li-has-checkbox.li-has-thumb .li-thumb,
.ui-li-static.li-has-radio:not(.li-has-right-radio).li-has-thumb .li-thumb {
	position: absolute;
	left: 48px;
}


/********************* list have right checkbox ********************/

.li-has-checkbox.li-has-right-checkbox .ui-checkbox {
	position: absolute !important;
	top: 18px;
	right: 16px;
	left: auto !important;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox.favorite {
	right: 8px;
	top: 11px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox:first-child {
	right: 61px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox.favorite:first-child {
	right: 55px;
}

.li-has-checkbox.li-has-right-checkbox .ui-checkbox {
	margin-top: -20px;
}

/**************** with progress bar ************/
.li-has-progress .ui-progress {
	margin-top: 10px;
}

/****************************************************************/
/*              Multiline List Style                            */
/****************************************************************/
.ui-listview .li-has-multiline.ui-li-anchor > a,
.li-has-multiline.ui-li-static {
	padding-top: 11px;
	padding-bottom: 38px;
}
.li-has-multiline .li-text-sub {
	top: 39px;
	left: 16px;
	line-height: 22px;
	float: left;
	text-align: left;
	height: auto;
}
.li-has-multiline .li-text-sub,
.li-has-multiline .li-text-sub3 {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	right: auto;
}
.li-has-multiline .li-text-sub .li-icon-sub,
.li-has-multiline .li-text-sub3 .li-icon-sub,
.li-has-multiline .li-text-sub img,
.li-has-multiline .li-text-sub3 img {
	position: relative;
	width: 15px;
	height: 15px;
	margin-right: 1px;
	margin-bottom: 0;
}
.li-has-multiline .li-text-sub2,
.li-has-multiline .li-text-sub3 {
	position: absolute;
	font-size: 16px;
	color: rgba(77, 77, 77, 1);
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}
.li-has-multiline .li-text-sub2 {
	top: 0;
	right: 16px;
	float: right;
	text-align: right;
	height: 100%;
	line-height: 72px;
}
.li-has-multiline .li-text-sub3 {
	top: 61px;
	left: 16px;
	line-height: 25px;
}

.li-has-multiline.ui-li-anchor.li-has-thumb > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb .li-text-sub {
	left: 51px;
}
.li-has-multiline.ui-li-anchor.li-has-checkbox > a .li-text-sub,
.li-has-multiline.ui-li-anchor.li-has-radio > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-checkbox .li-text-sub,
.li-has-multiline.ui-li-static.li-has-radio .li-text-sub {
	left: 50px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-has-checkbox > a .li-text-sub,
.li-has-multiline.ui-li-anchor.li-has-thumb.li-has-radio > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-has-checkbox .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-has-radio .li-text-sub {
	left: 77px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right {
	padding-left: 16px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a .li-thumb,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right .li-thumb {
	float: right;
	left: auto;
	right: 16px;
}
.li-has-multiline.ui-li-anchor.li-has-thumb.li-thumbnail-right > a .li-text-sub,
.li-has-multiline.ui-li-static.li-has-thumb.li-thumbnail-right .li-text-sub {
	left: 16px;
}
.li-has-multiline.li-has-3-lines.ui-li-anchor > a,
.li-has-multiline.li-has-3-lines.ui-li-static {
	padding-bottom: 55px;
}

.ui-tabbar-with-icon a[data-icon="naviframe-call"]::after {
	-webkit-mask-image: url("images/00_button_add.png");
	mask-image: url("images/00_button_add.png");
}

.ui-tabbar-with-icon a[data-icon="naviframe-favorite"]::after {
	-webkit-mask-image: url("images/00_icon_favorite_bg_72x72.png");
	mask-image: url("images/00_icon_favorite_bg_72x72.png");
}

.ui-tabbar-with-icon a[data-icon="naviframe-search"]::after {
	-webkit-mask-image: url("images/00_icon_search.png");
	mask-image: url("images/00_icon_search.png");
}
/****************************************************************/
/*              Progress Indicator demo                         */
/****************************************************************/
.activity-bg,
.progress-bg {
	background: white;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
}
#result {
	font-size: 30px;
	width: 72px;
	text-align: center;
}
#result,
#circle {
	display: block;
	margin: 0 auto;
}

/****************************************************************/
/*                       Button Style                           */
/****************************************************************/
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle) {
	background-color: transparent;
}
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle):after {
	background-color: rgba(61, 185, 204, 1);
}
.ui-btn-icon.ui-icon-plus:not(.ui-btn-circle):active:after {
	background-color: rgba(34, 104, 115, 1);
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle) {
	background-color: transparent;
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle):after {
	background-color: rgba(224, 34, 34, 1);
}
.ui-btn-icon.ui-icon-minus:not(.ui-btn-circle):active:after {
	background-color: rgba(186, 28, 28, 1);
}
.ui-btn-icon.ui-icon-call:after {
	-webkit-mask-image: url("images/00_button_call.png");
}
.ui-btn-icon.ui-icon-arrow-r:after {
	-webkit-mask-image: url("images/00_button_right.png");
}
.ui-btn-icon.ui-icon-arrow-l:after {
	-webkit-mask-image: url("images/00_button_left.png");
}
.ui-btn-icon.ui-icon-arrow-u:after {
	-webkit-mask-image: url("images/00_button_expand_opened.png");
}
.ui-btn-icon.ui-icon-arrow-d:after {
	-webkit-mask-image: url("images/00_button_expand_closed.png");
}
.ui-btn-icon.ui-icon-plus:after {
	-webkit-mask-image: url("images/00_button_add.png");
}
.ui-btn-icon.ui-icon-minus:after {
	-webkit-mask-image: url("images/00_button_delete.png");
}
.ui-btn-icon.ui-icon-forward:after {
	-webkit-mask-image: url("images/00_button_expand_send.png");
}
.ui-btn-icon.ui-icon-alert:after {
	-webkit-mask-image: url("images/00_button_warning.png");
}
.ui-btn-icon.ui-icon-info:after {
	-webkit-mask-image: url("images/00_button_info.png");
}
.ui-btn-icon.ui-icon-rename:after {
	-webkit-mask-image: url("images/00_button_rename.png");
}
.ui-btn-icon.ui-icon-star:after {
	-webkit-mask-image: url("images/00_icon_favorite_bg_72x72.png");
}
.ui-btn-icon.ui-icon-search:after {
	-webkit-mask-image: url("images/00_icon_search.png");
}
.ui-btn-icon.ui-icon-scrolltop:after {
	-webkit-mask-image: url("images/00_icon_jump.png");
}
.ui-btn-icon.ui-icon-scrollleft:after {
	-webkit-mask-image: url("images/00_icon_jump_left.png");
}
.ui-btn-icon.ui-icon-check:after {
	-webkit-mask-image: url("images/00_button_check.png");
}
.ui-btn-icon.ui-icon-gear:after {
	-webkit-mask-image: url("images/00_button_gear.png");
}
.ui-btn-icon.ui-icon-refresh:after {
	-webkit-mask-image: url("images/00_button_refresh.png");
}
.ui-btn-icon.ui-icon-back:after {
	-webkit-mask-image: url("images/00_button_back.png");
}
.ui-btn-icon.ui-icon-grid:after {
	-webkit-mask-image: url("images/00_button_grid.png");
}
.ui-btn-icon.ui-icon-home:after {
	-webkit-mask-image: url("images/00_button_home.png");
}
.ui-icon-contact::after {
	-webkit-mask-image: url("images/icon_multiple.png");
	background-color: #3db9cc;
}
.ui-btn.ui-btn-icon.ui-btn-nobg.ui-icon-send::after {
	-webkit-mask-image: url("images/messages_btn_send.png");
	background-color: hsl(228, 38%, 50%);
	width: 36px;
	height: 34px;
}
.ui-btn.ui-btn-icon.ui-btn-nobg.ui-icon-paperclip::after, .ui-icon-paperclip::after {
	-webkit-mask-image: url("images/attachment.png");
	background-color: hsl(228, 38%, 50%);
}

.ui-listview .ui-li-static.vertical-list {
	box-sizing: border-box;
	width: 60px;
	background-color: white;
	padding: 20px 14px;
}

/****************************************************************/
/*                      Gallery demo                            */
/****************************************************************/
.gallery-section > img {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

/****************************************************************/
/*                      Grid List                               */
/****************************************************************/

#grid-badge-page .ui-gridview-item .grid-badge {
	position: absolute;
	border-radius: 25px;
	background-color: rgba(252, 116, 58, 1);
	color: rgba(255, 255, 255, 1);
	top: 4px;
	right: 4px;
	text-align: center;
	padding: 2px 6px;
	font-size: 13px;
}

#popup_grid_page .ui-popup .ui-gridview .ui-gridview-item .ui-gridview-image {
	width: auto;
	margin: 0 auto;
}

#popup_grid_page .ui-popup .ui-gridview .ui-gridview-item .ui-gridview-label {
	margin-top: -5px;
	font-size: 16px;
}

#popup_grid_page .ui-popup .ui-gridview {
	margin: 0 0 20px -16px;
}

/****************************************************************/
/*                       Search Input demo                      */
/****************************************************************/
.search-input-area{
	width: 100%;
	height: 54px;
	box-sizing: border-box;
	background-color: transparent;
	padding: 10px 14px 9px 14px;
}

.li-search-hidden {
	display: none;
}

/**************************************
            TABS Badge
***************************************/
.tabs-badge {
	position: absolute;
	border-radius: 50px;
	background-color: rgba(43, 129, 143, 0.6);
	color: rgba(255, 255, 255, 1);
	top: 2px;
	right: 14px;
	text-align: center;
	padding: 4px 8px;
	font-size: 13px;
}

/**************************************
            Virtual List
***************************************/
.virtual-icon {
	width: 35px;
	height: 35px;
}

/**************************************
            Slider
***************************************/
#slider-demo .ui-slider-vertical {
	left: 50%;
	-webkit-transform: translate(-50%);
	margin: 0;
}

/**************************************
            Button Text
***************************************/
#button-page {
	color: white;
}
#button-page p {
	margin: 0;
	padding: 0;
}
/*top*/
#button-page  #top {
	height: 109px;
	background-color: white;
}
#button-page  #top img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
#button-page  #top #intro1 img{
	margin-top: 15px;
	margin-left: 15px;
}
#button-page  #top #intro1 p {
	display: inline-block;
	float: left;
	margin-right: 75px;
	padding-left: 10px;
}
#button-page  #top #intro1 input {
	width: 34px;
	height: 34px;
	padding-top: 8px;
}
#button-page  #top #intro1 p:nth-of-type(1) {
	color: dimgrey;
	padding-top: 15px;
	font-size: 20px;
}
#button-page  #top #intro1  p:nth-of-type(2) {
	color: lightgrey;
	padding-top: 1px;
	font-size: 16px;
}
#button-page  #top #intro1  p:nth-of-type(2)::after {
	clear:both;
}
#button-page  #top #intro2 {
	position: relative;
	height: 48px;
}
#button-page  #top #intro2 #details {
	position: absolute;
	left: 63px;
	top: 32px;
	height: 22px;
	min-height: 22px;
	font-size:15px;
}
#button-page  #top #intro2 p {
	position: absolute;
	right: 30px;
	top: 36px;
	color: dimgrey;
	font-size: 14px;
}


#button-page #calendar {
	position: relative;
}
/*title and top button*/
#button-page #calendar #today {
	position: absolute;
	right: 6px;
	top: 28px;
}
#button-page #calendar #title {
	height: 24px;
	padding-top: 52px;
	text-align: center;
	font-size: 24px;
}
/*days names*/
#button-page #calendar ul {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 16px;
	margin: 27px 10px 6px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}
#button-page #calendar ul li{
	width: 14.285%;
	height: 46px;
	line-height: 46px;
	padding: 0;
	margin: 0;
}
#button-page #calendar ul li:nth-child(19) {
	position: relative
}
#button-page #calendar ul li:nth-child(19)::after {
	content: "";
	position: absolute;
	top:5px;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 36px;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 50%;
}
#button-page #calendar #days ul {
	font-size: 21px;
	margin: 0 10px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

/**************************************
            email-input
***************************************/
#emailinput-demo #select-custom-1-dropdownmenu {
    height: 58px;
}
#emailinput-demo #text-area {
    position: relative;
    height: 248px;
    padding: 18px 15px;
    margin: 0 auto;
    overflow: auto;
    text-align: justify;
    font-size: 20px;
    color: rgba(61, 185, 204, 1);
}
#emailinput-demo #text-area .start,
#emailinput-demo #text-area a {
    display: inline-block;
}
#emailinput-demo #text-area .start {
    width: 20px;
    color: black;
}
#emailinput-demo #text-area a:active {
    color: rgba(61, 185, 204, 1);
}

.details-mock {
	width: 100%;
	height: 400px;
	background-image: url(images/151-details.png);
	background-size: 100%;
}

.app-introduction {
	color: white;
}

.app-icon-video:after {
	mask-image: url(images/start_my_files_video.png);
	-webkit-mask-image: url(images/start_my_files_video.png);
	background-color: #3DB9CC;
}
