.containing-element .ui-slider-switch {
	width : 9em;
}

.ui-listview .li-has-onoffswitch .ui-on-off-switch-container {
	position: absolute;
	right: 24px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}
