<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-level-bar-demo">
		<div class="ui-header">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Slider (Level bar)
			</h1>
		</div>
		<div class="ui-content">
			<div style="display: flex;">
				<span style="font-size: 15px; padding: 7px 20px;">Level Bar</span>
				<div style="flex: 1; padding-right: 20px;"><input max="9" min="2" type="range" value="3" data-type="level-bar"/></div>
			</div>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>