<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h2>Progress on List</h2>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub ui-li-text-value">
							Value text
						</span>
					</div>
					<div class="ui-li-action">
						<div class="ui-progress" data-type="indeterminatecircle" data-size="small"></div>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
					</div>
					<div class="ui-li-action">
						<div class="ui-progress" data-type="indeterminatecircle" data-size="small"></div>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
							<div class="ui-li-action">
								<div class="ui-progress" data-type="indeterminatecircle" data-size="small-title"></div>
							</div>
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. Chunking background color is #fcfcfc.
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>