<!DOCTYPE html>
<html>
<!--
	Template contains 3 pages.
	On the first page user has to put down his login,
	on the second one - password and the last one
	is for summary.
-->
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<title>Tizen Web IDE - Template - Tizen - Tizen Web UI Framework - Login Form</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body>
	<!-- Start of first page: #one -->
	<div class="ui-page ui-page-active" id="one">
		<header class="ui-header">
			<h2 class="ui-title">Login</h2>
		</header>
		<div class="ui-content content-padding">
			<div class="ui-page-indicator pageindicator"></div>

			<div class="form">
				<label>Your login:</label>
				<input id="login" type="text" />
			</div>

		</div>
		<footer class="ui-footer
			  ui-bottom-button ui-fixed">
			<button class="ui-btn" id="to_second">NEXT</button>
		</footer>

		<div id="loginPopup" class="ui-popup">
			<div class="ui-popup-header">
				Information
			</div>
			<div class="ui-popup-content">
				Please, enter your login.
			</div>
			<div class="ui-popup-footer ui-bottom-button">
				<a href="#" class="ui-btn" data-rel="back">Cancel</a>
			</div>
		</div>
	</div>

	<!-- Start of first page: #two -->
	<div class="ui-page" id="two">
		<header class="ui-header">
			<h2 class="ui-title">Login</h2>
		</header>
		<div class="ui-content content-padding">
			<div class="ui-page-indicator pageindicator"></div>

			<div class="form">
				<label>Your password:</label>
				<input id="password" type="password" />
			</div>

		</div>
		<footer class="ui-footer
			  ui-bottom-button ui-fixed">
			<button id="to_summary" class="ui-btn">SUBMIT</button>
		</footer>
	</div>

	<!-- Start of first page: #summary -->
	<div class="ui-page" id="summary">
		<header class="ui-header">
			<h2 class="ui-title">Login</h2>
		</header>
		<div class="ui-content content-padding">
			<div class="ui-page-indicator pageindicator"></div>
			<div class="ui-processing"></div>
			<div class="message">
				You are logged in!
			</div>
		</div>
	</div>

	<!-- tau library needs to be added before main script -->
	<script type="text/javascript" src="./lib/tau/js/tau.js" data-build-remove="false"></script>
	<script src="./js/main.js"></script>
	<script src="./js/navigation.js"></script>
</body>
</html>

