<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="header-footer-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				App Bar
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="title.html">
						Title (1 line)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="multilineTitle.html">
						Title (Multiline)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="navigateUpButton.html">
						Navigate up button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="actionButton.html">
						Action button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bottom-bar/index.html">
						Bottom bar
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
