@font-face {
	font-family: "Tizen";
	font-weight: 200;
	font-stretch: condensed;
	src: url(./fonts/BreezeSans-LightCondensed_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: normal;
	font-stretch: condensed;
	src: url(./fonts/BreezeSans-RegularCondensed_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: bold;
	font-stretch: condensed;
	src: url(./fonts/BreezeSans-MediumCondensed_20150728.ttf) format('truetype')
}
/* temporary disabled because of web engine not supporting "font-stretch"
@font-face {
	font-family: "Tizen";
	font-weight: 200;
	font-stretch: normal;
	src: url(./fonts/BreezeSans-Light_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: normal;
	font-stretch: normal;
	src: url(./fonts/BreezeSans-Regular_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: bold;
	font-stretch: normal;
	src: url(./fonts/BreezeSans-Medium_20150728.ttf) format('truetype')
}
*/
/* Remove below after web engine supported "font-stretch" */
@font-face {
	font-family: "Tizen";
	font-weight: 200;
	src: url(./fonts/BreezeSans-LightCondensed_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: normal;
	src: url(./fonts/BreezeSans-RegularCondensed_20150728.ttf) format('truetype')
}
@font-face {
	font-family: "Tizen";
	font-weight: bold;
	src: url(./fonts/BreezeSans-MediumCondensed_20150728.ttf) format('truetype')
}
