<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="activity-page">
		<header>
			<h1>
				Activity on layer
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-li-static">
					List Item 06
				</li>
				<li class="ui-li-static">
					List Item 07
				</li>
				<li class="ui-li-static">
					List Item 08
				</li>
				<li class="ui-li-static">
					List Item 09
				</li>
				<li class="ui-li-static">
					List Item 10
				</li>
			</ul>
		</div>
		<div class="ui-popup ui-popup-activity ui-popup-activity-small" id="activity-popup">
			<div class="ui-popup-content">
				Scanning...
			</div>
		</div>
		<script src="activity.js" type="text/javascript">
		</script>
	</div>
</body>

</html>