<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="ButtonDemo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Buttons
			</h1>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
				<select class="theme-changer" data-native-menu="false" style="display: none">
					<option value="light">
						Light Theme
					</option>
					<option value="dark" class="ui-dropdown-two-lines">
						Dark Theme
					</option>
				</select>
			</div>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="flat.html">
						Flat Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="contained/index.html">
						Contained Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="fab.html">
						Floating Action Button
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="../../js/app.js"></script>
</body>

</html>