<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<tau-page class="ui-page ui-welcome-page" id="moremenu-page">
	<header>
		<h1>More menu</h1>
	</header>
	<tau-scrollview class="ui-content">
		<h1 class="ui-welcome-primary-text">Press &quot;more&quot; key in device. Then you can show more menu popup.</h1>

		<tau-popup id="moremenu-footer" class="ui-popup ui-popup-moremenu">
			<div class="ui-popup-content">
				<tau-listview class="ui-listview">
					<li class="ui-li-anchor"><a href="#">List item 1</a></li>
					<li class="ui-li-anchor"><a href="#">List item 2</a></li>
					<li class="ui-li-anchor"><a href="#">List item 3</a></li>
					<li class="ui-li-anchor"><a href="#">List item 4</a></li>
					<li class="ui-li-anchor"><a href="#">List item 5</a></li>
					<li class="ui-li-anchor"><a href="#">List item 6</a></li>
					<li class="ui-li-anchor"><a href="#">List item 7</a></li>
				</tau-listview>
			</div>
		</tau-popup>
	</tau-scrollview>
	<div class="ui-footer" data-position="fixed">
		<tau-button rel="popup" position-to="window" href="#moremenu-footer" class="ui-btn">Open More menu</tau-button>
	</div>
	<script src="moremenufooter.js"></script>
</tau-page>
<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>


</body></html>