<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Single" version="1.0.0" viewmodes="maximized">
    <tizen:application id="xeTiOTFWrS.Single" package="xeTiOTFWrS" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>TAUSinglePage</name>
    <tizen:setting context-menu="disable"/>
</widget>
