<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js"></script>
	<title>Progress Bar</title>
</head>

<body>
	<div class="ui-page" id="progressbar-demo">
		<header>
			<h1>
				Progress Bar
			</h1>
		</header>
		<div class="ui-content">
			<div class="ui-progress-container">
				<div class="ui-progress" data-type="bar" data-value="50" id="progressbar"></div>
				<span class="ui-progress-text">Text text text text...</span>
			</div>
		</div>
		<!-- /content -->
		<script src="progressbar.js"></script>
	</div>
	<!-- /page -->
</body>

</html>
