<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="indexscrollbarPage">
		<div class="ui-header" data-position="fixed">
			<h1>
				Index Scrollbar
			</h1>
			<a class="ui-btn ui-btn-icon btn-icon-back"></a>
			<input id="indexscrollbar-search-input" name="search" type="search" value="" />
		</div>
		<div class="ui-indexscrollbar" id="indexscrollbar">
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list" id="isbList">
				<li class="ui-group-index">
					A
				</li>
				<li class="ui-li-static" data-filtertext="Anton">
					Anton
				</li>
				<li class="ui-li-static" data-filtertext="Arabella">
					Arabella
				</li>
				<li class="ui-li-static" data-filtertext="Art">
					Art
				</li>
				<li class="ui-group-index">
					B
				</li>
				<li class="ui-li-static" data-filtertext="Barry">
					Barry
				</li>
				<li class="ui-li-static" data-filtertext="Bibi">
					Bibi
				</li>
				<li class="ui-li-static" data-filtertext="Billy">
					Billy
				</li>
				<li class="ui-li-static" data-filtertext="Bob">
					Bob
				</li>
				<li class="ui-group-index">
					C
				</li>
				<li class="ui-li-static" data-filtertext="Carry">
					Carry
				</li>
				<li class="ui-li-static" data-filtertext="Cibi">
					Cibi
				</li>
				<li class="ui-group-index">
					D
				</li>
				<li class="ui-li-static" data-filtertext="Daisy">
					Daisy
				</li>
				<li class="ui-li-static" data-filtertext="Derek">
					Derek
				</li>
				<li class="ui-li-static" data-filtertext="Desmond">
					Desmond
				</li>
				<li class="ui-group-index">
					E
				</li>
				<li class="ui-li-static" data-filtertext="Eric">
					Eric
				</li>
				<li class="ui-li-static" data-filtertext="Ernie">
					Ernie
				</li>
				<li class="ui-li-static" data-filtertext="Esme">
					Esme
				</li>
				<li class="ui-group-index">
					F
				</li>
				<li class="ui-li-static" data-filtertext="Fay">
					Fay
				</li>
				<li class="ui-li-static" data-filtertext="Felicity">
					Felicity
				</li>
				<li class="ui-li-static" data-filtertext="Francis">
					Francis
				</li>
				<li class="ui-li-static" data-filtertext="Frank">
					Frank
				</li>
				<li class="ui-group-index">
					G
				</li>
				<li class="ui-li-static" data-filtertext="Garry">
					Garry
				</li>
				<li class="ui-group-index">
					H
				</li>
				<li class="ui-li-static" data-filtertext="Harry">
					Harry
				</li>
				<li class="ui-li-static" data-filtertext="Herman">
					Herman
				</li>
				<li class="ui-li-static" data-filtertext="Horace">
					Horace
				</li>
				<li class="ui-group-index">
					I
				</li>
				<li class="ui-group-index">
					J
				</li>
				<li class="ui-li-static" data-filtertext="Jack">
					Jack
				</li>
				<li class="ui-li-static" data-filtertext="Jane">
					Jane
				</li>
				<li class="ui-li-static" data-filtertext="Jill">
					Jill
				</li>
				<li class="ui-group-index">
					K
				</li>
				<li class="ui-li-static" data-filtertext="Katherine">
					Katherine
				</li>
				<li class="ui-li-static" data-filtertext="Katy">
					Katy
				</li>
				<li class="ui-li-static" data-filtertext="Keith">
					Keith
				</li>
				<li class="ui-group-index">
					L
				</li>
				<li class="ui-li-static" data-filtertext="Larry">
					Larry
				</li>
				<li class="ui-li-static" data-filtertext="Lee">
					Lee
				</li>
				<li class="ui-li-static" data-filtertext="Lola">
					Lola
				</li>
				<li class="ui-group-index">
					M
				</li>
				<li class="ui-li-static" data-filtertext="Mark">
					Mark
				</li>
				<li class="ui-li-static" data-filtertext="Milly">
					Milly
				</li>
				<li class="ui-li-static" data-filtertext="Mort">
					Mort
				</li>
				<li class="ui-group-index">
					N
				</li>
				<li class="ui-li-static" data-filtertext="Nigel">
					Nigel
				</li>
				<li class="ui-li-static" data-filtertext="Norman">
					Norman
				</li>
				<li class="ui-group-index">
					O
				</li>
				<li class="ui-li-static" data-filtertext="Organza">
					Organza
				</li>
				<li class="ui-li-static" data-filtertext="Orlando">
					Orlando
				</li>
				<li class="ui-group-index">
					T
				</li>
				<li class="ui-group-index">
					U
				</li>
				<li class="ui-group-index">
					V
				</li>
				<li class="ui-group-index">
					W
				</li>
				<li class="ui-group-index">
					X
				</li>
				<li class="ui-group-index">
					Y
				</li>
				<li class="ui-group-index">
					Z
				</li>
			</ul>
		</div>
		<div class="ui-floatingactions">
			<button id="searchButton" class="ui-floatingactions-item" data-icon="floating-search">
			</button>
		</div>
		<script src="indexscrollbar_floating_button.js">
		</script>
	</div>
</body>

</html>