<!DOCTYPE html>
<html>
<!--
	Template contains one page.
	Page contains:
	- control buttons
	- circular progress
-->
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Voice Recorder</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body>
	<div class="ui-page ui-page-active" data-enable-page-scroll="false" id="recorder">
		<div class="ui-content ui-music-player">
			<progress class="ui-circle-progress" max="300" value="0"></progress>
			<div class="track description">Voice 01</div>
			<div class="ui-controls">
				<button class="ui-btn ui-delate"></button>
				<button id="record" class="ui-btn ui-record"></button>
				<button class="ui-btn ui-pause"></button>
			</div>
			<div id="time" class="time description"> 0:00 </div>
		</div>
	</div>

	<script type="text/javascript" src="./lib/tau/js/tau.js" data-build-remove="false"></script>
	<script src="./js/main.js"></script>
</body>
</html>
