<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" data-role="page" id="popup_grid_page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Popup with one multiple line grid
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static">
					List Item 01
				</li>
				<li class="ui-li-static">
					List Item 02
				</li>
				<li class="ui-li-static">
					List Item 03
				</li>
				<li class="ui-li-static">
					List Item 04
				</li>
				<li class="ui-li-static">
					List Item 05
				</li>
				<li class="ui-li-static">
					List Item 06
				</li>
				<li class="ui-li-static">
					List Item 07
				</li>
				<li class="ui-li-static">
					List Item 08
				</li>
				<li class="ui-li-static">
					List Item 09
				</li>
				<li class="ui-li-static">
					List Item 10
				</li>
			</ul>
			<div class="ui-popup ui-popup-gridview" id="2btn_popup">
				<div class="ui-popup-header">
					Title
				</div>
				<div class="ui-popup-content ui-popup-content-gridview-multiple">
					<ul class="ui-gridview" data-label="out" id="gridview" style="width: 360px;">
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-call.png" width="54" />
							<p class="ui-gridview-label">
								Phone
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-gallery.png" width="54" />
							<p class="ui-gridview-label">
								Gallery
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-contacts.png" width="54" />
							<p class="ui-gridview-label">
								Contacts
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-browser.png" width="54" />
							<p class="ui-gridview-label">
								Internet
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-call.png" width="54" />
							<p class="ui-gridview-label">
								Phone
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-gallery.png" width="54" />
							<p class="ui-gridview-label">
								Gallery
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-contacts.png" width="54" />
							<p class="ui-gridview-label">
								Contacts
							</p>
						</li>
						<li class="ui-gridview-item">
							<img class="ui-gridview-image" height="54" src="../../images/icon-browser.png" width="54" />
							<p class="ui-gridview-label">
								Internet
							</p>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-inline="true" data-rel="back">
						Always
					</a>
					<a class="ui-btn" data-inline="true" data-rel="back">
						Just
						once
					</a>
				</div>
			</div>
			<script>
				(function (tau) {
					/**
					 * page - Panel page element
					 * panelChanger - Panel changer element
					 * panelChangerComponent - TAU panel changer instance
					 * navigation - navigation element
					 * navigationComponent - TAU navigation instance
					 */
					var page = document.querySelector("#popup_grid_page");

					/**
					 * pagebeforeshow event handler
					 * Do preparatory works and adds event listeners
					 */
					page.addEventListener("pageshow", function () {
						tau.openPopup("2btn_popup");
					});

				}(window.tau));
			</script>
		</div>
	</div>
</body>

</html>