<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="popup-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Popup
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="popup.html">
						Popup
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="toast.html">
						Toast Popup
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="ctxpopup.html">
						Contextual Popup
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="moremenufooter.html">
						More Menu
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="moremenuheader.html">
						More Menu with Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="gridview.html">
						Popup with Grid
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="gridviewmultiple.html">
						Popup with multiple line Grid
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>