<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" data-role="page" id="demo-popup-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Popup
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					Button
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#1btn_popup">
						1btn popup
					</a>
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#2btn_popup">
						2btn popup
					</a>
				</li>
				<li class="ui-group-index">
					Header and Footer
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#header_popup">
						Header popup
					</a>
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#footer_popup">
						Footer popup
					</a>
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#2line_title_popup">
						2line title
						popup
					</a>
				</li>
				<li class="ui-group-index">
					List
				</li>
				<li>
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#listview_popup">
						List popup
					</a>
				</li>
				<li>
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#listview_popup_2">
						List popup (2 lines)
					</a>
				</li>
				<li>
					<a data-inline="true" data-position-to="window" data-rel="popup" href="#2line_title_listview_popup">
						2line title List popup
					</a>
				</li>
				<li class="ui-group-index">
					Input
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#text-input-popup">
						TextInput Popup
					</a>
				</li>
				<li class="ui-group-index">
					Content
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#2btn_image_popup">
						Popup with
						image
					</a>
				</li>
				<li class="ui-group-index">
					Controls
				</li>
				<li>
					<a data-position-to="window" data-rel="popup" href="#2btn_checkbox_popup">
						2 buttons
						with checkbox
					</a>
				</li>
			</ul>
			<div class="ui-popup" id="1btn_popup">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="text-input-popup">
				<div class="ui-popup-header">
					Popup Title
				</div>
				<div class="ui-popup-content">
					<textarea>I have some text</textarea>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2btn_popup">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
					<a class="ui-btn" data-rel="back">
						Done
					</a>
				</div>
			</div>
			<div class="ui-popup" id="header_popup">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
			</div>
			<div class="ui-popup" id="footer_popup">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
					<a class="ui-btn" data-rel="back">
						Done
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2line_title_popup">
				<div class="ui-popup-header popup-2line-title">
					<h1>
						Main text
					</h1>
					<h2>
						sub text
					</h2>
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
					<a class="ui-btn" data-rel="back">
						Done
					</a>
				</div>
			</div>
			<div class="ui-popup" id="listview_popup">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li>
							<a href="#">
								List item 1
							</a>
						</li>
						<li>
							<a href="#">
								List item 2
							</a>
						</li>
						<li>
							<a href="#">
								List item 3
							</a>
						</li>
						<li>
							<a href="#">
								List item 4
							</a>
						</li>
						<li>
							<a href="#">
								List item 5
							</a>
						</li>
						<li>
							<a href="#">
								List item 6
							</a>
						</li>
						<li>
							<a href="#">
								List item 7
							</a>
						</li>
						<li>
							<a href="#">
								List item 8
							</a>
						</li>
						<li>
							<a href="#">
								List item 9
							</a>
						</li>
						<li>
							<a href="#">
								List item 10
							</a>
						</li>
						<li>
							<a href="#">
								List item 11
							</a>
						</li>
						<li>
							<a href="#">
								List item 12
							</a>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="listview_popup_2">
				<div class="ui-popup-header">
					Popup Header
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
						<li class="ui-li-flex ui-li-multilines">
							<span class="ui-li-area ui-li-area-a">
								<span class="ui-li-text">
									Primary text
								</span>
								<span class="ui-li-text-2">
									Secondary text
								</span>
							</span>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-inline="true" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2btn_checkbox_popup">
				<div class="ui-popup-header">
					Title
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					<br />
					<input checked="" type="checkbox" />
					Do not show again
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
					<a class="ui-btn" data-rel="back">
						Done
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2btn_image_popup">
				<div class="ui-popup-header">
					Title
				</div>
				<div class="ui-popup-content">
					<img src="images/1.jpg" style="height: 118px;" />
					Lorem ipsum dolor sit amet
				</div>
				<div class="ui-popup-footer ui-grid-col-2">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
					<a class="ui-btn" data-rel="back">
						Done
					</a>
				</div>
			</div>
			<div class="ui-popup" id="2line_title_listview_popup">
				<div class="ui-popup-header popup-2line-title">
					<h1>
						Main text
					</h1>
					<h2>
						sub text
					</h2>
				</div>
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li>
							<a href="#">
								List item 1
							</a>
						</li>
						<li>
							<a href="#">
								List item 2
							</a>
						</li>
						<li>
							<a href="#">
								List item 3
							</a>
						</li>
						<li>
							<a href="#">
								List item 4
							</a>
						</li>
						<li>
							<a href="#">
								List item 5
							</a>
						</li>
						<li>
							<a href="#">
								List item 6
							</a>
						</li>
						<li>
							<a href="#">
								List item 7
							</a>
						</li>
						<li>
							<a href="#">
								List item 8
							</a>
						</li>
						<li>
							<a href="#">
								List item 9
							</a>
						</li>
					</ul>
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-rel="back">
						Cancel
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>