<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="grid-check-page">
	<div class="ui-header" data-position="fixed">
		<tau-button class="ui-btn ui-btn-text ui-btn-left" rel="back">CANCEL</tau-button>
		<h1>Two buttons</h1>
		<tau-button class="ui-btn ui-btn-text ui-btn-right">DONE</tau-button>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<li class="ui-li-static ui-li-select-all li-check-all">
				<label>
					Select all
					<input id="select-all" is="tau-checkbox">
				</label>
			</li>
		</tau-listview>
		<tau-gridview id="gridview" class="ui-gridview">
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/1.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/2.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/3.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/4.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/5.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/6.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/7.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/8.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/9.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/10.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/11.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/12.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/13.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/14.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/15.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/16.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/17.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/18.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/19.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/20.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/21.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/22.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/23.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/24.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/25.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/26.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/27.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/28.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/29.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
			<li class="ui-gridview-item">
				<img class="ui-gridview-image" src="../../../images/30.jpg">
				<label>
					<input is="tau-checkbox">
				</label>
			</li>
		</tau-gridview>
	</tau-scrollview>
	<script type="text/javascript" src="./gridcheck.js"></script>
</tau-page>


</body></html>