/*************************************************
				Listview (Dialog list)
**************************************************/
.li-dialog {
	color: rgb(255, 255, 255);
	max-width: 75%;
	min-width: 50%;
	padding: 10px;
	position: relative;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

.li-dialog-left {
	background-color: rgb(51, 45, 29);
	float: left;
	clear: right;
	padding-left: 20px;
	border-radius: 10px 10px 10px 0;
	margin-left: 10px;
}
.li-dialog-right {
	background-color: rgb(122, 197, 9);
	color: rgb(255, 255, 255);
	float: right;
	clear: left;
	padding-right: 20px;
	border-radius: 10px 10px 0 10px;
	margin-right: 10px;
}
.li-dialog:before {
	content: "";
	width: 10px;
	height: 25px;
	background-color: inherit;
	position: absolute;
	right: -10px;
	bottom: 0;
}
.li-dialog-right:before {
	right: -10px;
}
.li-dialog-left:before {
	left: -10px;
}
.li-dialog:after {
	content: "";
	width: 10px;
	background-color: black;
	position: absolute;
	height: 25px;
	bottom: 0;
}
.li-dialog-left:after {
	left: -10px;
	border-radius: 0 0 90% 0;
}
.li-dialog-right:after {
	right: -10px;
	border-radius: 0 0 0 90%;
}
.li-dialog .li-text-main {
	display: block;
	order: 1;
	-webkit-order: 1;
}
.li-dialog .li-text-sub {
	font-size: 15px;
	font-weight: bold;
	order: 2;
	-webkit-order: 2;
}
.li-dialog-left .li-text-sub {
	text-align: left;
}
.li-dialog-right .li-text-sub {
	text-align: right;
}
/* --- circular --- */
@media all and (-tizen-geometric-shape: circle) {
	.li-dialog-left {
		margin-left: 30px;
	}
	.li-dialog-right {
		margin-right: 30px;
	}
}
