body {
	padding: 0 5%;
}

#main-menu {
	margin-top: 15px;
}

.preview_buttons {
	position: relative;
}

.preview_buttons > * {
	position: relative;
	vertical-align: middle;
}

.preview_buttons span {
	text-transform: capitalize;
}

.preview_buttons span:after {
	content: ":";
}

.preview_button {
	width: 32px;
	height: 32px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}

.preview_mobile {
	background-image: url("../images/devices-mobile.svg");
}

.preview_wearable {
	background-image: url("../images/devices-wearable.svg");
}

.preview_tv {
	background-image: url("../images/devices-tv.svg");
}

footer {
	width: 100%;
	margin-top: 30px;
}

footer > div {
	width: 100%;
	background: rgb(240, 240, 240);
	color: rgb(120, 120, 120);
	padding: 5px;
	font-size: 12px;
	text-align: center;
}

footer > .version {
	background: transparent;
	width: 100%;
	font-size: 10px;
	color: rgb(180, 180, 180);
	text-align: right;
}


table {
	width: 70%;
	margin: 20px auto;
}

table > thead {
	border-bottom: solid 1px #bbb;
	font-size: 1.7rem;
}

table > tbody > tr > td {
	padding: 5px;
}

table > tbody > tr:nth-child(odd) {
	background: #f0f0f0;
}

article,
nav,
footer {
	max-width: 900px;
	margin: 0 auto;
}

nav, footer {
	max-width: 1000px;
}
