<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Text field single + label + icon
			</h1>
		</header>
		<!-- /header -->
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact ui-color-icon-text-field"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label">Label</label>
						<input class="input-hint" data-text-line="false" placeholder="Hint text" type="text"/>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact ui-color-icon-text-field"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label">Label</label>
						<input class="input-hint" data-text-line="false" placeholder="Hint text" type="text"/>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact ui-color-icon-text-field"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label">Label</label>
						<input class="input-hint" data-text-line="false" placeholder="Hint text" type="text"/>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact ui-color-icon-text-field"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label">Label</label>
						<input class="input-hint" data-text-line="false" placeholder="Hint text" type="text"/>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact ui-color-icon-text-field"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label">Label</label>
						<input class="input-hint" data-text-line="false" placeholder="Hint text" type="text"/>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /page -->
</body>

</html>
