<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="textinput-demo">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Text fields with label and icon
			</h1>
		</header>
		<!-- /header -->
		<div class="ui-content">
			<style>
				.color-icon::after {
					background-color: #8c8c8c;
				}
			</style>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon"></div>
					<div class="ui-has-text-input">
						<label class="ui-text-input-label" for="text-label-1">Label</label>
						<input class="input-hint" placeholder="Hint text Inactive" type="text" id="text-label-1"/>
					</div>
				</li>
				<li class="ui-li-has-icon" id="text-input1">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon"></div>
					<div class="ui-has-text-input">
						<label for="text-label-2">Label</label>
						<input class="input-hint" placeholder="Hint text Inactive" type="text" id="text-label-2"/>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon"></div>
					<div class="ui-has-text-input">
						<label for="text-label-3">Label</label>
						<input type="text" id="text-label-3"/>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon ui-text-input-icon-not-empty"></div>
					<div class="ui-has-text-input">
						<label for="text-label-4">Label</label>
						<input type="text" value="Input text" id="text-label-4"/>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon"></div>
					<div class="ui-has-text-input">
						<label for="text-label-5">Label</label>
						<input disabled="disabled" value="Disabled text" type="text" id="text-label-5"/>
					</div>
				</li>
				<li class="ui-li-has-icon">
					<div class="ui-text-input-icon ui-icon ui-icon-contact color-icon"></div>
					<div class="ui-has-text-input">
						<label for="text-label-6">Label</label>
						<input placeholder="Input letters only" pattern="[A-Za-z ]+" value="8 wrong value"
							data-error-message-string="Error message" type="text" id="text-label-6"/>
					</div>
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>
