<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js"></script>
	<title>Progress Circle Indeterminate</title>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Progress Circle Indeterminate
			</h1>
		</header>
		<div class="ui-content">
			<div class="ui-progress-container">
				<div class="ui-progress" data-type="indeterminatecircle" data-size="large"></div>
				<span class="ui-progress-text">Text text text text...</span>
			</div>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>