/*COMMON*/
.app-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.app-content p {
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    padding: 20%;
}

.app-circleindicator {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
}

#simplelap .internal svg text {
    font-size: 14px;
}
#simplelap .external svg text {
    font-size: 18px;
}
#simplelap .app-engine {
    margin-top: 50%;
    transform: translateY(-50%);
}

#bonus .app-engine {
    margin-top: 50%;
    transform: translateY(-50%);
}

/*CARRPM LAP*/
#carrpm .external svg text {
    font-size: 24px;
    font-weight: 900;
    font-stretch: extra-expanded;
    width : 30px;
}
#carrpm .internal {
    background-image: -webkit-gradient(radial, center center, 110, center center, 143, from(black), to(black), color-stop(95%, rgba(40,121,243,1)));
}
