.ui-popup.ui-ctxpopup {
	margin-top: 0;
	.ui-arrow {
		width: 46 * @unit_base;
		height: 13 * @unit_base;
		overflow: hidden;
		position: absolute;
		display: none;
		animation-duration: 0;
		-webkit-animation-duration: 0;

		span {
			width: 14 * @unit_base;
			height: 14 * @unit_base;
			border: 4 * @unit_base solid @color_ctxpopup_background_border;
			box-shadow: none;
			background-color: @color_ctxpopup_background;
			position:absolute;
			top: 6 * @unit_base;
			left: 16 * @unit_base;
			-webkit-transform: rotate(55deg) skew(24deg);
			transform: rotate(55deg) skew(24deg);
			animation-duration: 0;
			-webkit-animation-duration: 0;
		}
	}

	&.ui-popup-arrow-b {
		padding: 5*@unit_base 5*@unit_base 0 5*@unit_base;
	}

	&.ui-popup-arrow-t {
		padding: 0 5*@unit_base 5*@unit_base 5*@unit_base;
	}

	&.ui-popup-arrow-r {
		padding: 5*@unit_base 0 5*@unit_base 5*@unit_base;
	}

	&.ui-popup-arrow-l {
		padding: 5*@unit_base 5*@unit_base 5 0*@unit_base;
	}

	&.ui-popup-arrow-b .ui-arrow {
		display: block;
		bottom: -11.5 * @unit_base;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	&.ui-popup-arrow-t .ui-arrow {
		display: block;
		top: -11 * @unit_base;
	}
	&.ui-popup-arrow-r .ui-arrow {
		display: block;
		left : -8 * @unit_base;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	&.ui-popup-arrow-l .ui-arrow {
		display: block;
		right:- 8 * @unit_base;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
