.ui-field-contain { padding: 1.5em 0; margin: 0; border-bottom-width: 1px; overflow: visible; }
.ui-field-contain:first-child { border-top-width: 0; }
@media all {
	.ui-field-contain { border-width: 0; padding: 0; margin: 0.8em 0; }
}
