.ui-gallery {
	position: relative;
	width: 100%;
}

.ui-gallery-container {
	position: relative;
	width: 100%;
}

.ui-gallery-bg {
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
}
