/***************************************************************************
					Tabbar
***************************************************************************/
.ui-header.ui-tabs-with-title {
	.flex-direction(column);
	.ui-title {
		.order(1);
	}
	*:not(.ui-title) {
		.order(2);
	}
}

.ui-tabbar {
	.ui-btn-active {
		background-color: initial;
	}
}

.ui-footer .ui-tabbar {
	&.ui-tabbar-portrait,
	&.ui-tabbar-landscape {
		width: 100%;
		height: 114 * @unit_base;
		a {
			width: 100%;
			color: @color_tabbar_footer_icon_bg;
			&::before {
				left: 0;
				background-color: @color_tabbar_footer_icon_bg;
			}
			&.ui-tab-active {
				color: @color_tabbar_footer_icon_bg_press;
				&.ui-tab-active span::before {
					background-color: @color_tabbar_footer_icon_bg_press;
				}
			}
		}
		&.ui-tabbar-with-icon {
			a {
				&::after {
					background-color: @color_tabbar_footer_icon_bg;
				}
				&.ui-tab-active::after {
					background-color: @color_tabbar_footer_icon_bg_press;
				}
			}
		}
	}
}