<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="video_demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				VIDEO TEST
			</h1>
		</div>
		<div class="ui-content">
			<video controls="" data-controls="true" style="width:100%;">
				<source src="Color_short_version.mp4" type="video/mp4" />
				<p>
					Your browser does not support the video tag.
				</p>
			</video>
		</div>
	</div>
</body>

</html>