<!DOCTYPE html><html><head>
    <link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="expandable-page-js">
    <header>
        <h1>Expandable List</h1>
    </header>
    <tau-scrollview class="ui-content">
        <tau-listview class="ui-listview" id="expandable-list"></tau-listview>
    </tau-scrollview>
    <footer>
        <tau-button class="ui-btn" id="delete-btn-expand">-</tau-button>
        <tau-button class="ui-btn" id="add-btn-expand">+</tau-button>
        <tau-button class="ui-btn" id="delete-btn-small-expand">small -</tau-button>
        <tau-button class="ui-btn" id="add-btn-small-expand">small +</tau-button>
    </footer>
    <script type="text/javascript" src="expandable-js.js"></script>
</tau-page>


</body></html>