body {

}
.ui-video-player .ui-cover {
	background: url("../images/1.jpg") transparent no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	top: 0;
	position: absolute;
}
.ui-video-player .ui-track {
	position: absolute;
	bottom: 0;
	font-size: 24px;
	padding-top: 5px;
	height: 100px;
}
.ui-video-player .ui-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	transition: opacity 300ms;
}

.ui-video-player .ui-controls.visible {
	opacity: 1;
}

.ui-video-player .ui-controls .ui-btn {
	border: 2px solid #ffffff;
	background-color: transparent;
	position: absolute;
	border-radius: 100%;
	width: 25%;
	height: 25%;
	top: 38%;
	left: 38%;
	font-size: 20px;
	line-height: 12px;
}
.ui-video-player .ui-controls .ui-btn.ui-play {
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
	font-size: 24px;
}

footer {
	opacity: 0;
	transition: opacity 300ms;
}

footer.visible {
	opacity: 1;
}
