.content-padding {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-group-height {
    height: 72px;
}

/* ---------------------------------- LISTVIEW ---------------------------------- */
.ui-listview li .li-text-sub {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 32px;
}

.ui-listview .li-text-sub-right-icon {
    width: calc(100% -34px);
}

.ui-listview li.li-has-2line {
    padding-top: 18px;
    padding-bottom: 17px;
    height: 115px;
}

.ui-listview li.li-has-3line {
    padding-top: 9px;
    padding-bottom: 10px;
    height: 128px;
}

.ui-listview.expand-list li.li-has-2line .ui-marquee {
    -webkit-transform: translate(0, 16px);
}

.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all ease 1s;
    margin-top: 0;
}

.ui-listview.expand-list li.li-has-2line .ui-li-sub-text {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-li-sub-text {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-marquee {
    -webkit-transform: translate(0, 30px);
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-marquee {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:nth-child(2) {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:nth-child(2) {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview.expand-list li.li-has-3line .ui-li-sub-text:last-child {
    -webkit-transform: translate(0, -42px);
    opacity: 0;
}

.ui-listview.expand-list li.li-has-3line.ui-snap-listview-selected .ui-li-sub-text:last-child {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all ease 1s;
}

.ui-listview li.li-has-multiline {
    padding-top: 6px;
    padding-bottom: 5px;
    min-height: 100px;
}

.ui-listview.ui-snap-listview li.li-has-multiline {
    padding-top: 9px;
    padding-bottom: 8px;
    min-height: 130px;
    line-height: initial;
}

.ui-listview li.li-has-radio.disabled,
.ui-listview li.li-has-radio.disabled > *,
.ui-listview li.li-has-checkbox.disabled,
.ui-listview li.li-has-checkbox.disabled > *,
.ui-listview li.li-has-multiline.disabled,
.ui-listview li.li-has-multiline.disabled > *,
.ui-listview li.li-has-multiline-sup.disabled,
.ui-listview li.li-has-multiline-sup.disabled > * {
    color: rgb(51, 51, 51);
}

.ui-listview li.li-has-multiline > a {
    margin-top: -6px;
    margin-bottom: -6px;
    padding-top: 11px;
    padding-bottom: 12px;
}

.ui-listview li.li-has-multiline-sup {
    padding-top: 6px;
    padding-bottom: 5px;
    min-height: 100px;
}

.ui-listview li.li-has-multiline-sup > a {
    margin-top: -36px;
    margin-bottom: -5px;
    padding-top: 36px;
    padding-bottom: 5px;
}

.ui-listview li {
    position: relative;
}

.ui-listview li input[type="checkbox"]:not(.ui-switch-input),
.ui-listview li input[type="radio"] {
    position: absolute;
    right: 30px;
    top: 0;
    margin-top: 25px;
}

.ui-listview.ui-snap-listview li input[type="checkbox"]:not(.ui-switch-input),
.ui-listview.ui-snap-listview li input[type="radio"] {
    position: absolute;
    right: 30px;
    top: 0;
    margin-top: 21px;
}

.ui-listview .li-has-toggle .ui-toggleswitch {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);

}

.ui-listview .li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled,
.ui-listview li.li-has-multiline.li-has-radio.disabled .li-text-sub,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled,
.ui-listview li.li-has-multiline.li-has-checkbox.disabled .li-text-sub {
    color: rgb(51, 51, 51);
}

.ui-listview li.li-has-checkbox label,
.ui-listview li.li-has-radio label,
.ui-listview li.li-has-toggle > label,
.ui-listview li.li-has-thumb-right label {
    display: block;
    padding: 31.5px 94px 31.5px 40px;
    margin-top: -30px;
    margin-bottom: -21px;
    margin-left: -38px;
    margin-right: -8px;
}

.ui-listview li.li-has-thumb-left label {
    padding-left: 70px;
}

.ui-listview.ui-snap-listview li.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-toggle > label,
.ui-listview.ui-snap-listview li.li-has-thumb-right label {
    padding: 27px 94px 21px 40px;
}

.ui-listview.ui-snap-listview li.li-has-thumb-left label {
    padding: 27px 40px 21px 102px;
}

.ui-listview li img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    width: 56px;
    height: 56px;
    background-color: rgba(245, 245, 245, 1);
}

.ui-listview li.li-has-thumb-right img {
    right: 16px;
}

.ui-listview li.li-has-thumb-left img {
    left: 16px;
}

.ui-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview li.li-has-multiline.li-has-radio label,
.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch),
.ui-listview li.li-has-multiline.li-has-thumb-right label,
.ui-listview li.li-has-multiline.li-has-thumb-left label {
    display: block;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 90px;
    padding-top: 11px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -16px;
    margin-right: -16px;
}

.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
    padding-right: 104px;
}

.ui-listview.ui-snap-listview li.li-has-multiline.li-has-checkbox label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-radio label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch),
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-right label,
.ui-listview.ui-snap-listview li.li-has-multiline.li-has-thumb-left label {
    padding-top: 27px;
}

.ui-listview li.li-has-multiline.li-has-thumb-left label {
    padding-left: 64px;
    padding-right: 40px;
    margin-left: 0;
}

.ui-listview li.li-has-multiline.li-has-toggle label:not(.ui-toggleswitch) {
    padding-right: 75px;
}

.select-btn {
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -50px;

    height: 75px;
    width: 100px;
    line-height: 75px;
    border-radius: 40px;

    text-align: center;
    background-color: rgb(8, 56, 94);
    box-shadow: 0 3px 4px rgb(17, 17, 17);
    z-index: 90;
}

.select-btn-text {
    display: block;
    line-height: 75px;
}

.ui-listview li.select {
    background-color: rgb(8, 42, 57);
}

.ui-listview.ui-snap-listview li.select {
    background-color: initial;
}

li.static::before {
    content: "";
    -webkit-mask-image: url(../contents/list/images/tw_list_check_ic.png);
    -webkit-mask-repeat: no-repeat;
    background-color: rgba(112, 186, 15, 1);
    width: 0;
    height: 56px;
    position: absolute;
    left: 40%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 150ms, left 150ms;
}

li.select::before {
    content: "";
    -webkit-mask-image: url(../contents/list/images/tw_list_check_ic.png);
    -webkit-mask-repeat: no-repeat;
    background-color: rgba(112, 186, 15, 1);
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 150ms, left 150ms;
}

.ui-listview-li li img {
    height: 56px;
    width: 56px;
    background-color: rgb(8, 42, 57);
}

/* ------------------------------------------------------------------------------ */
/* -----------------------------------  NEXT DEPTH------------------------------------ */
.ui-listview li.li-has-next-depth {
    padding-right: 60px;
}

.ui-listview li.li-has-next-depth a,
.ui-listview li.li-has-next-depth.disabled {
    position: relative;
    margin-right: -60px;
    padding-right: 60px;
}

.ui-listview li.li-has-next-depth a:after {
    position: absolute;
    content: "";
    right: 30px;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_holo_dark.png);
}

.ui-listview li.li-has-next-depth.disabled a:after {
    position: absolute;
    right: 30px;
    content: "";
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_disabled_holo_dark.png);
}

.ui-listview li.li-has-next-depth a:active:after,
.ui-listview li.li-has-next-depth a:focus:after {
    position: absolute;
    content: "";
    right: 30px;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right center;
    background-image: url(../extra/images/Controller_icon/tw_btn_next_depth_focused_holo_dark.png);
}

.ui-listview li.li-has-next-depth.disabled,
.ui-listview li.li-has-next-depth.disabled a,
.ui-listview li.li-has-next-depth.disabled .li-text-sub {
    color: rgb(51, 51, 51);
}

.disabled {
    pointer-events: none;
}

/* ------------------------------------------------------------------------------ */
/* -------------------------Action Icon------------------------------- */
.li-has-action-icon .li-action-text {
    width: calc(100% -88px);
    height: 100%;
}

.li-has-action-icon .li-action-text::after {
    content: "";
    position: absolute;
    height: 56px;
    width: 2px;
    background-color: rgba(245, 245, 245, 1);
    right: 87px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.li-has-action-icon .li-action-icon-button {
    position: absolute;
    height: 100%;
    width: 68px;
    right: 0;
    top: 0;
    -webkit-mask-size: 53px 53px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.li-has-action-icon .li-action-icon-button.li-action-delete {
    -webkit-mask-image: url(../contents/list/images/tw_list_delete_holo_dark.png);
    background-color: rgba(245, 245, 245, 1);
}

.li-has-action-icon .li-action-icon-button.li-action-setting {
    -webkit-mask-image: url(../contents/list/images/tw_list_setting_holo_dark.png);
    background-color: rgba(245, 245, 245, 1);
}

.li-has-action-icon .li-action-icon-button.li-action-add {
    -webkit-mask-image: url(../contents/list/images/tw_list_add_holo_dark.png);
    background-color: rgba(245, 245, 245, 1);
}

.ui-listview .li-has-action-icon.ui-li-active {
    background-color: transparent;
}

.ui-listview .li-has-action-icon.ui-li-active .li-action-text:active {
    background-color: rgba(8, 56, 94, 1);
}

.ui-listview .li-has-action-icon .li-action-icon-button:active {
    background-color: rgba(8, 56, 94, 1);
}

/* ------------------------------------------------------------------------------ */
/*Basic Text*/
.basic-text-s-title {
    margin: 0 42px 60px 42px;
    line-height: 40px;
    font-size: 30px;
}

.basic-text-m-title {
    margin: 0 42px 60px 42px;
    line-height: 44px;
    font-size: 34px;
}

.basic-text-l-title {
    margin: 0 42px 60px 42px;
    line-height: 48px;
    font-size: 38px;
}

.basic-text-notitle {
    margin: 60px 42px;
    line-height: 48px;
    font-size: 38px;
}

/* ------------------------------------------------------------------------------ */
/*Select List*/
#selectModePage #handler {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    color: transparent;
    display: none;
    background-color: #a4a4a4;
    -webkit-mask-image: url(../contents/list/images/b_drawer.png);
    -webkit-mask-size: 18px 36px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 45px 19px;
    z-index: 1;
}

#selectModePage #rightDrawer {
    background-color: transparent;
}

#selectModePage #rightDrawer section {
    height: 360px !important;
}

#selectModePage #popupContainer {
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.5);
}

#selectModePage .circle-button {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 158px;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    color: #000000;
}

#selectModePage .ui-view-switcher .ui-view.custom-view {
    width: 158px;
    height: 158px;
    border-radius: 50%;
    top: -webkit-calc(50% -70px);
}

#selectModePage .ui-view-switcher .ui-view-carousel-dim {
    border-radius: 50%;
}

#selectModePage .show-btn .select-btn {
    visibility: visible;
    transform: scale(1.0);
}

#selectModePage .select-btn {
    pointer-events: auto;
    visibility: hidden;
    transition: transform 0.3s;
    transform: scale(0);
}

#selectModePage .select-mode {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    pointer-events: none;
    z-index: 100;
}

#selectModePage .select-mode.open {
    pointer-events: auto;
}

#selectModePage .select-mode.open::before {
    display: block;
}

#selectModePage .select-mode::before {
    content: "";
    display: none;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, .7);
}

/*arrow*/
#selectModePage .select-mode::after {
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0s;
    z-index: 100;
    content: "";
    position: fixed;
    top: 48px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid rgba(2, 56, 92, 1);
    left: 50%;
    margin-left: -20px;
}

#selectModePage .select-mode.open::after {
    transform: scale(1.0);
    transition-duration: 0.3s;
    transform-origin: 50% 100%;
}

#selectModePage .select-mode.open .select-popup {
    transform: scale(1.0);
    z-index: 101;
    visibility: visible;
    pointer-events: auto;
}

#selectModePage .select-popup {
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    left: 50%;
    top: 83px;
    margin-left: -100.5px;
    width: 201px;
    height: 201px;
    transform: scale(0);
    transform-origin: 50% 0;
    transition: transform 0.3s;
    padding: 0;
    -webkit-border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(#000000 6.28125rem, transparent 0);
    min-height: 12.5625rem !important;
    background-color: rgba(2, 56, 92, 1);
    border: 0;
}

#selectModePage .select-popup .ui-listview {
    margin: 0;
}

#selectModePage .select-popup .ui-listview::before {
    display: none;
}

#selectModePage .select-popup .ui-listview::after {
    display: none;
}

#selectModePage .select-popup .ui-listview li {
    font-size: 1.75rem;
    text-align: center;
    border-bottom: 2px solid rgba(8, 8, 8, 1);
    color: rgba(245, 245, 245, 1);
    padding: 27px 0;
    min-height: 100px;
    border-image: none;
    -webkit-mask-image: none;
}

#selectModePage .select-popup .ui-listview li:last-child {
    border: 0;
}

#selectModePage .select-popup .ui-listview li a {
    color: rgba(245, 245, 245, 1);
    padding: 27px 0;
    margin: -43px -40px;
    margin-left: 0;
    margin-right: 0;
}

#selectModePage .select-popup .ui-listview li a:active {
    color: rgba(245, 245, 245, 1);
    background-color: rgba(23, 73, 115, 1);
}

/* -----------------------------------  OPTION POPUP------------------------------------ */
.option-icon-action::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_list_icon_action.png);
    mask-image: url(../contents/popup/images/b_option_list_icon_action.png);
}

.option-icon-delete::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_list_icon_delete.png);
    mask-image: url(../contents/popup/images/b_option_list_icon_delete.png);
}

.option-icon-enter::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_list_icon_enter.png);
    mask-image: url(../contents/popup/images/b_option_list_icon_enter.png);
}

.option-icon-share::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_list_icon_share.png);
    mask-image: url(../contents/popup/images/b_option_list_icon_share.png);
}

.option-icon-notext-call::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_icon_call.png);
    mask-image: url(../contents/popup/images/b_option_icon_call.png);
}

.option-icon-notext-contacts::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_icon_contacts.png);
    mask-image: url(../contents/popup/images/b_option_icon_contacts.png);
}

.option-icon-notext-message::before {
    -webkit-mask-image: url(../contents/popup/images/b_option_icon_message.png);
    mask-image: url(../contents/popup/images/b_option_icon_message.png);
}

/* -----------------------------------POPUP------------------------------------ */
.btn-icon-share::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_button_share_holo_dark.png);
}

.btn-icon-showonphone::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_button_showonphone_holo_dark.png);
}

.btn-icon-delete::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_button_delete_holo_dark.png);
}

.btn-icon-check::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_popup_btn_check.png);
}

.btn-icon-cancel::before {
    background-color: rgba(0, 149, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_popup_btn_delete.png);
}

.btn-icon-toast-check::after {
    background-color: rgba(255, 255, 255, 1);
    -webkit-mask-image: url(../contents/popup/images/tw_ic_popup_btn_check.png);
}

/* -----------------------------------Content------------------------------------ */
.content-input-box {
    display: block;
    height: 82px;
    line-height: 82px;
    margin-top: 16px;
    padding-left: 75px;
    position: relative;
    vertical-align: middle;
}

.content-input-box > input[type="checkbox"] {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.content-input-box.multi-line {
    display: block;
    padding-left: 75px;
    margin-top: 16px;
    line-height: inherit;
}

.content-input-box-sub-text {
    display: block;
}

/* ----------------------------------Toggle Switch-------------------------------- */
.ui-toggleswitch {
    display: block;
    margin: 0 auto;
}

/* -------------------------------------Controls---------------------------------- */
.checkbox-text,
.radio-text {
    margin-top: 60px;
    margin-bottom: 48px;
    font-size: 34px;
    text-align: center;
}

.checkbox-sub-text,
.radio-sub-text {
    margin-top: 48px;
    font-size: 26px;
    text-align: center;
}

input[type="checkbox"]#checkboxControl {
    display: block;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.radio-sample-container {
    width: 100%;
    text-align: center;
}

/* --------------------------------Processing------------------------------ */
.small-processing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
}

/* -------------------------Full Processing------------------------ */
#processingPage::after {
    content: "This component is not supported in rectangular device";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(0, 149, 255, 1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

/* --------------------------------Progress------------------------------ */
#pageSmallCircleProgressBar .result {
    font-size: 52px;
    text-align: center;
    display: inline;
    line-height: 56px;
    margin-right: 15px;
}

#pageSmallCircleProgressBar .ui-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

#pageCircleProgressBar .ui-progressbar-large {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

#pageCircleProgressBar .result {
    font-size: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
}

/* --------------------------------Rotary Event------------------------------ */
#pageRotaryEvent #circleprogress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#pageRotaryEvent #result {
    font-size: 30px;
    bottom: 50px;
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

#pageRotaryEvent::after {
    content: "This component is not supported in rectangular device";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(0, 149, 255, 1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

/* -------------------------Circular Page Indicator------------------------ */
#pageIndicatorCirclePage::after {
    content: "This component is not supported in rectangular device";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(0, 149, 255, 1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

@media all and (-tizen-geometric-shape: circle) {
    /* ------------------ LISTVIEW ------------------------ */
    .ui-listview li img {
        width: 86px;
        height: 86px;
    }

    .ui-listview li.li-has-thumb-right img {
        right: 15px;
    }

    .ui-listview li.li-has-thumb-left img {
        left: 15px;
    }

    .ui-listview li.li-has-thumb-left label {
        padding: 31.5px 40px 31.5px 94px;
    }

    .ui-listview li.li-has-thumb-right img {
        right: 30px;
    }

    .ui-listview li.li-has-thumb-left img {
        left: 30px;
    }

    li.select::before {
        background-color: rgba(115, 191, 15, 1);
    }

    li.select::after {
        content: "";
        -webkit-mask-image: url(../contents/list/images/tw_list_check_line.png);
        -webkit-mask-repeat: no-repeat;
        background-color: rgba(224, 224, 224, 1);
        width: 56px;
        height: 56px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -webkit-transition: width 150ms, left 150ms;
    }

    .ui-listview li {
        -webkit-mask-image: -webkit-linear-gradient(left, transparent, #fff 30%, #fff 70%, transparent);
    }

    .ui-listview li.li-has-thumb-right,
    .ui-listview li.li-has-thumb-left,
    .ui-listview li.li-has-action-icon,
    .ui-listview li.li-has-toggle,
    .ui-listview li.li-has-checkbox,
    .ui-listview li.li-has-radio,
    .ui-listview li.ui-li-btn {
        -webkit-mask-image: none;
    }

    .ui-listview li.li-has-checkbox label,
    .ui-listview li.li-has-radio label,
    .ui-listview li.li-has-toggle > label,
    .ui-listview li.li-has-thumb-right label {
        margin-top: -28.5px;
        margin-bottom: -28.5px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .ui-listview.ui-snap-listview li.li-has-checkbox label,
    .ui-listview.ui-snap-listview li.li-has-radio label,
    .ui-listview.ui-snap-listview li.li-has-toggle > label,
    .ui-listview.ui-snap-listview li.li-has-thumb-right label {
        padding: 28.5px 130px 28.5px 40px;
    }

    .li-has-action-icon .li-action-text::after {
        height: 60px;
        background-color: rgba(8, 8, 8, 0.3);
        right: 103px;
    }

    .li-has-action-icon .li-action-icon-button {
        width: 86px;
        margin-left: 2px;
        margin-right: 15px;
    }

    .ui-listview .li-has-action-icon.ui-li-active .li-action-text:active {
        background-color: transparent;
    }

    .ui-listview li.li-has-multiline.li-has-thumb-left label {
        padding-left: 90px;
    }

    .ui-listview li.li-has-multiline.li-has-thumb-right label {
        padding-right: 105px;
        padding-left: 30px;
    }

    .ui-listview li.select {
        background-color: transparent;
    }

    .ui-listview li.ui-listview-divider {
        border-image: none;
    }

    .ui-listview.ui-snap-listview li.li-has-multiline > a {
        padding-top: 24px;
        padding-bottom: 23px;
    }

    .ui-listview.ui-snap-listview li.li-has-multiline.li-has-2line-sub > a {
        padding-top: 10px;
        padding-bottom: 9px;
    }

    .ui-listview.expand-list li.li-has-2line.ui-snap-listview-selected .ui-marquee {
        margin-top: -10px;
    }

    /* ------------------ POPUP ------------------------ */
    .ui-popup-content .btn-additional {
        width: 160px;
        height: 160px;
        border-radius: 50% 50%;
        background-color: rgba(10, 64, 94, 1);
        margin: 19px auto auto;
        padding: 59px 5px;
    }

    /* -------------Progress sample page-----------*/
    #pageCircleProgressBar .ui-footer {
        display: none;
    }

    #pageCircleProgressBar .result {
        font-size: 35px;
    }

    /* -------------Small progress sample page-----------*/
    #pageSmallCircleProgressBar .ui-footer {
        display: none;
    }

    #pageSmallCircleProgressBar .result {
        -webkit-transform: translate(0, -70%);
    }

    #pageSmallCircleProgressBar .ui-progressbar-small {
        -webkit-transform: translate(0, -70%);
    }

    /* -------------Marquee-----------*/
    .ui-btn#start {
        padding-left: 20%;
        padding-right: 0;
    }

    .ui-btn#reset {
        padding-right: 20%;
        padding-left: 0;
    }

    /* -------------Rotary Event-----------*/
    #pageRotaryEvent::after {
        content: none;
    }

    /* -------------Circular Page Indicator-----------*/
    #pageIndicatorCirclePage::after {
        content: none;
    }

    /* -------------Full Processing-----------*/
    #processingPage::after {
        content: none;
    }

    #processingPage .ui-scroller::-webkit-scrollbar {
        display: none;
    }
}

.ui-item.ui-item-active::before {
    background-color: #3261ba;
}

.delete-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(./images/b_more_option_delete_icon.png);
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}

.human-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(./images/b_more_option_human_icon.png);
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}

.show-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(./images/b_more_option_show_on_device_icon.png);
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}

.x-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(./images/tw_toast_popup_delete.png);
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}

.fail-icon::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(./images/tw_toast_popup_fail.png);
    -webkit-mask-size: 100% 100%;
    background-color: rgb(89, 88, 91);
    -webkit-mask-repeat: no-repeat;
}
