<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.min.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page">
	<header>
		<h1>Searchbar</h1>
	</header>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-li-anchor"><a href="searchbar.html">Simple</a></li>
			<li class="ui-li-anchor"><a href="searchbar-with-icon.html">With icon</a></li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.min.js" data-build-remove="false"></script>


</body></html>