.ui-shopping-list li > label {
	display: block;
}
.ui-shopping-list li input[type="checkbox"] {
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
}
.ui-shopping-list input[type="checkbox"] {
	display: block;
	margin: 0 auto;
}

.item-icon::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}
.check-icon::before {
	-webkit-mask-image: url("../images/tw_ic_popup_btn_check.png");
}
.all-icon::before {
	-webkit-mask-image: url("../images/b_option_list_icon_enter.png");
}
.uncheck-icon::before {
	-webkit-mask-image: url("../images/tw_ic_popup_btn_delete.png");
}

@media all and (-tizen-geometric-shape: circle) {
	.ui-shopping-list li label {
		padding-left: 30px;
	}
	.ui-shopping-list .content-has-selector {
		padding-right: 20px;
	}
	.ui-shopping-list li input[type="checkbox"] {
		position: absolute;
		left: 30px;
		right: auto;
		top: 50%;
		-webkit-transform: translate3d(0, -50%, 0);
	}
}
