<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
<div class="ui-page" id="static-graph-page">
	<header>
		<h1>Graph with static data</h1>
	</header><!-- /header -->
	<div class="ui-content">
		<ul class="ui-listview">
			<li class="ui-li-anchor">
					<div class="ui-graph"
					id="graph"
					data-mode="continuous"
					data-graph="line"
					data-color="#FF0000"
					data-xlabel="Number"
					data-ylabel="Value"
					data-xinit="0"
					data-yinit="0"
					data-axis-x-type="index"
					data-axis-x-max-count="10"
					data-axis-x-unit="s"
					data-value="[1,2,5]"></div>
			</li>
		</ul>
		</div><!-- /content -->
		<script src="../../lib/tau/libs/tau.graph.js" type="text/javascript"></script>
</div><!-- /page -->
</body>
</html>