.ui-music-player .ui-cover {
	background: url("../images/gallery_default_image_04.jpg") transparent no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	top: 0;
	position: absolute;
}
.ui-music-player .ui-track {
	position: absolute;
	bottom: 0;
	font-size: 24px;
	padding-top: 5px;
	height: 100px;
	opacity: 0.6;
}
.ui-music-player .ui-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.ui-music-player .ui-controls .ui-btn {
	font-weight: bold;
	border: 2px solid #ffffff;
	background-color: transparent;
	position: absolute;
	border-radius: 100%;
	width: 20%;
	height: 20%;
	top: 40%;
	left: 40%;
	font-size: 20px;
	line-height: 12px;
	text-shadow: #000000 1px 1px 2px, #000000 -1px -1px 2px;
}
.ui-music-player .ui-controls .ui-btn:active {
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	text-shadow: #ffffff 1px 1px 2px, #ffffff -1px -1px 2px;
}
.ui-music-player .ui-controls .ui-btn.ui-play {
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
	background: transparent no-repeat center center;
}
.ui-music-player .ui-controls .ui-btn.ui-play.on-play {
	background-image: url(../images/video_pause_btn.png);
}
.ui-music-player .ui-controls .ui-btn.ui-play.on-pause {
	background-image: url(../images/video_play_btn.png);
}
.ui-music-player .ui-controls .ui-btn.ui-prev {
	left: 5%;
}
.ui-music-player .ui-controls .ui-btn.ui-next {
	left: 75%
}

.ui-music-player .ui-cover-1 {
	background-image: url("../images/gallery_default_image_04.jpg");
}
.ui-music-player .ui-cover-2 {
	background-image: url("../images/gallery_default_image_07.jpg");
}
.ui-music-player .ui-cover-3 {
	background-image: url("../images/gallery_default_image_09.jpg");
}
.ui-music-player .ui-cover-4 {
	background-image: url("../images/gallery_default_image_10.jpg");
}
