a {
    color: #FFF;
}

#notesList.ui-listview {
    width: 100%;
}

#notesList.ui-listview li {
    margin: 0;
    white-space: nowrap;
}

#notesList.ui-listview li .ui-swipe-item-cover-inner {
    text-overflow: ellipsis;
    overflow: hidden;
}

#editor .ui-scrollview-view {
    height: 100%;
}

#editor textarea {
    height: 95%;
}