<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="styles.css" rel="stylesheet" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="searchInputPage">
		<div class="ui-header" data-position="fixed">
			<h1>
				Search Input
			</h1>
		</div>
		<div class="ui-content" id="search-input-content">
			<ul class="ui-listview ui-colored-list" id="searchList">
				<li class="ui-li-static">
					<input id="demo-page-search-input" name="search" type="search" value="" />
				</li>
				<li class="ui-li-static" data-filtertext="Hairston">
					Hairston
				</li>
				<li class="ui-li-static" data-filtertext="Hansbrough">
					Hansbrough
				</li>
				<li class="ui-li-static" data-filtertext="Allred">
					Allred
				</li>
				<li class="ui-li-static" data-filtertext="Hanrahan">
					Hanrahan
				</li>
				<li class="ui-li-static" data-filtertext="Egan">
					Egan
				</li>
				<li class="ui-li-static" data-filtertext="Dare">
					Dare
				</li>
				<li class="ui-li-static" data-filtertext="Edmonson">
					Edmonson
				</li>
				<li class="ui-li-static" data-filtertext="Calip">
					Calip
				</li>
				<li class="ui-li-static" data-filtertext="Baker">
					Baker
				</li>
				<li class="ui-li-static" data-filtertext="Fazekas">
					Fazekas
				</li>
				<li class="ui-li-static" data-filtertext="Garrity">
					Garrity
				</li>
				<li class="ui-li-static" data-filtertext="Hansen">
					Hansen
				</li>
				<li class="ui-li-static" data-filtertext="Feigenbaum">
					Feigenbaum
				</li>
				<li class="ui-li-static" data-filtertext="Andy">
					Andy
				</li>
				<li class="ui-li-static" data-filtertext="Evan">
					Evan
				</li>
				<li class="ui-li-static" data-filtertext="Max">
					Max
				</li>
				<li class="ui-li-static" data-filtertext="Adam">
					Adam
				</li>
			</ul>
		</div>
		<script src="./searchinput.js">
		</script>
	</div>
</body>

</html>