<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="../../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet"  href="styles.css">
    <script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
    <div class="ui-page" id="searchInputPage">
        <div class="ui-header" data-position ="fixed" >
            <h1>Search Input</h1>
        </div>
        <div class="ui-content" id="search-input-content">
            <ul id="searchList" class="ui-listview ui-colored-list">
                <li class="ui-li-static">
                    <input type="search" name="search" id="demo-page-search-input" value=""/>
                </li>
                <li data-filtertext="Hairston" class="ui-li-static">Hairston</li>
                <li data-filtertext="Hansbrough" class="ui-li-static">Hansbrough</li>
                <li data-filtertext="Allred" class="ui-li-static">Allred</li>
                <li data-filtertext="Hanrahan" class="ui-li-static">Hanrahan</li>
                <li data-filtertext="Egan" class="ui-li-static">Egan</li>
                <li data-filtertext="Dare" class="ui-li-static">Dare</li>
                <li data-filtertext="Edmonson" class="ui-li-static">Edmonson</li>
                <li data-filtertext="Calip" class="ui-li-static">Calip</li>
                <li data-filtertext="Baker" class="ui-li-static">Baker</li>
                <li data-filtertext="Fazekas" class="ui-li-static">Fazekas</li>
                <li data-filtertext="Garrity" class="ui-li-static">Garrity</li>
                <li data-filtertext="Hansen" class="ui-li-static">Hansen</li>
                <li data-filtertext="Feigenbaum" class="ui-li-static">Feigenbaum</li>
                <li data-filtertext="Andy" class="ui-li-static">Andy</li>
                <li data-filtertext="Evan" class="ui-li-static">Evan</li>
                <li data-filtertext="Max" class="ui-li-static">Max</li>
                <li data-filtertext="Adam" class="ui-li-static">Adam</li>
            </ul>
        </div>
        <script src="./searchinput.js"></script>
    </div>
</body>
</html>
