<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<a class="ui-btn ui-btn-left ui-btn-icon btn-icon-back" data-rel="back">
			</a>
			<h1 class="ui-title-text-main">
				Multiline
			</h1>
			<div class="ui-title-text-sub">
				tau@samsung.com
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li>
					List item
				</li>
				<li>
					List item
				</li>
				<li>
					List item
				</li>
				<li>
					List item
				</li>
				<li>
					List item
				</li>
			</ul>
		</div>
	</div>
</body>

</html>