<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="simpleTitleBack">
		<header>
			<div class="ui-appbar-left-icons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-back" data-rel="back"></button>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Application title</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
					<button class="ui-btn ui-btn-icon ui-btn-icon-add"></button>
					<button class="ui-btn ui-btn-icon ui-btn-icon-search"></button>
					<button class="ui-btn ui-btn-icon ui-btn-icon-more"></button>
			</div>
		</header>
		<div class="ui-content">
		</div>
	</div>
</body>

</html>