<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="subtitle">
		<header>
			<div class="ui-appbar-title-container ui-appbar-has-subtitle">
				<span class="ui-appbar-title">Main title</span>
				<span class="ui-appbar-title ui-appbar-subtitle">Sub title</span>
			</div>
		</header>
		<div class="ui-content">
		</div>
	</div>
</body>

</html>