<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js"
					data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="twoTextButtonPage">
	<header>
		<a class="ui-btn ui-btn-text ui-btn-left" data-rel="back">CANCEL</a>
		<h1>Two buttons</h1>
		<a class="ui-btn ui-btn-text ui-btn-right">DONE</a>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
			<li class="ui-li-static">List item</li>
		</ul>
	</div>
</div>
</body>
</html>
