<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<div class="ui-header" data-expanding-enabled="false">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Boundary feedback</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</div>
		<div class="ui-content" data-scroll-indicator="true">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub ui-li-text-value">
							Value text
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. Chunking background color is #fcfcfc.
						</span>
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 04
						</span>
					</div>
				</li>
			</ul>
			<div class="ui-content-subheader">Subheader</div>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub">
							This psd is just a sample. I believe in your possibility. This screen will help.
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. This text color is #909090.
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. This text color is #909090.
						</span>
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 04
						</span>
						<span class="ui-li-text-sub">
							This psd is just a sample. I believe in your possibility. This screen will help.
						</span>
					</div>
				</li>
			</ul>
			<div class="ui-content-subheader">Subheader</div>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 01
						</span>
						<span class="ui-li-text-sub">
							This psd is just a sample. I believe in your possibility. This screen will help.
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 02
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. This text color is #909090.
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 03
						</span>
						<span class="ui-li-text-sub">
							This is the second line for descriptive phrases. This text color is #909090.
						</span>
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Main text 04
						</span>
						<span class="ui-li-text-sub">
							This psd is just a sample. I believe in your possibility. This screen will help.
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
