<!DOCTYPE html>
<html>

<head>
	<title>Ads Card</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="header-footer-demo-page">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Ads Card
			</h1>
		</div>
		<div class="ui-content">
			<div class="ui-card" data-src="../../webclip/ads-card-1/webclip.html"></div>
			<div class="ui-card" data-src="../../webclip/ads-card-2/webclip.html"></div>
			<div class="ui-card" data-src="../../webclip/ads-card-3/webclip.html"></div>
			<div class="ui-card" data-src="../../webclip/ads-card-4/webclip.html"></div>
		</div>
	</div>
</body>

</html>
