body,
.ui-page {
	/* Break the flow */
	position: absolute;
	top: 0px;

	/* Give them all the available space */
	width: 100%;
	height: 100%;

	/* Remove the margins if any */
	margin: 0;

	/* Allow them to scroll down the document */
	overflow-y: hidden;
}

body {
	/* Sending body at the bottom of the stack */
	z-index: 1;
}

.ui-page {
	/* Making the wrapper stack above the body */
	z-index: 2;
}