<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>

<tau-page class="ui-page" id="ButtonDemo">
	<div class="ui-header" data-position="fixed">
		<h1>Buttons</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-group-index">Basic Box Buttons</li>
			<li class="ui-li-static li-has-right-btn">Button<button is="tau-formbutton" inline="true">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button is="tau-formbutton" inline="true" icon="arrow-r">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button is="tau-formbutton" inline="true" icon="arrow-r" iconpos="left">Button</button></li>
			<li class="ui-li-static li-has-right-btn">Button<button is="tau-formbutton" inline="true" icon="call" iconpos="right">Button</button></li>

			<li class="ui-group-index">Box Buttons Layout</li>
			<li class="ui-li-static ui-li-has-btn">
				<button is="tau-formbutton">Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button is="tau-formbutton">Normal</button>
				<button is="tau-formbutton">Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button is="tau-formbutton">Button</button>
				<button is="tau-formbutton">Button</button>
				<button is="tau-formbutton">Button</button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button is="tau-formbutton" icon="info"></button>
				<button is="tau-formbutton" icon="info"></button>
				<button is="tau-formbutton" icon="info"></button>
			</li>
			<li class="ui-li-static ui-li-has-btn">
				<button is="tau-formbutton" icon="info">Button</button>
				<button is="tau-formbutton" icon="info">Button</button>
			</li>

			<li class="ui-group-index">Circle Buttons</li>
			<li class="ui-li-static li-has-right-btn">Add<button is="tau-formbutton" inline="true" icon="add" style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Delete<button is="tau-formbutton" inline="true" icon="delete" style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Cancel<button is="tau-formbutton" inline="true" icon="cancel" style="circle"></button></li>
			<li class="ui-li-static li-has-right-btn">Reorder<button is="tau-formbutton" inline="true" icon="reorder" style="circle"></button></li>

			<li class="ui-group-index">No Background Buttons</li>
			<li class="ui-li-static li-has-right-btn">Add<button is="tau-formbutton" inline="false" icon="add" style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Delete<button is="tau-formbutton" inline="true" icon="delete" style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Cancel<button is="tau-formbutton" inline="true" icon="cancel" style="nobg"></button></li>
			<li class="ui-li-static li-has-right-btn">Reorder<button is="tau-formbutton" inline="true" icon="reorder" style="nobg"></button></li>

			<li class="ui-group-index">Icon Buttons</li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-l&quot; <button is="tau-formbutton" inline="true" icon="arrow-l"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-r&quot; <button is="tau-formbutton" inline="true" icon="arrow-r"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-u&quot; <button is="tau-formbutton" inline="true" icon="arrow-u"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;arrow-d&quot; <button is="tau-formbutton" inline="true" icon="arrow-d"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;delete&quot; <button is="tau-formbutton" inline="true" icon="delete"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;check&quot; <button is="tau-formbutton" inline="true" icon="check"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;gear&quot; <button is="tau-formbutton" inline="true" icon="gear"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;refresh&quot; <button is="tau-formbutton" inline="true" icon="refresh"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;forward&quot; <button is="tau-formbutton" inline="true" icon="forward"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;back&quot; <button is="tau-formbutton" inline="true" icon="back"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;grid&quot; <button is="tau-formbutton" inline="true" icon="grid"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;info&quot; <button is="tau-formbutton" inline="true" icon="info"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;home&quot; <button is="tau-formbutton" inline="true" icon="home"></button></li>
			<li class="ui-li-static li-has-right-btn">data-icon = &quot;alert&quot; <button is="tau-formbutton" inline="true" icon="alert"></button></li>

			<li class="ui-group-index">Text Buttons</li>
			<li class="ui-li-anchor"><a href="textButton.html">Text Buttons </a></li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>



</body></html>