<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page search-bar-page">
		<div data-role="header">
			<a class="ui-btn ui-btn-icon btn-icon-back" data-rel="back">
			</a>
			<input type="search" />
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static">
					Hairston
				</li>
				<li class="ui-li-static">
					Hansbrough
				</li>
				<li class="ui-li-static">
					Allred
				</li>
				<li class="ui-li-static">
					Hanrahan
				</li>
				<li class="ui-li-static">
					Egan
				</li>
				<li class="ui-li-static">
					Dare
				</li>
				<li class="ui-li-static">
					Edmonson
				</li>
				<li class="ui-li-static">
					Calip
				</li>
				<li class="ui-li-static">
					Baker
				</li>
				<li class="ui-li-static">
					Fazekas
				</li>
				<li class="ui-li-static">
					Garrity
				</li>
				<li class="ui-li-static">
					Hansen
				</li>
				<li class="ui-li-static">
					Feigenbaum
				</li>
				<li class="ui-li-static">
					Andy
				</li>
				<li class="ui-li-static">
					Evan
				</li>
				<li class="ui-li-static">
					Max
				</li>
				<li class="ui-li-static">
					Adam
				</li>
			</ul>
		</div>
		<script src="searchbar.js" type="text/javascript">
		</script>
	</div>
</body>

</html>