<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Rich Notification</title>

	<link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body>
	<!-- Start of first page: #main -->
	<div class="ui-page ui-page-active" id="main">
		<div class="notification">
			<div class="info">
				<span class="icon">
					<img src="images/wc_phone_log_detail_call_icon.png">
				</span>
				<span class="description">MISSED CALL</span>
				<span>Thomas Smith</span>
			</div>
		</div>
	</div>

	<!-- tau library needs to be added before main and application script -->
	<script type="text/javascript" src="lib/tau/js/tau.js"></script>
	<script type="text/javascript" src="js/circle-helper.js"></script>

	<script src="js/main.js"></script>
</body>

</html>
