<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="progresscircle-demo">
		<header>
			<h1>
				Progress circle
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-static">
					<div class="result" id="result">
					</div>
					<div class="ui-progress" data-size="large" data-type="circle" data-value="0" id="circle">
					</div>
				</li>
			</ul>
		</div>
		<!-- /content -->
		<div class="ui-footer" data-position="fixed">
			<a class="ui-btn" href="#" id="minus">
				-10%
			</a>
			<a class="ui-btn" href="#" id="plus">
				+10%
			</a>
		</div>
		<script src="progresscircle.js">
		</script>
	</div>
</body>

</html>