<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h2>Progress on Buttons</h2>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Flat button
						</span>
					</div>
					<div class="ui-li-action">
						<button data-inline="true" data-style="flat">Button</button>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Flat button progress
						</span>
					</div>
					<div class="ui-li-action">
						<button data-inline="true" data-style="flat">
							<div class="ui-progress" data-type="indeterminatecircle"></div>
						</button>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Contained button
						</span>
					</div>
					<div class="ui-li-action">
						<button data-inline="true" data-style="contained">
							Button
						</button>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Contained button progress
						</span>
					</div>
					<div class="ui-li-action">
						<button data-inline="true" data-style="contained">
							<div class="ui-progress" data-type="indeterminatecircle"></div>
						</button>
					</div>
				</li>
			</ul>
		</div>
		<footer class="ui-bottom-button">
			<button data-style="contained">
				Button
			</button>
			<button class="ui-btn-contained-colored" data-style="contained">
				<div class="ui-progress" data-type="indeterminatecircle"></div>
			</button>
		</footer>
	</div>
</body>

</html>