<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="multilineTitle">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h2>
				Multiline
			</h2>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="multiline/subtitle.html">
						Main title + sub title
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="multiline/multiline-title.html">
						Multiline title
					</a>
				</li>
		</div>
	</div>
</body>

</html>
