
.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 640px;
}

#result, #pattern {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 360px;
}

label {
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    width: 20%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 1%;
}

label.small {
    width: 10%;
}

input[type="range"] {
    flex: 1;
}

input {
    margin: 0 10px;
}