
footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.small-drop-zone {
    border: 10px dashed #ccc;
    color: #ccc;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
}

.small-drop-zone img {
    max-width: 360px;
}

#diff-results {
    flex: 0 0 auto;
}

#control {
    border: 10px dashed #ccc;
    color: #ccc;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.small-drop-zone.drag-over {
    border: 10px dashed #08c;
}

#image-diff {
    margin-left: 0;
    border-style: solid;
}

.progress {
    margin-bottom: 4px;
}
.progress.last {
    margin-bottom: 8px;
}

.progress #alpha {
    background-color: #eee;
    background-image: linear-gradient(45deg, darkgrey 25%, transparent 25%, transparent 75%, darkgrey 75%, darkgrey),
    linear-gradient(45deg, darkgrey 25%, lightgrey 25%, lightgrey 75%, darkgrey 75%, darkgrey);
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
    background-repeat: repeat;
}

.progress #white {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #ddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image: -o-linear-gradient(top, #fff, #ddd);
    background-image: linear-gradient(to bottom, #fff, #ddd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0)
}

.progress #black {
    background-color: #000;
    background-image: -moz-linear-gradient(top, #555, #000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#000));
    background-image: -webkit-linear-gradient(top, #555, #000);
    background-image: -o-linear-gradient(top, #555, #000);
    background-image: linear-gradient(to bottom, #555, #000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff000000', GradientType=0)
}

#list {
    overflow: scroll;
    flex: 1;
}
#sumarize {
    flex: 0;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 150%;
}
#list > a {
    color: grey;
    padding-left: 0.5em;
    display: inline-block;
    margin: 0.2em;
}

#list > a.pass {
    font-weight: bolder;
}

.flex-box {
    display: flex;
}
nav {
    width: 570px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
section {
    flex: 0 0 auto;
}

.buttons {
    padding-top: 15px;
}