<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Instant Settings</title>

</head>

<body class="ui-pagecontainer">
	<div id="main" class="ui-page">
		<div class="ui-content ui-settings">
			<div class="ui-selector">
				<!--
				Selector
				-->
				<div class="ui-item wifi-icon on" data-title="Wi-Fi" data-status="On"></div>
				<div class="ui-item location-icon" data-title="Location" data-status="Off"></div>
				<div class="ui-item mute-icon on" data-title="Sound" data-status="On"></div>
				<div class="ui-item mobile-data-icon on" data-title="Data" data-status="On"></div>
				<div class="ui-item blocking-icon off" data-title="Blocking" data-status="Off"></div>
				<div class="ui-item power-saving-icon" data-title="Power" data-status="Off"></div>
				<!--
				Defined indicator
				-->
				<div class="ui-selector-indicator">
					<div class="description">
						<div class="title"></div>
						<div class="status"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- tau library needs to be added before main and application script -->
	<script type="text/javascript" src="lib/tau/js/tau.js"></script>
	<script type="text/javascript" src="js/circle-helper.js"></script>
	<!-- control settings options -->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/application.js"></script>

</body>
</html>
