<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/tv/theme/changeable/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script type="text/javascript" src="../../../lib/tau/tv/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<div class="ui-appbar-left-icons-container">
			<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
		</div>
		<h1>Interactive</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-content-area">
			<li class="ui-li-anchor"><a href="./coverflow/index.html">CoverFlow</a></li>
			<li class="ui-li-anchor"><a href="./interactive3D/index.html">Interactive 3D</a></li>
		</ul>
	</div>
</div>
</body>
</html>
