<!DOCTYPE html>
<html>
<!--
	Template contains one page.
	Page contains:
	- track name
	- control buttons
	- progress
	- image representing cover of track
-->
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet"  href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Music Player</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body>
	<div class="ui-page ui-page-active ui-music-player" data-enable-page-scroll="false" id="player">
		<div class="ui-content">
			<div class="ui-cover"></div>
			<progress class="ui-circle-progress" max="100" value="0"></progress>
			<div class="ui-controls">
				<button class="ui-btn ui-prev">|&lt;&lt;</button>
				<button class="ui-btn ui-play on-pause"></button>
				<button class="ui-btn ui-next">&gt;&gt;|</button>
			</div>
		</div>
		<footer class="ui-footer ui-bottom-button ui-fixed">
			<button class="ui-btn ui-track">Track name</button>
		</footer>
	</div>
	<script type="text/javascript" src="./lib/tau/js/tau.js" data-build-remove="false"></script>
	<!--
		Main application.
	-->
	<script src="./js/main.js"></script>
</body>
</html>
