<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-welcome-page" id="moremenu-page">
		<header>
			<h1>
				More menu
			</h1>
		</header>
		<div class="ui-content">
			<h1 class="ui-welcome-primary-text">
				Press "more" key in device. Then you can show more menu popup.
			</h1>
			<div class="ui-popup ui-popup-moremenu" id="moremenu-footer">
				<div class="ui-popup-content">
					<ul class="ui-listview">
						<li class="ui-li-anchor">
							<a href="#">
								List item 1
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 2
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 3
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 4
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 5
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 6
							</a>
						</li>
						<li class="ui-li-anchor">
							<a href="#">
								List item 7
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="ui-footer" data-position="fixed">
			<a class="ui-btn" data-position-to="window" data-rel="popup" href="#moremenu-footer">
				Open More menu
			</a>
		</div>
		<script src="moremenufooter.js">
		</script>
	</div>
</body>

</html>