/** SWIPE BUTTON */

.ui-swipe-button {
	height: 80px;
	line-height: 80px;
	width: 80px;
	padding: 0;
	text-align: initial;
	overflow: hidden;
}
.ui-swipe-button::before {
	position: fixed;
	content: "";
	width: 80px;
	height: 100%;
	background-color: inherit;
	opacity: 0.4;
	-webkit-transition: width 0.3s;
	transition: width 0.3s;
}
.ui-swipe-button:active::before,
.ui-swipe-button.active::before {
	width: 200px;
}

.ui-swipe-button .ui-container {
	position: absolute;
	width: 200px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
.ui-swipe-button.ui-move-right .ui-container {
	right: 0;
}
.ui-swipe-button.ui-move-left .ui-container {
	left: 0;
}
.ui-swipe-button.ui-move-right .ui-container > * {
	display: none;
	overflow: hidden;
}
/** THE FIRST ELEMENT OF SWIPE BUTTON */
.ui-swipe-button .ui-container > *:nth-child(1) {
	display: block;
	width: 80px;
}
.ui-swipe-button.ui-move-right .ui-container > *:nth-child(1) {
	float: right;
}
.ui-swipe-button.ui-move-left .ui-container > *:nth-child(1) {
	float: left;
}

/** THE SECOND ELEMENT OF SWIPE BUTTON - description visible on swiping */
.ui-swipe-button .ui-container > *:nth-child(2) {
	display: block;
	width: 120px;
	font-size: 14px;
}
.ui-swipe-button.ui-move-right .ui-container > *:nth-child(2) {
	float: left;
}
.ui-swipe-button.ui-move-left .ui-container > *:nth-child(2) {
	float: right;
}

.ui-swipe-button.ui-radius {
	border-radius: 50px;
}
.ui-swipe-button.ui-radius::before {
	border-radius: 50px;
}

.ui-swipe-button.ui-move-left::before {
	right: 0;
}

.ui-swipe-button.ui-move-right::before {
	left: 0;
}

/** APPLICATION STYLES */

.alarm {
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.alarm > * {
	display: block;
}

.alarm img {
	width: 100px;
	margin: 10px auto;
}

.ui-swipe-button {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#reject {
	left: 0;
	background-color: #C70000;
	border-radius: 0 50px 50px 0;
}

#snooze {
	right: 0;
	background-color: #CAA618;
	border-radius: 50px 0 0 50px;
}