<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<div class="ui-appbar-title-container">
				<span class="ui-appbar-title">Sound and vibration</span>
			</div>
			<div class="ui-appbar-action-buttons-container">
				<button class="ui-btn ui-btn-icon ui-btn-icon-more" data-style="flat"></button>
			</div>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Sound mode
						</span>
						<span class="ui-li-text-sub ui-li-text-value">
							Vibration
						</span>
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Vibration while ringing
						</span>
					</div>
					<div class="ui-li-action">
						<input type="checkbox" class="ui-on-off-switch">
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Do not distrurb
						</span>
						<span class="ui-li-text-sub">
							Mute all calls and alerts, except for your custom exceptions.
						</span>
					</div>
					<div class="ui-li-divider"></div>
					<div class="ui-li-action">
						<input type="checkbox" class="ui-on-off-switch">
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Ringtone
						</span>
					</div>
				</li>
			</ul>
			<div class="ui-content-subheader">Subheader</div>
			<ul class="ui-listview ui-content-area">
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Vibration intensity
						</span>
					</div>
				</li>
			</ul>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Notification sound
						</span>
						<span class="ui-li-text-sub ui-li-text-value">
							Skyline
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Volume
						</span>
					</div>
				</li>
				<li class="ui-li-divider">
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Use volume keys for media
						</span>
						<span class="ui-li-text-sub">
							Control the media volume by default when you press the Volume keys.
						</span>
					</div>
					<div class="ui-li-divider"></div>
					<div class="ui-li-action">
						<input type="checkbox" class="ui-on-off-switch">
					</div>
				</li>
				<li>
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							System feedbacks
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
