<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="demo-page">
		<script src="../../../lib/tau/mobile/js/jquery.min.js" type="text/javascript">
		</script>
		<script src="../../../lib/tau/libs/jquery.flipster.min.js" type="text/javascript">
		</script>
		<div class="ui-header" data-position="fixed">
			<h1>
				CoverFlow
			</h1>
		</div>
		<div class="ui-content">
			<div class="ui-coverflow" data-effect="carousel">
				<ul class="flip-items">
					<li>
						<img class="coverflow-image" src="images/1.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/2.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/3.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/4.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/5.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/6.jpg" />
					</li>
					<li>
						<img class="coverflow-image" src="images/7.jpg" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>