<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="demo-page">
	<script type="text/javascript" src="../../../lib/tau/libs/tau.coverflow.js"></script>
	<div class="ui-header" data-position="fixed">
		<h1>CoverFlow</h1>
	</div>
	<div class="ui-content">
		<div class="ui-coverflow" data-effect="carousel">
			<ul class="flip-items">
				<li><img src="images/1.jpg" class="coverflow-image"></li>
				<li><img src="images/2.jpg" class="coverflow-image"></li>
				<li><img src="images/3.jpg" class="coverflow-image"></li>
				<li><img src="images/4.jpg" class="coverflow-image"></li>
				<li><img src="images/5.jpg" class="coverflow-image"></li>
				<li><img src="images/6.jpg" class="coverflow-image"></li>
				<li><img src="images/7.jpg" class="coverflow-image"></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
