<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="demo-page">
	<div class="ui-header" data-position="fixed">
		<h1>Interactive</h1>
	</div>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-anchor"><a href="./coverflow/index.html">CoverFlow</a></li>
			<li class="ui-li-anchor"><a href="./interactive3D/index.html">Interactive 3D</a></li>
		</ul>
	</div>
</div>
</body>
</html>
