<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
	<style>
		.rounded {border-radius: 25%}
		.circle {border-radius: 50%}
	</style>
</head>

<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Checkbox (Thumbnail list)
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_001.jpg" class="circle"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							First line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_002.jpg" class="circle"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Second line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_003.jpg" class="circle"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Third line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_004.jpg" class="circle"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Fourth line
						</span>
					</div>
				</li>
				<li class="ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_005.jpg" class="circle"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Fifth line
						</span>
					</div>
				</li>
			</ul>
			<div class="ui-content-subheader">Subheader</div>
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_006.jpg" class="rounded"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Sixth line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_007.jpg" class="rounded"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Seventh line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_008.jpg" class="rounded"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Eighth line
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_009.jpg" class="rounded"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Ninth line
						</span>
					</div>
				</li>
				<li class="ui-li-has-checkbox ui-li-has-checkbox-icon">
					<input type="checkbox" />
					<div class="ui-li-checkbox-icon">
						<img src="Thumbnail/thumbnail_010.jpg" class="rounded"/>
					</div>
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Tenth line
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>