<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Checkbox (List)
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span id="checkbox-text-1">
								Check on
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b checkboxes" name="checkbox-1" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span id="checkbox-text-2">
								Check off
							</span>
						</span>
					</span>
					<input class="ui-li-area-b checkboxes" name="checkbox-2" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Check on disabled
							</span>
						</span>
					</span>
					<input checked="checked" class="ui-li-area-b" disabled="disabled" id="checkbox-3" name="checkbox-3" type="checkbox" />
				</li>
				<li class="ui-li-flex">
					<span class="ui-li-area ui-li-area-a">
						<span class="ui-li-text">
							<span>
								Check off disabled
							</span>
						</span>
					</span>
					<input class="ui-li-area-b" disabled="disabled" id="checkbox-4" name="checkbox-4" type="checkbox" />
				</li>
			</ul>
		</div>
		<link href="styles.css" rel="stylesheet" />
		<script src="checkbox.js">
		</script>
	</div>
</body>

</html>