<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="checkbox-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Checkbox (List)
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-divider ui-li-has-checkbox">
					<input checked="checked" class="checkboxes" name="checkbox-1" type="checkbox" />
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-1">
							Check on
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox">
					<input class="checkboxes" name="checkbox-2" type="checkbox" />
					<div class="ui-li-text">
						<span class="ui-li-text-title" id="checkbox-text-2">
							Check off
						</span>
					</div>
				</li>
				<li class="ui-li-divider ui-li-has-checkbox">
					<input checked="checked" disabled="disabled" name="checkbox-3" type="checkbox" />
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Check on disabled
						</span>
					</div>
				</li>
				<li class="ui-li-has-checkbox">
					<input disabled="disabled" name="checkbox-4" type="checkbox" />
					<div class="ui-li-text">
						<span class="ui-li-text-title">
							Check off disabled
						</span>
					</div>
				</li>
			</ul>
		</div>
		<link href="styles.css" rel="stylesheet" />
		<script src="checkbox.js">
		</script>
	</div>
</body>

</html>