<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="checkbox-image-thumbnail-demo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Checkbox (Image thumbnail)
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-gridview">
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/1.jpg" />
					<label class="ui-selection">
						<input type="checkbox" checked/>
					</label>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../images/2.jpg" />
					<label>
						<input type="checkbox" />
					</label>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>