<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="dropdownmenu-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Dropdown menu
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					Basic
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
					<select data-native-menu="false" id="select-custom-1" name="select-custom-1">
						<option data-placeholder="true" value="first-line" data-hide-placeholder-menu-items="false">
							First line
						</option>
						<option value="1">
								Option1
						</option>
						<option value="2">
								Option2
						</option>
						<option value="3">
								Option3
						</option>
						<option value="4">
								Option4
						</option>
					</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
					<select data-native-menu="false" id="select-custom-2" name="select-custom-2">
						<option data-placeholder="true" value="second-line">
							Second line
						</option>
						<option value="1">
							Option1
						</option>
						<option value="2">
							Option2
						</option>
						<option value="3">
							Very, Very, Very long option 3 
						</option>
						<option value="4">
							Option4
						</option>
					</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-3" name="select-custom-3">
							<option data-placeholder="true" value="third-line">
								Third line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-4" name="select-custom-4">
							<option data-placeholder="true" value="fourth-line">
								Fourth line
							</option>
							<option value="1">
								Opt1
							</option>
							<option value="2">
								Opt2
							</option>
							<option value="3">
								Opt3
							</option>
							<option value="4">
								Opt4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-5" name="select-custom-5">
							<option data-placeholder="true" value="fifth-line">
								Fifth line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-6" name="select-custom-6">
							<option data-placeholder="true" value="sixth-line">
								Sixth line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-7" name="select-custom-7">
							<option data-placeholder="true" value="seventh-line">
								Seventh line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-8" name="select-custom-8">
							<option data-placeholder="true" value="eighth-line">
								Eighth line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-9" name="select-custom-9">
							<option data-placeholder="true" value="ninth-line">
								Ninth line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-10" name="select-custom-10">
							<option data-placeholder="true" value="tenth-line">
								Tenth line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
				<li class="ui-li-static ui-li-has-dropdownmenu">
						<select data-native-menu="false" id="select-custom-11" name="select-custom-11">
							<option data-placeholder="true" value="eleventh-line">
								Eleventh line
							</option>
							<option value="1">
								Option1
							</option>
							<option value="2">
								Option2
							</option>
							<option value="3">
								Option3
							</option>
							<option value="4">
								Option4
							</option>
						</select>
				</li>
			</ul>
		</div>
	</div>
	<!-- /page -->
</body>

</html>