<!DOCTYPE html>
<html>

<head>
	<title>Expand Button</title>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-demo">
		<div class="ui-header" data-position="fixed">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Expand button
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="../list/expandable-list.html">
						Expand button on list
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="expandable-card.html">
						Expand button on card
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="expandable-list-input.html">
						Expand button with text fields
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="expandable-card-list.html">
						Expand button on card with list
					</a>
				</li>
			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>