<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header>
			<h1>
				Controllers
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="checkbox.html">
						Checkbox (List)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="checkbox-image-thumbnail.html">
						Checkbox (Image thumbnail)
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="button/index.html">
						Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="dropdownmenu.html">
						Dropdown Menu
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="onoffswitch.html">
						On/Off switch
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="master-onoffswitch.html">
						Master On/Off switch
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="radio.html">
						Radio Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="floatingactions/index.html">
						Floating Actions
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="textinput.html">
						Text Field
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="textenveloper/index.html">
						Text Enveloper
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="searchinput/index.html">
						Search Input
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="searchbar/index.html">
						Search Bar
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="progress/index.html">
						Progress &amp; Activity
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="slider.html">
						Slider
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="scrollhandler.html">
						ScrollBar Handler
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="dimmer.html">
						Dimmer
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
