<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="slider-demo">
		<div class="ui-header" data-position="fixed">
			<h1>
				Slider (Continuous slider)
			</h1>
		</div>
		<div class="ui-content">
			<div>
				Normal <input id="normal" max="80" min="0" name="normalSlider1" type="range" value="40"/>
			</div>
			<div>
				Disabled <input id="unfocus" max="100" min="0" name="normalSlider1" type="range" value="40" disabled/>
			</div>

			</ul>
		</div>
		<!-- /content -->
	</div>
	<!-- /page -->
</body>

</html>