<!DOCTYPE html><html><head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<tau-page class="ui-page">
	<header>
		<h1>Activity circle</h1>
	</header><!-- /header -->
	<tau-scrollview class="ui-content">
		<tau-coloredlistview class="ui-listview ui-colored-list">
			<li class="ui-group-index">Large Indicator</li>
			<li>
				<tau-progress type="activitycircle" size="large" id="activity-large" class="ui-progress activity-circle"></tau-progress>
			</li>
			<li class="ui-group-index">Medium Indicator</li>
			<li>
				<tau-progress type="activitycircle" size="medium" id="activity-medium" class="ui-progress activity-circle"></tau-progress>
			</li>
			<li class="ui-group-index">Small Indicator</li>
			<li>
				<tau-progress type="activitycircle" size="small" id="activity-small" class="ui-progress activity-circle"></tau-progress>
			</li>
		</tau-coloredlistview>
	</tau-scrollview>
</tau-page>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</body></html>