<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="expandable-page">
		<header>
			<h1>
				Expandable List
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-expandable">
					<h2>
						Color
					</h2>
					<ul class="ui-listview">
						<li>
							Blue
						</li>
						<li>
							Red
						</li>
						<li>
							White
						</li>
						<li>
							Black
						</li>
						<li>
							Green
						</li>
					</ul>
				</li>
				<li class="ui-expandable">
					<h2>
						Number
					</h2>
					<ul class="ui-listview">
						<li>
							One
						</li>
						<li>
							Two
						</li>
						<li>
							Three
						</li>
						<li>
							Four
						</li>
						<li>
							Five
						</li>
					</ul>
				</li>
				<li class="ui-expandable">
					<h2>
						Items
					</h2>
					<ul class="ui-listview">
						<li>
							Item 1
						</li>
						<li>
							Item 2
						</li>
						<li>
							Item 3
						</li>
						<li>
							Item 4
						</li>
						<li>
							Item 5
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>