.ui-colorpicker {

	.ui-selector-indicator .ui-selector-indicator-text {
		font-size: 0;
		height: 100 * @unit_base;
		width: 100 * @unit_base;
		max-height: 100 * @unit_base;
		border-radius: 50%;
	}

	.ui-selector-indicator-arrow:before {
		background-color: white;
	}

}