/***************************************************************************
                  drawer
***************************************************************************/
.ui-drawer {
	background-color : @color_drawer_bg;
	border-radius: 50%;
}

.ui-drawer-overlay {
	background-color: @color_actionbar_title_bg_disable;
}