.ui-marquee {
    height: 49 * @unit_base;
    line-height: 49 * @unit_base;
}    
.ui-arc-listview-text-content {
    margin-left: 0;
}
.ui-arc-listview-5 {
    .ui-marquee {
        line-height: 70 * @unit_base;
    }
}
