.ui-slider-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.ui-slider-icon {
		width: 150 * @unit_base;
		height: 150 * @unit_base;
		margin: 0 auto;
	}
	.ui-slider-titles {
		height: 74 * @unit_base;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.ui-slider-title {
			color: @color_slider_title;
			font-size: 30 * @unit_base;
			line-height: 30 * @unit_base;
			margin-top: 7 * @unit_base;
		}
		.ui-slider-subtitle {
			color: @color_slider_subtitle;
			font-size: 29 * @unit_base;
			line-height: 30 * @unit_base;
		}
	}

	.ui-slider-buttons {
		height: 64 * @unit_base;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		.ui-slider-minus {
			width: 44 * @unit_base;
			height: 100%;
			background: url('images/Slider/b_slider_icon_minus.png') no-repeat center center;
			z-index: 1;
		}
		.ui-slider-number {
			height: 100%;
			color: @color_slider_number;
			font-size: 40 * @unit_base;
			width: 66 * @unit_base;
			margin: 0 -20 * @unit_base;
			line-height: 52 * @unit_base;
			margin-top: 5 * @unit_base;
		}
		.ui-slider-plus {
			background: url('images/Slider/b_slider_icon_plus.png') no-repeat center center;
			width: 44 * @unit_base;
			height: 100%;
			z-index: 1;
		}
	}
}