@import "./theme.colorPalette.less";

/***************************************************************************
                  Body
***************************************************************************/
@color_bg: @black-color;
@color_bg_cover: @color_bg;
@color_text: @white-color;
@font_size_text: 32 * @unit_base;

/***************************************************************************
                   Action Bar / Header
***************************************************************************/
@color_actionbar_title_text: @primary-color;
@color_actionbar_title_text_big: @primary-color;
@color_actionbar_subtitle_text: @sub-title-bar-color;
@color_actionbar_title_bg: @black-color;
@color_actionbar_title_bg_disable: @black-color;

/****************************************************************************
               Circle Progress Bar
****************************************************************************/
@color_circleprogressbar_bg: @progress-bg-color;
@color_circleprogressbar_value: @progress-bg-stroke-color;

/****************************************************************************
		Progress Bar
****************************************************************************/
@color_progressbar_text: @color_text;
@color_progressbar_normal_bg: @progress-bg-color;
@color_progressbar_value_bg: @progress-bg-stroke-color;
@color_progressbar_indeterminate: @progress-green-color;

/****************************************************************************
		Processing
****************************************************************************/
@color_processing_text: T097;
@color_processing: B065L6;
@color_processing_alternate: B082;

/***************************************************************************
                   Buttons
***************************************************************************/
@color_button_default_text: @white-color;
@color_button_default_text_pressed: fade(@white-color, 40%);
@color_button_default_text_disable: fade(@white-color, 40%);

@color_button_default_normal_bg: fade(@primary-color, 25%);
@color_button_default_focus_bg: W011;
@color_button_default_press_bg: fade(#0d4c80, 85%);
@color_button_default_disable_bg: fade(@bg-dim-color, 85%);

@color_button_bottom_text: @button-bottom-color;
@color_button_bottom_text_pressed: @button-bottom-color;
@color_button_bottom_text_disable: fade(@bg-dim-color, 35%);

@bg_color_button_bottom_pressed: fade(@bg-press-color, 85%);
@bg_color_button_bottom: fade(@bg-normal-color, 85%);
@bg_color_button_bottom_disabled: fade(@bg-dim-color, 85%);

@color_button_red_text: T041;
@color_button_red_text_pressed: T041P;
@color_button_red_text_disable: T041D;
@color_button_red_normal_bg: W012;
@color_button_red_focus_bg: W012;
@color_button_red_press_bg: W012P;
@color_button_red_disable_bg: W012D;

@color_button_orange_text: T041;
@color_button_orange_text_pressed: T041P;
@color_button_orange_text_disable: T041D;
@color_button_orange_normal_bg: W013;
@color_button_orange_focus_bg: W013;
@color_button_orange_press_bg: W013P;
@color_button_orange_disable_bg: W013D;

@color_button_green_text: T041;
@color_button_green_text_pressed: T041P;
@color_button_green_text_disable: T041D;
@color_button_green_normal_bg: W014;
@color_button_green_focus_bg: W014;
@color_button_green_press_bg: W014P;
@color_button_green_disable_bg: W014D;

@color_button_blue_text: T041;
@color_button_blue_text_pressed: T041P;
@color_button_blue_text_disable: T041D;
@color_button_blue_normal_bg: W011;
@color_button_blue_focus_bg: W011;
@color_button_blue_press_bg: W011P;
@color_button_blue_disable_bg: W011D;

@color_button_grid_border: B011;

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_title_text: @primary-color;
@color_popup_content_text: #cccccc;
@color_popup_bg: @black-color;
@color_popup_edge_inner_glow: B061L8;
@color_popup_edge_shadow: B0610;
@color_popup_bg_cover: B061L1;
@color_popup_header_bg: B061L2;
@color_popup_toast_border: B061L7;
@color_popup_border: B061L8;
@color_popup_overlay: W1712;
@color_popup_button_bg_press: B065L4P;
@color_popup_side_button_bg: fade(@bg-normal-color, 85%);
@color_popup_side_button_bg_press: fade(@bg-press-color, 85%);
@color_popup_button_icon_bg: #38a4fc;
@color_popup_button_icon_bg_press: #38a4fc;

/***************************************************************************
                   Footer
***************************************************************************/
@color_footer_button_bg: B065L4;
@color_footer_button_bg_press: B065L4P;
@color_footer_button_icon_bg: F022L1i;
@color_footer_button_icon_bg_press: F022L1iP;
/***************************************************************************
                   Toast Popup
***************************************************************************/
@color_toast_popup_border: B061L7;
@color_toast_popup_bg: W1712;
@color_popup_toast_check: @white-color;
@color_toast_text: @white-color;

/***************************************************************************
                   Small Toast Popup
***************************************************************************/
@color_toast_popup_small_bg: fade(#666666, 90%);
@color_toast_popup_small_text: #f5f5f5;
@color_toast_popup_small_stroke: W15022;
@color_toast_popup_icon: @white-color;

/***************************************************************************
                   Option Popup
***************************************************************************/

/***************************************************************************
                  circular index scrollbar
***************************************************************************/
@color_circularindexscrollbar_indicator_bg: @index-scroll-bg-color;
@color_circularindexscrollbar_indicator_text: @primary-color;

/***************************************************************************
                  Listview
***************************************************************************/
@color_list_press_bg: B041P;
@color_listview_border: B0222;
@color_listview_text: @color_text;
@color_listview_text_press: @color_text;
@color_listview_text_dim: fade(@white-color, 40%);
@color_listview_text_highlight: @color_text;
@color_list_actionicon_divider: B0221L1;
@color_list_actionicon_image_normal: F022L1i;
@color_list_actionicon_image_disable: F022L1iD;
@color_list_divider_text: rgba(204, 204, 204, 1);
@color_list_divider_bg: fade(@color_list_divider_text, 55%);
@color_listview_sub_text: @listview-sub-text-color;
@listview-sub-text-color: #b3b3b3;
@color_listview_sub_text_press: @listview-sub-text-color;
@color_listview_sub_text_dim: fade(@listview-sub-text-color, 40%);
@color_listview_focus: fade(@white-color, 9%);
@color_listview_focus_press: fade(@white-color, 6%);
@color_listview_focus_ef: B027;
@color_listview_focus_ef_press: B027P;

/****************************************************************************
               Listview with Marquee
****************************************************************************/
@color_listview_fadeout_bg: B0211;
@color_listview_fadeout_pressed_bg: B041P;

/***************************************************************************
                   Multiline List
***************************************************************************/
@color_multiline_list_item: @color_text;
@color_multiline_list_item_press: @color_text;
@color_multiline_list_item_divider: fade(@white-color, 20%);
@color_multiline_list_text: #cccccc;
@color_multiline_list_text_press: #cccccc;
@color_multiline_list_subtext: @listview-sub-text-color;
@color_multiline_list_subtext_press: @listview-sub-text-color;

/***************************************************************************
                   Checkbox/Radio
***************************************************************************/
@color_checkboxradio_radio: @controller-on-color;
@color_checkboxradio_radio_press: fade(@controller-on-color, 65%);
@color_checkboxradio_radio_dim: fade(@controller-on-color, 30%);
@color_checkboxradio_radio_off: fade(@controller-off-color, 80%);
@color_checkboxradio_radio_off_press: fade(@controller-off-color, 60%);
@color_checkboxradio_radio_off_dim: fade(@controller-off-color, 30%);

@color_checkboxradio_radiobox_line: @controller-on-color;
@color_checkboxradio_radiobox_line_press: fade(@controller-on-color, 65%);
@color_checkboxradio_radiobox_line_dim: fade(@controller-on-color, 30%);
@color_checkboxradio_radiobox_line_off: fade(@controller-off-color, 80%);
@color_checkboxradio_radiobox_line_off_press: fade(@controller-off-color, 60%);
@color_checkboxradio_radiobox_line_off_dim: fade(@controller-off-color, 30%);

@color_checkboxradio_check: @controller-on-color;
@color_checkboxradio_check_press: fade(@controller-on-color, 65%);
@color_checkboxradio_check_dim: fade(@controller-on-color, 30%);
@color_checkboxradio_uncheck: fade(@controller-off-color, 80%);
@color_checkboxradio_uncheck_press: fade(@controller-off-color, 60%);
@color_checkboxradio_uncheck_dim: fade(@controller-off-color, 30%);

@color_checkboxradio_checkbox_bg: @controller-on-color;
@color_checkboxradio_checkbox_bg_press: fade(@controller-on-color, 65%);
@color_checkboxradio_checkbox_bg_dim: fade(@controller-on-color, 30%);
@color_checkboxradio_checkbox_bg_uncheck: fade(@controller-off-color, 80%);
@color_checkboxradio_checkbox_bg_uncheck_press: fade(@controller-off-color, 60%);
@color_checkboxradio_checkbox_bg_uncheck_dim: fade(@controller-off-color, 30%);

/***************************************************************************
						Page Indicator
***************************************************************************/
@color_page_indicator_normal: fade(@white-color, 50%);
@color_page_indicator_selected: @white-color;

/****************************************************************************
		Toggle Switch
****************************************************************************/
@color_switch_text: T0811;
@color_switch_sub_text: T161;

@color_toggle_on_handler: #0074d4;
@color_toggle_on_handler_press: #0074d4;
@color_toggle_on_handler_dim: fade(@color_toggle_on_handler, 30%);
@color_toggle_off_handler: #a1a1a1;
@color_toggle_off_handler_press: #a1a1a1;
@color_toggle_off_handler_dim: fade(@color_toggle_off_handler, 30%);

@color_toggle_on_bg: @controller-on-color;
@color_toggle_on_bg_press: @controller-on-color;
@color_toggle_on_bg_dim: fade(@controller-on-color, 30%);
@color_toggle_off_bg: @controller-off-color;
@color_toggle_off_bg_press: @controller-off-color;
@color_toggle_off_bg_dim: fade(@controller-off-color, 24%);

@color_toggle_handler_bg: #fafafa;
@color_toggle_handler_bg_press: #bfbfbf;
@color_toggle_handler_bg_dim: fade(@color_toggle_handler_bg, 30%);

/***************************************************************************
                   Scroller
***************************************************************************/
@bg_scroller_bouncing_effect_right_glow: "./images/Scroller/bouncing_circle_right_glow.png";
@bg_scroller_bouncing_effect_right_edge: "./images/Scroller/bouncing_circle_right_edge.png";
@bg_scroller_bouncing_effect_top_glow: "./images/Scroller/bouncing_circle_top_glow.png";
@bg_scroller_bouncing_effect_top_edge: "./images/Scroller/bouncing_circle_top_edge.png";
@bg_scroller_bouncing_effect_bottom_glow: "./images/Scroller/bouncing_circle_bottom_glow.png";
@bg_scroller_bouncing_effect_bottom_edge: "./images/Scroller/bouncing_circle_bottom_edge.png";
@bg_scroller_bouncing_effect_left_glow: "./images/Scroller/bouncing_circle_left_glow.png";
@bg_scroller_bouncing_effect_left_edge: "./images/Scroller/bouncing_circle_left_edge.png";
@color_scroller_bouncing_effect_glow: fade(@controller-on-color, 20%);
@color_scroller_bouncing_effect_edge: fade(@controller-on-color, 0%);
@color_option_popup_bg: W011;
@color_option_popup_list_border: B212;
@color_option_popup_list_text: T181;
/***************************************************************************
                   More options
***************************************************************************/
@color_drawer_bg: B0511D;
@color_moreoptions_bg: B052L1;
@color_moreoptions_handler: rgba(255, 255, 255, 0.13);

/***************************************************************************
                   Selector
***************************************************************************/
@color_selector_layer_bg: fade(@black-color, 85%);
@color_selector_icon_bg: @white-color;
@color_selector_icon_bg_press: @rotary-bg-press-color;
@color_selector_icon_bg_dim: @rotary-bg-dim-color;
@color_selector_handler_bg: B0116;
@color_selector_handler_bg_pressed: B0116P;
@color_selector_layer_sub1_bg: B058L1;
@color_selector_layer_sub2_bg: B058L2;
@color_selector_text: @white-color;
@color_selector_subtext: @primary-light_color;
@color_selector_btn: B058;
@color_selector_btn_press: B058P;

@color_selector_edit_icon_bg: B1672;
@color_selector_edit_icon_bg_press: B1672P;
@color_selector_edit_icon_minus: B1671;
@color_selector_edit_icon_minus_press: B1671P;
@color_selector_edit_icon_outline: B1673;
@color_selector_edit_plus_button_bg: B0554;
@color_selector_edit_plus_button_bg_press: B0554P;
@color_selector_edit_icon_empty_bg: B1681;

/***************************************************************************
                   Text Input
***************************************************************************/

@color_textinput_text: T016;
@color_textinput_text_disabled: T016D;
@color_textinput_text_cursor: B0215;
@color_textinput_bg: B02112;
@color_textinput_text_focus: T142;
@color_textinput_text_active: #5B5B5B;

/***************************************************************************
                   Slider
***************************************************************************/
@color_slider_title: T117;
@color_slider_subtitle: T118;
@color_slider_number: T014;

/***************************************************************************
                   Hyper Link
***************************************************************************/
@color_hyperlink_normal: T1611;
@color_hyperlink_press: T1611P;

/***************************************************************************
                   Number Picker
***************************************************************************/
@color_number_picker_label: @white-color;
@color_number_picker_number: @white-color;
@color_number_picker_number_disabled: #666666;
@color_number_picker_number_pressed: fade(@color_number_picker_number, 40%);
@color_number_picker_blink_on: T275S;
@color_number_picker_blink_off: T275;

/***************************************************************************
                   Time Picker
***************************************************************************/
@color_time_picker_number_blink_on: T271S;
@color_time_picker_number_blink_off: T271;

/***************************************************************************
                   Date Picker
***************************************************************************/
@color_date_picker_dayname: T277;

/***************************************************************************
                   Time/Number/Date Indicator
***************************************************************************/
@color_time_picker_ampm: T2741;
@color_time_picker_ampm_pressed: T274P;
@color_time_picker_ampm_disabled: T274D;

/***************************************************************************
                   More Options
***************************************************************************/
@color_more_options_bg: B059;
@color_more_options_icon_bg: B0117;
@color_more_options_icon_bg_press: B0117P;
@color_more_options_icon_bg_active: B0117S;
@color_more_options_icon: B0118;
@color_more_options_icon_press: B0118P;
@color_more_options_icon_active: B0118S;
@color_more_options_indicator_text: T013;
@color_more_options_indicator_subtext: T018;

/***************************************************************************
                   IconButton
***************************************************************************/
@color_button_icon_bg: F022L1i;
@color_button_icon_active_bg: F022L1iP;
@color_button_icon_disabled_bg: F022L1iD;
/***************************************************************************
						Fast Scroll
****************************************************************************/
@color_scrollview_handler_bg: @fast-scroll-bg-color;
@color_scrollview_handler_thumb: fade(@white-color, 80%);
