/***************************************************************************
                  toggle switch
***************************************************************************/
.ui-switch-text {
	margin-top: @fixed_toggleswitch_text_margin_top;
	margin-bottom: @fixed_toggleswitch_text_margin_bottom;
	font-size: @fixed_toggleswitch_text_font_size;
	padding: 0;
}
.ui-switch-sub-text {
	margin-top: @fixed_toggleswitch_sub_text_margin_top;
	font-size: @fixed_toggleswitch_sub_text_font_size;
	color: @color_switch_sub_text;
}

.ui-toggleswitch {
	position: relative;
    display: inline-block;
    width: 76 * @unit_base;
    height: 51 * @unit_base;

	&.ui-toggleswitch-large {
		width: @fixed_toggleswitch_width;
		height: @fixed_toggleswitch_height;
	}

	input.ui-switch-input {
		border: 2 * @unit_base solid @color_toggle_off_bg;
		background-color: transparent;
		border-radius: 47 * @unit_base;
        width: 76 * @unit_base;
        height: 47 * @unit_base;
        appearance: none;
        outline: 0;
        top: 2 * @unit_base;
        mask-image: none;
        backface-visibility: hidden;

        &:checked {
			background-color: @color_toggle_on_bg;
			border: 0;
        }

		mask-image: none;
		.mask-size(100% 100%);
		transition: background-color 150ms linear;
		&::before {
			content: none;
		}
		&:active {
			transition: background-color 150ms linear;
			background-color: @color_toggle_off_bg_press;
			&~ .ui-switch-activation,
			~ .ui-switch-button{
				background-color: transparent;
				&::before {
					background-color: @color_toggle_off_handler_off_press;
				}
			}
		}
		&:disabled {
			background-color: transparent;
			&~ .ui-switch-activation,
			~ .ui-switch-button {
				background-color: transparent;
				&::before {
					background-color: @color_toggle_off_handler_off_dim;
				}
			}
		}
	}

	.ui-switch-activation,
	.ui-switch-button {
		width: 100%;
		height: 100%;
		-webkit-mask-image: none;
		background-color: transparent;
		transform: none;
		&::before {
			position: absolute;
			content: '';
			transform: scale(1);
			height: 51 * @unit_base;
			width: 51 * @unit_base;
			border: 2 * @unit_base solid @color_toggle_off_handler;
			left: 0;
			top: 0;
			background-color: @color_toggle_on_handler_on;
			transition-property: transform;
			transition-duration: 300ms;
			transition-timing-function: ease-out;
			border-radius: 50%;
			-webkit-mask-image: none;
			mask-image: none;
			pointer-events: none;
			box-sizing: border-box;
		}

		&::after {
			content: none;
		}
	}

	input.ui-switch-input:checked {
		background-color: @color_toggle_on_bg;
		&~ .ui-switch-activation,
		~ .ui-switch-button {
			width: 100%;
			height: 100%;
			-webkit-mask-image: none;
			mask-image: none;
			background-color: transparent;
			transform: none;
			&::before {
				transform: translateX(25 * @unit_base);
				background-color: @color_toggle_on_handler_on;
				border: 2 * @unit_base solid @color_toggle_on_handler;
			}
			&::after {
				content: none;
			}
		}
		&:active {
			background-color: @color_toggle_on_bg_press;
			&~ .ui-switch-activation, ~ .ui-switch-button {
				background-color: transparent;
				&::before {
					background-color: @color_toggle_on_handler_on_press;
					border-color: @color_toggle_on_handler_press;
				}
			}
		}
		&:disabled {
			background-color: @color_toggle_on_bg_dim;
			&~ .ui-switch-activation, ~ .ui-switch-button {
				background-color: transparent;
				&::before {
					background-color: @color_toggle_on_handler_on_dim;
					border-color: @color_toggle_on_handler_dim;
				}
			}
		}
	}
}
