<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<header class="ui-header">
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>
				Progress on Dialog
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a data-position-to="window" data-rel="popup" href="#2-btn-progress-dialog">
						2 Button Basic Dialog
					</a>
				</li>
			</ul>
			<div class="ui-popup" id="2-btn-progress-dialog">
				<div class="ui-popup-header">
					Dialog header
				</div>
				<div class="ui-popup-content">
					Lorem ipsum dolor sit amet,
					consectetur adiptiscing elit, sed
					doei usmod tempore sit ipsum
				</div>
				<div class="ui-popup-footer">
					<a class="ui-btn" data-style="flat" data-rel="back">Action 1</a>
					<div class="ui-li-divider"></div>
					<button class="ui-btn" data-style="flat">
						<div class="ui-progress" data-type="indeterminatecircle"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
