<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>

	<link rel="stylesheet" type="text/css" href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" type="text/css" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Shopping List</title>
	<link rel="stylesheet" type="text/css" href="css/shopping.css">
	<script src="js/main.js"></script>
</head>

<body>
	<!-- Start of page: #one -->
	<div class="ui-page ui-page-active" id="one">
		<header class="ui-header ui-has-more">
			<h2 class="ui-title">Shopping list</h2>
			<button type="button" class="ui-more ui-icon-overflow">More Options</button>
		</header><!-- /header -->
		<div class="ui-content content-has-selector">
			<ul id="shopping" class="ui-listview ui-shopping-list">
				<li><label>bread<input type="checkbox"></label></li>
				<li><label>rolls<input type="checkbox" checked></label></li>
				<li><label>butter<input type="checkbox"></label></li>
				<li><label>tomatoes<input type="checkbox"></label></li>
				<li><label>leeks<input type="checkbox"></label></li>
				<li><label>celery<input type="checkbox"></label></li>
				<li><label>potatoes<input type="checkbox"></label></li>
				<li><label>cheese<input type="checkbox" checked></label></li>
				<li><label>milk<input type="checkbox"></label></li>
				<li><label>chocolate<input type="checkbox"></label></li>
				<li><label>water<input type="checkbox"></label></li>
				<li><label>candle<input type="checkbox"></label></li>
				<li><label>mop<input type="checkbox"></label></li>
				<li><label>batteries<input type="checkbox"></label></li>
			</ul>
		</div>

		<!-- Square Profile -->
		<div id="moreoptionsPopup" class="ui-popup" data-transition="slideup">
			<div class="ui-popup-header">Filter</div>
			<div class="ui-popup-content">
				<ul class="ui-listview">
					<li><a href="#" data-rel="back">ALL</a></li>
					<li><a href="#" data-rel="back">Unchecked</a></li>
					<li><a href="#" data-rel="back">Checked</a></li>
				</ul>
			</div>
		</div>

		<!-- Circle Profile -->
		<div id="moreoptionsPopupCircle" class="ui-popup">
			<div id="selector" class="ui-selector">
				<div class="ui-item item-icon all-icon" data-title="All"></div>
				<div class="ui-item item-icon check-icon" data-title="Checked"></div>
				<div class="ui-item item-icon uncheck-icon" data-title="Unchecked"></div>
			</div>
		</div>

	</div><!-- /page one -->

	<script type="text/javascript" src="./lib/tau/js/tau.js"></script>
	<!-- data file needs to be added before main script -->
	<script src="js/shopping.js"></script>
	<script src="js/circle-helper.js"></script>

</body>
</html>
