<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page" id="activity-page">
	<header>
		<h1>Activity on layer</h1>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static">List Item 01</li>
			<li class="ui-li-static">List Item 02</li>
			<li class="ui-li-static">List Item 03</li>
			<li class="ui-li-static">List Item 04</li>
			<li class="ui-li-static">List Item 05</li>
			<li class="ui-li-static">List Item 06</li>
			<li class="ui-li-static">List Item 07</li>
			<li class="ui-li-static">List Item 08</li>
			<li class="ui-li-static">List Item 09</li>
			<li class="ui-li-static">List Item 10</li>
		</ul>
	</div>
	<div id="activity-popup" class="ui-popup ui-popup-activity ui-popup-activity-small">
		<div class="ui-popup-content">Scanning...</div>
	</div>
	<script type="text/javascript" src="activity.js"></script>
</div>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>

</body>
</html>