<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page" id="progressbar-demo">
	<header>
		<h1>Progress bar</h1>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static ui-li-has-progress">
				<div data-type="bar" data-value="50" id="progressbar" class="ui-progress"></div>
			</li>
			<li class="ui-li-static ui-li-has-progress-with-labels">
				<div data-type="bar" data-value="50" id="progressbar2" class="ui-progress"></div>
				<div class="ui-progress-bar-label-left-bottom">Lorem</div>
				<div class="ui-progress-bar-label-right-top">Lorem</div>
				<div class="ui-progress-bar-label-right-bottom">Lorem</div>
			</li>
			<li class="ui-li-static ui-li-has-progress">
				<div data-type="activitybar" id="progressbar3" class="ui-progress"></div>
			</li>
			<li class="ui-li-static ui-li-has-progress-with-labels">
				<div data-type="activitybar" id="progressbar4" class="ui-progress"></div>
				<div class="ui-progress-bar-label-left-bottom">Lorem</div>
				<div class="ui-progress-bar-label-right-top">Lorem</div>
				<div class="ui-progress-bar-label-right-bottom">Lorem</div>
			</li>
		</ul>
	</div><!-- /content -->
	<script src="progressbar.js"></script>
</div><!-- /page -->
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</body>
</html>
