<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
<div class="ui-page" id="progresscircle-demo">
	<header>
		<h1>Progress circle</h1>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-colored-list">
			<li class="ui-li-static">
				<div class="result" id="result"></div>
				<div data-type="circle" data-size="large" data-value="0" class="ui-progress" id="circle"></div>
			</li>
		</ul>
	</div><!-- /content -->
	<div class="ui-footer" data-position="fixed">
		<a id="minus" href="#" class="ui-btn">-10%</a>
		<a id="plus" href="#" class="ui-btn">+10%</a>
	</div>
	<script src="progresscircle.js"></script>
</div>
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</body>
</html>