<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="tabs">
		<header>
			<h1>
				Tabs
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview">
				<li class="ui-group-index">
					Text only
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_text_only_2.html">
						2 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_text_only_3.html">
						3 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_text_only_4.html">
						4 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_text_only_scroll.html">
						scrollable
					</a>
				</li>
				<li class="ui-group-index">
					With icon
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_icon_2.html">
						2 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_icon_3.html">
						3 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_icon_4.html">
						4 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_icon_scroll.html">
						scrollable
					</a>
				</li>
				<li class="ui-group-index">
					With title
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_title_2.html">
						2 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_title_3.html">
						3 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_title_4.html">
						4 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_title_scroll.html">
						scrollable
					</a>
				</li>
				<li class="ui-group-index">
					With icon and title
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_icon_with_title_2.html">
						2 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_icon_with_title_3.html">
						3 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_icon_with_title_4.html">
						4 elements
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_icon_with_title_scroll.html">
						scrollable
					</a>
				</li>
				<li class="ui-group-index">
					With badge
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_with_badge.html">
						With badge
					</a>
				</li>
				<li class="ui-group-index">
					With buttons
				</li>
				<li class="ui-li-anchor">
					<a href="./tabs_text_only_with_buttons.html">
						With buttons
					</a>
				</li>
				<li class="ui-group-index">
					Light View
				</li>
				<li class="ui-li-anchor">
					<a href="./light_view.html">
						Blue example
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>