<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<div class="ui-page" id="dimmer-page">
	<header>
		<h1>Dimmer</h1>
	</header><!-- /header -->
	<div class="ui-content">
		<ul class="ui-listview">
			<li class="ui-li-anchor">
				<div class="ui-dimmer" id="dimmer"></div>
			</li>
			<li class="ui-group-index">Dimmer</li>
			<li class="ui-li-static">
				<input id="slider" name="mySlider1" type="range" value="50" min="0" max="100">
			</li>
			<li class="ui-li-static">
				<button>Test</button>
			</li>
			</ul>
	</div><!-- /content -->
	<script src="dimmer.js"></script>
</div><!-- /page -->
</body>
</html>