.ui-mailbox .ui-icon::before {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	margin: 7px 0 0 6px;
}
.ui-icon-completed::before {
	background-color: rgb(255, 255, 255);
	-webkit-mask-image: url(../images/icon_detail_completed.png);
}
.ui-icon-flagged::before {
	background-color: rgb(255, 255, 255);
	-webkit-mask-image: url(../images/icon_detail_flagged.png);
}
.ui-icon-starred::before {
	background-color: rgba(255, 180, 0, 1);
	-webkit-mask-image: url(../images/icon_detail_starred.png);
}
.ui-icon-dot {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 15px 6px 0 0;
}
.ui-icon-dot::before {
	content: "";
	width: 17px;
	height: 17px;
	left: 0;
	position: absolute;
	background-color: lightblue;
	-webkit-mask-image: url(../images/account_color_circle.png);
}
.ui-snap-listview-selected .ui-icon-dot::before {
	background-color: rgba(252, 122, 115, 1);
}

@media all and (-tizen-geometric-shape: circle) {
	.ui-header .ui-title {
		color: rgba(252, 122, 115, 1);
	}
	.ui-header .ui-title .ui-sub-title {
		display: block;
		font-size: 17px;
		line-height: normal;
	}
}
.ui-snap-listview li {
	color: rgb(255, 255, 255);
	margin-top: 4px;
	font-size: 36px;
	line-height: 47px;
	padding-top: 0;
	padding-bottom: 0;
}
.ui-listview.ui-snap-listview li.ui-snap-listview-selected .ui-li-sub-text {
	opacity: 1;
}
.ui-listview.ui-snap-listview li .ui-li-sub-text {
	color: rgb(255, 255, 255);
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 24px;
	line-height: 32px;
	opacity: 0.3;
	transition: opacity 0.3s linear;
}
.ui-snap-listview li .time {
	text-align: center;
	margin-top: 3px;
	line-height: 32px;
}