body .ui-content {
	text-align: center;
}

body .ui-content.content-padding {
	padding: 10px;"
}

body .ui-content .form {
	padding: 10px;
}

input {
	width: 100%;
}

.pageindicator {
	display: block;
	position: relative;
}

#summary .progressbar {
	margin-top: 2.125rem;
	margin-bottom: 0.875rem;
}

#summary .ui-processing {
	display: none;
}

#summary.progressing .message,
#summary.progressing .progressbar {
	display: none;
}

#summary.progressing .ui-processing {
	display: block;
}

@media all and (-tizen-geometric-shape: circle) {
	#summary.progressing .progressbar {
		display: block;
	}
	.pageindicator {
		position: absolute;
	}
}

