<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/tv/theme/changeable/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/tv/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page">
		<link href="./main-tab-sample.css" rel="stylesheet" />
		<div class="ui-content">
			<div class="ui-content-area app-full-height">
			</div>
		</div>
	</div>
</body>

</html>