.default-div() {
	display: block;
}

.default-button() {
	align-items: flex-start;
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: outset;
	border-bottom-width: 2px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: outset;
	border-left-width: 2px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: outset;
	border-right-width: 2px;
	border-top-color: rgb(221, 221, 221);
	border-top-style: outset;
	border-top-width: 2px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	text-align: center;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-input-text() {
	-webkit-rtl-ordering: logical;
	user-select: text;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: inset;
	border-bottom-width: 2px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(238, 238, 238);
	border-left-style: inset;
	border-left-width: 2px;
	border-right-color: rgb(238, 238, 238);
	border-right-style: inset;
	border-right-width: 2px;
	border-top-color: rgb(238, 238, 238);
	border-top-style: inset;
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 1px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1px;
	text-align: start;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-input-search() {
	-webkit-rtl-ordering: logical;
	user-select: text;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-style: inset;
	border-bottom-width: 2px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(238, 238, 238);
	border-left-style: inset;
	border-left-width: 2px;
	border-right-color: rgb(238, 238, 238);
	border-right-style: inset;
	border-right-width: 2px;
	border-top-color: rgb(238, 238, 238);
	border-top-style: inset;
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	text-align: start;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-input-checkbox() {
	-webkit-rtl-ordering: logical;
	user-select: text;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-right: 3px;
	margin-top: 3px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	text-align: start;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-input-radio() {
	-webkit-rtl-ordering: logical;
	user-select: text;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0;
	color: rgb(0, 0, 0);
	cursor: auto;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 3px;
	margin-top: 3px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	text-align: start;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-progress() {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: -3.20000004768372px;
	writing-mode: horizontal-tb;
}

.default-select() {
	-webkit-rtl-ordering: logical;
	align-items: center;
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(169, 169, 169);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(169, 169, 169);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(169, 169, 169);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(169, 169, 169);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	overflow-x: visible;
	overflow-y: visible;
	text-align: start;
	text-indent: 0;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	white-space: pre;
	word-spacing: 0;
	writing-mode: horizontal-tb;
}

.default-select-option() {
	color: rgb(0, 0, 0);
	cursor: default;
	display: block;
	font-family: 'Arial', 'MS Trebuchet', sans-serif;
	font-size: 13.3333330154419px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	min-height: 16px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	text-align: start;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	white-space: pre;
	word-spacing: 0;
}

.default-anchor() {
	display: inline;
}

.default-list() {
	display: block;
	list-style-type: disc;
}

.default-list-ordered() {
	display: block;
	list-style-type: decimal;
}

.default-list-item() {
	display: list-item;
	list-style-type: disc;
	text-align: left;
}
