// TAU extensions for prefixer
.mask-image(@url1, @url2, @url3) {
	-webkit-mask-image: url(@url1), url(@url2), url(@url3);
	-moz-mask-image: url(@url1), url(@url2), url(@url3);
	-ms-mask-image: url(@url1), url(@url2), url(@url3);
	-o-mask-image: url(@url1), url(@url2), url(@url3);
	mask-image: url(@url1), url(@url2), url(@url3);
}

.mask-image(@url1, @url2) {
	-webkit-mask-image: url(@url1), url(@url2);
	-moz-mask-image: url(@url1), url(@url2);
	-ms-mask-image: url(@url1), url(@url2);
	-o-mask-image: url(@url1), url(@url2);
	mask-image: url(@url1), url(@url2);
}

.mask-image(@url) {
	-webkit-mask-image: url(@url);
	-moz-mask-image: url(@url);
	-ms-mask-image: url(@url);
	-o-mask-image: url(@url);
	mask-image: url(@url);
}

.mask-image() {
	-webkit-mask-image: none;
	-moz-mask-image: none;
	-ms-mask-image: none;
	-o-mask-image: none;
	mask-image: none;
}

.mask-box-image-repeat(@repeat) {
	-webkit-mask-box-image-repeat: @repeat;
	-moz-mask-box-image-repeat: @repeat;
	-ms-mask-box-image-repeat: @repeat;
	-o-mask-box-image-repeat: @repeat;
	mask-box-image-repeat: @repeat;
}

.mask-box-image-width(@width) {
	-webkit-mask-box-image-width: @width;
	-moz-mask-box-image-width: @width;
	-ms-mask-box-image-width: @width;
	-o-mask-box-image-width: @width;
	mask-box-image-width: @width;
}

.mask-box-image-slice(@rect) {
	-webkit-mask-box-image-slice: @rect;
	-moz-mask-box-image-slice: @rect;
	-ms-mask-box-image-slice: @rect;
	-o-mask-box-image-slice: @rect;
	mask-box-image-slice: @rect;
}

.mask-size(@size1, @size2, @size3) {
	-webkit-mask-size: @size1, @size2, @size3;
	-moz-mask-size: @size1, @size2, @size3;
	-ms-mask-size: @size1, @size2, @size3;
	-o-mask-size: @size1, @size2, @size3;
	mask-size: @size1, @size2, @size3;
}

.mask-size(@size1, @size2) {
	-webkit-mask-size: @size1, @size2;
	-moz-mask-size: @size1, @size2;
	-ms-mask-size: @size1, @size2;
	-o-mask-size: @size1, @size2;
	mask-size: @size1, @size2;
}

.mask-size(@size) {
	-webkit-mask-size: @size;
	-moz-mask-size: @size;
	-ms-mask-size: @size;
	-o-mask-size: @size;
	mask-size: @size;
}

.mask-position(@position1, @position2) {
	-webkit-mask-position: @position1, @position2;
	-moz-mask-position: @position1, @position2;
	-ms-mask-position: @position1, @position2;
	-o-mask-position: @position1, @position2;
	mask-position: @position1, @position2;
}

.mask-position(@position) {
	-webkit-mask-position: @position;
	-moz-mask-position: @position;
	-ms-mask-position: @position;
	-o-mask-position: @position;
	mask-position: @position;
}

.mask-repeat(@repeat) {
	-webkit-mask-repeat: @repeat;
	-moz-mask-repeat: @repeat;
	-ms-mask-repeat: @repeat;
	-o-mask-repeat: @repeat;
	mask-repeat: @repeat;
}

.mask-repeat(@repeat1, @repeat2) {
	-webkit-mask-repeat: @repeat1, @repeat2;
	-moz-mask-repeat: @repeat1, @repeat2;
	-ms-mask-repeat: @repeat1, @repeat2;
	-o-mask-repeat: @repeat1, @repeat2;
	mask-repeat: @repeat1, @repeat2;
}

.mask-composite(@param1, @param2) {
	-webkit-mask-composite: @param1, @param2;
	-moz-mask-composite: @param1, @param2;
	-ms-mask-composite: @param1, @param2;
	-o-mask-composite: @param1, @param2;
	mask-composite: @param1, @param2;
}

.mask-composite(@param) {
	-webkit-mask-composite: @param;
	-moz-mask-composite: @param;
	-ms-mask-composite: @param;
	-o-mask-composite: @param;
	mask-composite: @param;
}

.linear-gradient-right(@default,@color1,@stop1,@color2,@stop2) {
	background-color: @default;
	background-image: linear-gradient(right, @color1 @stop1, @color2 @stop2);
}

.gradient-circural(@position, @startColor, @endColor, @radius) {
	background-image: radial-gradient(~"circle at @{position}", @startColor, @endColor ~"@{radius}%");
}

.gradient-circural-safe(@safeColor, @position, @startColor, @endColor, @radius) {
	background-color: @safeColor;
	.gradient-circural(@position, @startColor, @endColor, @radius);
}

.appearance(@value) {
	appearance: @value;
}

// prefixer's tprop function fails with 2 arguments, and we dont want strings
.transition-property(@property1, @property2) {
	-webkit-transition-property: @property1, @property2;
	-moz-transition-property: @property1, @property2;
	-o-transition-property: @property1, @property2;
	-ms-transition-property: @property1, @property2;
	transition-property: @property1, @property2;
}

.transition-property(@property1, @property2, @property3) {
	-webkit-transition-property: @property1, @property2, @property3;
	-moz-transition-property: @property1, @property2, @property3;
	-o-transition-property: @property1, @property2, @property3;
	-ms-transition-property: @property1, @property2, @property3;
	transition-property: @property1, @property2, @property3;
}

.transition-property(@property1, @property2, @property3, @property4) {
	-webkit-transition-property: @property1, @property2, @property3, @property4;
	-moz-transition-property: @property1, @property2, @property3, @property4;
	-o-transition-property: @property1, @property2, @property3, @property4;
	-ms-transition-property: @property1, @property2, @property3, @property4;
	transition-property: @property1, @property2, @property3, @property4;
}

.transition-property(@property1, @property2, @property3, @property4, @property5) {
	-webkit-transition-property: @property1, @property2, @property3, @property4, @property5;
	-moz-transition-property: @property1, @property2, @property3, @property4, @property5;
	-o-transition-property: @property1, @property2, @property3, @property4, @property5;
	-ms-transition-property: @property1, @property2, @property3, @property4, @property5;
	transition-property: @property1, @property2, @property3, @property4, @property5;
}

.transition-transform(@value) {
	-webkit-transition: -webkit-transform @value;
	-moz-transition: -moz-transform @value;
	-o-transition: -o-transform @value;
	-ms-transition: -ms-transform @value;
	transition: transform @value;
}

.user-select(@value) {
	-webkit-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	-o-user-select: @value;
	user-select: @value;
}

.text-size-adjust(@value) {
	-webkit-text-size-adjust: @value;
	-moz-text-size-adjust: @value;
	-ms-text-size-adjust: @value;
	-o-text-size-adjust: @value;
	text-size-adjust: @value;
}

.border-top-left-radius(@radius) {
	-webkit-border-top-left-radius: @radius;
	-moz-border-top-left-radius: @radius;
	-ms-border-top-left-radius: @radius;
	-o-border-top-left-radius: @radius;
	border-top-left-radius: @radius;
}

.border-top-right-radius(@radius) {
	-webkit-border-top-right-radius: @radius;
	-moz-border-top-right-radius: @radius;
	-ms-border-top-right-radius: @radius;
	-o-border-top-right-radius: @radius;
	border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius) {
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
	-ms-border-bottom-left-radius: @radius;
	-o-border-bottom-left-radius: @radius;
	border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius) {
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-ms-border-bottom-right-radius: @radius;
	-o-border-bottom-right-radius: @radius;
	border-bottom-right-radius: @radius;
}

.border-top-radius(@radius) {
	.border-top-left-radius(@radius);
	.border-top-right-radius(@radius);
}

.border-bottom-radius(@radius) {
	.border-bottom-left-radius(@radius);
	.border-bottom-right-radius(@radius);
}

.touch-scrolling() {
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.touch-scrolling-clear() {
	-webkit-overflow-scrolling: auto;
	-moz-overflow-scrolling: auto;
	-o-overflow-scrolling: auto;
	-ms-overflow-scrolling: auto;
	overflow-scrolling: auto;
}

.calc-width(@value) {
	width: calc(@value);
}

.calc-margin-left(@value) {
	margin-left: calc(@value);
}

.display-flex() {
	display: flex;
}

.flex-direction(@dir) {
	-webkit-flex-direction: @dir;
	-moz-flex-direction: @dir;
	-ms-flex-direction: @dir;
	-o-flex-direction: @dir;
	flex-direction: @dir;
}

.flex-wrap(@wrap) {
	-webkit-flex-wrap: @wrap;
	-moz-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	-o-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

.order(@value) {
	-webkit-order: @value;
	-moz-order: @value;
	-ms-order: @value;
	-o-order: @value;
	order: @value;
}

.flex-basis(@value) {
	-webkit-flex-basis: @value;
	-moz-flex-basis: @value;
	-ms-flex-basis: @value;
	-o-flex-basis: @value;
	flex-basis: @value;
}

.justify-content(@value) {
	-webkit-justify-content: @value;
	-moz-justify-content: @value;
	-ms-justify-content: @value;
	-o-justify-content: @value;
	justify-content: @value;
}

.align-content(@value) {
	-webkit-align-content: @value;
	-moz-align-content: @value;
	-ms-align-content: @value;
	-o-align-content: @value;
	align-content: @value;
}

.align-items(@value) {
	-webkit-align-items: @value;
	-moz-align-items: @value;
	-ms-align-items: @value;
	-o-align-items: @value;
	align-items: @value;
}

.align-self(@value) {
	-webkit-align-self: @value;
	-moz-align-self: @value;
	-ms-align-self: @value;
	-o-align-self: @value;
	align-self: @value;
}

.flex(@value) {
	-webkit-flex: @value;
	-moz-flex: @value;
	-ms-flex: @value;
	-o-flex: @value;
	flex: @value;
}

.perspective(@value) {
	-webkit-perspective: @value;
	-moz-perspective: @value;
	-ms-perspective: @value;
	-o-perspective: @value;
	perspective: @value;
}

.backface-visiblity(@value) {
	backface-visiblity: @value;
}

.filter(@value) {
	-webkit-filter: @value;
	-moz-filter: @value;
	-ms-filter: @value;
	-o-filter: @value;
	filter: @value;
}
