<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="scrollbarPage">
		<style>
			#horizontal-list li {
				white-space: nowrap;
			}
		</style>
		<div class="ui-header" data-position="fixed">
			<h1>
				Contacts
			</h1>
		</div>
		<div class="ui-content ui-scrollhandler" data-direction="x">
			<ul class="ui-listview" id="horizontal-list">
				<li class="ui-li-static">
					List item 01 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 02 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 03 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 04 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 05 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 06 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 07 ......................... very .................... long .............. list ............. items
				</li>
				<li class="ui-li-static">
					List item 08 ......................... very .................... long .............. list ............. items
				</li>
			</ul>
		</div>
	</div>
</body>

</html>