.app-remote-control {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    flex-direction: column;
}

.app-home-buttons {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
}

.ui-icon-home::after {
    mask-image: url(../images/ic_home.png);
    -webkit-mask-image: url(../images/ic_home.png);
    mask-size: 24px !important;
    -webkit-mask-size: 24px !important;
}
.ui-icon-enter::after {
    mask-size: 26px 18px;
    mask-image: url(../images/ic_source.png);
    -webkit-mask-size: 26px 18px !important;
    -webkit-mask-image: url(../images/ic_source.png);
}
.ui-icon-backward::after {
    mask-size: 25px 23px !important;
    -webkit-mask-size: 25px 23px !important;
    mask-image: url(../images/ic_back.png);
    -webkit-mask-image: url(../images/ic_back.png);
}

.app-volume-channel {
    flex-direction: row;
    width: calc(100% - 148px);
    display: flex;
    justify-content: space-between;
}

.app-volume-control {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-image: linear-gradient(180deg,
        transparent, transparent 25px, #ebebeb 25px,
        #ebebeb 125px, transparent 100%);
    width: 53px;
    align-items: center;
    height: 173px;
    justify-content: space-between;
}

.app-btn-icon-volume-up {
    background-image: url(../images/btn_plus.png);
    background-size: 100%;
    background-position-y: 2px;
}
.app-btn-icon-volume-up::after {
    display: none;
}
.app-btn-icon-volume-down {
    background-image: url(../images/btn_minus.png);
    background-size: 100%;
    background-position-y: 2px;
}
.app-btn-icon-volume-down::after {
    display: none;
}

.app-channel-control {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-image: linear-gradient(180deg,
        transparent, transparent 25px, #ebebeb 25px,
        #ebebeb 125px, transparent 100%);
    width: 53px;
    align-items: center;
    height: 173px;
    justify-content: space-between;
}

.app-btn-icon-channel-up {
    background-image: url(../images/btn_up.png);
    background-size: 100%;
    background-position-y: 2px;
}
.app-btn-icon-channel-up::after {
    display: none;
}
.app-btn-icon-channel-down {
    background-image: url(../images/btn_down.png);
    background-size: 100%;
    background-position-y: 2px;
}
.app-btn-icon-channel-down::after {
    display: none;
}

.app-4way-direction {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 25px 1fr 25px;
    grid-gap: 5px;
    width: 100%;
    height: 210px;
    justify-items: center;
    background-color: #ebebeb;
    border-radius: 32px;
    margin-top: 10px;
}

.app-remote-control .app-4way-direction .ui-btn.ui-btn-flat.ui-btn-icon {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-width: 32px;
}

.app-remote-control-icon {
    background-color: var(--primary-color);
    border-radius: 6px;
    position: relative;
}

.app-remote-control-icon::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-white);
    mask-size: 100%;
    mask-image: url(../images/tw_list_icon_connections.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-image: url(../images/tw_list_icon_connections.svg);
}

.app-4way-btn-up {
    grid-column: 2 / 2;
    grid-row: 1;
    align-self: center;
}

.app-4way-btn-left {
    grid-column: 1 / 1;
    grid-row: 2;
    align-self: center;
}

.app-4way-btn-right {
    grid-column: 3 / 3;
    grid-row: 2;
    align-self: center;
}

.app-4way-btn-down {
    grid-column: 2 / 2;
    grid-row: 3;
    align-self: center;
}

.app-4way-touchpad {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    width: 100%;
    border-radius: 28px;
    background-color: #f4f4f4;
}

.app-remote-num-pad {
    display: grid;
    grid-gap: 5px;
    width: 100%;
    justify-items: center;
    border-radius: 28px;
    margin-top: 10px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
}
.app-remote-num-pad .ui-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    width: 100% !important;
    height: 100%;
    background-color: #ebebeb;
    border-radius: 0;
}
.app-num-pad-1 {
    grid-column: 1 / 1;
    grid-row: 1;
}
.app-num-pad-2 {
    grid-column: 2 / 2;
    grid-row: 1;
}
.app-num-pad-3 {
    grid-column: 3 / 3;
    grid-row: 1;
}
.app-num-pad-4 {
    grid-column: 1 / 1;
    grid-row: 2;
}
.app-num-pad-5 {
    grid-column: 2 / 2;
    grid-row: 2;
}
.app-num-pad-6 {
    grid-column: 3 / 3;
    grid-row: 2;
}

.app-remote-control .ui-btn.ui-btn-flat.ui-btn-icon {
    width: 58px;
    height: 58px;
    min-width: 58px;
}
.ui-btn.ui-icon-right::after {
    -webkit-transform: translate(-50%, -50%) rotateZ(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotateZ(-90deg);
}
.ui-btn.ui-icon-left::after {
    -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotateZ(90deg);
}
.ui-btn.ui-btn-flat.ui-btn-icon::before {
    width: 48px;
    height: 48px;
}

.app-border {
    box-shadow: 0 0 0 0.25px var(--content-area-line-color) inset;
}

/* Typing control */
.app-typing-control-icon {
    background-image: url(../images/control/squarcle_bg.png);
    background-size: 100%;
}
.app-voice-button {
    background-image: url(../images/control/cta/oval/default.png);
    background-size: 100%;
    width: 43px !important;
    height: 43px !important;
    display: inline-block;
    max-width: 43px;
    max-height: 43px;
    background-repeat: no-repeat;
    background-position: center;
}
.app-input-with-button {
    display: flex;
}

/* media control */
.app-media-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 51px;
    color: var(--color-black);
}
.app-media-buttons .ui-icon-prev::after {
    mask-image: url(../images/control/ic_function_media_prev.svg);
    -webkit-mask-image: url(../images/control/ic_function_media_prev.svg);
}
.app-media-buttons .ui-icon-next::after {
    mask-image: url(../images/control/ic_function_media_next.svg);
    -webkit-mask-image: url(../images/control/ic_function_media_next.svg);
    transform: translate(-50%, -50%);
}
.app-media-buttons .ui-icon-pause::after {
    mask-image: url(../images/control/ic_function_media_stop.svg);
    -webkit-mask-image: url(../images/control/ic_function_media_stop.svg);
}
.app-media-buttons .ui-icon-play::after {
    mask-image: url(../images/control/ic_control1_right.png);
    -webkit-mask-image: url(../images/control/ic_control1_right.png);
    mask-size: 20px !important;
    -webkit-mask-size: 20px !important;
}
.app-media-buttons .ui-btn:not(.ui-btn-icon) {
    width: 50px !important;
    line-height: 32px;
    color: var(--color-black);
    font-size: 17px;
}
.app-media-progress .ui-slider-handler::after {
    content: attr(data-value);
    position: absolute;
    left: -20%;
    bottom: -18px;
    font-size: 12px;
    color: #999999;
}
.app-media-control-icon {
    background-image: url(../images/control/squarcle_bg.png);
    background-size: 100%;
}

/** game pad **/
.app-game-4way-direction {
    background-image: url("../images/control/control1_bg .png");
    width: 157px;
    height: 157px;
    background-position: center;
    background-size: 100%;
    display: inline-grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 48px 1fr 48px;
}
.app-game-4way-direction .ui-icon-up {
    grid-column: 2;
    grid-row: 1;
}
.app-game-4way-direction .ui-icon-left {
    grid-column: 1 / 1;
    grid-row: 2;
}
.app-game-4way-direction .ui-icon-right {
    grid-column: 3 / 3;
    grid-row: 2;
}
.app-game-4way-direction .ui-icon-down {
    grid-column: 2;
    grid-row: 3;
}
.app-game-4way-direction .ui-btn {
    justify-self: center;
}
.app-game-4way-direction .ui-btn::after {
    justify-self: center;
    mask-size: 12px !important;
    -webkit-mask-size: 12px !important;
    transform: translate(-50%, -50%);
}

.app-game-4way-direction .ui-icon-up::after {
    mask-image: url(../images/control/ic_control1_top.png);
    -webkit-mask-image: url(../images/control/ic_control1_top.png);
}
.app-game-4way-direction .ui-icon-down::after {
    mask-image: url(../images/control/ic_control1_bottom.png);
    -webkit-mask-image: url(../images/control/ic_control1_bottom.png);
}
.app-game-4way-direction .ui-icon-left::after {
    mask-image: url(../images/control/ic_control1_left.png);
    -webkit-mask-image: url(../images/control/ic_control1_left.png);
}
.app-game-4way-direction .ui-icon-right::after {
    mask-image: url(../images/control/ic_control1_right.png);
    -webkit-mask-image: url(../images/control/ic_control1_right.png);
}
.app-game-4buttons {
    width: 157px;
    height: 157px;
    background-position: center;
    background-size: 100%;
    display: inline-grid;
    grid-template-columns: 58px 35px 58px;
    grid-template-rows: 58px 35px 58px;
}
.app-game-4buttons .ui-btn.ui-btn-icon {
    background-image: url(../images/control/control2_bg\ .png);
    background-size: 100%;
    background-position-y: 2px;
    min-width: 58px;
    min-height: 58px;
}
.app-game-4buttons-Y {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}
.app-game-4buttons-X {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}
.app-game-4buttons-B {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
}
.app-game-4buttons-A {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}

.app-game-4buttons .ui-btn.ui-btn-icon::after {
    mask-image: none;
    -webkit-mask-image: none;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    height: auto;
}
.app-game-4buttons-Y::after {
    content: "Y";
    color: #ffb100;
}
.app-game-4buttons-X::after {
    content: "X";
    color: #18a3ff;
}
.app-game-4buttons-B::after {
    content: "B";
    color: #ed3c36;
}
.app-game-4buttons-A::after {
    content: "A";
    color: #67ce2b;
}
.app-game-control-icon {
    background-image: url(../images/control/squarcle_bg.png);
    background-size: 100%;
}