.app-image-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px [col-start]);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}

.app-icon-img {
    width: 100px;
    height: 100px;
}

.app-channel-content {
    display: flex;
}

.app-movie-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.app-movie-poster {
    width: 80%;
    height: auto;
}

.app-movie-poster-next {
    width: 50%;
}
.app-btn-icon-burger {
    margin-left: 20px;
    margin-right: 12px;    
}
.app-btn-icon-burger::after {
    -webkit-mask-image: url(../images/Hamburger_icon.svg);
    mask-image: url(../images/Hamburger_icon.svg);
}

body {
    /*disable-pull-to-refresh-effect*/
    overscroll-behavior: contain;
}
