.app-weather-container {
    height: 209px;
    position: relative;
}

.app-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-image-grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px [col-start]);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}

.app-icon-img {
    width: 100px;
    height: 100px;
}

.app-btn-icon-burger {
    margin-left: 20px;
    margin-right: 12px;
}

.app-btn-icon-burger::after {
    -webkit-mask-image: url(../images/Hamburger_icon.svg);
    mask-image: url(../images/Hamburger_icon.svg);
}

.app-dummy-payment input {
    display: block;
    font-size: 18px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
}
.app-dummy-payment input.ui-inline {
    width: auto;
    display: inline;
}

.app-cards {
    margin-left: 30px;
}

.app-cards .app-visa {
    width: 36px;
    -webkit-mask-image: url(../images/270px-Font_Awesome_5_brands_cc-visa.svg.png);
    background-color: blue;
    height: 30px;
    -webkit-mask-size: 100%;
    display: inline-block;
}

.app-cards .app-mc {
    background-image: url(../images/MasterCard_Logo.svg.png);
    width: 36px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    margin: 0 5px;
}

body {
    /*disable-pull-to-refresh-effect*/
    overscroll-behavior: contain;
}

.app-display-none {
    display: none;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.ui-content-area iframe {
    width: 100%;
    height: 370px;
    border: none;
}

iframe.app-weather {
    height: 370px;
}

iframe.app-restaurant {
    height: 370px;
}

iframe.app-remote-control {
    height: 216px;
}