.ui-content {
	overflow: hidden;
}
.ui-bottom-button .ui-btn::before {
	background-color: rgba(245, 245, 245, 1);
	-webkit-mask-image: url("../images/tw_list_add_holo_dark.png");
}
.ui-radial-listview {
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective-origin: center center;
	perspective-origin: center center;
	position: relative;
	overflow: visible;
}
.ui-radial-listview li {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ui-radial-listview li .ui-photo {
	background-size: 100px 100px !important;
}
.ui-radial-listview li:nth-child(1) .ui-photo {
	background: #ffdc18 url(../images/b_instant_setting_location_on.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(2) .ui-photo {
	background: #22ccff url(../images/category_list_icon_accomodation.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(3) .ui-photo {
	background: #00edff url(../images/category_list_icon_adminoffice.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(4) .ui-photo {
	background: #7feb14 url(../images/category_list_icon_leisure.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(5) .ui-photo {
	background: #00d28b url(../images/category_list_icon_entertainment.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(6) .ui-photo {
	background: #5aa2ff url(../images/category_list_icon_bus.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(7) .ui-photo {
	background: #e5a10a url(../images/category_list_icon_shopping.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(8) .ui-photo {
	background: #ae8aee url(../images/category_list_icon_nearby_place.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(9) .ui-photo {
	background: #dd90a1 url(../images/category_list_icon_nature.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(10) .ui-photo {
	background: #15bf7a url(../images/category_list_icon_dining.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(11) .ui-photo {
	background: #009eb9 url(../images/category_list_icon_attractions.png) no-repeat center center;
}
.ui-radial-listview li:nth-child(12) .ui-photo {
	background: #ffb80c url(../images/category_list_icon_adminoffice.png) no-repeat center center;
}
.ui-radial-listview li.ui-selected {
	overflow: visible;
}

.ui-radial-listview li .ui-title {
	color: transparent;
	transition: color 0.1s linear;
}
.ui-radial-listview li.ui-selected .ui-title {
	color: inherit;
}

