.my-check-button-style {
	margin: 10px;
}
.my-check-inline-style {
	display: inline;
}

.ui-icon-test{
	background-size: 100% 100%;
	background-image: url(test.png);
}

.ui-icon-test2{
	background-position:0% 0%;
	background-size:50% 50%;
	background-image: url(test.png);
}

#sample-box {
	width: 100%;
	height: 1000px;
	background: aliceblue;
}

.layout-page .a,
.example-child-box.a {
	width: 200px;
	height: 100px;
	background-color: #ff0000;
}
.layout-page .b,
.example-child-box.b {
	width: 30%;
	height: 60px;
	background-color: #0000ff;
}
.layout-page .c,
.example-child-box.c {
	width: 40%;
	height: 100px;
	background-color: #008000;
}
.layout-page .d,
.example-child-box.d {
	width: 300px;
	height: 40px;
	background-color: #00ffff;
}
.layout-page .e,
.example-child-box.e {
	width: 200px;
	height: 70px;
	background-color: deepskyblue;
}
.layout-page .f,
.example-child-box.f {
	width: 30%;
	height: 100px;
	background-color: #ffff00;
}

.layout-page .ea,
.example-child-box.ea {
	width: 30%;
	height: 50px;
	background-color: indianred;
}
.layout-page .eb,
.example-child-box.eb {
	width: 100px;
	height: 100px;
	background-color: blueviolet;
}
.layout-page #sample-box {
	height: 400px;
}
.ui-btn{
	width: auto;
}

.layout-page .ui-box-linear-horizont {
	height: 400px;
}

.noti-btn{
	margin: 20px auto;
}
