<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<title>
		Etc
	</title>
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-page-active" id="main">
		<header>
			<h1>
				Etc
			</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="units/index.html">
						Units & fonts
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="themes/index.html">
						Themes
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="graphs/index.html">
						Graphs
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="interactive/index.html">
						Interactive
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="about/index.html">
						About
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="../../js/app.js">
	</script>
</body>

</html>
