<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/changeable/tau.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.min.js"></script>
</head>
<body>
	<div class="ui-page" id="dynamic-graph-page">
		<header>
			<div class="ui-appbar-left-icons-container">
				<a href="#" class="ui-btn ui-btn-icon ui-btn-icon-back" data-style="flat" data-rel="back"></a>
			</div>
			<h1>Graph with changing data</h1>
		</header><!-- /header -->
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<div class="ui-graph"
					id="graph"
					data-mode="continuous"
					data-graph="line"
					data-color="#FF0000"
					data-xlabel="Number"
					data-ylabel="Value"
					data-xinit="0"
					data-yinit="0"
					data-axis-x-type="time"
					data-axis-x-unit="s"></div>
				</li>
			</ul>
		</div><!-- /content -->
		<div class="ui-footer" data-position="fixed">
			<button id="button">Start</button>
		</div><!-- /footer-->
		<script src="../../../lib/tau/libs/tau.graph.js" type="text/javascript"></script>
		<script src="dynamic-graph.js"></script>
	</div><!-- /page -->
</body>

</html>
