<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.min.css" />
	<link rel="stylesheet" href="../../../css/style.css" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.min.js"></script>
</head>
<body>
	<div class="ui-page">
		<header>
			<h1>Controls</h1>
		</header>
		<div class="ui-content">
			<ul class="ui-listview ui-content-area">
				<li class="ui-li-anchor">
					<a href="static-graph.html">
						Static graph
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="dynamic-graph.html">
						Dynamic graph
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="bar-graph.html">
						Bar graph
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>
