<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/SmartThings" version="1.0.0" viewmodes="maximized">
    <tizen:application id="YK5x3kwoot.SmartThings" package="YK5x3kwoot" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Smart Things</name>
    <tizen:profile name="wearable"/>
</widget>
