<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>

	<link rel="stylesheet" type="text/css" href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" href="lib/tau/theme/default/tau.circle.min.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Smart Things</title>
	<link rel="stylesheet" type="text/css" href="./css/widget/radial-listview.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>

	<!-- data file needs to be added before main script -->
	<script src="js/smart-things.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<!-- Start of page: #one -->
	<div class="ui-page ui-page-active" id="one" data-enable-page-scroll="false">
		<div id="indicator" class="ui-page-indicator" data-layout="circular"></div>
		<div class="ui-content">
			<ul class="ui-radial-listview" id="smart-things">
				<li><span class="ui-photo"></span><div class="ui-title">Location</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Sleep</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Office</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Fitness</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Theatre</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Bus</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Shopping</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Travel</div></li>
				<li><span class="ui-photo"></span><div class="ui-title">Eco</div></li>
			</ul>
		</div>
		<footer class="ui-footer ui-bottom-button ui-fixed">
			<button class="ui-btn ui-btn-icon-only">Button</button>
		</footer>
	</div><!-- /page one -->
	<script type="text/javascript" src="./lib/tau/js/tau.js"></script>
	<script type="text/javascript" src="./js/widget/RadialListview.js" data-build-remove="false"></script>

</body>
</html>
