<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
<div class="ui-page">
	<header class="ui-header">
		<h1>Progress</h1>
	</header>
	<div class="ui-content">
		<ul class="ui-listview ui-content-area">
			<li class="ui-li-anchor">
				<a href="progress-bar/progressbar.html">Progress bar</a>
			</li>
			<li class="ui-li-anchor">
				<a href="progress-bar-indeterminate/progress-bar-indeterminate.html">Progress bar Indeterminate</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
