<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="floating-actions-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Floating Actions
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="on-listview.html">
						with Listview
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="on-page.html">
						with Page only
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>