<!DOCTYPE html><html><head>
    <link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
    <link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
<tau-page class="ui-page" id="list-styles-page">
	<div class="ui-header" data-position="fixed">
		<h1>List Styles</h1>
	</div>
	<tau-scrollview class="ui-content">
		<tau-listview class="ui-listview">
			<li class="ui-li-static">
				1line
			</li>
			<li class="ui-li-static">
				1line-sub
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-right-btn">
				1line-btn1
				<button is="tau-formbutton" inline="true">Text Button</button>
			</li>
			<li class="ui-li-static li-has-right-btn">
				1line-btn2
				<button is="tau-formbutton" inline="true" icon="add" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-right-btn">
				1line-toggle
				<tau-toggleswitch class="ui-toggleswitch"></tau-toggleswitch>
			</li>
			<li class="ui-li-static li-has-thumb">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-bigicon1
			</li>
			<li class="ui-li-static li-has-thumb">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-bigicon2
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-thumb li-has-right-btn">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-bigicon4
				<button is="tau-formbutton" inline="true">Text Button</button>
			</li>
			<li class="ui-li-static li-has-thumb li-has-right-btn">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-bigicon5
				<button is="tau-formbutton" inline="true" icon="add" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-thumb li-has-right-btn">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-bigicon6
				<tau-toggleswitch class="ui-toggleswitch"></tau-toggleswitch>
			</li>
			<li class="ui-li-static li-has-checkbox">
				<input name="c1line-check1" is="tau-checkbox">
				1line-check1
			</li>
			<li class="ui-li-static li-has-checkbox li-has-right-btn">
				<input name="c1line-check2" is="tau-checkbox">
				1line-check2
				<tau-button class="ui-btn" inline="true" icon="add" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-checkbox li-has-thumb">
				<input name="c1line-check3" is="tau-checkbox">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-check3
			</li>
			<li class="ui-li-static li-has-checkbox li-has-thumb li-has-right-btn">
				<input name="c1line-check4" is="tau-checkbox">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-check4
				<tau-button class="ui-btn" inline="true" icon="add" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-radio">
				<input name="1line-radio" is="tau-radio">
				1line-radio1
			</li>
			<li class="ui-li-static li-has-radio li-has-right-btn">
				<input name="1line-radio" is="tau-radio">
				1line-radio3
				<tau-button class="ui-btn" inline="true" icon="add" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-radio li-has-thumb">
				<input name="1line-radio" is="tau-radio">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				1line-radio4
			</li>

			<li class="ui-li-static li-has-radio li-has-thumb li-has-right-btn">
				<input name="1line-radio" is="tau-radio">
				1line-radio5
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				<tau-button class="ui-btn" inline="true" icon="add" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-radio li-has-thumb">
				<input name="1line-radio" is="tau-radio">
				1line-radio
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
			</li>
			<li class="ui-li-static li-has-multiline">
				2line
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-multiline">
				2line-2sub
				<span class="li-text-sub">Sub Text</span>
				<span class="li-text-sub2">Sub Text2</span>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-btn1
				<span class="li-text-sub">Sub Text</span>
				<tau-button class="ui-btn" inline="true">button</tau-button>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-btn1
				<span class="li-text-sub">Sub Text</span>
				<tau-button class="ui-btn" inline="true" icon="call"></tau-button>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-btn2
				<span class="li-text-sub">Sub Text</span>
				<tau-button class="ui-btn" inline="true" icon="call" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-multiline">
				2line-icon-subtext
				<span class="li-text-sub"><img class="li-icon-sub" src="images/00_winset_icon_favorite_on.png" alt="favorite">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-toggle-setting
				<span class="li-text-sub">Sub Text</span>
				<tau-toggleswitch class="ui-toggleswitch"></tau-toggleswitch>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-btn-setting
				<span class="li-text-sub">Sub Text</span>
				<tau-button class="ui-btn" inline="true" icon="call" style="circle"></tau-button>
			</li>
			<li class="ui-li-static li-has-multiline li-has-3-lines li-has-right-btn">
				3line-btn-setting
				<span class="li-text-sub">Sub Text</span>
				<span class="li-text-sub3">Sub Text</span>
				<button is="tau-formbutton" inline="true" icon="call" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-multiline li-has-right-btn">
				2line-bigicon0
				<span class="li-text-sub">Sub Text<img src="images/00_winset_icon_favorite_on.png" alt="favorite"></span>
				<button is="tau-formbutton" inline="true" icon="call" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-multiline li-has-thumb">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-bigicon1
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-multiline li-has-thumb">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-bigicon2
				<span class="li-text-sub">Sub Text</span>
				<span class="li-text-sub2">Sub Text2</span>
			</li>
			<li class="ui-li-static li-has-multiline  li-has-thumb li-has-right-btn">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-bigicon4
				<span class="li-text-sub">Sub Text</span>
				<button is="tau-formbutton" inline="true" icon="call" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-checkbox li-has-multiline">
				<input name="c2line-check1" is="tau-checkbox">
				2line-check
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-checkbox li-has-multiline li-has-right-btn">
				<input name="c2line-check2" is="tau-checkbox">
				2line-check2
				<span class="li-text-sub">Sub Text</span>
				<button is="tau-formbutton" inline="true" icon="call" style="circle"></button>
			</li>
			<li class="ui-li-static li-has-checkbox li-has-multiline li-has-thumb">
				<input name="c2line-check3" is="tau-checkbox">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-check3
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-radio li-has-multiline">
				<input name="2line-radio" is="tau-radio">
				2line-radio1
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-radio li-has-multiline li-has-thumb">
				<input name="2line-radio" is="tau-radio">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-radio2
				<span class="li-text-sub">Sub Text</span>
			</li>
			<li class="ui-li-static li-has-multiline li-thumbnail-right li-has-thumb">
				2line-thumb1
				<span class="li-text-sub">Sub Text</span>
				<img src="images/large_thumbnail.jpg" alt="Photo ID" class="li-thumb li-thumb-circle">
			</li>
			<li class="ui-li-static li-has-progress">
                With Progress bar
				<tau-progress class="ui-progress" type="bar" id="progressbar"></tau-progress>
			</li>
			<li class="ui-li-static li-has-checkbox li-has-multiline li-has-thumb li-has-right-btn">
				<input name="c2line-icon-bigicon-btn" is="tau-checkbox">
				<img src="images/thumbnail.jpg" alt="icon" class="li-thumb li-thumb-circle">
				2line-3items
				<span class="li-text-sub">Sub Text</span>
				<button is="tau-formbutton" inline="true" icon="call" style="circle"></button>
			</li>
			<li class="ui-li-static">
				<input placeholder="Text Input" is="tau-textinput" clear-btn="true">
			</li>
		</tau-listview>
	</tau-scrollview>
</tau-page>


</body></html>