<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page ui-welcome-page" id="drawer-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Drawer
			</h1>
			<button class="ui-btn ui-btn-text ui-btn-right" id="openDrawerBtn">Open</button>
		</div>
		<div class="ui-content">
			Click button in header or drag left edge of the screen to open drawer.
			<div class="ui-drawer" data-position="left" id="leftDrawer" data-drag-edge="50">
				<ul class="ui-listview">
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 1</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 2</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 3</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 4</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 5</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 6</span>
						</a>
					</li>
					<li class="ui-li-static">
						<a href="#" data-rel="back">
							<span class="ui-li-text">List item 7</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="drawer.js" type="text/javascript"></script>
	</div>
</body>

</html>