<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/style.css">
	<script type="text/javascript" src="../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
	<div class="ui-page" id="indexscrollbarPage">
		<div class="ui-header" data-position="fixed">
			<h1>Index Scrollbar</h1>
		</div>
		<div class="ui-indexscrollbar" id="indexscrollbar"></div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list" id="isbList">
				<li class="ui-group-index">A</li>
				<li class="ui-li-static">Anton</li>
				<li class="ui-li-static">Arabella</li>
				<li class="ui-li-static">Art</li>
				<li class="ui-group-index">B</li>
				<li class="ui-li-static">Barry</li>
				<li class="ui-li-static">Bibi</li>
				<li class="ui-li-static">Billy</li>
				<li class="ui-li-static">Bob</li>
				<li class="ui-group-index">C</li>
				<li class="ui-li-static">Carry</li>
				<li class="ui-li-static">Cibi</li>
				<li class="ui-group-index">D</li>
				<li class="ui-li-static">Daisy</li>
				<li class="ui-li-static">Derek</li>
				<li class="ui-li-static">Desmond</li>
				<li class="ui-group-index">E</li>
				<li class="ui-li-static">Eric</li>
				<li class="ui-li-static">Ernie</li>
				<li class="ui-li-static">Esme</li>
				<li class="ui-group-index">F</li>
				<li class="ui-li-static">Fay</li>
				<li class="ui-li-static">Felicity</li>
				<li class="ui-li-static">Francis</li>
				<li class="ui-li-static">Frank</li>
				<li class="ui-group-index">G</li>
				<li class="ui-li-static">Garry</li>
				<li class="ui-group-index">H</li>
				<li class="ui-li-static">Harry</li>
				<li class="ui-li-static">Herman</li>
				<li class="ui-li-static">Horace</li>
				<li class="ui-group-index">I</li>
				<li class="ui-group-index">J</li>
				<li class="ui-li-static">Jack</li>
				<li class="ui-li-static">Jane</li>
				<li class="ui-li-static">Jill</li>
				<li class="ui-group-index">K</li>
				<li class="ui-li-static">Katherine</li>
				<li class="ui-li-static">Katy</li>
				<li class="ui-li-static">Keith</li>
				<li class="ui-group-index">L</li>
				<li class="ui-li-static">Larry</li>
				<li class="ui-li-static">Lee</li>
				<li class="ui-li-static">Lola</li>
				<li class="ui-group-index">M</li>
				<li class="ui-li-static">Mark</li>
				<li class="ui-li-static">Milly</li>
				<li class="ui-li-static">Mort</li>
				<li class="ui-group-index">N</li>
				<li class="ui-li-static">Nigel</li>
				<li class="ui-li-static">Norman</li>
				<li class="ui-group-index">O</li>
				<li class="ui-li-static">Organza</li>
				<li class="ui-li-static">Orlando</li>
				<li class="ui-group-index">T</li>
				<li class="ui-group-index">U</li>
				<li class="ui-group-index">V</li>
				<li class="ui-group-index">W</li>
				<li class="ui-group-index">X</li>
				<li class="ui-group-index">Y</li>
				<li class="ui-group-index">Z</li>
			</ul>
		</div>
		<div class="ui-floatingactions">
			<button class="ui-floatingactions-item" data-icon="floating-search"/>
		</div>

		<script src="indexscrollbar.js"></script>

	</div>
</body>
</html>
