<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="navigation-demo-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Navigation Elements
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="tabs/index.html">
						Tabs
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="panel/index.html">
						Navigation Bar
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="indexscrollbar.html">
						Index Scroll Bar
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="indexscrollbar_floating_button.html">
						Index Scroll Bar with Floating Button
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="pageindicator.html">
						Page Indicator
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="pageindicatorDotted.html">
						Page Indicator Dotted
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="drawer.html">
						Drawer
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>