<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page page-indicator-page">
		<header>
			<h1>
				Page Indicator - dotted
			</h1>
		</header>
		<div class="ui-content">
			<div class="ui-page-indicator" data-number-of-pages="4" data-appearance="dotted">
			</div>
			<div class="ui-section-changer" id="hsectionchanger">
				<!-- section changer has only one child. -->
				<div>
					<section class="ui-section-active">
						<ul class="ui-listview ui-colored-list">
							<li>
								List A1
							</li>
							<li>
								List A2
							</li>
							<li>
								List A3
							</li>
							<li>
								List A4
							</li>
							<li>
								List A5
							</li>
							<li>
								List A6
							</li>
							<li>
								List A7
							</li>
							<li>
								List A8
							</li>
							<li>
								List A9
							</li>
						</ul>
					</section>
					<section>
						<ul class="ui-listview ui-colored-list">
							<li>
								List B1
							</li>
							<li>
								List B2
							</li>
							<li>
								List B3
							</li>
							<li>
								List B4
							</li>
							<li>
								List B5
							</li>
							<li>
								List B6
							</li>
							<li>
								List B7
							</li>
							<li>
								List B8
							</li>
							<li>
								List B9
							</li>
						</ul>
					</section>
					<section>
						<ul class="ui-listview ui-colored-list">
							<li>
								List C1
							</li>
							<li>
								List C2
							</li>
							<li>
								List C3
							</li>
							<li>
								List C4
							</li>
							<li>
								List C5
							</li>
							<li>
								List C6
							</li>
							<li>
								List C7
							</li>
							<li>
								List C8
							</li>
							<li>
								List C9
							</li>
						</ul>
					</section>
					<section>
						<ul class="ui-listview ui-colored-list">
							<li>
								List D1
							</li>
							<li>
								List D2
							</li>
							<li>
								List D3
							</li>
							<li>
								List D4
							</li>
							<li>
								List D5
							</li>
							<li>
								List D6
							</li>
							<li>
								List D7
							</li>
							<li>
								List D8
							</li>
							<li>
								List D9
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
		<script src="pageindicator.js" type="text/javascript">
		</script>
	</div>
</body>

</html>