<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,user-scalable=no"/>

	<link rel="stylesheet" type="text/css" href="./lib/tau/theme/default/tau.css">
	<link rel="stylesheet" href="lib/tau/theme/default/tau.circle.min.css"
		  media="all and (-tizen-geometric-shape: circle)">
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<title>Speedometer</title>
</head>

<body>
	<!-- Start of page: #one -->
	<div class="ui-page ui-page-active" id="one">
		<header>
			<h2 class="ui-title">Speedometer</h2>
		</header>
		<div class="ui-content">
			<ul class="ui-listview">
				<li><a href="examples/simplelap.html">lap</a></li>
				<li><a href="examples/car.html">car speed</a></li>
				<li><a href="examples/bonus.html">reflex checker</a></li>
			</ul>
		</div>
	</div><!-- /page one -->
	<script type="text/javascript" src="./lib/tau/js/tau.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript" src="js/circle-helper.js"></script>
</body>
</html>
