<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/VoiceRecorder" version="1.0.0" viewmodes="maximized">
    <tizen:application id="rP0iVOyDYb.VoiceRecorder" package="rP0iVOyDYb" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>VoiceRecorder</name>
    <tizen:profile name="wearable"/>
</widget>
