<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<link rel="stylesheet" href="lib/tau/theme/default/tau.css">
	<link rel="stylesheet" media="all and (-tizen-geometric-shape: circle)" href="lib/tau/theme/default/tau.circle.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Tizen Web IDE - Template - Tizen Web UI Framework - Alarm</title>

	<link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body>
<!-- Start of first page: #main -->
<div class="ui-page ui-page-active" id="main">
	<div class="alarm">
		<img src="images/category_list_icon_leisure.png">
		<span class="time">
			08:30 <small>AM</small>
		</span>
	</div>
	<div id="reject" class="ui-swipe-button ui-radius" data-direction="right" data-background-width="250">
		<img src="images/wc_logs_add_rotated.png">
		<span class="description">REJECT</span>
	</div>
	<div id="snooze" class="ui-swipe-button ui-radius" data-direction="left" data-background-width="250">
		<span>zZ</span>
		<span class="description">SNOOZE</span>
	</div>

	<div id="info" class="ui-popup">
		<div class="ui-popup-content">
		</div>
		<div class="ui-popup-footer ui-bottom-button">
			<a href="#" class="ui-btn" data-rel="back">OK</a>
		</div>
	</div>
</div>

<!-- tau library needs to be added before main and application script -->
<script type="text/javascript" src="lib/tau/js/tau.js"></script>
<script src="js/SwipeButton.js"></script>
<script src="js/main.js"></script>
</body>

</html>
