<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="grid-badge-page">
		<div class="ui-header" data-position="fixed">
			<h1>
				Grid View with badge
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-gridview" id="gridview">
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/1.jpg" />
					<div class="ui-gridview-badge">
						1
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/2.jpg" />
					<div class="ui-gridview-badge">
						1
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/3.jpg" />
					<div class="ui-gridview-badge">
						2
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/4.jpg" />
					<div class="ui-gridview-badge">
						3
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/5.jpg" />
					<div class="ui-gridview-badge">
						999+
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/6.jpg" />
					<div class="ui-gridview-badge">
						1
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/7.jpg" />
					<div class="ui-gridview-badge">
						1
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/8.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/9.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/10.jpg" />
					<div class="ui-gridview-badge">
						3
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/11.jpg" />
					<div class="ui-gridview-badge">
						3
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/12.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/13.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/14.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/15.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/16.jpg" />
					<div class="ui-gridview-badge">
						1
					</div>
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/17.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/18.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/19.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/20.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/21.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/22.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/23.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/24.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/25.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/26.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/27.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/28.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/29.jpg" />
				</li>
				<li class="ui-gridview-item">
					<img class="ui-gridview-image" src="../../../images/30.jpg" />
				</li>
			</ul>
		</div>
	</div>
</body>

</html>