.ui-active-item {
    transform: scale(1.2);
}
.ui-container {
    max-height: 200px;
}
.ui-container > * {
    transition: transform 200ms ease-in-out;
    margin: 4px;
}

.ui-container-hidden {
    display: none;
}

.app-disney.ui-container .ui-container-item {
    width: auto;
}
.app-disney.ui-container .ui-container-item img {
    width: auto;
    height: 200px;
}
.app-primevideo.ui-container .ui-container-item {
    width: auto;
}
.app-primevideo.ui-container .ui-container-item img {
    width: auto;
    height: 200px;
}