<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, user-scalable=no" name="viewport" />
	<link href="../../../lib/tau/mobile/theme/default/tau.css" rel="stylesheet" />
	<link href="../../../css/style.css" rel="stylesheet" />
	<script data-build-remove="false" src="../../../lib/tau/mobile/js/tau.js">
	</script>
</head>

<body>
	<div class="ui-page" id="demo-empty-state">
		<div class="ui-header" data-position="fixed">
			<h1>
				Empty State
			</h1>
		</div>
		<div class="ui-content">
			<ul class="ui-listview ui-colored-list">
				<li class="ui-li-anchor">
					<a href="empty-state.html">
						Empty state page
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="empty-state-with-floating-action.html">
						Empty state with floating page
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="empty-state-search.html">
						Empty state on search
					</a>
				</li>
				<li class="ui-li-anchor">
					<a href="empty-state-search-with-floatingactions.html">
						Empty state on search with floating actions
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>